<p>
    {{ __("Current (saved) status:") }}
    <a href="#statusselect" id="lastsavedstatus" title="{{ __("Click to change current status.") }}">
        <strong>
            <i class="fa fa-circle status-{{ context.content.status|default(__("none")) }}"></i>
            {{ status_names[context.content.status]|default(__("None")) }}
        </strong>
    </a>
</p>

<p class="lastsaved">
    {% if context.content.id is not empty %}
    {{ __('Saved on:') }} <strong>{{ context.content.datechanged|localdate("%b %e, %H:%M") }}</strong>
    <small>({{ macro.datetime(context.content.datechanged) }})</small></p>
{% else %}
    {{ __('contenttypes.generic.not-saved-yet', {'%contenttype%': context.contenttype.slug}) }}
{% endif %}
</p>
