{% from '@bolt/_buic/_moment.twig' import buic_moment %}

<p>
    {{ __("Current (saved) status:") }}
    <a href="#statusselect" id="lastsavedstatus" title="{{ __('general.phrase.change-current-status') }}">
        <strong>
            <i class="fa fa-circle status-{{ context.content.status|default(__('general.phrase.none')) }}"></i>
            {{ status_names[context.content.status]|default(__('general.phrase.none')) }}
        </strong>
    </a>
</p>

<p class="lastsaved">
    {% if context.content.id is not empty %}
    {{ __('general.phrase.saved-on-colon') }} <strong>{{ context.content.datechanged|localedatetime("%c") }}</strong>
    <small>({{ buic_moment(context.content.datechanged) }})</small>
{% else %}
    {{ __('contenttypes.generic.not-saved-yet', {'%contenttype%': context.contenttype.slug}) }}
{% endif %}
</p>
