{% from '@bolt/_buic/_moment.twig' import buic_moment %}

{% form_theme context.form '@bolt/editcontent/form/editcontent_form_layout.twig' %}

<div class="form-group hidden-xs">
    <div class="col-xs-12">

        {# Save Contentype #}
        <div class="btn-group">
            {{ form_widget(context.form.save) }}

            {# Dropdown #}
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    {{ form_widget(context.form.save_return, {'attr': {'class': 'btn-link'}}) }}
                </li>
                <li>
                    {{ form_widget(context.form.save_create, {'attr': {'class': 'btn-link'}}) }}
                </li>
            </ul>
        </div>

        {# Live Edit #}
        {% if context.contenttype.liveeditor|default(false) %}
            <div class="btn-group">
                {{ form_widget(context.form.live_edit, {'attr': {'class': 'btn-secondary'}}) }}
            </div>
        {% endif %}

        {# Preview (Don't show for viewless contenttypes.) #}
        {% if not context.contenttype.viewless|default(false) %}
            <div class="btn-group">
                {% if app.routes.get('preview') %}
                    {{ form_widget(context.form.preview, {
                        'attr': {
                            'class': 'btn-default',
                            'data-url': path('preview', {'contenttypeslug': context.contenttype.singular_slug}),
                            'disabled': true
                        }
                    }) }}
                {% else %}
                    {{ form_widget(context.form.preview, {
                        'label': __('general.phrase.no-preview'),
                        'attr': {'class': 'btn-default'}
                    }) }}
                {% endif %}

                {# Dropdown #}
                {% if context.content.status == "published" and context.content.link is defined and 'contentlink' in config.get('routing')|keys %}
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            {% set placeholder = path('contentlink', {'contenttypeslug': context.contenttype.singular_slug, 'slug': '__replaceme'}) %}
                            <a href="{{ context.content.link }}" data-href-placeholder="{{ placeholder }}" target="_blank">
                                <i class="fa fa-external-link-square"> </i>{{ __('View (saved version) on site') }}
                            </a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        {% endif %}

        {# Hidden delete button #}
        {{ form_widget(context.form.delete, {'attr': {'class': 'btn-silent-danger'}}) }}

        {# Last saved #}
        <p class="lastsaved form-control-static">
            {% if context.content.id != 0 %}
                {{ __('general.phrase.saved-on-colon') }}
                <strong>{{ context.content.datechanged|localedatetime("%c") }}</strong>
                <small>({{ buic_moment(context.content.datechanged) }})</small>
            {% else %}
                {{ __('contenttypes.generic.not-saved-yet', {'%contenttype%': context.contenttype.singular_name}) }}
            {% endif %}
        </p>

    </div>

</div>
