{#=== INIT ===========================================================================================================#}

{% import '_macro/_macro.twig' as macro %}

{% set magic_date = '1900-01-01 00:00:00' %}
{% set can_publish = isallowed('contenttype:' ~ context.contenttype.slug ~ ':publish:' ~ context.content.id) %}
{% set can_depublish = isallowed('contenttype:' ~ context.contenttype.slug ~ ':depublish:' ~ context.content.id) %}

{% set attr_editreferrer = {
    name_id:  'editreferrer',
    type:     'hidden',
    value:    editreferrer|default(''),
} %}

{% set attr_id = {
    class:     'form-control narrow',
    id:        'id',
    name:      'id',
    readonly:  true,
    type:      'text',
    value:     context.content.id,
} %}

{% set attr_contenttype = {
    id:        'contenttype',
    name:      'contenttype',
    readonly:  true,
    type:      'hidden',
    value:     context.contenttype.slug,
} %}

{% set attr_publish = {
    disabled: (not can_publish),
    id:       'datepublish',
    value:    ((context.content.datepublish == magic_date) ? '' : (context.content.datepublish == '') ? "now"|date('Y-m-d H:i:s') : context.content.datepublish),
} %}

{% set attr_depublish = {
    disabled:  (not can_depublish),
    id:        'datedepublish',
    value:     (context.content.datedepublish == magic_date) ? '' : context.content.datedepublish,
    notice:     __('Depublish date is in the past. Change the status if you want to depublish now'),
} %}

{% set attr_status = {
    class:     'form-control narrow',
    disabled:  (context.allowed_status|length <= 1),
    id:        'statusselect',
    name:      'status',
} %}

{% set attr_ownerid = {
    class:     'form-control narrow',
    disabled:  (not isallowed('contenttype:' ~ context.contenttype.slug ~ ':change-ownership:' ~ context.content.id)),
    name:      'ownerid',
} %}

{% set attr_comment = {
    class:        'form-control',
    disabled:     (not isallowed('contenttype:' ~ context.contenttype.slug ~ ':change-ownership:' ~ context.content.id)),
    name_id:      'changelog-comment',
    placeholder:  __('Add a brief, optional comment to describe what\'s changed.'),
    type:         'text',
} %}

{#====================================================================================================================#}

<h3>
    {{ __('Meta information') }}
</h3>

<input{{ macro.attr(attr_editreferrer) }}>

<div class="form-group">
    {{ macro.label('Id (№)', '', 'col-sm-4 control-label') }}
    <div class="col-sm-8">
        <input{{ macro.attr(attr_id) }}>
        <input{{ macro.attr(attr_contenttype) }}>
    </div>
</div>

<div class="form-group">
    {{ macro.label(__('Publication date:'), '', 'col-sm-4 control-label') }}
    <div class="col-sm-8">
        {{ macro.input_datetime(attr_publish) }}
    </div>
</div>

<div class="form-group depublish-group">
    {{ macro.label(__('Depublication date:'), '', 'col-sm-4 control-label') }}
    <div class="col-sm-8">
        {{ macro.input_datetime(attr_depublish) }}
    </div>
</div>

{% if context.content.datecreated > '1970-01-01 01:01:01' %}
    <p>
        {{ __('contenttypes.generic.created', {'%contenttype%': context.contenttype.slug}) }}
        {{ macro.timemoment(context.content.datecreated) }}
        {{ __('and edited') }}
        {{ macro.timemoment(context.content.datechanged) }}.
    </p>
{% endif %}

<div class="form-group">
    {{ macro.label(__('Status:'), '', 'col-sm-4 control-label') }}
    <div class="col-sm-8">
        <select{{ macro.attr(attr_status) }}>
            {% for status in context.allowed_status %}
                {% set attr_opt = {
                    value:     status,
                    selected:  (context.content.status == status),
                } %}
                <option{{ macro.attr(attr_opt) }}>{{ status_names[status] }}</option>
            {% endfor %}
        </select>
    </div>
</div>

<div class="form-group">
    {{ macro.label(__('Owner:'), '', 'col-sm-4 control-label') }}
    <div class="col-sm-8">
        <select{{ macro.attr(attr_ownerid) }}>
            {% for user in users %}
                {% set attr_opt = {
                    value:     user.id,
                    selected:  (context.contentowner and user.id == context.contentowner.id),
                } %}
                <option{{ macro.attr(attr_opt) }}>{{ user.displayname }}</option>
            {% endfor %}
        </select>
    </div>
</div>

{% if ischangelogenabled() %}
    <div class="form-group">
        {{ macro.label(__('Add a comment:'), '', 'col-sm-4 control-label') }}
        <div class="col-sm-8">
            <input{{ macro.attr(attr_comment) }}>
        </div>
    </div>
{% endif %}

{% if context.has.tabs %}
    {% include 'editcontent/_fields.twig' %}
{% endif %}
