{#=== INIT ===========================================================================================================#}

{% set can_publish = isallowed('contenttype:' ~ context.contenttype.slug ~ ':publish:' ~ context.content.id) %}
{% set can_depublish = isallowed('contenttype:' ~ context.contenttype.slug ~ ':depublish:' ~ context.content.id) %}

{% set attr_publish_date = {
    class:    'form-control datepicker',
    id:       'datepublish-date',
    name:     'datepublish-dateformatted',
    type:     'text',
    value:    '',
    disabled:  (not can_publish),
}%}

{% set attr_publish_time = {
    class:     'form-control timepicker',
    id:        'datepublish-time',
    name:      'datepublish-timeformatted',
    type:      'text',
    title:     __('Time in 24h format'),
    value:     context.content.datepublish > '1900-01-01 00:00:00' ? context.content.datepublish|date('H:i') : '',
    disabled:  (not can_publish),
}%}

{% set attr_publish_hidden = {
    name_id:  'datepublish',
    type:     'hidden',
    value:    context.content.datepublish,
}%}

{% set attr_depublish_date = {
    class:    'form-control datepicker',
    id:       'datedepublish-date',
    name:     'datedepublish-dateformatted',
    type:     'text',
    value:    '',
    disabled:  (not can_depublish),
}%}

{% set attr_depublish_time = {
    class:     'form-control timepicker',
    id:        'datedepublish-time',
    name:      'datedepublish-timeformatted',
    type:      'text',
    title:     __('Time in 12h/24h format'),
    value:     context.content.datedepublish > '1900-01-01 00:00:00' ? context.content.datedepublish|date('H:i') : '',
    disabled:  (not can_depublish),
}%}

{% set attr_depublish_hidden = {
    name_id:  'datedepublish',
    type:     'hidden',
    value:    context.content.datedepublish,
}%}

{#====================================================================================================================#}

<div class="tabgrouping" data-tab="meta">

    <h3>
        {{ __('Meta information') }}
    </h3>

    <input type="hidden" name="editreferrer" id="editreferrer" value="{{ editreferrer|default('') }}">

    <div class="form-group">
        {{ macro.label('Id (№)', '', 'col-sm-4 control-label') }}
        <div class="col-sm-8">
            <input type="text" readonly="readonly" name="id" value="{{ context.content.id }}" class="form-control narrow">
        </div>
    </div>

    <input type="hidden" name="editreferrer" id="editreferrer"{% if editreferrer is defined %} value="{{ editreferrer }}"{% endif %}>

    <div class="form-group">
        {{ macro.label(__('Publication date:'), '', 'col-sm-4 control-label') }}
        <div class="col-sm-8">
            <input{{ macro.attr(attr_publish_date) }}>
            <input{{ macro.attr(attr_publish_time) }}>
            <input{{ macro.attr(attr_publish_hidden) }}>
        </div>
    </div>

    <div class="form-group">
        {{ macro.label(__('Depublication date:'), '', 'col-sm-4 control-label') }}
        <div class="col-sm-8">
            <input{{ macro.attr(attr_depublish_date) }}>
            <input{{ macro.attr(attr_depublish_time) }}>
            <input{{ macro.attr(attr_depublish_hidden) }}>
        </div>
    </div>

    {% if context.content.datecreated > '1970-01-01 01:01:01' %}
    <p>{{ __('contenttypes.generic.created', {'%contenttype%': context.contenttype.slug}) }}
        <time class="moment" datetime="{{ context.content.datecreated|date("c") }}" title="{{ context.content.datecreated }}">{{ context.content.datecreated }}</time>
        {{ __('and edited') }}
        <time class="moment" datetime="{{ context.content.datechanged|date("c") }}" title="{{ context.content.datechanged }}">{{ context.content.datechanged }}</time>.
        {% endif %}</p>

    <div class="form-group">
        {{ macro.label(__('Status:'), '', 'col-sm-4 control-label') }}
        <div class="col-sm-8">
            <select name="status" id="statusselect" {% if context.allowed_status|length <= 1 %}disabled="disabled"{% endif %} class="form-control narrow">
                {% for status in context.allowed_status %}
                    <option value="{{status}}" {% if context.content.status == status %}selected{% endif %}>{{ status_names[status] }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-group">
        {{ macro.label(__('Owner:'), '', 'col-sm-4 control-label') }}
        <div class="col-sm-8">
            <select name="ownerid" {% if not isallowed("contenttype:" ~ context.contenttype.slug ~ ":change-owner:" ~ context.content.id) %}disabled="disabled"{% endif %} class="form-control narrow">
                {% for user in users %}
                    <option value="{{ user.id }}" {% if context.contentowner and user.id == context.contentowner.id %}selected="selected"{% endif %}>{{user.displayname}}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-group">
        {{ macro.label(__('Add a comment:'), '', 'col-sm-4 control-label') }}
        <div class="col-sm-8">
            {% if isChangelogEnabled() %}
                <input type="text" name="changelog-comment" id="changelog-comment" class="form-control"
                {% if not isallowed("contenttype:" ~ context.contenttype.slug ~ ":change-owner:" ~ context.content.id) %}disabled="disabled"{% endif %}
                placeholder="{{ __('Add a brief, optional comment to describe what\'s changed.') }}"
                />
                </label>
            {% endif %}
        </div>
    </div>

</div>
