{#=== INIT ===========================================================================================================#}

{% import '_macro/_macro.twig' as macro %}

{% set magic_date = '1900-01-01 00:00:00' %}
{% set can_publish = isallowed('contenttype:' ~ context.contenttype.slug ~ ':publish:' ~ context.content.id) %}
{% set can_depublish = isallowed('contenttype:' ~ context.contenttype.slug ~ ':depublish:' ~ context.content.id) %}

{% set attr_publish_data = {
    id:       'datepublish',
    value:    (context.content.datepublish == magic_date) ? '' : context.content.datepublish,
    disabled: (not can_publish),
}%}
{% set attr_publish_date = {
}%}
{% set attr_publish_time = {
}%}

{% set attr_depublish_data = {
    id:        'datedepublish',
    value:     (context.content.datedepublish == magic_date) ? '' : context.content.datedepublish,
    disabled:  (not can_depublish),
}%}
{% set attr_depublish_date = {
}%}
{% set attr_depublish_time = {
}%}

{#====================================================================================================================#}

<div class="tabgrouping" data-tab="meta">

    <h3>
        {{ __('Meta information') }}
    </h3>

    <input type="hidden" name="editreferrer" id="editreferrer" value="{{ editreferrer|default('') }}">

    <div class="form-group">
        {{ macro.label('Id (№)', '', 'col-sm-4 control-label') }}
        <div class="col-sm-8">
            <input type="text" readonly="readonly" name="id" value="{{ context.content.id }}" class="form-control narrow">
        </div>
    </div>

    <input type="hidden" name="editreferrer" id="editreferrer"{% if editreferrer is defined %} value="{{ editreferrer }}"{% endif %}>

    <div class="form-group">
        {{ macro.label(__('Publication date:'), '', 'col-sm-4 control-label') }}
        <div class="col-sm-8">
            {{ macro.input_datetime(attr_publish_data, attr_publish_date, attr_publish_time) }}
        </div>
    </div>

    <div class="form-group">
        {{ macro.label(__('Depublication date:'), '', 'col-sm-4 control-label') }}
        <div class="col-sm-8">
            {{ macro.input_datetime(attr_depublish_data, attr_depublish_date, attr_depublish_time) }}
        </div>
    </div>

    {% if context.content.datecreated > '1970-01-01 01:01:01' %}
    <p>{{ __('contenttypes.generic.created', {'%contenttype%': context.contenttype.slug}) }}
        <time class="moment" datetime="{{ context.content.datecreated|date("c") }}" title="{{ context.content.datecreated }}">{{ context.content.datecreated }}</time>
        {{ __('and edited') }}
        <time class="moment" datetime="{{ context.content.datechanged|date("c") }}" title="{{ context.content.datechanged }}">{{ context.content.datechanged }}</time>.
        {% endif %}</p>

    <div class="form-group">
        {{ macro.label(__('Status:'), '', 'col-sm-4 control-label') }}
        <div class="col-sm-8">
            <select name="status" id="statusselect" {% if context.allowed_status|length <= 1 %}disabled="disabled"{% endif %} class="form-control narrow">
                {% for status in context.allowed_status %}
                    <option value="{{status}}" {% if context.content.status == status %}selected{% endif %}>{{ status_names[status] }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-group">
        {{ macro.label(__('Owner:'), '', 'col-sm-4 control-label') }}
        <div class="col-sm-8">
            <select name="ownerid" {% if not isallowed("contenttype:" ~ context.contenttype.slug ~ ":change-owner:" ~ context.content.id) %}disabled="disabled"{% endif %} class="form-control narrow">
                {% for user in users %}
                    <option value="{{ user.id }}" {% if context.contentowner and user.id == context.contentowner.id %}selected="selected"{% endif %}>{{user.displayname}}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-group">
        {{ macro.label(__('Add a comment:'), '', 'col-sm-4 control-label') }}
        <div class="col-sm-8">
            {% if isChangelogEnabled() %}
                <input type="text" name="changelog-comment" id="changelog-comment" class="form-control"
                {% if not isallowed("contenttype:" ~ context.contenttype.slug ~ ":change-owner:" ~ context.content.id) %}disabled="disabled"{% endif %}
                placeholder="{{ __('Add a brief, optional comment to describe what\'s changed.') }}"
                />
                </label>
            {% endif %}
        </div>
    </div>

</div>
