{% if not context.has.tabs %}
    <hr>

    <h3>
        {{ __('general.phrase.relationships') }}
        <span class="label info-pop" data-html="true" data-title="{{ __('general.phrase.relationships') }}"
            data-content="{{ app.translator.trans('info.relationships', {}, 'infos') }}">{{ __('general.phrase.info') }}</span>
    </h3>
{% endif %}

{% if context.has.relations %}
    {{ include('@bolt/editcontent/_relationships.twig') }}
{% endif %}

{# Output 'incoming' relations #}
{% if context.has.incoming_relations %}
    {% for incoming_contenttype, incoming_records in context.incoming_not_inv if incoming_contenttype not in context.contenttype.relations|default([])|keys %}
        {% set name = __(['contenttypes', incoming_contenttype, 'name', 'plural'], {DEFAULT: incoming_contenttype}) %}

        <p>{{ __('general.phrase.record-related-to-variable', {'%CTNAME%': name}) }}</p>
        <div class="buic-listing" data-bolt-widget="buicListing">
            <table class="table dashboardlisting listing">
            {% for record in incoming_records %}
                {% set editable = isallowed('edit', record) %}
                {% set listing_vars = {
                    'compact':       true,
                    'content':       record,
                    'excerptlength': 280,
                    'permissions':   {
                        'edit':      isallowed('edit', record),
                        'create':    isallowed('create', record),
                        'publish':   isallowed('publish', record),
                        'delete':    isallowed('delete', record),
                        'depublish': isallowed('depublish', record)
                    },
                    'thumbsize':     54,
                } %}
                {{ include(['@bolt/_sub/_listing.twig'], listing_vars) }}
            {% endfor %}
            </table>
        </div>
    {% endfor %}
{% endif %}

{% if context.has.tabs and 'relations' in context.contenttype.groups %}
    {{ include('@bolt/editcontent/_field.twig') }}
{% endif %}

{% if not context.has.tabs %}
    <hr>
{% endif %}
