{% macro tab(filter, name) %}
    <li><a class="filter" data-filter="{{ filter }}">{{ name }}</a></li>
{% endmacro %}

{% from _self import tab %}

<ul class="nav nav-tabs" id="filtertabs">

    {# Add an extra tab, if there are "ungrouped" fields #}
    {% set firstfield = context.contenttype.fields|first %}
    {% if firstfield.group is empty %}
        {{ tab('ungrouped', __('contenttypes.generic.group.ungrouped')) }}
    {% endif %}

    {# Defined groups #}
    {% for group in context.contenttype.groups %}
        {% if group not in ['ungrouped', 'taxonomy', 'meta'] %}
            {{ tab(group, __(['contenttypes', context.contenttype.slug, 'group', group], {DEFAULT: group|capitalize})) }}
        {% endif %}
    {% endfor %}

    {# Relationships and/or Taxonomy #}
    {% if context.contenttype.relations is defined and context.contenttype.taxonomy is defined %}
        {{ tab('taxonomy', __('contenttypes.generic.group.relations') ~ '/' ~ __('contenttypes.generic.group.taxonomy')) }}
    {% endif %}
    {% if context.contenttype.relations is defined and context.contenttype.taxonomy is not defined %}
        {{ tab('taxonomy', __('contenttypes.generic.group.relations')) }}
    {% endif %}
    {% if context.contenttype.relations is not defined and context.contenttype.taxonomy is defined %}
        {{ tab('taxonomy', __('contenttypes.generic.group.taxonomy')) }}
    {% endif %}

    {# Finally, a tab for Meta #}
    {{ tab('meta', __('contenttypes.generic.group.meta')) }}

</ul>
