{# taxonomies for the contenttype that this record is part of. #}

{% if not context.has.tabs %}
    <h3>
        {{ __('Taxonomy') }}
        <span class="label info-pop" data-html="true" data-title="{{ __('Taxonomy') }}"
                  data-content="{{ app.translator.trans('info.taxonomy',{},'infos') }}">{{ __('Info') }}</span>
    </h3>
{% endif %}

{% for taxonomyslug in context.contenttype.taxonomy|default([]) %}
    {% if config.get('taxonomy')[taxonomyslug] is defined %}
        {% set taxonomy = config.get('taxonomy')[taxonomyslug] %}

        <div data-fieldtype="{{ taxonomy.behaves_like }}">
            {# Prefix #}
            {% if taxonomy.prefix is defined and taxonomy.prefix is not empty %}
                <div class="prefix">
                    {{ taxonomy.prefix|markdown }}
                </div>
            {% endif %}

            {# Fieldset #}
            {% if taxonomy.behaves_like == 'tags' %}
                {% include '@bolt/editcontent/fields/_tags.twig' %}
            {% elseif taxonomy.behaves_like == 'categories' %}
                {% include '@bolt/editcontent/fields/_categories.twig' %}
            {% elseif taxonomy.behaves_like == 'grouping' %}
                {% include '@bolt/editcontent/fields/_grouping.twig' %}
            {% endif %}

            {# Postfix #}
            {% if taxonomy.postfix is defined and taxonomy.postfix is not empty %}
                <div class="postfix">
                    {{ taxonomy.postfix|markdown }}
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endfor %}

{% if context.has.tabs and 'taxonomy' in context.contenttype.groups %}
    {% include '@bolt/editcontent/_fields.twig' %}{# TODO doesn't exist #}
{% endif %}
