{# Page: NavSecondary > Content ... > Edit #}
{% extends '_base/_page.twig' %}
{% block ptype 'Content' %}
{% block page_title %}
    {% set contenttype = {'%contenttype%': context.contenttype.singular_name} %}
    {% if context.content.title %}
        {{ __('Edit %contenttype%', contenttype) }} » <i>{{context.content.title}}</i>
    {% else %}
        {{ __('New %contenttype%', contenttype) }}
    {% endif %}
{% endblock page_title %}
{% block pmain %}

{% import '_macro.twig' as macro %}

<div class="row">

    <div class="col-lg-12">
        <h1 class="page-header">{{ block('page_title') }}</h1>
    </div>

    <div class="col-md-8">

    <form method="post" id="editcontent" enctype="multipart/form-data" class="form-horizontal" role="form">
        {% include '_sub/_csrf_token.twig' %}

        {% include 'editcontent/_fields.twig' %}

        <hr>

        {% include 'editcontent/_relations.twig' %}

        {% include 'editcontent/_taxonomies.twig' %}

        <h3>
            {{ __('Meta information') }}
        </h3>

        <input type="hidden" name="editreferrer" id="editreferrer" value="{{ editreferrer|default('') }}">

        <div class="form-group">
            {{ macro.label('Id (№)', '', 'col-sm-4 control-label') }}
            <div class="col-sm-8">
                <input type='text' readonly=readonly name='id' value='{{ context.content.id }}' class="form-control narrow">
            </div>
        </div>

        <input type="hidden" name="editreferrer" id="editreferrer"{% if editreferrer is defined %} value="{{ editreferrer }}"{% endif %}>

        {% set can_publish = isallowed('contenttype:' ~ context.contenttype.slug ~ ':publish:' ~ context.content.id) %}

        <div class="form-group">
            {{ macro.label(__('Publication date:'), '', 'col-sm-4 control-label') }}
            <div class="col-sm-8">
                <input type="text" name="datepublish-dateformatted" id="datepublish-date"
                       {% if not can_publish %}disabled="disabled"{%endif%}
                       value='{{ context.content.datepublish|localdate('%A')|capitalize ~ context.content.datepublish|date(', d') ~ context.content.datepublish|localdate(' %B') ~ context.content.datepublish|date(' Y') }}' class='form-control datepicker'>
                <input type="text" name="datepublish-timeformatted" id="datepublish-time"
                       {% if not can_publish %}disabled="disabled"{%endif%}
                       value='{{ context.content.datepublish|date('H:i') }}' class='form-control timepicker'>
                <input type="hidden" name="datepublish" id="datepublish" value="{{ context.content.datepublish }}">
            </div>
        </div>

        {% if isallowed('contenttype:' ~ context.contenttype.slug ~ ':publish:' ~ context.content.id) %}
        <script>
            $('#datepublish-date, #datepublish-time').on('change', function(){
                var date = $('#datepublish-date').datepicker("getDate");
                var time = $('#datepublish-time').val() + ":00";
                if(time == ":00") time = "00:00:00";
                $('#datepublish').val($.datepicker.formatDate('yy-mm-dd', date)+" "+time);
            });
        </script>
        {% endif %}

        {% set can_depublish = isallowed('contenttype:' ~ context.contenttype.slug ~ ':depublish:' ~ context.content.id) %}

        <div class="form-group">
            {{ macro.label(__('Depublication date:'), '', 'col-sm-4 control-label') }}
            <div class="col-sm-8">
                <input type="text" name="datedepublish-dateformatted" id="datedepublish-date"
                       {% if not can_depublish %}disabled="disabled"{%endif%}
                       value='{% if context.content.datedepublish > '1970-01-01 01:01:01' %}{{ context.content.datedepublish|localdate('%A')|capitalize ~ context.content.datedepublish|date(', d') ~ context.content.datedepublish|localdate(' %B') ~ context.content.datedepublish|date(' Y') }}{% endif %}' class='form-control datepicker'>
                <input type="text" name="datedepublish-timeformatted" id="datedepublish-time"
                       {% if not can_depublish %}disabled="disabled"{%endif%}
                       value='{% if context.content.datedepublish > '1970-01-01 01:01:01' %}{{ context.content.datedepublish|date('H:i') }}{% endif %}' class='form-control timepicker'>
                <input type="hidden" name="datedepublish" id="datedepublish" value="{{ context.content.datedepublish }}">
            </div>
        </div>

        {% if isallowed('contenttype:' ~ context.contenttype.slug ~ ':depublish:' ~ context.content.id) %}
        <script>
            $('#datedepublish-date, #datedepublish-time').on('change', function(){
                var date = $('#datedepublish-date').datepicker("getDate");
                var time = $('#datedepublish-time').val() + ":00";
                $('#datedepublish').val($.datepicker.formatDate('yy-mm-dd', date)+" "+time);
            });
        </script>
        {% endif %}

        {% if context.content.datecreated > '1970-01-01 01:01:01' %}
        <p>{{ __('This %contenttype% was created', {'%contenttype%': context.contenttype.singular_name}) }}
            <time class="moment" datetime="{{ context.content.datecreated|date("c") }}" title="{{ context.content.datecreated }}">{{ context.content.datecreated }}</time>
            {{ __('and edited') }}
            <time class="moment" datetime="{{ context.content.datechanged|date("c") }}" title="{{ context.content.datechanged }}">{{ context.content.datechanged }}</time>.
            {% endif %}</p>

        <div class="form-group">
            {{ macro.label(__('Status:'), '', 'col-sm-4 control-label') }}
            <div class="col-sm-8">
                <select name="status" id="statusselect" {% if context.allowed_status|length <= 1 %}disabled="disabled"{% endif %} class="form-control narrow">
                    {% set status_names = { "published": "Published", "held": "Not published", "timed": "Timed publish", "draft": "Draft" } %}
                    {% for status in context.allowed_status %}
                        <option value="{{status}}" {% if context.content.status == status %}selected{% endif %}>{{ status_names[status] }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            {{ macro.label(__('Owner:'), '', 'col-sm-4 control-label') }}
            <div class="col-sm-8">
                <select name="ownerid" {% if not isallowed("contenttype:" ~ context.contenttype.slug ~ ":change-owner:" ~ context.content.id) %}disabled="disabled"{% endif %} class="form-control narrow">
                    {% for user in users %}
                        <option value="{{ user.id }}" {% if context.contentowner and user.id == context.contentowner.id %}selected="selected"{% endif %}>{{user.displayname}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            {{ macro.label(__('Add a comment:'), '', 'col-sm-4 control-label') }}
            <div class="col-sm-8">
                {% if isChangelogEnabled() %}
<input type="text" name="changelog-comment" id="changelog-comment" class="form-control"
{% if not isallowed("contenttype:" ~ context.contenttype.slug ~ ":change-owner:" ~ context.content.id) %}disabled="disabled"{% endif %}
placeholder="{{ __('Add a brief, optional comment to describe what\'s changed.') }}"
/>
</label>

                {% endif %}
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-12">

                <div class="btn-group">
                    <button type="button" class="btn btn-primary" id="savecontinuebutton">
                        <i class="fa fa-flag"></i> {{  __('Save %contenttype%',{'%contenttype%': context.contenttype.singular_name}) }}
                    </button>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <button type="submit" class="btn btn-link" id="savebutton">
                                <i class="fa fa-flag"></i> {{ __('Save & return to overview') }}
                            </button>
                        </li>
                        <li>
                            <button type="submit" class="btn btn-link" id="savenewbutton">
                                <i class="fa fa-flag"></i> {{ __('Save & create new record') }}
                            </button>
                        </li>
                    </ul>
                </div>

                <div class="btn-group">
                    <button type="button" class="btn btn-default" id="previewbutton">
                        <i class="fa fa-external-link-square"></i> {{ __('Preview') }}
                    </button>
                    {% if context.content.status == "published" and context.content.link is defined %}
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="{{ context.content.link }}" target="_blank">
                                    <i class="fa fa-external-link-square"></i> {{ __('View (saved version) on site') }}</a></li>
                            </a>
                            </li>
                        </ul>
                    {% endif %}
                </div>

                <p class="lastsaved" style="margin-top: 12px;">
                    {% if context.content.id != 0 %}
                    {{ __('Saved on:') }} <strong>{{ context.content.datechanged|localdate("%b %e, %H:%M") }}</strong> <small>({{ macro.datetime(context.content.datechanged) }})</small></p>
                {% else %}
                    {{ __('This %contenttype% has not been saved yet.', {'%contenttype%': context.contenttype.singular_name}) }}
                {% endif %}
                </p>

            </div>

        </div>

    </form>

    </div><!-- /span9 -->

    <aside class="col-md-4 hidden-xs">
        {% include 'editcontent/_aside.twig' %}
    </aside>
</div>

{% endblock pmain %}

{% block pscrpt %}

    {% import '_macro.twig' as macro %}

    <script>
        $(function() {

            // Save the page..
            $('#sidebarsavebutton').bind('click', function(e){
                $('#savebutton').trigger('click');
            });

            $('#savebutton').bind('click', function(e){
                // Reset the changes to the form.
                $('form').watchChanges();
            });

            // Handle "save and new".
            $('#sidebarsavenewbutton, #savenewbutton').bind('click', function(e){
                // Reset the changes to the form.
                $('form').watchChanges();

                // Do a regular post, and expect to be redirected back to the "new record" page.
                var newaction = "?returnto=new";
                $('#editcontent').attr('action', newaction).submit();
            });

            // Clicking the 'save & continue' button either triggers an 'ajaxy' post, or a regular
            // post which returns to this page. The latter happens if the record doesn't exist yet, so it doesn't
            // have an id yet.
            $('#sidebarsavecontinuebutton, #savecontinuebutton').bind('click', function(e){
                e.preventDefault();

                var newrecord = {% if context.content.id != 0 %}false{% else %}true{% endif %};

                // Disable the buttons, to indicate stuff is being done.
                $('#sidebarsavecontinuebutton, #savecontinuebutton').addClass('disabled');

                $('p.lastsaved').text('{{ __("Saving…") }}');

                if (newrecord) {

                    // Reset the changes to the form.
                    $('form').watchChanges();

                    // New record. Do a regular post, and expect to be redirected back to this page.
                    var newaction = "?returnto=" + $(this).attr('id');
                    $('#editcontent').attr('action', newaction).submit();
                } else {
                    // Existing record. Do an 'ajaxy' post to update the record.

                    // Reset the changes to the form.
                    $('form').watchChanges();

                    $.post("", $( "#editcontent" ).serialize() )
                        .done(function(data) {
                            // var message = "{{ __('The changes to this %contenttype% have been saved.', {'%contenttype%': context.contenttype.singular_name}) }}";
                            $('p.lastsaved').html('{{ __('Saved on:') }} <strong></strong> <small>({{ macro.datetime(context.content.datechanged) }})</small></p>');
                            $('p.lastsaved').find('strong').text(moment().format('MMM D, HH:mm'));
                            $('p.lastsaved').find('time').attr('datetime', moment().format());
                            $('p.lastsaved').find('time').attr('title', moment().format());
                            updateMoments();

                            $('a#lastsavedstatus strong').html(
                                '<i class="fa fa-circle status-' + $("#statusselect option:selected").val() + '"></i> ' +
                                $("#statusselect option:selected").text()
                            );

                        })
                        .fail(function(){
                            $('p.lastsaved').text('{{ __('Could not save %contenttype%.', { '%contenttype%': context.contenttype.singular_name }) }}');
                        })
                        .always(function(){
                            // Re-enable buttons
                            $('#sidebarsavecontinuebutton, #savecontinuebutton').removeClass('disabled');
                        });
                }

            });

            // To preview the page, we set the target of the form to a new URL, and open it in a new window.
            $('#previewbutton, #sidebarpreviewbutton').bind('click', function(e){
                e.preventDefault();
                var newaction = "{{ paths.root }}" + "preview" + "/{{ context.contenttype.singular_slug }}";
                $('#editcontent').attr('action', newaction).attr('target', "_blank").submit();
                $('#editcontent').attr('action', '').attr('target', "_self");
            });

        });
    </script>

{% endblock pscrpt %}
