{# Page: NavSecondary > Content ... > Edit #}

{% import '_macro/_macro.twig' as macro %}
{% import '_macro/_buic.twig' as buic %}

{% extends '_base/_page-nav.twig' %}

{% block page_nav 'Content/*' %}

{% block page_title %}
    {% set contenttype = {'%contenttype%': context.contenttype.slug} %}
    {% if context.content.title is not empty %}
        {{ __('contenttypes.generic.edit', contenttype) }}
    {% else %}
        {{ __('contenttypes.generic.new', contenttype) }}
    {% endif %}
{% endblock page_title %}

{% block page_subtitle context.content.title|default('')|striptags %}

{# clear default messages, because we use them in a different spot, in this template #}
{% block messages "" %}

{% block page_main %}
    {% set status_names = {
        'published': __('Published'),
        'held':      __('Not published'),
        'timed':     __('Timed publish'),
        'draft':     __('Draft')
    } %}

    {% set dateChanged %}{{ buic.moment(context.content.datechanged) }}{% endset %}

    {% set bind_data = {
        savedon:        __('Saved on:') ~ ' <strong></strong> <small>(' ~ dateChanged ~ ')</small></p>',
        newRecord:      context.content.id != 0 ? false : true,
        msgNotSaved:    __('contenttypes.generic.saving-impossible', {'%contenttype%': context.contenttype.slug}),
        hasGroups:      context.has.tabs,
        singularSlug:   context.contenttype.singular_slug,
    } %}

    {% set attr_form = {
        _bind:   ['editcontent', bind_data],
        class:   'form-horizontal' ~ (context.has.tabs ? ' tab-content' : ''),
        enctype: 'multipart/form-data',
        id:      'editcontent',
        method:  'post',
    } %}

    {% set attributes = {
        hid_editreferrer: {
            name_id:  'editreferrer',
            type:     'hidden',
            value:    editreferrer|default(''),
        },

        hid_contenttype: {
            name_id:   'contenttype',
            type:      'hidden',
            value:     context.contenttype.slug,
        },
    } %}

    <div class="row">
        <div class="col-md-8">

            {% include '_sub/_messages.twig' %}

            {# Only if we have grouping tabs. #}
            {% if context.has.tabs %}
                <ul class="nav nav-tabs" id="filtertabs">
                    {% for group in context.groups %}
                        <li{{ group.is_active ? ' class="active"' : '' }}>
                            <a href="#{{ group.id }}" data-toggle="tab">{{ group.label }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            <form{{ macro.attr(attr_form) }}>
                {% include '_sub/_csrf_token.twig' %}

                <input{{ macro.attr(attributes.hid_editreferrer) }}>
                <input{{ macro.attr(attributes.hid_contenttype) }}>

                {% for group_name, group in context.groups %}

                    {% if context.has.tabs %}
                        <div class="tab-pane{{ group.is_active ? ' active' : '' }}" id="{{ group.id }}">
                    {% endif %}

                    {% for key in group.fields %}

                        {% if key == '*relations' %}
                            {% include 'editcontent/_relations.twig' %}

                        {% elseif key == '*taxonomy' %}
                            {% include 'editcontent/_taxonomies.twig' %}

                        {% elseif key == '*meta' %}
                            <div data-fieldtype="meta">
                                {% include 'editcontent/fields/_meta.twig' %}
                            </div>

                        {% elseif key == '*template' %}
                            {% include 'editcontent/_templatefields.twig' %}

                        {% else %}
                            {% include 'editcontent/_field.twig' %}
                        {% endif %}

                    {% endfor %}

                    {% if context.has.tabs %}
                        </div>
                    {% endif %}

                {% endfor %}

                <input type="hidden" name="_live-editor-preview" value=""/>

                {% include 'editcontent/_buttons.twig' %}
            </form>

            {% include 'editcontent/_includes-data.twig' %}

        </div>

        <aside class="col-md-4 hidden-sm">
            {% include 'editcontent/_aside.twig' %}
        </aside>
    </div>

{% endblock page_main %}

{% block page_main_extra_content %}
    {% include 'editcontent/_live-editor.twig' %}
{% endblock %}
