{# Page: NavSecondary > Content ... > Edit #}

{% import '_macro/_macro.twig' as macro %}

{% extends '_base/_page-nav.twig' %}

{% block page_nav 'Content/*' %}

{% block page_title %}
    {% set contenttype = {'%contenttype%': context.contenttype.slug} %}
    {% if context.content.title is not empty %}
        {{ __('contenttypes.generic.edit', contenttype) }}
    {% else %}
        {{ __('contenttypes.generic.new', contenttype) }}
    {% endif %}
{% endblock page_title %}

{% block page_subtitle context.content.title|default('') %}

{# clear default messages, because we use them in a different spot, in this template #}
{% block messages "" %}

{% block page_main %}

    {% set has = {
        incoming_relations: context.content.relation is not empty,
        relations:          context.contenttype.relations is defined,
        tabs:               context.contenttype.groups != false,
        taxonomy:           context.contenttype.taxonomy is defined,
    } %}

    {% set status_names = {"published": __("Published"), "held": __("Not published"), "timed": __("Timed publish"), "draft": __("Draft")} %}

    {% set dateChanged %}{{ macro.datetime(context.content.datechanged) }}{% endset %}

    {% set bind_data = {
        savedon:        __('Saved on:') ~ ' <strong></strong> <small>(' ~ dateChanged ~ ')</small></p>',
        newRecord:      context.content.id != 0 ? false : true,
        msgNotSaved:    __('contenttypes.generic.saving-impossible', {'%contenttype%': context.contenttype.slug}),
        pathsRoot:      paths.root,
        msgSaving:      __('Saving …'),
        hasGroups:      has.tabs,
        singularSlug:   context.contenttype.singular_slug,
    } %}

    {% set attr_form = {
        _bind:   ['editcontent', bind_data],
        class:   "form-horizontal" ~ (has.tabs ? ' tab-content' : ''),
        enctype: "multipart/form-data",
        id:      "editcontent",
        method:  "post",
        role:    "form",
    } %}

    {### Tab groups ###}

    {% set group_labels = {} %}
    {% set group_ids = {} %}
    {% set group_active = false %}

    {# Build list and labels #}

    {% for group in context.contenttype.groups %}
        {% if group == 'ungrouped' %}
            {% set label = __('contenttypes.generic.group.ungrouped') %}
        {% elseif group not in ['meta', 'relations', 'taxonomy'] %}
            {% set label = __(['contenttypes', context.contenttype.slug, 'group', group], {DEFAULT: group|capitalize}) %}
        {% else %}
            {% set label = false %}
        {% endif %}
        {% if label %}
            {% set group_labels = group_labels|merge({(group): label}) %}
        {% endif %}
    {% else %}
        {% set group_labels = {'ungrouped': ''} %}
    {% endfor %}

    {% if has.relations or has.incoming_relations %}
        {% set group_labels = group_labels|merge({'relations': __('contenttypes.generic.group.relations')}) %}
    {% endif %}

    {% if has.taxonomy or 'taxonomy' in context.contenttype.groups %}
        {% set group_labels = group_labels|merge({'taxonomy': __('contenttypes.generic.group.taxonomy')}) %}
    {% endif %}

    {% set group_labels = group_labels|merge({'meta': __('contenttypes.generic.group.meta')}) %}

    {# Build tab group ids #}

    {% for group, name in group_labels %}
        {% set number = number|default(0) + 1 %}
        {% set groups_id = 'tab-' ~ group|slug()|default(number) %}
        {% if groups_id in group_ids %}
            {% set groups_id = groups_id ~ '-' ~ number %}
        {% endif %}
        {% set group_ids = group_ids|merge({(group): groups_id}) %}
    {% endfor %}

    {# Set active group (Always the first as we don't get the anchor hash on request) #}

    {% set group_active = group_labels|keys|first %}


    <div class="row">
        <div class="col-md-8">

            {% include '_sub/_messages.twig' %}

            {# Only if we have grouping tabs. #}
            {% if has.tabs %}
                <ul class="nav nav-tabs" id="filtertabs">
                    {% for group, name in group_labels %}
                        <li{{ group == group_active ? ' class="active"' : '' }}>
                            <a href="#{{ group_ids[group] }}" data-toggle="tab">{{ name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            <form{{ macro.attr(attr_form) }}>
                {% include '_sub/_csrf_token.twig' %}

                {% for group, name in group_labels %}

                    {% if has.tabs %}
                        <div class="tab-pane{{ group == group_active ? ' active' : '' }}" id="{{ group_ids[group] }}">
                    {% endif %}

                    {% if group == 'relations' %}
                        {% include 'editcontent/_relations.twig' %}

                    {% elseif group == 'taxonomy' %}
                        {% include 'editcontent/_taxonomies.twig' %}

                    {% elseif group == 'meta' %}
                        {% include 'editcontent/_meta.twig' %}

                    {% else %}
                        {% include 'editcontent/_fields.twig' %}
                    {% endif %}

                    {% if has.tabs %}
                        </div>
                    {% endif %}

                {% endfor %}

                {% include 'editcontent/_buttons.twig' %}
            </form>

            {% include 'editcontent/_includes.twig' %}

        </div>

        <aside class="col-md-4 hidden-sm">
            {% include 'editcontent/_aside.twig' %}
        </aside>
    </div>

{% endblock page_main %}
