{# Page: TopbarMenu > Username ^ Profile #}
{% extends "_page.twig" %}
{% block ptype 'Settings' %}
{% block pmain %}

{% form_theme form 'form_bolt_layout.twig' %}

<h1>{{ title|raw }}</h1>

{% if description|default() is not empty %}
<p style="max-width: 500px;">
	{{ description }}
</p>
{% endif %}

<form action="#" method="post" class="form-horizontal" role="form" autocomplete="off">
    {{ form_widget(form) }}

    <input type="submit" value="{{ __('Save user') }}" name="submit" class="btn btn-primary" />
</form>

<br>

{% if note|default() is not empty %}
<p class="alert alert-info" style="max-width: 550px;">
	<strong>{{ __("Note:") }}</strong> {{ note|raw }}
</p>
{% endif %}

{% endblock pmain %}
