{% set main_width = theme.layout.main_width|default(8) %}
{% set aside_width = theme.layout.aside_width|default(4) %}
<!doctype html>
<html class="no-js" lang="{{ htmllang() }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {# make sure we always display a proper title: The record's title if there is one, appended with the
           sitename. If there is no title, we append the sitename with the payoff, if there is one. #}
        <title>
            {%- if record.title is defined %}{{ record.title|striptags }} | {% endif -%}
                {{ config.get('general/sitename') -}}
            {% if record.title is not defined and config.get('general/payoff') %} | {{ config.get('general/payoff') }}{% endif -%}
        </title>
        <link rel="stylesheet" href="{{ asset('css/foundation.css', 'theme') }}">
        <link rel="stylesheet" href="{{ asset('css/theme.css', 'theme') }}">
        <link href='https://fonts.googleapis.com/css?family=Noto+Sans:700,700italic' rel='stylesheet' type='text/css'>
        {% block headincludes %}
        {% endblock headincludes %}
    </head>
    <body>

        {% block body %}

            {% if theme.layout.variant != 'wide' %}
                <div class="row">
            {% endif %}

            {{ include('partials/_topbar.twig') }}
            {{ include('partials/_header.twig') }}

            {% if theme.layout.variant != 'wide' %}
                </div>
            {% endif %}

            <div class="row">

                {% if theme.layout.aside == "left" %}
                    {{ include('partials/_aside.twig') }}
                {% endif %}

                <div class="{% if theme.layout.aside not in ['left', 'right'] %}large-centered{% endif %} large-{{ main_width }} columns">

                    {{ widgets('main_top') }}

                    {% block main %}
                    {% endblock main %}

                    {{ widgets('main_bottom') }}

                </div>

                {% if theme.layout.aside == "right" %}
                    {{ include('partials/_aside.twig') }}
                {% endif %}

            </div>

        {% endblock body %}

        {{ include('partials/_footer.twig') }}

        {% block bottomincludes %}
        {% endblock bottomincludes %}
    </body>
</html>
