<div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="example-menu">
  <div class="top-bar-left">
    {{ menu(template = 'partials/_sub_menu.twig') }}
  </div>
  <div class="top-bar-right">
    <form method="get" action="{{ paths.root }}search" id="searchform-inline" enctype="text/plain">
      <ul class="menu">
        <li><input type="search" value="{% if search is defined %}{{ search|escape }}{% endif %}" placeholder="{{ __('general.phrase.search-ellipsis') }}" name="search"></li>
        <li><button type="submit" class="button secondary">{{ __('general.phrase.search') }}</button></li>
      </ul>
    </form>
  </div>
</div>