
    </div><!-- /container-fluid -->
</div> <!-- /container -->

<br><br>

<footer id="bolt-footer" class="hidden-phone">
    <i class="icon-cog"></i> <b>Bolt {{ bolt_version }}</b>: {{ __('Sophisticated, lightweight & simple CMS') }} -
    <i class="icon-heart"></i > <a href="{{ path('about') }}">{{ __('About') }}</a> &ndash;
    <i class="icon-external-link"> </i><a href="http://bolt.cm" target="_blank">Bolt.cm</a>
</footer>

</body>

<script>
    var path = "{{ paths.bolt }}"; var asyncpath = "{{ paths.async }}"; var apppath = "{{ paths.app }}";
    var wysiwyg = { 
       images: {{ 0 + config.general.wysiwyg.images }}, 
       tables: {{ 0 + config.general.wysiwyg.tables }}, 
       anchor: {{ 0 + config.general.wysiwyg.anchor }}, 
       fontcolor: {{ 0 + config.general.wysiwyg.fontcolor }}, 
       align: {{ 0 + config.general.wysiwyg.align }}, 
       subsuper: {{ 0 + config.general.wysiwyg.subsuper }}, 
       embed: {{ 0 + config.general.wysiwyg.embed }}, 
       {%  if config.general.wysiwyg.ck is iterable %}ck: {{ config.general.wysiwyg.ck|json_encode()|raw }},{% endif %}
       {%  if config.general.wysiwyg.filebrowser is iterable %}filebrowser: {{ config.general.wysiwyg.filebrowser|json_encode()|raw }}{% else %}filebrowser: false{% endif %}
       };
</script>

</html>
