
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

<footer id="bolt-footer" class="hidden-xs">
    {% if app.config.get('general/branding/provided_by/0') %}
        {{ __("Provided by:") }}
        <a href="mailto:{{ app.config.get('general/branding/provided_by/0') }}">
            {{ app.config.get('general/branding/provided_by/1') }}
        </a> -
    {% endif %}
    <i class="fa fa-cog"></i> <b>Bolt {{ bolt_version }}</b>: {{ __('Sophisticated, lightweight & simple CMS') }} -
    <i class="fa fa-heart"></i > <a href="{{ path('about') }}">{{ __('About') }}</a> &ndash;
    <i class="fa fa-external-link-square"></i> <a href="http://bolt.cm" target="_blank">Bolt.cm</a>
</footer>

</body>

<script>
    var path = "{{ paths.bolt }}"; var asyncpath = "{{ paths.async }}"; var apppath = "{{ paths.app }}";
    var wysiwyg = {
       images: {{ 0 + config.get('general/wysiwyg/images') }},
       tables: {{ 0 + config.get('general/wysiwyg/tables') }},
       anchor: {{ 0 + config.get('general/wysiwyg/anchor') }},
       fontcolor: {{ 0 + config.get('general/wysiwyg/fontcolor') }},
       align: {{ 0 + config.get('general/wysiwyg/align') }},
       subsuper: {{ 0 + config.get('general/wysiwyg/subsuper') }},
       embed: {{ 0 + config.get('general/wysiwyg/embed') }},
       {%  if config.get('general/wysiwyg/ck') is iterable %}ck: {{ config.get('general/wysiwyg/ck')|json_encode()|raw }},{% endif %}
       {%  if config.get('general/wysiwyg/filebrowser') is iterable %}filebrowser: {{ config.get('general/wysiwyg/filebrowser')|json_encode()|raw }}{% else %}filebrowser: false{% endif %}
       };
</script>

{# Add the Grunt livereload script, if Grunt livereload is enabled in config.yml.  #}
{% if app.config.get('general/grunt/livereload') %}
    <script src="{{ paths.hosturl }}:{{ app.config.get('general/grunt/livereloadport') }}/livereload.js"></script>
{% endif %}</html>

{% if contenttype.groups %}
<script type="text/javascript">
//filter fot tabs
var allf = $('.mixfield');
allf.hide();
// Click function
$( ".filter" ).click(function() { 
    var customType = $( this ).data('filter');
    allf
        .hide()
        .filter(function () {
            return $(this).data('mix') === customType;
        })
        .show();
        $( '#filtertabs li' ).removeClass( "active" );
        $( this ).parent().attr('class', 'active')
});
 $( document ).ready(function() {
$( '#filtertabs li a:first' ).trigger('click');
 });
</script>
{% endif %}
