
    </div><!-- /container-fluid -->
</div> <!-- /container -->

<br><br>

<footer id="bolt-footer" class="hidden-phone">
    <i class="icon-cog"></i> <b>Bolt {{bolt_version}}</b>: Sophisticated, lightweight & simple CMS -
    <i class="icon-heart"></i > <a href="{{ path('about') }}">About</a> -
    <i class="icon-external-link"> </i><a href="http://bolt.cm" target="_blank">Bolt.cm</a>
</footer>

</body>

<script>
    var path = "{{ paths.bolt }}"; var asyncpath = "{{ paths.async }}"; var apppath = "{{ paths.app }}";
    var wysiwyg = { images: {{ 0 + config.general.wysiwyg_images }}, tables: {{ 0 + config.general.wysiwyg_tables }}, anchor: {{ 0 + config.general.wysiwyg_anchor }}, fontcolor: {{ 0 + config.general.wysiwyg_fontcolor }}, align: {{ 0 + config.general.wysiwyg_align }}, subsuper: {{ 0 + config.general.wysiwyg_subsuper }}, embed: {{ 0 + config.general.wysiwyg_embed }} };
</script>

</html>
