{% include '_header_basic.twig' %}

{% if active is not defined %}{% set active="dashboard" %}{% endif %}

<div id="wrapper">

    <nav class="navbar navbar-static-top navbar-inverse navbar-bolt" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('dashboard') }}">
                {# <img src="{{ paths.app }}view/img/bolt-icon.svg"> #}
                Bolt
            </a> 
            {% if content.link %}
                <a href="{{ content.link }}" target="_blank" class="navbar-site hidden-xs"><span>{{ __('View on site') }}</span></a>
            {% else %}
                <a href="{{ paths.root }}" target="_blank" class="navbar-site hidden-xs"><span>{% if app.config.get('general/sitename') %}{{ app.config.get('general/sitename') }}{% else %}Site{% endif %}</span></a>
            {% endif %}        
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">

            {# one omnisearch here, for "small and up", the other in the side-navbar #}
            <form class="navbar-form hidden-xs" role="search">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control semitransparent" placeholder="Omnisearch…">
                    <span class="fa fa-search form-control-feedback semitransparent"></span>
                </div>
            </form>

            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <span>{{ user.displayname|trimtext(16) }}</span> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="{{ path('useredit', { 'id' : user.id }) }}"><i class="fa fa-gear fa-fw"></i> {{ __('Account Settings') }}</a>
                    </li>
                    <li class="divider"></li>
                    {# Logout #}
                    <li>
                        <form action="{{ path('logout') }}" method="POST">
                            <button class="btn btn-link" type="submit">
                                <i class="fa fa-signout"></i> {{ __('Logout %name%', {'%name%': user.displayname|trimtext(16)}) }}
                            </button>
                        </form>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

    </nav>
    <!-- /.navbar-static-top -->


    <nav class="navbar-default navbar-static-side" role="navigation" id="nav">
        {% include '_sub_mainmenu.twig' %}
    </nav>

    <div id="page-wrapper">

    {% include '_messages.twig' %}

