{% include '_header_basic.twig' %}

{% if active is not defined %}{% set active="dashboard" %}{% endif %}

<div class="navbar navbar-fixed-top ">
    <div class="navbar-bolt navbar-inverse">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </a>
            <a class="brand" href="{{ path('dashboard') }}">
                <strong>bolt</strong> <span class="hidden-phone"> {% if app.config.general.sitename is defined %}- {{app.config.general.sitename}}{% endif %}</span>
            </a>

            {% include '_sub_mainmenu.twig' %}

        </div>
    </div>
</div>

<div class="container-fluid">

{% if app.session.flashBag.has('info') %}
    <div class="alert alert-info">
        <button class="close" data-dismiss="alert">×</button>
        {% for msg in app.session.flashBag.get('info') %}
            {{ msg|raw }}
        {% endfor %}
    </div>
{% endif %}

{% if app.session.flashBag.has('error') %}
    <div class="alert alert-error">
        <button class="close" data-dismiss="alert">×</button>
        {% for msg in app.session.flashBag.get('error') %}
            {{ msg|raw }}
        {% endfor %}
    </div>
{% endif %}

{% if app.session.flashBag.has('warning') %}
    <div class="alert alert-warning">
        <button class="close" data-dismiss="alert">×</button>
        {% for msg in app.session.flashBag.get('warning') %}
            {{ msg|raw }}
        {% endfor %}
    </div>
{% endif %}

{% if app.session.flashBag.has('success') %}
    <div class="alert alert-success">
        <button class="close" data-dismiss="alert">×</button>
        {% for msg in app.session.flashBag.get('success') %}
            {{ msg|raw }}
        {% endfor %}
    </div>
{% endif %}

