            {# If we have 'grouping', print the row with the groupname.. #}
            {% if not compact and content.group.name is defined and (loop.first or content.group.name != lastgroup) and request('order') == '' %}
                <tr class="grouping">
                    <th colspan="{% block listing_columns %}5{% endblock %}">
                        <h3 {% if loop.first %}class="first"{% endif %}>
                            {% if content.group.name  %}
                                {{ content.group.name }}
                            {% else %}
                                {{ __('(no group)') }}
                            {% endif %}
                        </h3>
                    </th>
                </tr>
            {% endif %}


            {# print the header for the first row.. #}
            {% if not compact and (loop.first or (content.group.name is defined and content.group.name != lastgroup) and request('order') == '') %}
                {% set lastgroup = content.group.name|default %}
                {% if "filter" in app.request.query.all|keys %}
                    {% set filter = "filter=" ~ app.request.query.all.filter ~ "&" %}
                {% else %}
                    {% set filter = "" %}
                {% endif %}

                {% set link = "?" ~ filter ~ "order=" %}
                <tr>
                    {% block listing_header %}
                    <th class="hide-phone"><a href='{{link}}{% if request('order')=="id" %}-{%endif%}id'>#</a></th>

                    <th style="width:80%"><a href='{{link}}{% if request('order')==content.TitleColumnName() %}-{%endif%}{{content.TitleColumnName()}}'>
                        {{ __('Title') }} / {{ __('Excerpt') }}</a></th>

                    <th>&nbsp;</th>

                    <th class='username hide-phone'><a href='{{link}}{% if request('order')=="datecreated" %}-{%endif%}datecreated'>{{ __('Meta') }}</a></th>

                    <th><a href='?'>{{ __('Actions') }}</a></th>
                    {% endblock %}
                </tr>
            {% endif %}


            <tr {% if content.status!='published' %}class="dim"{% endif %}>

                {% block listing_id %}
                    <td class='id hide-phone'>№ {{content.id}}</td>
                {% endblock %}

                {% block listing_content %}
                    <td class='excerpt {% if not compact %}large{% endif %}'><span>
                        <strong class="show-phone">№ {{content.id}}. </strong>
                        <strong>
                            {% if editable %}
                            <a href="{{ path('editcontent', { 'contenttypeslug': content.contenttype.slug, 'id': content.id }) }}" title="Slug: {{ content.slug }}">
                                {{content.getTitle}}
                            </a>
                            {% else %}
                            <strong>
                                {{content.getTitle}}
                            </strong>
                            {% endif %}
                        </strong>
                        {{ content.excerpt(excerptlength) }}
                                    </span></td>
                    <td class='listthumb'>
                        {% if content.getImage is not empty %}
                            {{content.getImage|fancybox(thumbsize, thumbsize*0.75, 'c')}}
                        {% endif %}
                    </td>
                {% endblock %}

                {% if not compact %}
                    {% block listing_meta %}
                        <td class='username hide-phone'>
                            <i class="icon-user"></i>
                                {% if content.user.displayname is defined %}
                                    {{ content.user.displayname|trimtext(15) }}
                                {% else %}
                                    <s>user {{ content.values.ownerid }} </s>
                                {% endif %}<br>
                            {% if content.status=="timed" %}
                                <i class="icon-time"></i> <time class="moment" datetime="{{ content.datepublish|date("c") }}" title="{{ content.datepublish }}">{{ content.datepublish }}</time><br>
                            {% else %}
                                <i class="icon-calendar"></i> {{ content.datepublish|date('d/m/Y') }}<br>
                            {% endif %}

                            {% if content.sortorder is defined and content.sortorder is not sameas(false) %}
                                <i class="icon-sort"></i> {{ __('Order: %sort%',{'%sort%': content.sortorder}) }} <br>
                            {% endif %}
                        </td>
                    {% endblock %}
                {% endif %}

                {% block listing_actions %}
                    <td class='actions'>
                        <div class="btn-group">
                            {% if editable %}
                            <a class="btn btn-mini" href="{{ path('editcontent', { 'contenttypeslug': content.contenttype.slug, 'id': content.id }) }}">
                                <i class="icon-edit"></i> {{ __('Edit') }}
                            </a>
                            {% endif %}
                            <button class="btn dropdown-toggle btn-mini" data-toggle="dropdown">
                                <i class="icon-info-sign"></i>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right">
                            {% if content.status == "published" and content.link is defined %}
                                <li><a href="{{ content.link }}" target="_blank">
                                    <i class="icon-external-link"></i> {{ __('View on site') }}</a></li>
                            {% endif %}

                            {% macro actionform(content, action, icon, text, confirmation_text) %}
                                <form action="{{ path('contentaction', { 'action': action, 'contenttypeslug': content.contenttype.slug, 'id': content.id }) }}"
                                      method="POST">
                                    {% include('_sub_csrf_token.twig') %}
                                    <button type="submit"
                                        {% if confirmation_text %}
                                            class="btn btn-link confirm" data-confirm="{{confirmation_text}}"
                                        {%else%}
                                            class="btn btn-link"
                                        {%endif%}
                                    >
                                        <i class="{{ icon }}"></i>
                                        {{ __(text) }}
                                    </button>
                                </form>
                            {% endmacro %}
                            {% from _self import actionform %}
                            {% if editable %}
                                {% if content.status != "published" %}
                                    {% if isallowed('publish', content) %}
                                    <li>
                                        {{ actionform(content, 'publish', 'icon-star-empty', __('Publish %contenttype%',{'%contenttype%':content.contenttype.singular_name})) }}
                                    </li>
                                    {% endif %}
                                {% else %}
                                    {% if isallowed('depublish', content) %}
                                    <li>{{ actionform(content, 'held', 'icon-star', __("Change status to 'held'")) }}</li>
                                    <li>{{ actionform(content, 'draft', 'icon-pencil', __("Change status to 'draft'")) }}</li>
                                    {% endif %}
                                {% endif %}
                                {% if isallowed('create', content) %}
                                <li><a href="{{ path('editcontent', { 'contenttypeslug': content.contenttype.slug, 'id': content.id, 'duplicate': 1 }) }}">
                                    <i class="icon-copy"></i> {{ __('Duplicate %contenttype%', {'%contenttype%': content.contenttype.singular_name}) }}</a></li>
                                {% endif %}
                                {% if isallowed('delete', content) %}
                                    <li>
                                        {{ actionform(content, 'delete',
                                                      'icon-trash',
                                                      __('Delete %contenttype%',{'%contenttype%':content.contenttype.singular_name}),
                                                      "Are you sure you want to delete '" ~ content.getTitle ~ "'?" ) }}
                                    </li>
                                {% endif %}
                                <li class="divider"></li>
                            {% endif %}
                                <li><a class="nolink">{{__('Author:') }} <strong><i class="icon-user"></i>
                                    {% if content.user.displayname is defined %}
                                        {{ content.user.displayname|trimtext(15) }}
                                    {% else %}
                                        <s>user {{ content.values.ownerid }} </s>
                                    {% endif %}</strong></a></li>
                                <li><a class="nolink">{{ __('Current status:') }}
                                    <strong>{{ content.status }}</strong></a></li>
                                <li><a class="nolink">{{ __('Slug:') }}
                                    <code title="{{ content.slug }}">{{ content.slug|trimtext(24) }}</code></a></li>
                                <li><a class="nolink">{{ __('Created on:') }}
                                    <i class="icon-asterisk"></i> {{ content.datecreated|date("Y-m-d H:i") }}</a></li>
                                <li><a class="nolink">{{ __('Published on:') }}
                                    <i class="icon-calendar"></i> {{ content.datepublish|date("Y-m-d H:i") }}</a></li>
                                <li><a class="nolink">{{ __('Last edited on:') }}
                                    <i class="icon-refresh"></i> {{ content.datechanged|date("Y-m-d H:i") }}</a></li>
                                {% for taxonomyslug, values in content.taxonomy %}
                                    {% if values|length > 1 %}
                                        <li><a class="nolink">{{ config.get('taxonomy')[taxonomyslug].name }}:
                                            <i class="icon-tag"></i> {{ values|join(", ")|trimtext(24) }}</a></li>
                                    {% else %}
                                        <li><a class="nolink">{{ config.get('taxonomy')[taxonomyslug].singular_name }}:
                                            <i class="icon-tag"></i> {{ values|first|trimtext(24) }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>

                    </td>
                {% endblock %}

            </tr>
