
{% if content.relation is not empty or contenttype.relations is defined %}

    <h3>
        {{ __('Relationships') }}
        <span class="label info-pop" data-html="true" data-title="{{ __('Relationships') }}"
            data-content="{{ app.translator.trans('info.relationships',{},'infos') }}">{{ __('Info') }}</span>
    </h3>

{% endif %}

{# relationships for this record #}
{% if contenttype.relations is defined %}

    {% for relcontenttype, relation in contenttype.relations %}

        {# We set the 'format' for the rendering of each <option>. With fallback to a sensible default. #}
        {% set format = relation.format|default("{{ item.title|escape }} <span>(№ {{ item.id }})</span>") %}

        <label for='relation-{{relcontenttype|trans}}'><b><span class='left'>
            {% if relation.label %}{{ relation.label|trans }}{% else %}{{ relcontenttype|ucfirst|trans }}{% endif %}
        </span></b></label>

        {% if relation.multiple is defined and relation.multiple == 1 %}
        <select name='relation[{{relcontenttype}}][]' id='relation-{{relcontenttype}}' class='wide' multiple  style="width: 70%;" data-placeholder="(none)">
        {% else %}
        <select name='relation[{{relcontenttype}}][]' id='relation-{{relcontenttype}}' class='wide' style="width: 70%;" data-placeholder="(none)">
            <option value="0">(none)</option>
        {% endif %}
            {% for item in listcontent(relcontenttype, relation, content) %}
                <option value="{{ item.id }}" {% if item.selected %}selected{% endif %}>{{ format|twig({'item': item}) }}</option>
            {% endfor %}
        </select>

        <script>
            $('#relation-{{relcontenttype}}').select2({
                placeholder: "(none)",
                allowClear: true
            });
        </script>

    {% endfor %}

{% endif %}

{# output 'incoming' relations #}
{% if content.relation is not empty or contenttype.relations is defined %}

    {% for reltype, ids in content.relation %}
        {% if contenttype.relations[reltype] is not defined %}
            <p>
            {% for id in ids %}
                {% setcontent record = reltype~"/"~id %}
                {% if record %}
                    {{ __('This record is related to %contenttype%',{'%contenttype%': record.contenttype.singular_name}) }} № {{ record.id }} -
                    <strong>{{ record.title }}</strong> (<a href="{{ path('editcontent', { 'contenttypeslug': record.contenttype.slug, 'id': record.id }) }}">edit</a>)<br>
                {% endif %}
            {% endfor %}
            </p>
        {% endif %}
    {% endfor %}

{% endif %}

{% if content.relation is not empty or contenttype.relations is defined %}

    <hr>

{% endif %}
