
<nav class="{{name}}">
    <ul class="dd_menu">
    {% for item in menu %}
    
        <li>
            <a href="{{ item.link }}" {% if item.title %}title='{{ item.title}}'{% endif %}
            {% if item|current %}class='current'{% endif %}>{{item.label}}</a>

        {% if item.submenu is defined %}
        <ul>
            {% for item in item.submenu %}
            <li>
                <a href="{{ item.link }}" {% if item.title %}title='{{ item.title}}'{% endif %}
                {% if item|current %}class='current'{% endif %}>{{item.label}}</a>
            </li>            
            {% endfor %}
        </ul>
        {% endif %}
        </li>
        
    {% endfor %}
    </ul>
</nav>
