{% if stack %}
    <section>
        <h2><i class="icon-paper-clip"></i> {{ __('Files on the stack') }}</h2>

        <div id="stackholder">
            {% for item in stack %}

            <div class="stackitem item-{{ loop.index }} {{ item.type }} info-pop"
                 data-placement="bottom" data-html="true" data-title="{{ item.basename }}" data-content="{{ item.info }}">
                {% if item.type == "image" %}
                    <img src="{{ item.filepath|thumbnail(100,100) }}" width="100" height="100">
                {% else %}
                   <strong>{{ item.extension|upper }}</strong>
                   <small>{{ item.basename }}</small>
                {% endif %}
            </div>

            {% endfor %}
        </div>

    </section>
{% endif %}
