{% for key, field in contenttype.fields %}

{# --------------- prefix --------------- #}
{% if field.prefix is defined and field.prefix is not empty %}
<div class='clearfix'>
    {{ field.prefix|raw }}
</div>
{% endif %}


{# --------------- text --------------- #}

{% if field.type == "text" %}
    <label><b>{% if field.variant == "inline" %}<span class='left'>{% endif %}
        {% if field.label %}{{field.label|trans}}{% else %}{{ key|ucfirst|trans}}{%endif%}
{% if field.variant == "inline" %}</span>{% endif %}</b></label>
    <input type="{% if field.pattern in ['url', 'email'] %}{{ field.pattern }}{% else %}text{% endif %}" name="{{key}}" id="{{key}}"
        value='{{ content.get(key) }}'
        class='{% if field.class is defined %}{{ field.class }}{% endif %} {% if field.variant == "inline" %}narrow{% endif %}'
        {% if field.required is defined and field.required %}required="required"{% endif %}
        {% if field.pattern and field.pattern not in ['url', 'email'] %}pattern="{{ field.pattern }}"{% endif %}
        maxlength="255"
        >
{% endif %}


{# --------------- number (deprecated, don't use!) --------- #}

{% if field.type == "number" %}
    <label><b><span class='left'>
        {% if field.label %}{{field.label}}{% else %}{{ key|ucfirst}}{%endif%}
    </span></b></label>
    <input type="number" name="{{key}}" id="{{key}}" step="0.000000001"
        value='{{ 0 + content.get(key) }}'
        class='narrow {% if field.class is defined %}{{ field.class }}{% endif %}'
        {% if field.required is defined and field.required %}required="required"{% endif %}
        {% if field.pattern %}pattern="{{ field.pattern }}"{% endif %}
        >
{% endif %}

{# --------------- float --------------- #}

{% if field.type == "float" %}
    <label><b><span class='left'>
    {% if field.label %}{{field.label|trans}}{% else %}{{ key|ucfirst|trans}}{%endif%}
</span></b></label>
    <input type="number" name="{{key}}" id="{{key}}" step="0.00000001"
        value='{{ 0 + content.get(key) }}'
        class='narrow {% if field.class is defined %}{{ field.class }}{% endif %}'
        {% if field.required is defined and field.required %}required="required"{% endif %}
        {% if field.pattern %}pattern="{{ field.pattern }}"{% endif %}
        >
{% endif %}

{# --------------- integer --------------- #}

{% if field.type == "integer" %}
    <label><b><span class='left'>
    {% if field.label %}{{field.label|trans}}{% else %}{{ key|ucfirst|trans}}{%endif%}
</span></b></label>
    <input type="number" name="{{key}}" id="{{key}}" step="1"
        value='{{ 0 + content.get(key) }}'
        class='narrow {% if field.class is defined %}{{ field.class }}{% endif %}'
        {% if field.required is defined and field.required %}required="required"{% endif %}
        {% if field.pattern %}pattern="{{ field.pattern }}"{% endif %}
        max="2147483647" min="-2147483647"
        >
{% endif %}

{# --------------- checkbox --------------- #}

{% if field.type == "checkbox" %}
<div class="checkboxwrapper">
    <label for="{{ key }}">
        <b>
            <span class='left'>
                {% if field.label %}{{field.label|trans}}{% else %}{{ key|ucfirst|trans}}{%endif%}
            </span>
        </b>
    </label>
    <input type="checkbox" name="{{key}}" id="{{key}}" value='1'
           {% if content.get(key) %}checked{% else %}notchecked{% endif %}
           class='{% if field.class is defined %}{{ field.class }}{% endif %}'>
</div>
{% endif %}


{# --------------- slug --------------- #}

{% if field.type == "slug" %}
<label class="permalink">{{ __('Permalink') }}:
    <code>/{{ content.contenttype.singular_slug }}/<span id="show-{{ key }}">{{ content.get(key) }}</span></code>
    <input type="text" name="{{ key }}" id="{{ key }}" value="{{ content.get(key) }}" class="editslug">
    <span class="sluglocker"><i class="icon-lock"></i></span> <span class="slugedit"><i class="icon-pencil"></i></span>
</label>


{% if field.uses is defined %}
<script type="text/javascript">
    $(function() {
        $('.sluglocker').bind('click', function() {
            if ($('.sluglocker i').hasClass('icon-lock')) {

                // "unlock" if it's currently empty, _or_ we've confirmed that we want to do so.
                var unlock = ('{{ content.get(key) }}' == '') || confirm("Are you sure you wish to unlock the slug? This might break existing links to this record.");

                if (unlock) {
                    $('.sluglocker i').removeClass('icon-lock').addClass('icon-unlock');
                    makeUri('{{ content.contenttype.slug }}', '{{ content.id }}', {{ field.uses|json_encode|raw }}, '{{ key }}', false);
                }
            } else {
                $('.sluglocker i').addClass('icon-lock').removeClass('icon-unlock');
                stopMakeUri({{ field.uses|json_encode|raw }});
            }
        });
        $('.slugedit').bind('click', function() {
            newslug = prompt("{{ __('Set the slug to:') }}", $("#show-{{ key }}").text());

            if (newslug != null) {
                $('.sluglocker i').addClass('icon-lock').removeClass('icon-unlock');
                stopMakeUri({{ field.uses|json_encode|raw }});
                makeUriAjax(newslug, '{{ content.contenttype.slug }}', '{{ content.id }}', '{{ key }}', false)
            }
        });

    {% if content.get(key) is empty  %}
        $('.sluglocker').trigger('click');
    {% endif %}
    });
</script>
{% endif %}

{% endif %}

{# --------------- select --------------- #}

{% if field.type == "select" %}
    {% if field.values is iterable %}
        {% set values = field.values %}
    {% else %}
        {% set lookuptype = field.values|split('/')|first %}
        {% set lookupfield = field.values|split('/')|last %}
        {% if ',' in lookupfield %}
            {% set lookupfield = lookupfield|split(',') %}
        {% endif %}
        {% setcontent lookups = lookuptype order lookupfield|last %}
        {% set values = lookups|selectfield(lookupfield) %}
    {% endif %}

    <label><b><span class='left'>{% if field.label %}{{field.label|trans}}{% else %}{{ key|ucfirst|trans}}{%endif%}</span></b></label>
    {% if field.multiple is defined and field.multiple %}
        <select name="{{key}}[]" id="{{key}}" class='{% if field.class is defined %}{{ field.class }}{% endif %}' multiple>
            {% for value in values %}
                {% if value is iterable and (value | length) > 1 %}
                    <option value="{{value[0]}}" {% if value[0] in content.get(key) %}selected{% endif %}>{{value[1:]|join(' / ')}}</option>
                {% else %}
                    <option value="{{value}}" {% if value in content.get(key) %}selected{% endif %}>{{value}}</option>
                {% endif %}
            {% endfor %}
        </select>
        <label><span class='left' style="line-height: 1px;">&nbsp;</span></label>
        <div style="margin-top: -14px;">
            <a href="#" class="btn bnt-info btn-mini" onclick="jQuery('#{{key}} option').prop('selected', true); return false;">{{ __("Select all") }}</a>
            <a href="#" class="btn bnt-info btn-mini" onclick="jQuery('#{{key}} option').prop('selected', false); return false;">{{ __("Select none") }}</a>
        </div>

    {% else %}
        <select name="{{key}}" id="{{key}}" class='{% if field.class is defined %}{{ field.class }}{% endif %}'>
            {% for value in values %}
                {% if value is iterable and (value | length) > 1 %}
                    <option value="{{value[0]}}" {% if content.get(key)==value[0] %}selected{% endif %}>{{value[1:]|join(' / ')}}</option>
                {% else %}
                    <option value="{{value}}" {% if content.get(key)==value %}selected{% endif %}>{{value}}</option>
                {% endif %}
            {% endfor %}
        </select>
    {% endif %}
{% endif %}

{# --------------- templateselect --------------- #}

{% if field.type == "templateselect" %}
<label><b><span class='left'>{% if field.label %}{{field.label|trans}}{% else %}{{ key|ucfirst|trans}}{%endif%}</span></b></label>
    <select name="{{key}}" id="{{key}}">
        <option value="">{{ __('(default template)') }}</option>
        <option value="" disabled>-----------</option>
        {% for filename, name in listtemplates(field.filter) %}
            <option value="{{filename}}" {% if content.get(key)==filename %}selected{% endif %}>{{name}}</option>
        {% endfor %}
    </select>
{% endif %}

{# --------------- image --------------- #}

{% if field.type == "image" %}

{% if content.get(key) is not iterable %}
    {# This image was stored in the old format until re-saved #}
    {% set image = {'file': content.get(key)} %}
{% else %}
    {% set image = content.get(key) %}
{% endif %}

<div class="dropzone imageselect" id="dropzone-{{key}}">

    <div class="image-right">
        <div class='imageholder' id="thumbnail-{{key}}">
            {% if content.get(key)!="" %}
            <img src="{{ image.file|thumbnail(120, 120, 'c') }}" width="120" height="120">
            {% else %}
            <img src="{{ app.paths.app }}view/img/default_empty.png" width="120" height="120">
            {% endif %}
        </div>
    </div>
    <div class="image-container">

        <label>
            <b>{% if field.label %}{{field.label|trans}}{% else %}{{ key|ucfirst|trans}}{%endif%}</b>
            <span class="label info-pop" data-html="true" data-title="{% if field.label %}{{field.label}}{% else %}{{ key|ucfirst}}{%endif%}"
                data-content="{{ app.translator.trans('info.upload.image',{},'infos') }}">{{ __('Info') }}</span>
        </label>

        {# note: jQuery file-upload expects types separated by a '|', unlike the HTML spec. #}
        <input type="text" name="{{key}}[file]" id="field-{{key}}"
            value='{{ image.file|default('') }}'
            class='{% if field.class is defined %}{{ field.class }}{% endif %} imageinput wide'
            accept="{{ field.extensions|join('|') }}">

        <p class="filetypes">
            {{ __("Allowed filetypes are:") }} <code>{{ field.extensions|join("</code>, <code>")|raw }}</code>.
        </p>

        {% if field.attrib is defined %}

            {# If the user has set a single attribute as a string, convert it to an array #}
            {% if field.attrib is not iterable %}{% set attribs = {0: field.attrib} %}{% else %}{% set attribs = field.attrib %}{% endif %}

            {# We are only interested in the 'alt' attribute right now, but this will allow easy extension #}
            {% for attrib in attribs %}
                {% if attrib == 'title' %}
                    <label>{{ __('Title/Alt Text:') }} <input type="text" name="{{key}}[title]" id="{{key}}-title"
                        value='{{ image.title|default('') }}' style='width: 80%;'>
                    </label>
                {% endif %}
            {% endfor %}

        {% endif %}

        <!-- The fileinput-button span is used to style the file input field as button -->
        <div class="btn-group">
            <span class="btn btn-info fileinput-button">
                <i class="icon-upload"></i>
                <span>{{ __('Upload image') }}</span>
                <input id="fileupload-{{key}}" type="file" name="fileupload-{{key}}[]" data-url="{{ paths.app }}classes/upload/index.php" accept=".{{ field.extensions|join(",.") }}">
            </span>
        </div>

        <div class="btn-group" style="margin-left: 0px;">
            <a data-target="#selectModal-{{key}}" href="{{ paths.async }}browse/files?key={{ key }}" class="btn fileinput-select" data-toggle="modal">
                <i class="icon-upload-alt"></i>
                {{ __('Select from server') }}
            </a>
        </div>

        {% set items = stackitems(7, 'image') %}
        {% if items %}
        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown">
                <i class="icon-paper-clip"></i>
                {{ __('Select from stack') }}
                <span class="caret"></span>
            </a>

            <ul class="dropdown-menu" id="stack-{{key}}">
                {% for item in items %}
                    <li>
                        <a href="#" data-action="stack.selectFromPulldown('{{ key }}', '{{ item.filepath }}');">{{ item.basename }} <small>({{ item.filesize }}, {{ item.imagesize }} px)</small></a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}


        <div class="progress progress-striped active" id="progress-{{key}}">
            <div class="bar" style="width: 0%;"></div>
        </div>

        <!-- Modal "select from server"  -->
        <div class="modal hide modal-wide" id="selectModal-{{key}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{ __('Cancel') }}</button>
            </div>
        </div>



{% if not ismobileclient() %}

<script type="text/javascript">
    $(function() {
        bindFileUpload('{{key}}');

        $("#field-{{key}}").autocomplete({
            source: "{{ paths.async }}filesautocomplete?ext=gif,jpg,jpeg,png",
            minLength: 2,
            close: function(){
                if ($('#field-{{key}}').val() != "" ) {
                    $('#thumbnail-{{key}}').html("<img src='{{ app.paths.root }}thumbs/120x120c/"+encodeURI( $('#field-{{key}}').val() )+"' width='120' height='120'>");
                } else {
                    $('#thumbnail-{{key}}').html("<img src='{{ app.paths.app }}view/img/default_empty.png' width='120' height='120'>");
                }
            }
        });

    });
</script>
{% endif %}

    </div>
</div>
{% endif %}



{# --------------- file --------------- #}

{% if field.type == "file" %}
<div class="dropzone" id="dropzone-{{key}}">

    <div class="image-container">

        <label>
            <b>{% if field.label %}{{field.label|trans}}{% else %}{{ key|ucfirst|trans}}{%endif%}</b>
            <span class="label info-pop" data-html="true" data-title="{% if field.label %}{{field.label}}{% else %}{{ key|ucfirst}}{%endif%}"
                  data-content="{{ app.translator.trans('info.upload.file',{},'infos') }}">{{ __('Info') }}</span>
        </label>

        {# note: jQuery file-upload expects types separated by a '|', unlike the HTML spec. #}
        <input type="text" name="{{key}}" id="field-{{key}}"
            value='{{ content.get(key) }}'
            class='{% if field.class is defined %}{{ field.class }}{% endif %} imageinput'
            accept="{{ field.extensions|join('|') }}">
            <br>

        <p class="filetypes">
            {{ __("Allowed filetypes are:") }} <code>{{ field.extensions|join("</code>, <code>")|raw }}</code>.
        </p>

        <!-- The fileinput-button span is used to style the file input field as button -->
        <div class="btn-group">
            <span class="btn btn-info fileinput-button">
                <i class="icon-upload"></i>
                <span>{{ __('Upload File') }}</span>
                <input id="fileupload-{{key}}" type="file" name="fileupload-{{key}}[]" data-url="{{ paths.app }}classes/upload/index.php"  accept=".{{ field.extensions|join(",.") }}">
            </span>
        </div>

        <div class="btn-group" style="margin-left: 0px;">
            <a data-target="#selectModal-{{key}}" href="{{ paths.async }}browse/files?key={{ key }}&show=all" class="btn fileinput-select" data-toggle="modal">
                <i class="icon-upload-alt"></i>
                {{ __('Select from server') }}
            </a>
        </div>

        {% set items = stackitems(7, 'other,document') %}
        {% if items %}
            <div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-paper-clip"></i>
                    {{ __('Select from stack') }}
                    <span class="caret"></span>
                </a>

                <ul class="dropdown-menu" id="stack-{{key}}">
                    {% for item in items %}
                        <li>
                            <a href="#" data-action="stack.selectFromPulldown('{{ key }}', '{{ item.filepath }}');">{{ item.basename }} <small>({{ item.filesize }})</small></a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div class="progress progress-striped active" id="progress-{{key}}">
            <div class="bar" style="width: 0%;"></div>
        </div>

        <!-- Modal "select from server"  -->
        <div class="modal hide modal-wide" id="selectModal-{{key}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{ __('Cancel') }}</button>
            </div>
        </div>

    {% if not ismobileclient() %}
        <div style="clear: left;" class="hide-tablet"><small>{{ app.translator.trans('info.upload.filesmall',{},'infos') }}</small></div>
        <script type="text/javascript">
            $(function() {
                bindFileUpload('{{key}}');

                $("#field-{{key}}").autocomplete({
                    source: "{{ paths.async }}filesautocomplete?ext={{ field.extensions|join(',') }}",
                    minLength: 2
                });

            });
        </script>
    {% endif %}

    </div>
</div>
{% endif %}


{# --------------- imagelist --------------- #}

{% if field.type == "imagelist" %}
<label>
    <b>
        {% if field.label %}{{field.label|trans}}{% else %}{{ key|ucfirst|trans}}{%endif%}
    </b>
    <span class="label info-pop" data-html="true" data-title="{% if field.label %}{{field.label|trans}}{% else %}{{ key|ucfirst|trans}}{%endif%}"
      data-content="{{ app.translator.trans('info.upload.imagelist',{},'infos') }}">{{ __('Info') }}</span>
</label>
<div class="imagelistholder dropzone" id="imagelist-{{key}}">
    <div class="list"></div>

    <div class="buttons">
        <span class="btn btn-info fileinput-button" style="margin-bottom: 8px;">
            <i class="icon-upload"></i>
            <span>{{ __('Upload image') }}</span>
            <input id="fileupload-{{key}}"
                   type="file"
                   name="fileupload-{{key}}[]"
                   data-url="{{ paths.app }}classes/upload/index.php"
                   accept="{{ field.extensions|join('|') }}">
        </span>

        <br clear="all">

        <div class="btn-group" style="margin-left: 0px;">
            <a data-target="#selectModal-{{key}}" href="{{ paths.async }}browse/files?key={{ key }}" class="btn fileinput-select" data-toggle="modal">
                <i class="icon-upload-alt"></i>
                {{ __('Select from server') }}
            </a>
        </div>

        {% set items = stackitems(7, 'image') %}
        {% if items %}
        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown">
                <i class="icon-paper-clip"></i>
                {{ __('Select from stack') }}
                <span class="caret"></span>
            </a>

            <ul class="dropdown-menu" id="stack-{{key}}">
                {% for item in items %}
                    <li>
                        <a href="#" data-action="stack.selectFromPulldown('{{ key }}', '{{ item.filepath }}');">{{ item.basename }} <small>({{ item.filesize }}, {{ item.imagesize }} px)</small></a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

    </div>
    <textarea name="{{key}}" id="{{key}}" class="hide">{% if content.get(key) is defined %}{{ content.get(key)|json_encode() }}{% endif %}</textarea>
    <div class='clearfix'></div>

    <!-- Modal "select from server"  -->
    <div class="modal hide modal-wide" id="selectModal-{{key}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-body">
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">{{ __('Close') }}</button>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(function() {

        if(typeof imagelist == "undefined") {
            imagelist = [];
        }

        imagelist['{{ key }}'] = new ImagelistHolder({id: '{{key}}'});
    });
</script>

{% endif %}


{# --------------- filelist --------------- #}

{% if field.type == "filelist" %}
<label>
    <b>
        {% if field.label %}{{field.label|trans}}{% else %}{{ key|ucfirst|trans}}{%endif%}
    </b>
    <span class="label info-pop"
          data-html="true"
          data-title="{% if field.label %}{{field.label|trans}}{% else %}{{ key|ucfirst|trans}}{%endif%}"
          data-content="{{ app.translator.trans('info.upload.filelist',{},'infos') }}">
          {{ __('Info') }}
    </span>
</label>
<div class="filelistholder dropzone" id="filelist-{{key}}">
    <div class="list"></div>
    <div class="buttons">
        <span class="btn btn-info fileinput-button"
              style="margin-bottom: 8px;">

            <i class="icon-upload"></i>
            <span>{{ __('Upload files') }}</span>
            <input id="fileupload-{{key}}"
                   type="file"
                   name="fileupload-{{key}}[]"
                   data-url="{{ paths.app }}classes/upload/index.php"
                   accept="{{ field.extensions|join('|') }}">
        </span>

        <div class="btn-group" style="margin-left: 0px;">
            <a data-target="#selectModal-{{key}}" href="{{ paths.async }}browse/files?key={{ key }}&show=all" class="btn fileinput-select" data-toggle="modal">
                <i class="icon-upload-alt"></i>
                {{ __('Select from server') }}
            </a>
        </div>

    </div>
    <textarea name="{{key}}" id="{{key}}" class="hide">{% if content.get(key) is defined %}{{ content.get(key)|json_encode() }}{% endif %}</textarea>

    <!-- Modal "select from server"  -->
    <div class="modal hide modal-wide" id="selectModal-{{key}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-body">
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">{{ __('Close') }}</button>
        </div>
    </div>

</div>
<div class='clearfix'></div>

<script type="text/javascript">
    $(function() {

        if(typeof filelist == "undefined") {
            filelist = [];
        }

        filelist['{{ key }}'] = new FilelistHolder({id: '{{key}}'});
    });
</script>

{% endif %}

{# --------------- video --------------- #}

{% if field.type == "video" %}

{% set video = content.get(key) %}
<div class="dropzone video">

    <div class="video-right hide-phone">
        <div class='imageholder' id="thumbnail-{{key}}" style="width: 160px; text-align: center; background-color: #F8F8F8;">
            {% if video.thumbnail|default('') %}
                <img src="{{ video.thumbnail }}" width="160" height="120">
            {% else %}
                <img src="{{ app.paths.app }}view/img/default_empty.png" width="120" height="120">
            {% endif %}
        </div>
    </div>

    <div class="video-container">
        <label>
            <b>{% if field.label %}{{field.label|trans}}{% else %}{{ key|ucfirst|trans}}{%endif%}</b>
            (<span id="video-{{key}}-text">{% if video.title is defined %}"{{ video.title|trimtext(18) }}" by {{ video.authorname|trimtext(18) }}{% endif %}</span>)
            <span class="label info-pop" data-html="true" data-title="{% if field.label %}{{field.label|trans}}{% else %}{{ key|ucfirst|trans}}{%endif%}"
                  data-content="{{ app.translator.trans('info.upload.video',{},'infos') }}">{{ __('Info') }}</span>
        </label>
        <label>{{ __('URL:') }} <input type="url" name="{{key}}[url]" id="video-{{key}}"
               value='{{ video.url|default('') }}' style='width: 60%;'>
        </label>

        <label>{{ __('Size:') }} <input type="number" name="{{ key }}[width]" id="video-{{key}}-width" value="{{ video.width|default('') }}" style='width: 60px; min-width: 60px;'>
        x <input type="number" name="{{ key }}[height]" id="video-{{key}}-height" value="{{ video.height|default('') }}" style='width: 60px; min-width: 60px;'>
            pixels.
            <span class="hide-tablet"><a href="#myModal" role="button" class="btn" data-toggle="modal" style='float: right;'>{{ __('Preview video') }}</a></span>
        </label>

        <input type="hidden" name="{{ key }}[ratio]" id="video-{{key}}-ratio" value="{{ video.ratio|default('') }}">
        <input type="hidden" name="{{ key }}[title]" id="video-{{key}}-title" value="{{ video.title|default('') }}" readonly>
        <input type="hidden" name="{{ key }}[authorname]" id="video-{{key}}-author_name" value="{{ video.authorname|default('') }}" readonly>
        <input type="hidden" name="{{ key }}[authorurl]" id="video-{{key}}-author_url" value="{{ video.authorurl|default('') }}" readonly>
        <input type="hidden" name="{{ key }}[html]" id="video-{{key}}-html" value="{% if video.html is defined %}{{ video.html|escape }}{% endif %}">
        <input type="hidden" name="{{ key }}[thumbnail]" id="video-{{key}}-thumbnail" value="{{ video.thumbnail|default('') }}">

        <script type="text/javascript">
            bindVideoEmbed('{{key}}');
        </script>
    </div>
</div>

<!-- Modal video preview -->
<div class="modal hide" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-body">
        {% if video.html is defined %}
        {{ video.html }}
        {% else %}
        <p>{{ __('No video url is set, no video to show.') }}</p>
        {% endif %}
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{{ __('Close') }}</button>
    </div>
</div>


{% endif %}





{# --------------- geolocation --------------- #}

    {% if field.type == "geolocation" %}

        {% set geolocation = content.get(key) %}
        <div class="dropzone geolocation">

            <div class="map-right hide-phone">
                <div class='mapholder' id="map-{{key}}" style="width: 200px;">
                        <img src="{{ geo.map|default('') }}" width="200" height="200">
                </div>
            </div>

            <div class="map-container">
                <label>
                    <b>{% if field.label %}{{field.label|trans}}{% else %}{{ key|ucfirst|trans}}{%endif%}</b>
                    <span class="label info-pop" data-html="true" data-title="{% if field.label %}{{field.label|trans}}{% else %}{{ key|ucfirst|trans}}{%endif%}"
                          data-content="{{ app.translator.trans('info.geolocation',{},'infos') }}">{{ __('Info') }}</span>
                </label>
                <label>{{ __('Address lookup:') }} <input type="text" name="{{key}}[address]" id="{{key}}-address"
                    value='{{ geolocation.address|default('') }}' style='width: 60%;'>
                </label>
                <label>{{ __('Latitude:') }} <input type="text" name="{{key}}[latitude]" id="{{key}}-latitude"
                    value='{{ geolocation.latitude|default('') }}' style='width: 30%;'>
                 - {{ __('Longitude:') }} <input type="text" name="{{key}}[longitude]" id="{{key}}-longitude"
                    value='{{ geolocation.longitude|default('') }}' style='width: 30%;'>
                </label>
                <p>{{ __('Matched address:') }}
                <span id="{{ key }}-reversegeo"> {{ geolocation.formatted_address|default('') }}</span></p>
                <input type="hidden" name="{{key}}[formatted_address]" id="{{key}}-formatted_address"
                       value='{{ geolocation.formatted_address|default('') }}' style='width: 30%;'>
                <script type="text/javascript">
                    $(function() {
                        bindGeolocation('{{key}}', '{{ geolocation.latitude|default('') }}', '{{ geolocation.longitude|default('') }}');
                    });
                </script>
            </div>
        </div>
<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="{{ paths.app }}view/js/jquery.gomap-1.3.2.min.js"></script>

    {% endif %}






{# --------------- html --------------- #}

{% if field.type == "html" %}
<label><b>{% if field.label %}{{field.label|trans}}{% else %}{{ key|ucfirst|trans}}{%endif%}</b></label>
<textarea name="{{key}}" class='{% if field.class is defined %}{{ field.class }}{% endif %} ckeditor'
    style='{% if field.height is defined %}height: {{ field.height }}{% endif %}'
    {% if field.required is defined and field.required %}required{% endif %}>
    {% if content.get(key) is defined %}{{ content.get(key) }}{% endif %}
</textarea>
{% endif %}

{# --------------- textarea --------------- #}

{% if field.type == "textarea" %}
<label><b>{% if field.label %}{{field.label|trans}}{% else %}{{ key|ucfirst|trans}}{%endif%}</b></label>
<textarea name="{{key}}" class='{% if field.class is defined %}{{ field.class }}{% endif %}'
    style='{% if field.height is defined %}height: {{ field.height }}{% endif %}'
    {% if field.required is defined and field.required %}required{% endif %}
    >{% if content.get(key) is defined %}{{ content.get(key) }}{% endif %}</textarea>
{% endif %}


{# --------------- textarea --------------- #}

{% if field.type == "markdown" %}
    <label>
        <b>{% if field.label %}{{field.label|trans}}{% else %}{{ key|ucfirst|trans}}{%endif%}</b>
        <span class="label info-pop" data-html="true" data-title="{% if field.label %}{{field.label}}{% else %}{{ key|ucfirst}}{%endif%}"
              data-content="{{ app.translator.trans('info.markdown',{},'infos') }}">{{ __('Info') }}</span>

    </label>
    <textarea id="{{ key }}" name="{{key}}" class='{% if field.class is defined %}{{ field.class }}{% endif %}'
              style='{% if field.height is defined %}height: {{ field.height }} !important;{% endif %}' {% if field.required is defined and field.required %}required{% endif %}
            >{% if content.get(key) is defined %}{{ content.get(key) }}{% endif %}</textarea>

    <textarea id="jquery-catchpaste-textarea" style="position: absolute; width: 0 !important; height: 0; left: -10000px;"></textarea>

{# Yeah, this is really annoying, when pasting into a field that already has content. Commented out for now,
   until we fix it properly.
<script type="text/javascript">
    $(function() {
        bindMarkdown('{{key}}');
    });
</script>
#}

{% endif %}


{# --------------- date --------------- #}

{% if field.type == "date" %}
<label><b>{% if field.label %}{{field.label|trans}}{% else %}{{ key|ucfirst|trans}}{%endif%}</b></label>
<input type="text" name="{{key}}-dateformatted" id="{{key}}-date"
    value='{{ pretty.datepickervalue(content.get(key)) }}'
    class='{% if field.class is defined %}{{ field.class }}{% endif %} datepicker'>
<input type="hidden" name="{{key}}" id="{{ key }}" value="{{ content.get(key)|date('Y-m-d H:i:s') }}">
<script type="text/javascript">
    $(function() {
        $('#{{key}}-date').on('change.bolt', function(){
            var date = $('#{{key}}-date').datepicker( "getDate" );
            $('#{{ key }}').val($.datepicker.formatDate('yy-mm-dd', date));
        }).trigger('change.bolt');;
    });
</script>
{% endif %}


{# --------------- datetime --------------- #}

{% if field.type == "datetime" %}
<label><b>{% if field.label %}{{field.label|trans}}{% else %}{{ key|ucfirst|trans}}{%endif%}</b></label>
<input type="text" name="{{key}}-dateformatted" id="{{key}}-date"
    value='{{ pretty.datepickervalue(content.get(key)) }}'
    class='{% if field.class is defined %}{{ field.class }}{% endif %} datepicker'>
<input type="time" name="{{key}}-timeformatted" id="{{key}}-time"
    value='{% if content.get(key) and (content.get(key) > "0001-01-01 00:00:00") %}{{ content.get(key)|date('H:i') }}{% endif %}'
    class='{% if field.class is defined %}{{ field.class }}{% endif %} timepicker'>
<input type="hidden" name="{{ key }}" id="{{ key }}" value="{{ content.get(key)|date('Y-m-d H:i:s') }}">
<script type="text/javascript">
    $(function() {
        $('#{{key}}-date, #{{key}}-time').on('change.bolt', function(){
            var date = $('#{{key}}-date').datepicker("getDate");
            var time = $('#{{key}}-time').val() + ":00";
            $('#{{ key }}').val($.datepicker.formatDate('yy-mm-dd', date)+" "+time);
        }).trigger('change.bolt');;
    });
</script>
{% endif %}


{# ---------------postfix & divider --------------- #}

{% if field.postfix is defined and field.postfix is not empty %}
    <div class='clearfix'>
        {{ field.postfix|raw }}
    </div>
{% endif %}

{% if field.separator is defined and field.separator == true %}
    <hr>
{% endif %}


{% endfor %}

