
{# taxonomies for the contenttype that this record is part of. #}
{% if contenttype.taxonomy is defined %}

    <h3>
        {{ __('Taxonomy') }}
        <span class="label info-pop" data-html="true" data-title="{{ __('Taxonomy') }}"
                  data-content="{{ app.translator.trans('info.taxonomy',{},'infos') }}">{{ __('Info') }}</span>
    </h3>

{% for taxonomyslug in contenttype.taxonomy %}

    {% if config.get('taxonomy')[taxonomyslug] is defined %}

        {% set taxonomy = config.get('taxonomy')[taxonomyslug] %}


        {# ---------- tags ---------- #}

        {% if taxonomy.behaves_like == "tags" %}

            <label for='taxonomy-{{taxonomy.slug}}'><b><span class='left'>{{ taxonomy.name|trans }}</span></b></label>

            {% if content.taxonomy[taxonomy.slug] is defined %}
                {% set tags = content.taxonomy[taxonomy.slug]|join(",") %}
            {% else %}
                {% set tags = "" %}
            {% endif %}

            <input type='text' name='taxonomy[{{taxonomy.slug}}]' id='taxonomy-{{taxonomy.slug}}' value="{{tags}}" style="width: 70%;" />

            <script>
            $('#taxonomy-{{taxonomy.slug}}').select2({
                tags:[], // Todo: automatically supply most often-used tags.
                tokenSeparators: [",", " "]
            });
            </script>

        {% endif %}

        {# ---------- categories ---------- #}

        {% if taxonomy.behaves_like == "categories" %}

            <label for='taxonomy-{{taxonomy.slug}}'><b><span class='left'>{{ taxonomy.name|trans }}</span></b></label>

            {% if taxonomy.multiple is defined and taxonomy.multiple == 1 %}
            <select name='taxonomy[{{taxonomy.slug}}][]' id='taxonomy-{{taxonomy.slug}}' multiple>
            {% else %}
            <select name='taxonomy[{{taxonomy.slug}}][]' id='taxonomy-{{taxonomy.slug}}'>
                <option value="">(no category)</option>
                <option value="" disabled>-----------</option>
            {% endif %}

            {% for cat in taxonomy.options %}
                <option value='{{cat}}' {% if content.taxonomy[taxonomy.slug] is defined and cat in content.taxonomy[taxonomy.slug] %}selected{% endif %}>{{cat}}</option>
            {% endfor %}

            </select>

        {% endif %}

        {# ---------- grouping ---------- #}

        {% if taxonomy.behaves_like == "grouping" %}

            <label for='taxonomy-{{taxonomy.slug}}'><b><span class='left'>{{ taxonomy.name|trans }}</span></b></label>

            <select name='taxonomy[{{taxonomy.slug}}][]' id='taxonomy-{{taxonomy.slug}}'>
                <option value="">(no group)</option>
                <option value="" disabled>-----------</option>
            {% for key, group in taxonomy.options %}
                <option value='{{key}}' {% if content.taxonomy[taxonomy.slug] is defined and group in content.taxonomy[taxonomy.slug] %}selected{% endif %}>{{group}}</option>
            {% endfor %}
            </select>

            {% if taxonomy.has_sortorder is defined and taxonomy.has_sortorder == true %}
                <label for="taxonomy-order-{{taxonomy.slug}}" style='display: inline;'>- Order:</label>
                {% if content.sortorder %}
                    {% set sortorder = content.sortorder %}
                {% else %}
                    {% set sortorder = 0 %}
                {% endif %}
                <input type="number" name="taxonomy-order[{{taxonomy.slug}}]" id="taxonomy-order-{{taxonomy.slug}}" step="1"
                       value='{{ sortorder }}' class='verynarrow'>
            {% endif %}

        {% endif %}

    {% endif %}

{% endfor %}
<hr>
{% endif %}
