<div class="nav-collapse">
    <ul class="nav pull-right">
        {% if app.session.get('user') is not null %}
            <li class="{% if active in ['', 'dashboard'] %}active {% endif %}"><a href="{{ path('dashboard') }}">
                <i class="icon-home"></i> {{ __('Dashboard') }}</a></li>
            <li class="{% if active=='content' %}active {% endif %}dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-sitemap"></i> {{ __('Content') }} <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    {% for slug, contenttype in app.config.contenttypes %}
                        {% if isallowed('contenttype:' ~ slug) %}
                            <li><a href="{{ path('overview', { 'contenttypeslug': slug }) }}">
                                <i class="icon-tasks"></i> {{ __('View %contenttypes%', {'%contenttypes%': contenttype.name}) }}</a></li>
                            <li><a href="{{ path('editcontent', { 'contenttypeslug': slug, 'id': '' }) }}">
                                <i class="icon-plus"></i> {{ __('New %contenttype%',{'%contenttype%': contenttype.singular_name}) }}</a></li>
                            {% if not loop.last %}<li class="divider"></li>{% endif %}
                        {% endif %}
                    {% endfor %}

                </ul>
            </li>

            {% if isallowed('settings') %}
            <li class="{% if active=='settings' %}active {% endif %}dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cogs"></i> {{ __('Settings') }}
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    {% if isallowed('files:config') %}
                        <li class="nav-header">{{ __('Configuration') }}</li>
                        <li><a href="{{ path('users') }}"><i class="icon-group"></i> {{ __('Users') }}</a></li>
                        <li><a href="{{ path('fileedit', { 'file': 'app/config/config.yml'}) }}">
                            <i class="icon-cog"></i> {{ __('Configuration') }}</a></li>
                        <li><a href="{{ path('fileedit', { 'file': 'app/config/contenttypes.yml'}) }}">
                            <i class="icon-cog"></i> {{ __('Contenttypes') }}</a></li>
                        <li><a href="{{ path('fileedit', { 'file': 'app/config/menu.yml'}) }}">
                            <i class="icon-cog"></i> {{ __('Menu setup') }}</a></li>
                        <li><a href="{{ path('fileedit', { 'file': 'app/config/taxonomy.yml'}) }}">
                            <i class="icon-tags"></i> {{ __('Taxonomy') }}</a></li>
                        <li class="divider"></li>
                    {% endif %}
                    <li class="nav-header">{{ __('Maintenance') }}</li>
                    {% if isallowed('extensions') %}
                        <li><a href="{{ path('extensions') }}"><i class="icon-briefcase"></i> {{ __('Extensions') }}</a></li>
                    {% endif %}
                    {% if isallowed('dbupdate') %}
                        <li><a href="{{ path('dbcheck') }}"><i class="icon-wrench"></i> {{ __('Check database') }}</a></li>
                    {% endif %}
                    {% if isallowed('clearcache') %}
                        <li><a href="{{ path('clearcache') }}"><i class="icon-magic"></i> {{ __('Clear the cache') }}</a></li>
                    {% endif %}
                    {% if isallowed('activitylog') %}
                        <li><a href="{{ path('activitylog') }}"><i class="icon-file"></i> {{ __('Activity log') }}</a></li>
                    {% endif %}
                    <li class="divider"></li>
                    <li class="nav-header">{{ __('File Management') }}</li>
                    {% if isallowed('files:theme') %}
                        <li><a href="{{ path('files', { 'path': 'theme' }) }}"><i class="icon-hdd"></i> {{ __('View / edit Templates') }}</a></li>
                    {% endif %}
                    {% if isallowed('files:uploads') %}
                        <li><a href="{{ path('files', { 'path': 'files'}) }}"><i class="icon-hdd"></i> {{ __('Uploaded files') }}</a></li>
                    {% endif %}
                    {% if isallowed('translation') %}
                    <li class="divider"></li>
                    <li class="nav-header">{{ __('Translations') }}</li>
                        <li><a href="{{ path('translation', { 'domain': 'messages' }) }}"><i class="icon-flag"></i> {{ __('Messages') }}</a></li>
                        <li><a href="{{ path('translation', { 'domain': 'infos'}) }}"><i class="icon-flag"></i> {{ __('Long messages') }}</a></li>
                        <li><a href="{{ path('translation', { 'domain': 'contenttypes'}) }}"><i class="icon-flag"></i> {{ __('Contenttypes') }}</a></li>
                    {% endif %}

                </ul>
            </li>
            {% endif %}

            <li class="divider-vertical"></li>

            <li><a href="{{ paths.root }}" target="_blank"><i class="icon-external-link"></i> {{ __('View site') }}</a></li>
            <li class="divider-vertical"></li>
            <li>
                <a href="{{ path('logout') }}"><i class="icon-signout"></i> {{ __('Logout %name%', {'%name%': user.displayname|trimtext(16)}) }}</a>
            </li>
        {% else %}
            <li class="divider-vertical"></li>
            <li><a href="{{ paths.root }}" target="_blank"><i class="icon-external-link"></i> {{ __('View site') }}</a></li>
            <li class="divider-vertical"></li>
            <li>
                <a href="{{ path('login') }}"><i class="icon-signin"></i> {{ __('Login') }}</a>
            </li>
        {% endif %}
    </ul>
</div><!--/.nav-collapse -->
