{% import '_sub_crosslinks.twig' as crosslinks %}
<section>
    <h2>{{ __('Last modified %contenttypes%',{'%contenttypes%':contenttype.name}) }}</h2>
    <ul>
    {% for content in latest %}
        <li>
           № {{content.id}}. {{ crosslinks.contentlink(contenttype, content) }}<small>(<time class="moment" datetime="{{ content.datechanged|date("c") }}" title="{{ content.datechanged }}">{{ content.datechanged }}</time>)</small>
        </li>
    {% else %}
        <li><em>{{ __('No latest %contenttype%',{'%contenttype%':contenttype.name}) }}.</em></li>
    {% endfor %}
    </ul>
</section>
