{% import '_sub_crosslinks.twig' as crosslinks %}
<section>
    <h2>{{ __('Last modified %contenttypes%',{'%contenttypes%':contenttype.name}) }}</h2>
    <ul>
    {% if changelog is defined %}
        {% set action_map = { 'INSERT': 'created', 'UPDATE': 'modified', 'DELETE': 'deleted' } %}
        {% for index, entry in changelog %}
            <li>
                {% set action_name = action_map[entry.mutation_type] %}
                {% if entry.title %}
                    {% set title = crosslinks.contentlink_by_id(contenttype, entry.title, entry.contentid) %}
                {% else %}
                    {% set title = __('%name% #%id%', { '%name%': contenttype.singular_name, '%id%': entry.contentid }) %}
                {% endif %}
               № {{index + 1}}. {{ title }} {{ action_name }} by {{ entry.username }} <small>(<time class="moment" datetime="{{ entry.date|date("c") }}" title="{{ entry.date }}">{{ entry.date }}</time>)</small>
            </li>
        {% else %}
            <li><em>{{ __('No latest %contenttype%',{'%contenttype%':contenttype.name}) }}.</em></li>
        {% endfor %}
    {% else %}
        {% for content in latest %}
            <li>
               № {{content.id}}. {{ crosslinks.contentlink(contenttype, content) }}<small>(<time class="moment" datetime="{{ content.datechanged|date("c") }}" title="{{ content.datechanged }}">{{ content.datechanged }}</time>)</small>
            </li>
        {% else %}
            <li><em>{{ __('No latest %contenttype%',{'%contenttype%':contenttype.name}) }}.</em></li>
        {% endfor %}
    {% endif %}
    </ul>
</section>
