{% if stack %}
    {% if options=="full" %}

    <section>
        <h2><i class="icon-paper-clip"></i> {{ __('Files on the stack') }}</h2>

        <div id="protostack">

            <div class="stackitem image info-pop item-1" data-placement="bottom" data-html="true" data-title="" data-content="">
                <img src="" width="100" height="100">
            </div>

            <div class="stackitem other info-pop item-1" data-placement="bottom" data-html="true" data-title="" data-content="">
                <strong>HTML</strong>
                <small>index.html</small>
            </div>

        </div>

        <div id="stackholder">
            {% for item in stack %}

            <div class="stackitem item-{{ loop.index }} {{ item.type }} info-pop"
                 data-placement="bottom" data-html="true" data-title="{{ item.basename }}" data-content="{{ item.info }}">
                {% if item.type == "image" %}
                    <img src="{{ item.filepath|thumbnail(100,100) }}" width="100" height="100">
                {% else %}
                   <strong>{{ item.extension|upper }}</strong>
                   <small>{{ item.basename }}</small>
                {% endif %}
            </div>

            {% endfor %}
        </div>


        <div class="btn-group">
            <span class="btn fileinput-button">
                <i class="icon-upload"></i>
                <span>{{ __('Upload') }}</span>
                <input id="fileupload-stack"
                       type="file"
                       name="fileupload-stack[]"
                       data-url="{{ paths.app }}classes/upload/"
                       accept=".{{ filetypes|join(',.') }}">
            </span>
        </div>

        <div class="btn-group" style="margin-left: 0px;">
            <a data-target="#selectModal-stack" href="{{ paths.async }}browse/files?key=stack" class="btn fileinput-select" data-toggle="modal">
                <i class="icon-upload-alt"></i>
                {{ __('Select') }}
            </a>
        </div>

        {# -- visual clutter, grmbml, grmbl --
        <p class="filetypes">
            {{ __("Allowed filetypes are:") }} <code>{{ filetypes|join("</code>, <code>")|raw }}</code>.
        </p>
        #}
        
        <!-- Modal "select from server"  -->
        <div class="modal hide modal-wide" id="selectModal-stack" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">{{ __('Cancel') }}</button>
            </div>
        </div>

    </section>

    {% elseif options=="minimal" %}

        <h2><i class="icon-paper-clip"></i> {{ __('Files on the stack') }}</h2>
        <div id="stackholder">
            {% for item in stack %}

                <div class="stackitem stackitem-wide item-{{ loop.index }} {{ item.type }}">
                    <a href="{{ app.paths.files }}{{ item.filepath }}" class="filebrowserCallbackLink">
                    {% if item.type == "image" %}
                        <img src="{{ item.filepath|thumbnail(100,100) }}" width="100" height="100">
                    {% else %}
                        <strong>{{ item.extension|upper }}</strong>
                        <small>{{ item.basename }}</small>
                    {% endif %}
                    </a>
                </div>

            {% endfor %}
        </div>

    {% elseif options=="list" %}

        <ul>
        {% for item in stack %}
            <li>
                <a href="{{ app.paths.files }}{{ item.filepath }}" class="filebrowserCallbackLink">{{ item.basename }}
                    <small>({{ item.filesize }}
                        {%- if item.imagesize %}, {{ item.imagesize }} px{% endif %})</small></a>
            </li>

        {% endfor %}
        </ul>

    {% endif %}

{% endif %}
