
{# content is 'editable' if either the user is the owner, or user is admin or higher #}
{% set editable = (user.username == content.username) or isallowed('editcontent:all') %}

<tr {% if content.status!='published' %}class="dim"{% endif %}>
    <td class='id hide-phone'>№ {{content.id}}</td>
    <td class='excerpt {% if not compact %}large{% endif %}'><span>
        <strong class="show-phone">№ {{content.id}}. </strong>
        <strong>
            {% if editable %}
            <a href="{{ path('editcontent', { 'contenttypeslug': content.contenttype.slug, 'id': content.id }) }}" title="Slug: {{ content.slug }}">
                {{content.getTitle}}
            </a>
            {% else %}
            <strong>
                {{content.getTitle}}
            </strong>
            {% endif %}
        </strong>
        {{ content.excerpt(excerptlength) }}
                    </span></td>
    <td class='listthumb'>
        {% if content.getImage is not empty %}
            {{content.getImage|fancybox(thumbsize, thumbsize*0.75, 'c')}}
        {% endif %}
    </td>
    {% if not compact %}
    <td class='username hide-phone'>
        <i class="icon-user"></i> {% if users[content.username] is defined %}{{ users[content.username].displayname }}{% else %}<s>{{ content.username }}</s>{% endif %}<br>
        {% if content.status=="timed" %}
            <i class="icon-time"></i> <time class="moment" datetime="{{ content.datepublish|date("c") }}" title="{{ content.datepublish }}">{{ content.datepublish }}</time><br>
        {% else %}
            <i class="icon-calendar"></i> {{ content.datepublish|date('d/m/Y') }}<br>
        {% endif %}

        {% if content.sortorder is defined and content.sortorder is not sameas(false) %}
            <i class="icon-sort"></i> {{ __('Order: %sort%',{'%sort%': content.sortorder}) }} <br>
        {% endif %}
    </td>
    {% endif %}
    <td class='actions'>
        <div class="btn-group">
            {% if editable %}
            <button class="btn btn-mini uselink">
                <a href="{{ path('editcontent', { 'contenttypeslug': content.contenttype.slug, 'id': content.id }) }}">
                <i class="icon-edit"></i> {{ __('Edit') }}</a>
            </button>
            {% endif %}
            <button class="btn dropdown-toggle btn-mini" data-toggle="dropdown">
                <i class="icon-info-sign"></i>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right">
            {% if content.status == "published" %}
                <li><a href="{{ content.link }}" target="_blank">
                    <i class="icon-external-link"></i> {{ __('View on site') }}</a></li>
            {% endif %}
            {% if editable %}
                {% if content.status != "published" %}
                    <li><a href="{{ path('contentaction', { 'action': 'publish', 'contenttypeslug': content.contenttype.slug,  'id': content.id }) }}">
                        <i class="icon-star-empty"></i> {{ __('Publish %contenttype%',{'%contenttype%':content.contenttype.singular_name}) }}</a></li>
                {% else %}
                    <li><a href="{{ path('contentaction', { 'action': 'held', 'contenttypeslug': content.contenttype.slug,  'id': content.id }) }}">
                        <i class="icon-star"></i> {{ __("Change status to 'held'") }}</a></li>
                    <li><a href="{{ path('contentaction', { 'action': 'draft', 'contenttypeslug': content.contenttype.slug,  'id': content.id }) }}">
                        <i class="icon-pencil"></i> {{ __("Change status to 'draft'") }}</a></li>
                {% endif %}
                <li><a href="{{ path('editcontent', { 'contenttypeslug': content.contenttype.slug, 'id': content.id, 'duplicate': 1 }) }}">
                    <i class="icon-copy"></i> {{ __('Duplicate %contenttype%', {'%contenttype%': content.contenttype.singular_name}) }}</a></li>
                <li><a href="{{ path('contentaction', { 'action': 'delete', 'contenttypeslug': content.contenttype.slug, 'id': content.id, token: token() }) }}"
                       data-confirm="Are you sure you want to delete '{{content.getTitle}}'?" class="confirm">
                    <i class="icon-trash"></i> {{ __('Delete %contenttype%',{'%contenttype%': content.contenttype.singular_name}) }}</a></li>
                <li class="divider"></li>
            {% endif %}
                <li><a class="nolink">{{__('Author:') }} <strong><i class="icon-user"></i>
                    {% if users[content.username] is defined %}{{ users[content.username].displayname|trimtext(20) }}{% else %}
                        <s>{{ content.username|trimtext(20) }}</s>{% endif %}</strong></a></li>
                <li><a class="nolink">{{ __('Current status:') }}
                    <strong>{{ content.status }}</strong></a></li>
                <li><a class="nolink">{{ __('Slug:') }}
                    <code title="{{ content.slug }}">{{ content.slug|trimtext(24) }}</code></a></li>
                <li><a class="nolink">{{ __('Created on:') }}
                    <i class="icon-asterisk"></i> {{ content.datecreated|date("Y-m-d H:i") }}</a></li>
                <li><a class="nolink">{{ __('Published on:') }}
                    <i class="icon-calendar"></i> {{ content.datepublish|date("Y-m-d H:i") }}</a></li>
                <li><a class="nolink">{{ __('Last edited on:') }}
                    <i class="icon-refresh"></i> {{ content.datechanged|date("Y-m-d H:i") }}</a></li>
                {% for taxonomyslug, values in content.taxonomy %}
                    {% if values|length > 1 %}
                        <li><a class="nolink">{{ config.taxonomy[taxonomyslug].name }}:
                            <i class="icon-tag"></i> {{ values|join(", ")|trimtext(24) }}</a></li>
                    {% else %}
                        <li><a class="nolink">{{ config.taxonomy[taxonomyslug].singular_name }}:
                            <i class="icon-tag"></i> {{ values|first|trimtext(24) }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

    </td>
</tr>
