<div class="sidebar-collapse">
    <ul class="nav" id="side-menu">
        {% if app.session.get('user') is not null %}

            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                </div>
                <!-- /input-group -->
            </li>

            {# Link to Dashboard  #}
            <li class="{% if active in ['', 'dashboard'] %}active {% endif %}"><a href="{{ path('dashboard') }}">
                <i class="fa fa-dashboard"></i> {{ __('Dashboard') }}</a></li>

            {# Menu with Contenttypes where showinmenu is set true #}
            {% for slug, contenttype in app.config.get('contenttypes') %}
                {% if isallowed('contenttype:' ~ slug) and contenttype.showinmenu %}
                    <li class="{% if content.contenttype.slug==slug %}active {% endif %}dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="{% if contenttype.icon %}fa {{ contenttype.icon }}{% else %}fa fa-th-list{% endif %}"></i> {{ __(contenttype.name) }} <span class="fa arrow"></span>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            {% setcontent entries = slug where { status: 'published' } %}
                            {% set lastgroup = "----" %}
                            {% for entry in entries %}
                                {# If we have 'grouping', print the row with the groupname.. #}
                                {% if loop.first or entry.group.name != lastgroup %}
                                    {% if entry.group.name  %}
                                        {% if not loop.first %}<li class="divider"></li>{% endif %}
                                        <li class="nav-header">{{ entry.group.name }}</li>
                                    {% endif %}
                                {% endif %}
                                {% if entry.taxonomy %}
                                    <li>
                                        <a href="{% if contenttype.relationview %}{{ path('relatedto', { 'contenttypeslug': slug, 'id': entry.id }) }}{% else %}{{ path('editcontent', { 'contenttypeslug': slug, 'id': entry.id }) }}{% endif %}"><i class="{% if contenttype.icon %}fa {{ contenttype.icon }}{% else %}fa fa-square{% endif %}"></i> {% if entry.title|length > 15 %}{{ entry.title|slice(0, 15) }}…{% else %}{{ entry.title }}{% endif %}</a>
                                    </li>
                                {% endif %}
                                {% if entry.group.name is defined and (loop.first or entry.group.name != lastgroup) %}
                                    {% set lastgroup = entry.group.name %}
                                {% endif %}
                            {% endfor %}

                            <li class="divider"></li>
                            <li><a href="{{ path('overview', { 'contenttypeslug': slug }) }}">
                                    <i class="fa fa-th-list"></i> {{ __('View %contenttypes%', {'%contenttypes%': contenttype.name}) }}</a></li>
                            {% if isallowed('contenttype:' ~ slug ~ ':create') %}
                                <li><a href="{{ path('editcontent', { 'contenttypeslug': slug, 'id': '' }) }}">
                                        <i class="fa fa-plus"></i> {{ __('New %contenttype%',{'%contenttype%': contenttype.singular_name}) }}</a></li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
            {% endfor %}

            {# Menu with all Contenttypes #}
            <li class="{% if active=='content' and not content.contenttype.showinmenu %}active {% endif %}dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-sitemap"></i> {{ __('Content') }} <span class="fa arrow"></span>
                </a>
                <ul class="dropdown-menu pull-right">
                    {% for slug, contenttype in app.config.get('contenttypes') %}
                        {% if isallowed('contenttype:' ~ slug) and not contenttype.showinmenu %}
                            <li><a href="{{ path('overview', { 'contenttypeslug': slug }) }}">
                                <i class="{% if contenttype.icon %}fa {{ contenttype.icon }}{% else %}fa fa-th-list{% endif %}"></i> {{ __('View %contenttypes%', {'%contenttypes%': contenttype.name}) }}</a></li>
                            {% if loop.length < 5 %}
                                {% if isallowed('contenttype:' ~ slug ~ ':create') %}
                                <li><a href="{{ path('editcontent', { 'contenttypeslug': slug, 'id': '' }) }}">
                                    <i class="fa fa-plus"></i> {{ __('New %contenttype%',{'%contenttype%': contenttype.singular_name}) }}</a></li>
                                {% endif %}
                                {% if not loop.last %}<li class="divider"></li>{% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                </ul>
            </li>

            {# Menu with all settings #}
            {% if isallowed('settings') %}
            <li class="{% if active=='settings' %}active {% endif %}dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cogs"></i> {{ __('Settings') }}
                    <span class="fa arrow"></span>
                </a>
                <ul class="dropdown-menu pull-right">
                    {% if isallowed('files:config') %}
                        <li class="nav-header">{{ __('Configuration') }}</li>
                        <li><a href="{{ path('users') }}"><i class="fa fa-group"></i> {{ __('Users') }}</a></li>
                        <li><a href="{{ path('fileedit', { 'file': 'app/config/config.yml'}) }}">
                            <i class="fa fa-cog"></i> {{ __('Configuration') }}</a></li>
                        <li><a href="{{ path('fileedit', { 'file': 'app/config/contenttypes.yml'}) }}">
                            <i class="fa fa-hdd-o"></i> {{ __('Contenttypes') }}</a></li>
                        <li><a href="{{ path('fileedit', { 'file': 'app/config/taxonomy.yml'}) }}">
                            <i class="fa fa-tags"></i> {{ __('Taxonomy') }}</a></li>
                        <li><a href="{{ path('fileedit', { 'file': 'app/config/menu.yml'}) }}">
                            <i class="fa fa-list"></i> {{ __('Menu setup') }}</a></li>
                        <li><a href="{{ path('fileedit', { 'file': 'app/config/routing.yml'}) }}">
                            <i class="fa fa-random"></i> {{ __('Routing setup') }}</a></li>
                        <li class="divider"></li>
                    {% endif %}

                    {% if app.extensions.hasMenuoptions %}
                        <li class="nav-header">{{ __('Extensions') }}</li>
                        {% for extension in app.extensions.getMenuoptions %}
                            <li>
                                <a href="{{ extension.path }}">
                                    <i class="{{ extension.icon|default('icon-expand') }}"></i>
                                    {{ extension.label }}
                                </a>
                            </li>
                        {% endfor %}
                        <li class="divider"></li>
                    {% endif %}
                    <li class="nav-header">{{ __('Maintenance') }}</li>
                    {% if isallowed('extensions') %}
                        <li><a href="{{ path('extensions') }}"><i class="fa fa-briefcase"></i> {{ __('Extensions') }}</a></li>
                    {% endif %}
                    {% if isallowed('dbupdate') %}
                        <li><a href="{{ path('dbcheck') }}"><i class="fa fa-wrench"></i> {{ __('Check database') }}</a></li>
                    {% endif %}
                    {% if isallowed('clearcache') %}
                        <li><a href="{{ path('clearcache') }}"><i class="fa fa-magic"></i> {{ __('Clear the cache') }}</a></li>
                    {% endif %}
                    {% if isallowed('activitylog') %}
                        <li><a href="{{ path('activitylog') }}"><i class="fa fa-file"></i> {{ __('Activity log') }}</a></li>
                    {% endif %}
                    <li class="divider"></li>
                    <li class="nav-header">{{ __('File Management') }}</li>
                    {% if isallowed('files:theme') %}
                        <li><a href="{{ path('files', { 'path': 'theme' }) }}"><i class="fa fa-desktop"></i> {{ __('View / edit Templates') }}</a></li>
                    {% endif %}
                    {% if isallowed('files:uploads') %}
                        <li><a href="{{ path('files', { 'path': 'files'}) }}"><i class="fa fa-folder-open"></i> {{ __('Uploaded files') }}</a></li>
                    {% endif %}
                    {% if isallowed('translation') %}
                    <li class="divider"></li>
                    <li class="nav-header">{{ __('Translations') }}</li>
                        <li><a href="{{ path('translation', { 'domain': 'messages' }) }}"><i class="fa fa-flag"></i> {{ __('Messages') }}</a></li>
                        <li><a href="{{ path('translation', { 'domain': 'infos'}) }}"><i class="fa fa-flag"></i> {{ __('Long messages') }}</a></li>
                        <li><a href="{{ path('translation', { 'domain': 'contenttypes'}) }}"><i class="fa fa-flag"></i> {{ __('Contenttypes') }}</a></li>
                    {% endif %}

                </ul>
            </li>
            {% endif %}

        {% else %}

            <li class="divider-vertical"></li>

            {# View site #}
            <li>
                <a href="{{ paths.root }}" target="_blank"><i class="fa fa-external-link"></i> {{ __('View site') }}</a>
            </li>

            <li class="divider-vertical"></li>

            {# Login #}
            <li>
                <a href="{{ path('login') }}"><i class="fa fa-signin"></i> {{ __('Login') }}</a>
            </li>
        {% endif %}
    </ul>
    <!-- /#side-menu -->
</div>
<!-- /.sidebar-collapse -->
