{% import '_macro.twig' as macro %}

<div class="sidebar-collapse">
    <ul class="nav" id="side-menu">
        {% if app.session.get('user') is not null %}

            {# one omnisearch here, for "extra small", the other in the header-navbar #}
            <li class="sidebar-search">
                <form class="navbar-form visible-xs" role="search">
                    <div class="form-group has-feedback">
                        <label class="control-label" for="inputSuccess4">Omnisearch…</label>
                        <input type="text" class="form-control" placeholder="Omnisearch…" >
                        <span class="fa fa-search form-control-feedback"></span>
                    </div>
                </form>
            </li>

            {# Link to Dashboard  #}
            <li class="{% if active in ['', 'dashboard'] %}active {% endif %}"><a href="{{ path('dashboard') }}">
                <i class="fa fa-dashboard"></i> {{ __('Dashboard') }}</a></li>

            {% for slug, contenttype in app.config.get('contenttypes') %}
                {% if isallowed('contenttype:' ~ slug) and contenttype.show_in_menu %}
                    {% set title = { icon: contenttype.icon|default('th-list'), label: contenttype.name } %}
                    {% set sub = [
                    { icon: 'group', label: __('Users'), link: path('users'), isallowed: 'fileedit' },
                    { icon: 'cog', label: __('Configuration'), link: path('fileedit', { 'file': 'app/config/config.yml'}), isallowed: 'fileedit' },
                    { icon: 'hdd-o', label: __('Contenttypes'), link: path('fileedit', { 'file': 'app/config/contenttypes.yml'}), isallowed: 'fileedit' },
                    { icon: 'tags', label: __('Taxonomy'), link: path('fileedit', { 'file': 'app/config/taxonomy.yml'}), isallowed: 'fileedit' },
                    '-',
                    { icon: 'list', label: __('Menu setup'), link: path('fileedit', { 'file': 'app/config/menu.yml'}), isallowed: 'fileedit' },
                    { icon: 'random', label: __('Routing setup'), link: path('fileedit', { 'file': 'app/config/routing.yml'}), isallowed: 'fileedit' }
                    ] %}

                    {{ macro.sidebarblock(title, sub) }}
                {% endif %}
            {% endfor %}
            <hr>

            {# Menu with Contenttypes where show_in_menu is set true #}
            {% for slug, contenttype in app.config.get('contenttypes') %}
                {% if isallowed('contenttype:' ~ slug) and contenttype.show_in_menu %}

                    <li class="{% if content.contenttype.slug==slug %}active {% endif %}dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="{% if contenttype.icon %}fa {{ contenttype.icon }}{% else %}fa fa-th-list{% endif %}"></i> {{ __(contenttype.name) }} <span class="fa arrow"></span>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            {% setcontent entries = slug where { status: 'published' } %}
                            {% set lastgroup = "----" %}
                            {% for entry in entries %}
                                {# If we have 'grouping', print the row with the groupname.. #}
                                {% if loop.first or entry.group.name != lastgroup %}
                                    {% if entry.group.name  %}
                                        {% if not loop.first %}<li class="divider"></li>{% endif %}
                                        <li class="nav-header">{{ entry.group.name }}</li>
                                    {% endif %}
                                {% endif %}
                                {% if entry.taxonomy %}
                                    <li>
                                        <a href="{% if contenttype.relationview %}{{ path('relatedto', { 'contenttypeslug': slug, 'id': entry.id }) }}{% else %}{{ path('editcontent', { 'contenttypeslug': slug, 'id': entry.id }) }}{% endif %}"><i class="{% if contenttype.icon %}fa {{ contenttype.icon }}{% else %}fa fa-square{% endif %}"></i> {% if entry.title|length > 15 %}{{ entry.title|slice(0, 15) }}…{% else %}{{ entry.title }}{% endif %}</a>
                                    </li>
                                {% endif %}
                                {% if entry.group.name is defined and (loop.first or entry.group.name != lastgroup) %}
                                    {% set lastgroup = entry.group.name %}
                                {% endif %}
                            {% endfor %}

                            <li class="divider"></li>
                            <li><a href="{{ path('overview', { 'contenttypeslug': slug }) }}">
                                    <i class="fa fa-th-list"></i> {{ __('View %contenttypes%', {'%contenttypes%': contenttype.name}) }}</a></li>
                            {% if isallowed('contenttype:' ~ slug ~ ':create') %}
                                <li><a href="{{ path('editcontent', { 'contenttypeslug': slug, 'id': '' }) }}">
                                        <i class="fa fa-plus"></i> {{ __('New %contenttype%',{'%contenttype%': contenttype.singular_name}) }}</a></li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
            {% endfor %}

            {# Menu with all Contenttypes #}
            <li class="{% if active=='content' and not content.contenttype.show_in_menu %}active {% endif %}dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-sitemap"></i> {{ __('Content') }} <span class="fa arrow"></span>
                </a>
                <ul class="dropdown-menu pull-right">
                    {% for slug, contenttype in app.config.get('contenttypes') %}
                        {% if isallowed('contenttype:' ~ slug) and not contenttype.show_in_menu %}
                            <li><a href="{{ path('overview', { 'contenttypeslug': slug }) }}">
                                <i class="{% if contenttype.icon %}fa {{ contenttype.icon }}{% else %}fa fa-th-list{% endif %}"></i> {{ __('View %contenttypes%', {'%contenttypes%': contenttype.name}) }}</a></li>
                            {% if loop.length < 5 %}
                                {% if isallowed('contenttype:' ~ slug ~ ':create') %}
                                <li><a href="{{ path('editcontent', { 'contenttypeslug': slug, 'id': '' }) }}">
                                    <i class="fa fa-plus"></i> {{ __('New %contenttype%',{'%contenttype%': contenttype.singular_name}) }}</a></li>
                                {% endif %}
                                {% if not loop.last %}<li class="divider"></li>{% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                </ul>
            </li>

            {# Menu with all settings #}
            {% if isallowed('settings') %}


            <span><i class="fa fa-cogs"></i> {{ __('Settings') }}</span>

            {% set title = { icon: 'cogs', label: __('Configuration') } %}
            {% set sub = [
                { icon: 'group', label: __('Users'), link: path('users'), isallowed: 'fileedit' },
                { icon: 'cog', label: __('Configuration'), link: path('fileedit', { 'file': 'app/config/config.yml'}), isallowed: 'fileedit' },
                { icon: 'hdd-o', label: __('Contenttypes'), link: path('fileedit', { 'file': 'app/config/contenttypes.yml'}), isallowed: 'fileedit' },
                { icon: 'tags', label: __('Taxonomy'), link: path('fileedit', { 'file': 'app/config/taxonomy.yml'}), isallowed: 'fileedit' },
                '-',
                { icon: 'list', label: __('Menu setup'), link: path('fileedit', { 'file': 'app/config/menu.yml'}), isallowed: 'fileedit' },
                { icon: 'random', label: __('Routing setup'), link: path('fileedit', { 'file': 'app/config/routing.yml'}), isallowed: 'fileedit' }
            ] %}

            {{ macro.sidebarblock(title, sub) }}

            {% if app.extensions.hasMenuoptions %}
                {% set title = { icon: 'cogs', label: __('Extensions') } %}
                {% set sub = [] %}
                {% for extension in app.extensions.getMenuoptions %}
                    {% set sub = sub|merge([{ icon: extension.icon|default('icon-expand'), label: extension.label, link: extension.path }]) %}
                {% endfor %}
                {{ macro.sidebarblock(title, sub) }}
            {% endif %}

            {% set title = { icon: 'cogs', label: __('Maintenance') } %}
            {% set sub = [
                { icon: 'briefcase', label: __('Extensions'), link: path('extensions'), isallowed: 'extensions' },
                { icon: 'wrench', label: __('Check database'), link: path('dbcheck'), isallowed: 'dbupdate' },
                { icon: 'magic', label: __('Clear the cache'), link: path('clearcache'), isallowed: 'clearcache' },
                { icon: 'file', label: __('Activity log'), link: path('activitylog'), isallowed: 'activitylog' }

            ] %}

            {{ macro.sidebarblock(title, sub) }}

            {% set title = { icon: 'folder-open', label: __('File Management') } %}
            {% set sub = [
                { icon: 'desktop', label: __('Extensions'), link: path('files', { 'path': 'theme' }), isallowed: 'files:theme' },
                { icon: 'folder-open', label: __('Uploaded files'), link: path('files', { 'path': 'files'}), isallowed: 'files:uploads' }
            ] %}

            {{ macro.sidebarblock(title, sub) }}

            {% set title = { icon: 'flag', label: __('Translations') } %}
            {% set sub = [
                { icon: 'flag', label: __('Messages'), link: path('translation', { 'domain': 'messages' }), isallowed: 'translation' },
                { icon: 'flag', label: __('Long messages'), link: path('translation', { 'domain': 'infos' }), isallowed: 'translation' },
                { icon: 'flag', label: __('Contenttypes'), link: path('translation', { 'domain': 'contenttypes' }), isallowed: 'translation' }
            ] %}

            {{ macro.sidebarblock(title, sub) }}

            {% endif %}

            <hr>
            <li class="">
                <a href="#" data-action="sidebar.collapse()" id="sidebar-collapse">
                    <i class="fa fa-compress"></i> {{ __('Collapse sidebar') }}
                </a>
            </li>
            <li class="">
                <a href="#" data-action="sidebar.expand()" id="sidebar-expand">
                    <i class="fa fa-expand"></i> {{ __('Expand sidebar') }}
                </a>
            </li>

        {% else %}

            <li class="divider-vertical"></li>

            {# View site #}
            <li>
                <a href="{{ paths.root }}" target="_blank"><i class="fa fa-external-link"></i> {{ __('View site') }}</a>
            </li>

            <li class="divider-vertical"></li>

            {# Login #}
            <li>
                <a href="{{ path('login') }}"><i class="fa fa-signin"></i> {{ __('Login') }}</a>
            </li>
        {% endif %}
    </ul>
    <!-- /#side-menu -->
</div>
<!-- /.sidebar-collapse -->
