
{% for key, field in contenttype.fields %}



{# --------------- text --------------- #}

{% if field.type == "text" %}
<label><b>{% if field.label is defined %}{{field.label}}{% else %}{{ key|ucfirst}}{%endif%}</b></label>
<input type="text" name="{{key}}" id="{{key}}"
    value='{{ content.get(key) }}'
    class='{% if field.class is defined %}{{ field.class }}{% endif %}'>
{% endif %}


{# --------------- text --------------- #}

{% if field.type == "number" %}
    <label><b>{% if field.label is defined %}{{field.label}}{% else %}{{ key|ucfirst}}{%endif%}</b></label>
    <input type="number" name="{{key}}" id="{{key}}" step="0.000000001"
           value='{{ 0 + content.get(key) }}'
           class='{% if field.class is defined %}{{ field.class }}{% endif %}'>
{% endif %}


    {# --------------- slug --------------- #}
    
{% if field.type == "slug" %}
<label class='permalink'>Permalink: <tt>/{{ content.contenttype.singular_slug }}/<span id='show-{{key}}'>{{ content.get(key) }}</span></tt>
    <input type="text" name="{{key}}"  id="{{key}}" value='{{ content.get(key) }}' class='editslug'>
</label>


{% if field.uses is defined %}
<script type="text/javascript">
    var path = "{{ paths.bolt }}";
    makeUri('{{ content.contenttype.slug }}', '{{ content.id }}', '{{ field.uses }}', '{{key}}', false);
</script>
{% endif %}

{% endif %}

{# --------------- templateselect --------------- #}

{% if field.type == "templateselect" %}
    <select name="{{key}}" id="{{key}}">
        <option value="">Default template</option>
        <option value="" disabled>-----------</option>
        {% for filename, name in listtemplates(field.filter) %}
            <option value="{{filename}}" {% if content.get(key)==filename %}selected{% endif %}>{{name}}</option>        
        {% endfor %}
    </select>
{% endif %}

{# --------------- image --------------- #}

{% if field.type == "image" %}
<div class="dropzone" id="dropzone-{{key}}">

    <div class="image-right">
        <div class='imageholder' id="thumbnail-{{key}}">
            {% if content.get(key)!="" %}
            <img src="{{ content.get(key)|thumbnail(120, 120, 'c') }}" width="120" height="120">
            {% endif %}
        </div>
    </div>
    <div class="image-container">

        <label><b>{% if field.label is defined %}{{field.label}}{% else %}{{ key|ucfirst}}{%endif%}</b></label>

        <input type="text" name="{{key}}" id="field-{{key}}"
            value='{{ content.get(key) }}'
            class='{% if field.class is defined %}{{ field.class }}{% endif %} imageinput'>

<!-- The fileinput-button span is used to style the file input field as button -->
        <span class="btn btn-info fileinput-button">
            <i class="icon-upload"></i>
            <span>Upload Image</span>
            <input id="fileupload-{{key}}" type="file" name="files[]" data-url="/app/classes/upload/" multiple>
        </span>
        <div class="progress progress-striped active" id="progress-{{key}}">
            <div class="bar" style="width: 0%;"></div>
        </div>
        <div style="clear: left;" /><small>Use the button to upload a file. To select a previously uploaded file, you can <br />type (part) of the filename in the input area, and it will be autocompleted.</small></div>
        
<script type="text/javascript">
bindFileUpload('{{key}}');

$("#field-{{key}}").autocomplete({
    source: "{{ paths.bolt }}/filesautocomplete",
    minLength: 2,
    close: function(){ $('#thumbnail-{{key}}').html("<img src='/thumbs/120x120c/"+encodeURI( $('#field-{{key}}').val() )+"' width='120' height='120'>"); }
});


</script>

    </div>
</div>
{% endif %}



{# --------------- file --------------- #}

{% if field.type == "file" %}
<div class="dropzone" id="dropzone-{{key}}">

    <div class="image-container">

        <label><b>{% if field.label is defined %}{{field.label}}{% else %}{{ key|ucfirst}}{%endif%}</b></label>

        <input type="text" name="{{key}}" id="field-{{key}}"
            value='{{ content.get(key) }}'
            class='{% if field.class is defined %}{{ field.class }}{% endif %} imageinput'>

<!-- The fileinput-button span is used to style the file input field as button -->
        <span class="btn btn-info fileinput-button">
            <i class="icon-upload"></i>
            <span>Upload File</span>
            <input id="fileupload-{{key}}" type="file" name="files[]" data-url="/app/classes/upload/" multiple>
        </span>
        <div class="progress progress-striped active" id="progress-{{key}}">
            <div class="bar" style="width: 0%;"></div>
        </div>
        <div style="clear: left;" /><small>Use the button to upload a file. To select a previously uploaded file, you can <br />type (part) of the filename in the input area, and it will be autocompleted.</small></div>
        
<script type="text/javascript">
bindFileUpload('{{key}}');

$("#field-{{key}}").autocomplete({
    source: "{{ paths.bolt }}/filesautocomplete?ext={{ field.extensions|join(',') }}",
    minLength: 2
});


</script>

    </div>
</div>
{% endif %}


        
{# --------------- html --------------- #}

{% if field.type == "html" %}
<label><b>{% if field.label is defined %}{{field.label}}{% else %}{{ key|ucfirst}}{%endif%}</b></label>
<textarea name="{{key}}" class='{% if field.class is defined %}{{ field.class }}{% endif %} redactor'
    style='{% if field.height is defined %}height: {{ field.height }} !important;{% endif %}'>
    {% if content.get(key) is defined %}{{ content.get(key) }}{% endif %}
</textarea>
{% endif %}
        
{# --------------- textarea --------------- #}

{% if field.type == "textarea" %}
<label><b>{% if field.label is defined %}{{field.label}}{% else %}{{ key|ucfirst}}{%endif%}</b></label>
<textarea name="{{key}}" class='{% if field.class is defined %}{{ field.class }}{% endif %}'
    style='{% if field.height is defined %}height: {{ field.height }} !important;{% endif %}'>
    {% if content.get(key) is defined %}{{ content.get(key) }}{% endif %}
</textarea>
{% endif %}
                
        
{# --------------- date --------------- #}
                
{% if field.type == "date" %}
<label><b>{% if field.label is defined %}{{field.label}}{% else %}{{ key|ucfirst}}{%endif%}</b></label>
<input type="text" name="{{key}}-dateformatted" id="{{key}}-date" 
    value='{% if content.get(key) %}{{ content.get(key)|date('l, d F Y') }}{% endif %}'
    class='{% if field.class is defined %}{{ field.class }}{% endif %} datepicker'>
{% endif %}         


{# --------------- datetime --------------- #}
        
{% if field.type == "datetime" %}
<label><b>{% if field.label is defined %}{{field.label}}{% else %}{{ key|ucfirst}}{%endif%}</b></label>
<input type="text" name="{{key}}-dateformatted" id="{{key}}-date" 
    value='{% if content.get(key) %}{{ content.get(key)|date('l, d F Y') }}{% endif %}'
    class='{% if field.class is defined %}{{ field.class }}{% endif %} datepicker'>
<input type="text" name="{{key}}-timeformatted" id="{{key}}-time" 
    value='{% if content.get(key) %}{{ content.get(key)|date('H:i') }}{% endif %}'
    class='{% if field.class is defined %}{{ field.class }}{% endif %} timepicker'>      
{% endif %}         


{# --------------- divider --------------- #}

{% if field.type == "divider" %}
{% if field.line is defined %}<hr>{%endif%}
{% if field.label is defined %}<p><b>{{field.label}}</b></p>{%endif%}
{% endif %}
   

{% endfor %}
  
