{% include '_header.twig' with { 'active':'settings' } %}


<h1><strong>{{title}}</strong></h1>

<div class="btn-group" style='padding-bottom: 12px'>
    <a class="btn" href="{{ path('activitylog', { 'action': 'trim' }) }}">
        <i class="icon-trash"></i> {{ __('Trim Activitylog') }}
    </a>
    <a class="btn confirm" href="{{ path('activitylog', { 'action': 'clear' }) }}" data-confirm="Are you sure you want to clear the activity logs?">
        <i class="icon-trash"></i> {{ __('Clear Activitylog') }}
    </a>
</div>

<table class="dashboardlisting">
    <tbody>
    {% for log in activity %}
    <tr>
        <td>
            № {{ log.id }}<br>Lvl {{ log.level }}
        </td>
        <td>
            <b>{{ log.message }} / {{ log.code }}</b> <br>
            in: {{ log.file }}::{{ log.line }} ({{ log.route }})
        </td>
        <td>
        {{ log.username }} <br>
            {{ log.ip }}
        </td>
        <td>
            <time class="moment" datetime="{{ log.date|date("c") }}" title="{{ log.date }}">{{ log.date }}</time>
        </td>
    </tr>

    {% endfor %}
    </tbody>

</table>

{{ pager() }}


{% include '_footer.twig' %}
