{% include '_header.twig' %}


<h1>{{title}}</h1>

{% autoescape false %}
    {{content}}
{% endautoescape %}

    {% if form|default(null) %}
    <style>
        {# http://stackoverflow.com/questions/306252/how-to-align-checkboxes-and-their-labels-consistently-cross-browsers #}
        label {
            display: block;
            padding-left: 15px;
            text-indent: -15px;
        }
        input {
            width: 13px;
            height: 13px;
            padding: 0 4px;
            margin:0;
            vertical-align: bottom;
            position: relative;
            top: -1px;
            *overflow: hidden;
        }
    </style>
    <form method="post" id="prefill" class="form-horizontal">
        <div class="control-group">

        <div id="form">
            <div class="control-group">
                <div class="info">{{ app.translator.trans('prefill.short_help',{},'infos')|raw }}</div>
                <div id="form_contenttypes">
                    {% for key,ctype in contenttypes %}
                    <label><input type="checkbox" id="form_contenttypes_{{ loop.index0 }}" name="form[contenttypes][]" value="{{ key }}" />{{ ctype }}</label>
                    {% endfor %}
                </div>
            </div>
        </div>
        {{ form_widget(form._token) }}
        <div class="form-actions">
        <button type="submit" class="btn btn-primary" ><i class="icon-flag"></i> {{ __('Prefill') }}</button>
        </div>
    </form>
    {% endif %}


{% include '_footer.twig' %}