{% import '_sub_pretty.twig' as pretty %}
{% include '_header.twig' %}

{% from _self import details_link %}
<div class="row-fluid">
    <div class="span9">
        <h1><strong>Change Log</strong> » {{ content.title }}</h1>
        <ul>
        {% for entry in entries %}
            <li>
                <a href="{{ path('changelogdetails', { 'contenttype': contenttype, 'contentid': content.id, 'id': entry.id }) }}">
                {{ pretty.changelogmutation(entry.mutation_type) }} by
                {{ entry.username }}
                {{ pretty.datetime(entry.date) }}
                </a>
            </li>
        {% endfor %}
        </ul>
        <a href="{{ path('editcontent', { 'contenttypeslug': contenttype, 'id': content.id }) }}">
            back to editing
        </a>
    </div>
</div>

{% include '_footer.twig' %}

