{% import '_sub_pretty.twig' as pretty %}
{% include '_header.twig' %}

<div class="row-fluid">
    <div class="span9">
        <h1><strong>Change Log</strong> » {{ entry.title }}</h1>
        <p class="pager-inline">
            {% if prevEntry %}
            <a class="pager-back" href="{{ path('changelogdetails', { 'contenttype': contenttype, 'contentid': content.id, 'id': prevEntry.id }) }}">
                « previous change
            </a>
            {% else %}
            <span class="pager-back">at first change</span>
            {% endif %}
            <a class="pager-middle" href="{{ path('changeloglist', { 'contenttype': contenttype, 'contentid': content.id }) }}">
                show all changes
            </a>
            {% if nextEntry %}
            <a class="pager-forward" href="{{ path('changelogdetails', { 'contenttype': contenttype, 'contentid': content.id, 'id': nextEntry.id }) }}">
                next change »
            </a>
            {% else %}
            <span class="pager-forward">at last change</span>
            {% endif %}
        </p>
        <h3>{{ pretty.changelogmutation(entry.effectiveMutationType) }} {{ pretty.datetime(entry.date) }} by {{ entry.username }}</h3>
        <table class="table table-bordered table-condensed table-full-width">
            <thead>
            <tr><th>field</th><th>old value</th><th>new value</th></tr>
            </thead>
            <tbody>
            {% for key, fieldDiff in entry.parsedDiff %}
            <tr>
                <td>{{ key }}</td>
                <td class="source-code">{{ fieldDiff[0] }}</td>
                <td class="source-code">{{ fieldDiff[1] }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% include '_footer.twig' %}


