
<section class="news">
    <h2>{{ __('Latest activity') }}</h2>
    <ul class='activity'>
{% for log in activity %}
    {% set username = 'unknown' %}
    {% if attribute(users, log.username) is defined %}
        {% set username = attribute(users, log.username).displayname %}
    {% endif %}
    <li>
        {%  if log.code == "save content" %}
            Saved {{ app.config.contenttypes[log.contenttype].singular_name }}
            "<strong>{{ log.message }}</strong>" by <em>{{ username }}</em>
        {%  elseif log.code == "login" %}
            <em>{{ username }}</em> logged in
        {%  elseif log.code == "logout" %}
            <em>{{ username }}</em> logged out
        {%  elseif log.code == "fixme" %}
            <b>Fixme:</b> {{ log.message }}
        {%  elseif log.code == "user" %}
            <b>{{ log.message }}</b> by {{ username }}
        {%  else %}
            {{ log.message }}
        {%  endif %}
        <small>(<time class="moment" datetime="{{ log.date|date("c") }}" title="{{ log.date }}">{{ log.date }}</time>)</small>
    </li>
{%  endfor %}
    </ul>

    <p style='text-align: right;'><a href="{{ path('activitylog') }}">{{ __('more activity') }} »</a></p>

</section>

