{% include '_header.twig' %}

<div class="row-fluid">
    <div class="span8">

        <h1><strong>{{ __('Dashboard') }}</strong></h1>

{%  if suggestloripsum %}

    <div class="alert alert-info">
        <button class="close" data-dismiss="alert">×</button>
        {{ __("It seems there's no content in the database.") }}
        {% if isallowed('prefill') %}
        {{ __("To get started quickly, <a href='%url%'>add some Lorem Ipsum dummy content</a>.", {'%url%': path('prefill', {'force': 1}) }) }}
        {% endif %}
    </div>

{%  endif %}

    <div class="quicklinks">
    {% if app.config.get('contenttypes')|length() > 3 %}
        <div class="btn-group">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            {{ __('Add …') }}
            <span class="caret"></span>
          </a>
        <ul class="dropdown-menu">
            {% for contenttypeslug, contenttype in app.config.get('contenttypes') %}
            {% if isallowed('contenttype:' ~ contenttypeslug ~ ':create') %}
            <li><a href="{{ path('editcontent', { 'contenttypeslug': contenttypeslug, 'id': '' }) }}">
                <i class="icon-plus"></i> {{ __('New %contenttype%', {'%contenttype%': contenttype.singular_name}) }}
            </a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% else %}
        <div class="btn-group">
        {% for contenttypeslug, contenttype in app.config.get('contenttypes') %}
            {% if isallowed('contenttype:' ~ contenttypeslug ~ ':create') %}
            <a class="btn" href="{{ path('editcontent', { 'contenttypeslug': contenttypeslug, 'id': '' }) }}">
                <i class="icon-plus"></i> {{ __('New %contenttype%', {'%contenttype%': contenttype.singular_name}) }}
            </a>
            {% endif %}
        {% endfor %}
        </div>
    {% endif %}
    </div>

    {% for contenttype, multiplecontent in latest %}

        {% if multiplecontent %}

            <h3>
                <span>
                    <a href="{{ path('overview', { 'contenttypeslug': contenttype }) }}" class='morelink'>
                        {{ __('More %contenttypes% »',{'%contenttypes%': app.config.get('contenttypes')[contenttype].name}) }}
                    </a>
                </span>
                {{ __('Recently edited %contenttypes%', {'%contenttypes%': app.config.get('contenttypes')[contenttype].name}) }}
            </h3>

            <table class='dashboardlisting'>
                {% for content in multiplecontent %}

                    {% set editable = isallowed('edit', content) %}
                    {% include ['custom/listing/'~content.contenttype.slug~'.twig', '_sub_listing.twig'] with { 'excerptlength': 280, 'thumbsize': 54, 'compact': true } %}

                {% endfor %}
            </table>

        {% endif %}

    {% endfor %}


    </div><!-- /span8 -->

    <aside class="span4">


    <noscript>
        <section>
            <h2>{{ __("Javascript disabled") }}</h2>
            <p>{{ __("Javascript is currently disabled in your browser. Most functionality in Bolt will work without it, but for greater ease of use we recommend you enable Javascript in your browser.") }}</p>
        </section>
    </noscript>

    {{ render(path("dashboardnews")) }}

    {{ render(path("showstack", {'items': 7, 'options': 'full' } )) }}

    {{ widget('dashboard', 'right_first') }}

    <div id="latestactivity">
        {{ render(path("latestactivity")) }}
    </div>
    <div id="latesttemp" style="display:none; visibility: hidden;"><!-- intentionally left blank --></div>

    </aside><!-- /span4 -->
</div>


{% include '_footer.twig' %}
