
<section class="news">
    <h2>Latest activity</h2>

    <ul class='activity'>
{% for log in activity %}
    {% set username = attribute(users, log.username).displayname %}
    <li>
        {%  if log.code == "save content" %}
            Saved {{ log.contenttype }} "<strong>{{ log.message }}</strong>" by <em>{{ username }}</em>
        {%  elseif log.code == "login" %}
            <em>{{ username }}</em> logged in
        {%  elseif log.code == "logout" %}
            <em>{{ username }}</em> logged out
        {%  elseif log.code == "fixme" %}
            <b>Fixme:</b> {{ log.message }}
        {%  elseif log.code == "user" %}
            <b>{{ log.message }}</b> by {{ username }}
        {%  else %}
            Bork! {{ log.code }}
        {%  endif %}
        <small>(<span class="moment" data-timestamp="{{ log.date }}">{{ log.date }}</span>)</small>
    </li>

{%  endfor %}
    </ul>
</section>

