{% include '_header.twig' %}


<div class="row-fluid">
    <div class="span9">

        <h1>Pilex Dashboard</h1>

    <div class="quicklinks">
    {% for contenttypeslug, contenttype in app.config.contenttypes %}
        <a class="btn" href="{{ path('editcontent', { 'contenttypeslug': contenttypeslug, 'id': '' }) }}">New {{ contenttype.singular_name }}</a>    
    {% endfor %}
    </div>
    
    {% for contenttype, multiplecontent in latest %}
    
    <h3>Latest {{ contenttype }}. <span><a href="{{ path('overview', { 'contenttypeslug': contenttype }) }}" class='morelink'>more {{ contenttype }} » </a></span></h3>
    
    <table class='dashboardlisting'>
        {% for content in multiplecontent %}
        <tr class="{% if content.status!='published' %}dim{% endif %}">
            <td class='id'>№ {{content.id}}</td>
                   
            <td class='excerpt'><span> <strong><a href="{{ path('editcontent', { 'contenttypeslug': contenttype, 'id': content.id }) }}">{{content.title}}</a></strong> {{ excerpt(content, 180) }} </span></td>
            {% if content.image is defined %}
            <td class='listthumb'>
                {{content.image|shadowbox(54, 42, 'c')}}
            </td>
            {% endif %} 
            <td class='username'> {{ content.username }} <br> {{ content.datecreated|date('d/m/Y') }} </td>
    
        </tr>
    
        {% endfor %}
    
    </table>
    
    {% endfor %}
    
    
    </div><!-- /span9 -->
    <aside class="span3">

    <section>
    <h2>consectetur adipiscing elit</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Haec mihi videtur delicatior, ut ita dicam, molliorque ratio, quam virtutis vis gravitasque postulat. Ergo opifex plus sibi proponet ad formarum quam civis excellens ad factorum pulchritudinem? Hic Speusippus, hic Xenocrates, hic eius auditor Polemo, cuius illa ipsa sessio fuit, quam videmus. </p>
    </section>
    
    
    <section>
    <h2>Haec mihi videtur delicatior</h2>
    <p>Cuius ad naturam apta ratio vera illa et summa lex a philosophis dicitur. Non enim, si omnia non sequebatur, idcirco non erat ortus illinc. Duo Reges: constructio interrete. Non igitur bene. Vide, ne etiam menses!</p><p>nisi forte eum dicis, qui, simul atque arripuit, interficit. Sunt autem, qui dicant foedus esse quoddam sapientium, ut ne minus amicos quam se ipsos diligant. </p>
    </section>
    
    
    
    </aside>
</div> 
    

{% include '_footer.twig' %}