{% include '_header.twig' %}

<div class="row-fluid">
    <div class="span9">

        <h1>Dashboard</h1>

{%  if suggestloripsum %}

    <div class="alert alert-info">
        <button class="close" data-dismiss="alert">×</button>
        It seems there's no content in the database. To get started quickly, add some <a href="{{  path('prefill') }}">Lorem Ipsum dummy content</a>.
    </div>

{%  endif %}

    <div class="quicklinks">
    {% if app.config.contenttypes|length() > 3 %}
        <div class="btn-group">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            Add &hellip;
            <span class="caret"></span>
          </a>
        <ul class="dropdown-menu">
            {% for contenttypeslug, contenttype in app.config.contenttypes %}
            <li><a href="{{ path('editcontent', { 'contenttypeslug': contenttypeslug, 'id': '' }) }}">
                <i class="icon-plus"></i> New {{ contenttype.singular_name }}
            </a></li>
            {% endfor %}
        </ul>
    </div>
    {% else %}
        {% for contenttypeslug, contenttype in app.config.contenttypes %}
            <a class="btn" href="{{ path('editcontent', { 'contenttypeslug': contenttypeslug, 'id': '' }) }}">
                <i class="icon-plus"></i> New {{ contenttype.singular_name }}
            </a>    
        {% endfor %}
    {% endif %}
    </div>
    
    {% for contenttype, multiplecontent in latest %}
    
    {% if multiplecontent %}
    
        <h3>Latest {{ contenttype }}. <span><a href="{{ path('overview', { 'contenttypeslug': contenttype }) }}" 
            class='morelink'>more {{ contenttype }} » </a></span></h3>
    
        
        <table class='dashboardlisting'>
            {% for content in multiplecontent %}
            <tr class="{% if content.status!='published' %}dim{% endif %}">
                <td class='id hide-phone'>№ {{content.id}}</td>
                       
                <td class='excerpt'><span><strong class="show-phone">№ {{content.id}}. </strong>
                    <strong><a href="{{ path('editcontent', { 'contenttypeslug': contenttype, 'id': content.id }) }}">{{content.title}}{{content.name}}</a></strong>
                    {{ excerpt(content, 280) }} </span></td>
                {% if content.image is defined %}
                <td class='listthumb'>
                    {{content.image|shadowbox(54, 42, 'c')}}
                </td>
                {% endif %} 
    
                <td class='actions'>
                    <div class="btn-group">
                    <button class="btn btn-mini uselink"><a href="{{ path('editcontent', { 'contenttypeslug': contenttype, 'id': content.id }) }}">
                        <i class="icon-edit"></i> Edit</a></button>
                    <button class="btn dropdown-toggle btn-mini" data-toggle="dropdown">
                    <span class="caret"></span>
                    </button>
                    
                    <ul class="dropdown-menu pull-right">
                        {% if content.status != "depublished" and content.status != "draft" %}
                        <li><a href="{{ path('contentaction', { 'action': 'depublish', 'contenttypeslug': contenttype,  'id': content.id }) }}">
                            <i class="icon-star"></i> Change status to 'depublished'</a></li>
                        <li><a href="{{ path('contentaction', { 'action': 'draft', 'contenttypeslug': contenttype,  'id': content.id }) }}">
                            <i class="icon-pencil"></i> Change status to 'draft'</a></li>
                        {% endif %}
                        {% if content.status != "published" %}
                        <li><a href="{{ path('contentaction', { 'action': 'publish', 'contenttypeslug': contenttype,  'id': content.id }) }}">
                            <i class="icon-star-empty"></i> Change status to 'published'</a></li>
                        {% endif %}
                        <li><a href="{{ path('editcontent', { 'contenttypeslug': contenttype, 'id': content.id, 'duplicate': 1 }) }}">
                            <i class="icon-copy"></i> Duplicate {{app.config.contenttypes[contenttype].singular_name}}</a></li>
                           
                        <li><a href="{{ path('contentaction', { 'action': 'delete', 'contenttypeslug': contenttype, 'id': content.id, token: token() }) }}"
                            data-confirm="Are you sure you want to delete '{{content.title}}'?" class="confirm">
                            <i class="icon-trash"></i> Delete {{app.config.contenttypes[contenttype].singular_name}}</a></li>
                        <li class="divider"></li>
                        <li><a class="nolink">Author: <strong><i class="icon-user"></i>
                            {% if users[content.username] is defined %}{{ users[content.username].displayname }}{% else %}
                            <s>{{ content.username }}</s>{% endif %}</strong></a></li>
                        <li><a class="nolink">Current status: 
                            <strong>{{ content.status }}</strong></a></li>
                        <li><a class="nolink">Created on:
                            <strong><i class="icon-asterisk"></i> {{ content.datecreated|date("Y-m-d H:i") }}</strong></a></li>
                        <li><a class="nolink">Published on:
                            <strong><i class="icon-calendar"></i> {{ content.datepublish|date("Y-m-d H:i") }}</strong></a></li>
                        <li><a class="nolink">Last edited on:
                            <strong><i class="icon-refresh"></i> {{ content.datechanged|date("Y-m-d H:i") }}</strong></a></li>
                        {% for taxonomyslug, values in content.taxonomy %} 
                            {% if values|length > 1 %}
                                <li><a class="nolink">{{ config.taxonomy[taxonomyslug].name }}: <strong><i class="icon-tag"></i> {{ values|join(", ") }}</strong></a></li>
                            {% else %}
                                <li><a class="nolink">{{ config.taxonomy[taxonomyslug].singular_name }}: <strong><i class="icon-tag"></i> {{ values.0 }}</strong></a></li>
                            {% endif %}                            
                        {% endfor %}                         
                    </ul>
                    </div>
                
                </td>
        
            </tr>
        
            {% endfor %}
    
        </table>
    {% endif %}
    
    {% endfor %}
    
    
    </div><!-- /span9 -->
    <aside class="span3">

{{ render(path("dashboardnews")) }}

<div id="latestactivity">
    {{ render(path("latestactivity")) }}
</div>
<div id="latesttemp" style="display:none; visibility: hidden;">
</div>


    
    
    </aside>
</div> 
    

{% include '_footer.twig' %}
