{% extends 'base.twig' %}
{% block content %}
    {% if uptodate %}
        {{ __("Your database is already up to date.") }}
        <br><br><p><b>{{ __('Tip:') }}</b>
            {{ __('Add some sample <a href=\'%url%\' class=\'btn btn-small\'>Records with Loripsum text</a>', { '%url%' : path('prefill')}) }}
        </p>
    {% else %}
        <p>{{ __('Modifications needed:') }}</p>
        {% for item in required_modifications %}
            {{ item|raw }}<br/>
        {% endfor %}
        <br/><br/><p><a href="{{ path('dbupdate') }}" class="btn btn-primary">{{ __('Update the database') }}</a></p>
    {% endif %}
{% endblock %}
