{% extends 'base.twig' %}
{% block content %}
    {% if modifications is defined %}
        <h4>{{ __('Modifications made to the database:') }}</h4>
        <ul>
        {% for item in modifications %}
            <li>{{ item|tt }}</li>
        {% endfor %}
        </ul>
        <p>
            {{ __('Your database is now up to date.') }}
        </p>
        <form action="{{ path('dbcheck') }}" method="GET">
            <p>
                <button type="submit" class="btn btn-primary">{{ __('Check again') }}</button>
            </p>
        </form>
    {% elseif required_modifications %}
        <h4>{{ __('Modifications needed:') }}</h4>
        <ul>
        {% for item in required_modifications %}
            <li>{{ item|tt }}</li>
        {% endfor %}
        </ul>
        <form action="{{ path('dbupdate') }}" method="POST">
            <p>
                <button type="submit" class="btn btn-primary">{{ __('Update the database') }}</button>
            </p>
        </form>
    {% else %}
        {{ __("Your database is already up to date.") }}
        {% if isallowed('prefill') %}
        <br><br><p><b>{{ __('Tip:') }}</b>
        {{ __('Add some sample <a href=\'%url%\' class=\'btn btn-small\'>Records with Loripsum text</a>', { '%url%' : path('prefill')}) }}
        </p>
        {% endif %}
    {% endif %}
{% endblock %}
