<div id='bolt-nipple'></div>

<div id='bolt-debugbar'>      
    <ul>
        <li id='pd-bolt'><strong><a href="{{ path('dashboard') }}">Bolt {{bolt_version}}</a></strong><small>{% if bolt_name is defined %} - {{bolt_name}}{% endif %}</small></li>
        <li id='pd-variables'><a href="#" data-for="bolt-varpanel">{{timetaken}} s<span class='narrow'>ec / {{memtaken}}</span></a></li>
        {% if frontend and editlink!="" %}
{#        <li id='pd-edit'><a href="#" data-for="bolt-editpanel">Edit</a></li> #}
        <li id='pd-edit'><a href="{{ editlink }}" data-for="bolt-editpanel">Edit</a></li>
        {% endif %}

        <li id='pd-log'><a href="#" data-for="bolt-logpanel">Log<span class='narrow'> entries</span></a>
            <small>({{ log|length }})</small></li>
        <li id='pd-server'><a href="#" data-for="bolt-serverpanel"><span class='narrow'>bolt.localhost</span><span class='narrowonly'>srv</span></a> <small>({{ servervars.statuscode }})</small></li>
        <li id='pd-queries'>
            {% if querycount==0 %}
                No Q<span class='narrow'>ueries</span>
                {% elseif querycount==1 %}
                <a href="#" data-for="bolt-queriespanel">1 Q<span class='narrow'>uery</span></a> <small>({{querytime}} sec)</small>
            {% else %}
                <a href="#" data-for="bolt-queriespanel">{{querycount}} Q<span class='narrow'>ueries</span></a> <small>({{querytime}} sec)</small>
            {% endif %}</li>
    </ul>
</div>

{# TODO: make editable from frontend..
<div id='bolt-editpanel' class='bolt-debugpanel'> 
    <p>Click one of the highlighted fields, or <a href="{{editlink}}">Edit in the bolt backend</a>.
</div>
#}

<div id='bolt-varpanel' class='bolt-debugpanel'> 
<pre>
<strong>Time taken:</strong> {{timetaken}} sec. / <strong>Memory</strong> {{memtaken}}.

<strong>Used templates:</strong>
<pre>{% for template in templates %}
{{loop.index }}. {{template}}
{% endfor %}

<strong>Route:</strong> {{ route }}
<strong>Request URI:</strong> {{ servervars['server <small>($_SERVER)</small>']['REQUEST_URI'] }}
<strong>Parameters:</strong> {{ print(route_params) }}
</pre>
</div>


<div id='bolt-queriespanel' class='bolt-debugpanel'>
<pre>{% for query in queries %}
{{loop.index }}. {{ query.query}} <small>({{ query.duration }} sec.)</small>
{% endfor %}
</pre>
</div>

<div id='bolt-logpanel' class='bolt-debugpanel'>
<pre>{% for item in log %}
<span class='level-{{ item.level}}'>{{loop.index }}. <b>{{ item.message }}</b></span>
in: {{ item.file }}::{{ item.line }} <small>({% if item.username %}{{ item.username }} -{% endif %} {{ item.date|date("H:i:s") }})</small>
{% endfor %}
</pre>
</div>


<div id='bolt-serverpanel' class='bolt-debugpanel'>      
<pre>{% for key, var in servervars %}
<strong>{{key|raw}}:</strong>
{{ print(var) }}
{% endfor %}
</pre>
</div>

{% if frontend %}
<div class="redactor_air" id='editbar'>
    <ul class="redactor_toolbar">
        <li><a id='btn-save' class="btn_text" style="width: 40px;" title="Save" href="javascript:void(null);">Save</a></li>
        <li class="redactor_separator"></li>
        <li><a id='btn-bold' class="redactor_btn_bold" title="Bold" href="javascript:void(null);"></a></li>
        <li><a id='btn-italic' class="redactor_btn_italic" title="Italic" href="javascript:void(null);"></a></li>
        <li><a id='btn-link' class="redactor_btn_link" title="Link" href="javascript:void(null);"></a></li>
        <li class="redactor_separator"></li>
        <li><a id='btn-cancel' class="btn_text" style="width: 44px;" title="Cancel" href="javascript:void(null);">Cancel</a></li>
        <li><a id='btn-editbackend' class="btn_text" style="width: 90px;" title="Edit in backend" href="javascript:void(null);">Edit in backend</a></li>
    </ul>
</div>
{% endif %}

{% if frontend %}
<script type="text/javascript">!window.jQuery && document.write('<script src="{{ paths.app }}/view/js/jquery-1.8.2.min.js"><\/script>')</script>
{# <link rel='stylesheet' href='{{ paths.app }}/view/lib/redactor/redactor.css' /> #}
{% endif %}
<script src="{{ paths.app }}/view/js/debugbar.min.js"></script>
<link rel='stylesheet' href='{{ paths.app }}/view/css/debugbar.css' />
