{% include '_header.twig' with { 'active':'content' } %}

<div class="row-fluid">
    <div class="span9">

    <h1>{{ title|raw }}</h1>

    <form method="post" id="editcontent" enctype="multipart/form-data">

        {% include '_sub_editfields.twig' %}

        <hr>

        {% include '_sub_editrelations.twig' %}

        {% include '_sub_edittaxonomies.twig' %}

        <label><b><span class='left'>Id (№)</span></b>
        <input type='text' readonly=readonly name='id' value='{{ content.id }}' class="narrow">
        </label>

        <label><b><span class='left'>{{ __('Publication date:') }}</span></b>
        </label>
        <input type="text" name="datepublish-dateformatted" id="datepublish-date"
               value='{{ content.datepublish|date('l, d F Y') }}' class='datepicker'>
        <input type="text" name="datepublish-timeformatted" id="datepublish-time"
               value='{{ content.datepublish|date('H:i') }}' class='timepicker'>
        <input type="hidden" name="datepublish" id="datepublish" value="{{ content.datepublish }}">
        <script>
            $('#datepublish-date, #datepublish-time').on('change', function(){
                var date = $('#datepublish-date').datepicker("getDate");
                var time = $('#datepublish-time').val() + ":00";
                $('#datepublish').val($.datepicker.formatDate('yy-mm-dd', date)+" "+time);
            });
        </script>

        <label><b><span class='left'>{{ __('Depublication date:') }}</span></b>
        </label>
        <input type="text" name="datedepublish-dateformatted" id="datedepublish-date"
               value='{% if content.datedepublish > '1970-01-01 01:01:01' %}{{ content.datedepublish|date('l, d F Y') }}{% endif %}' class='datepicker'>
        <input type="text" name="datedepublish-timeformatted" id="datedepublish-time"
               value='{% if content.datedepublish > '1970-01-01 01:01:01' %}{{ content.datedepublish|date('H:i') }}{% endif %}' class='timepicker'>
        <input type="hidden" name="datedepublish" id="datedepublish" value="{{ content.datedepublish }}">
        <script>
            $('#datedepublish-date, #datedepublish-time').on('change', function(){
                var date = $('#datedepublish-date').datepicker("getDate");
                var time = $('#datedepublish-time').val() + ":00";
                $('#datedepublish').val($.datepicker.formatDate('yy-mm-dd', date)+" "+time);
            });
        </script>

        {% if content.datecreated > '1970-01-01 01:01:01' %}
        <p>{{ __('This %contenttype% was created', {'%contenttype%': contenttype.singular_name}) }}
            <time class="moment" datetime="{{ content.datecreated|date("c") }}" title="{{ content.datecreated }}">{{ content.datecreated }}</time>
            {{ __('and edited') }}
            <time class="moment" datetime="{{ content.datechanged|date("c") }}" title="{{ content.datechanged }}">{{ content.datechanged }}</time>.
            {% endif %}</p>

        <label><b><span class='left'>{{ __('Status:') }}</span></b>
        <select name="status">
            <option value="published" {% if content.status == "published" %}selected{% endif %}>Published</option>
            <option value="held" {% if content.status == "held" %}selected{% endif %}>Not published</option>
            <option value="timed" {% if content.status == "timed" %}selected{% endif %}>Timed publish</option>
            <option value="draft" {% if content.status == "draft" %}selected{% endif %}>Draft</option>

        </select>
        </label>

        <label><b><span class='left'>{{ __('Owner:') }}</span></b>
        <select name="username">
            {% for user in users %}
                <option value="{{ user.username }}" {% if user.username == contentowner %}selected{% endif %}>{{user.displayname}}</option>
            {% endfor %}
        </select>
        </label>

        <button type="submit" class="btn btn-primary" id="savebutton" style="margin-right: 8px;">
            <i class="icon-flag"></i> {{ __('Save %contenttype%',{'%contenttype%': contenttype.singular_name}) }}
        </button>

        <button type="button" class="btn btn-info" id="previewbutton">
            <i class="icon-external-link"></i> {{ __('Preview %contenttype%',{'%contenttype%': contenttype.singular_name}) }}
        </button>


    </form>

    </div><!-- /span9 -->
    <aside class="span3">

    <section>
    <h2>{{ __('Actions for this %contenttype%',{'%contenttype%': contenttype.singular_name}) }}</h2>

    <button type="submit" class="btn btn-primary" id="sidebarsavebutton" style="margin-right: 8px;">
        <i class="icon-flag"></i> {{ __('Save %contenttype%',{'%contenttype%': contenttype.singular_name}) }}
    </button>

    <button type="button" class="btn btn-info" id="sidebarpreviewbutton">
        <i class="icon-external-link"></i> {{ __('Preview') }}
    </button>

    <script>
        // Save the page..
        $('#sidebarsavebutton').bind('click', function(e){
            $('#savebutton').trigger('click');
        });

        // To preview the page, we set the target of the form to a new URL, and open it in a new window.
        $('#previewbutton, #sidebarpreviewbutton').bind('click', function(e){
            e.preventDefault();
            var link = "{{ paths.root }}" + "preview" + "/{{ contenttype.singular_slug }}";
            $('#editcontent').attr('action', link).attr('target', "_blank").submit();
            $('#editcontent').attr('action', link).attr('target', "_self")
        });
    </script>

    </section>

{{ render(path("lastmodified", {"contenttypeslug": contenttype.slug} )) }}

    </aside>
</div>


{% include '_footer.twig' %}
