{% include '_header.twig' %}


<div class="row-fluid">
    <div class="span9">


        
    <form method="post" id="editcontent">
        
    {%for key, fields in contenttype.fields %}
    
        {% if fields.type == "text" %}
        <label><b>{{ key|ucfirst}}</b></label>
        <input type="text" name="{{key}}" id="{{key}}"
            value='{% if content[key] is defined %}{{ content[key] }}{% endif %}'
            class='{% if fields.class is defined %}{{ fields.class }}{% endif %}'>
        {% endif %}
        
        {% if fields.type == "slug" %}
        <label>
        Permalink: <tt>/{{contenttype.singular_slug}}/<input type="text" name="{{key}}"  id="{{key}}"
            value='{% if content[key] is defined %}{{ content[key] }}{% endif %}'
            class='editslug'></tt>
        </label>
            
<script type="text/javascript"> 
    $("#title").slug({ slug:'editslug', hide: true });
</script>
        {% endif %}
        
    
        {% if fields.type == "html" %}
        <label><b>{{ key|ucfirst}}</b></label>
        <textarea name="{{key}}" class='{% if fields.class is defined %}{{ fields.class }}{% endif %} redactor'
            style='{% if fields.height is defined %}height: {{ fields.height }} !important;{% endif %}'
        >
            {% if content[key] is defined %}{{ content[key] }}{% endif %}
        </textarea>
        {% endif %}
                
    
    {% endfor %}
        
        <label>Id</label>
        <input type='text' readonly=readonly name='id' value='{% if content.id is defined %}{{ content.id }}{% endif %}'>
        
        <label>Created on:</label>
        <input type='text' readonly name='id' value='{% if content.datecreated is defined %}{{ content.datecreated }}{% endif %}'>
        
        <label>Last edited:</label>
        <input type='text' readonly name='id' value='{% if content.datechanged is defined %}{{ content.datechanged }}{% endif %}'>
        
    
        <button type="submit" class="btn">Save</button>
        
    </form>
        
    {{ printr(contenttype) }}        
        
    </div><!-- /span9 -->
    <aside class="span3">

    <section>
    <h2>consectetur adipiscing elit</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Haec mihi videtur delicatior, ut ita dicam, molliorque ratio, quam virtutis vis gravitasque postulat. Ergo opifex plus sibi proponet ad formarum quam civis excellens ad factorum pulchritudinem? Hic Speusippus, hic Xenocrates, hic eius auditor Polemo, cuius illa ipsa sessio fuit, quam videmus. </p>
    </section>
    
    
    <section>
    <h2>Haec mihi videtur delicatior</h2>
    <p>Cuius ad naturam apta ratio vera illa et summa lex a philosophis dicitur. Non enim, si omnia non sequebatur, idcirco non erat ortus illinc. Duo Reges: constructio interrete. Non igitur bene. Vide, ne etiam menses!</p><p>nisi forte eum dicis, qui, simul atque arripuit, interficit. Sunt autem, qui dicant foedus esse quoddam sapientium, ut ne minus amicos quam se ipsos diligant. </p>
    </section>
    
    
    
    </aside>
</div> 
    

{% include '_footer.twig' %}