{% include '_header.twig' with { 'active':'content' } %}
{% import '_sub_pretty.twig' as pretty %}

<div class="row-fluid">
    <div class="span9">

    <h1>{{ title|raw }}</h1>

    <form method="post" id="editcontent" enctype="multipart/form-data">
        {% include '_sub_csrf_token.twig' %}

        {% include '_sub_editfields.twig' %}

        <hr>

        {% include '_sub_editrelations.twig' %}

        {% include '_sub_edittaxonomies.twig' %}

        <h3>
            {{ __('Meta information') }}
        </h3>

        <label><b><span class='left'>Id (№)</span></b>
        <input type='text' readonly=readonly name='id' value='{{ content.id }}' class="narrow">
        </label>

        {% set can_publish = isallowed('contenttype:' ~ contenttype.slug ~ ':publish:' ~ content.id) %}

        <label><b><span class='left'>{{ __('Publication date:') }}</span></b>
        </label>
        <input type="text" name="datepublish-dateformatted" id="datepublish-date"
               {% if not can_publish %}disabled="disabled"{%endif%}
               value='{{ pretty.datepickervalue(content.datepublish) }}' class='datepicker'>
        <input type="time" name="datepublish-timeformatted" id="datepublish-time"
               {% if not can_publish %}disabled="disabled"{%endif%}
               value='{{ content.datepublish|date('H:i') }}' class='timepicker'>
        <input type="hidden" name="datepublish" id="datepublish" value="{{ content.datepublish }}">

        <input type="hidden" name="editreferrer" id="editreferrer"{% if editreferrer is defined %} value="{{ editreferrer }}"{% endif %}>
        {% if isallowed('contenttype:' ~ contenttype.slug ~ ':publish:' ~ content.id) %}
        <script>
            $('#datepublish-date, #datepublish-time').on('change', function(){
                var date = $('#datepublish-date').datepicker("getDate");
                var time = $.formatDateTime('hh:ii:00', new Date('2014/01/01 ' + $('#datepublish-time').val() ));
                $('#datepublish').val($.datepicker.formatDate('yy-mm-dd', date)+" "+time);
            });
        </script>
        {% endif %}

        {% set can_depublish = isallowed('contenttype:' ~ contenttype.slug ~ ':depublish:' ~ content.id) %}

        <label><b><span class='left'>{{ __('Depublication date:') }}</span></b>
        </label>
        <input type="text" name="datedepublish-dateformatted" id="datedepublish-date"
               {% if not can_depublish %}disabled="disabled"{%endif%}
               value='{{ pretty.datepickervalue(content.datedepublish) }}' class='datepicker'>
        <input type="time" name="datedepublish-timeformatted" id="datedepublish-time"
               {% if not can_depublish %}disabled="disabled"{%endif%}
               value='{% if content.datedepublish > '1970-01-01 01:01:01' %}{{ content.datedepublish|date('H:i') }}{% endif %}' class='timepicker'>
        <input type="hidden" name="datedepublish" id="datedepublish" value="{{ content.datedepublish }}">
        {% if isallowed('contenttype:' ~ contenttype.slug ~ ':depublish:' ~ content.id) %}
        <script>
            $('#datedepublish-date, #datedepublish-time').on('change', function(){
                var date = $('#datedepublish-date').datepicker("getDate");
                var time = $.formatDateTime('hh:ii:00', new Date('2014/01/01 ' + $('#datedepublish-time').val() ));
                $('#datedepublish').val($.datepicker.formatDate('yy-mm-dd', date)+" "+time);
            });
        </script>
        {% endif %}

        {% if content.datecreated > '1970-01-01 01:01:01' %}
        <p>{{ __('This %contenttype% was created', {'%contenttype%': contenttype.singular_name}) }}
            <time class="moment" datetime="{{ content.datecreated|date("c") }}" title="{{ content.datecreated }}">{{ content.datecreated }}</time>
            {{ __('and edited') }}
            <time class="moment" datetime="{{ content.datechanged|date("c") }}" title="{{ content.datechanged }}">{{ content.datechanged }}</time>.
            {% endif %}</p>

        <label><b><span class='left'>{{ __('Status:') }}</span></b>
        <select name="status" id="statusselect" {% if allowedStatuses|length <= 1 %}disabled="disabled"{% endif %} >
            {% set status_names = { "published": __("Published"), "held": __("Not published"), "timed": __("Timed publish"), "draft": __("Draft") } %}
            {% for status in allowedStatuses %}
            <option value="{{status}}" {% if content.status == status %}selected{% endif %}>{{ status_names[status] }}</option>
            {% endfor %}
        </select>
        </label>

        <label><b><span class='left'>{{ __('Owner:') }}</span></b>
        <select name="ownerid" {% if not isallowed("contenttype:" ~ contenttype.slug ~ ":change-owner:" ~ content.id) %}disabled="disabled"{% endif %}>
            {% for user in users %}
                <option value="{{ user.id }}" {% if contentowner and user.id == contentowner.id %}selected="selected"{% endif %}>{{user.displayname}}</option>
            {% endfor %}
        </select>
        </label>


        <button type="button" class="btn btn-primary" id="savecontinuebutton" style="margin-right: 8px;">
            <i class="icon-flag"></i> {{ __('Save %contenttype%',{'%contenttype%': contenttype.singular_name}) }}
        </button>

        <button type="button" class="btn" id="previewbutton">
            <i class="icon-external-link"></i> {{ __('Preview') }}
        </button>

        <button type="submit" class="btn " id="savebutton" style="margin-right: 8px;">
            <i class="icon-flag"></i> {{ __('Save & return to overview') }}
        </button>

        <p class="lastsaved" style="margin-top: 12px;">
            {% if content.id != 0 %}
            {{ __('Saved on:') }} <strong>{{ content.datechanged|localdate("%b %e, %H:%M") }}</strong> <small>({{ pretty.datetime(content.datechanged) }})</small></p>
        {% else %}
            {{ __('This %contenttype% has not been saved yet.', {'%contenttype%': contenttype.singular_name}) }}
        {% endif %}
        </p>

    </form>

    </div><!-- /span9 -->
    <aside class="span3">

    <section>
    <h2>{{ __('Actions for this %contenttype%',{'%contenttype%': contenttype.singular_name}) }}</h2>

    <button type="button" class="btn btn-primary" id="sidebarsavecontinuebutton" style="margin-right: 8px;">
        <i class="icon-flag"></i> {{ __('Save %contenttype%',{'%contenttype%': contenttype.singular_name}) }}
    </button>

    <button type="button" class="btn" id="sidebarpreviewbutton">
        <i class="icon-external-link"></i> {{ __('Preview') }}
    </button>

    <button type="submit" class="btn " id="sidebarsavebutton" style="margin-right: 8px;">
        <i class="icon-flag"></i> {{ __('Save & return to overview') }}
    </button>

    <p>
        {{ __("Current (saved) status:") }}
        <a href="#statusselect" data-action="$('#statusselect').focus();" id="lastsavedstatus" title="{{ __("Click to change current status.") }}">
            <strong>{{ status_names[content.status]|default(__("None")) }}</strong>
        </a>
    </p>


    <p class="lastsaved">
        {% if content.id != 0 %}
            {{ __('Saved on:') }} <strong>{{ content.datechanged|localdate("%b %e, %H:%M") }}</strong> <small>({{ pretty.datetime(content.datechanged) }})</small></p>
        {% else %}
            {{ __('This %contenttype% has not been saved yet.', {'%contenttype%': contenttype.singular_name}) }}
        {% endif %}
    </p>




<script type="text/javascript">
    $(function() {

        // Save the page..
        $('#sidebarsavebutton').bind('click', function(e){
            $('#savebutton').trigger('click');
        });
        $('#savebutton').bind('click', function(e){
            // Re-set the changes to the form..
            $('form').watchChanges();
        });

        // To preview the page, we set the target of the form to a new URL, and open it in a new window.
        $('#previewbutton, #sidebarpreviewbutton').bind('click', function(e){
            e.preventDefault();
            var newaction = "{{ paths.root }}" + "preview" + "/{{ contenttype.singular_slug }}";
            $('#editcontent').attr('action', newaction).attr('target', "_blank").submit();
            $('#editcontent').attr('action', '').attr('target', "_self");
        });

        // Clicking the 'save & continue' button either triggers an 'ajaxy' post, or a regular
        // post which returns to this page. The latter happens if the record doesn't exist yet, so it doesn't
        // have an id yet.
        $('#sidebarsavecontinuebutton, #savecontinuebutton').bind('click', function(e){
            e.preventDefault();

            var newrecord = {% if content.id != 0 %}false{% else %}true{% endif %};

            // Disable the buttons, to indicate stuff is being done.
            $('#sidebarsavecontinuebutton, #savecontinuebutton').addClass('disabled');

            $('p.lastsaved').text('{{ __("Saving…") }}');

            if (newrecord) {

                // Re-set the changes to the form..
                $('form').watchChanges();

                // New record.. do a regular post, and expect to be redirected back to this page.
                var newaction = "?returnto=" + $(this).attr('id');
                $('#editcontent').attr('action', newaction).submit();
            } else {
                // Existing record. Do an 'ajaxy' post to update the record.

                // Re-set the changes to the form..
                $('form').watchChanges();

                $.post("", $( "#editcontent" ).serialize() )
                    .done(function(data) {
                        // var message = "{{ __('The changes to this %contenttype% have been saved.', {'%contenttype%': contenttype.singular_name}) }}";
                        $('p.lastsaved').html('{{ __('Saved on:') }} <strong></strong> <small>({{ pretty.datetime(content.datechanged) }})</small></p>');
                        $('p.lastsaved').find('strong').text(moment().format('MMM D, HH:mm'));
                        $('p.lastsaved').find('time').attr('datetime', moment().format());
                        $('p.lastsaved').find('time').attr('title', moment().format());
                        updateMoments();

                        $('a#lastsavedstatus strong').text( $("#statusselect option:selected").text() );

                    })
                    .fail(function(){
                        $('p.lastsaved').text('{{ __('Could not save %contenttype%.', { '%contenttype%': contenttype.singular_name }) }}');
                    })
                    .always(function(){
                        // Re-enable buttons
                        $('#sidebarsavecontinuebutton, #savecontinuebutton').removeClass('disabled');
                    });
            }

        });

    });
</script>

    </section>

    {{ render(path("lastmodified", {"contenttypeslug": contenttype.slug, "contentid": content.id} )) }}

    {{ render(path("showstack", {'items': 5, 'options': 'full' } )) }}


    </aside>
</div>


{% include '_footer.twig' %}
