{% include '_header.twig' %}

<h1>
    {{ __('Oops! An error has occurred!') }}
</h1>

<ul>
    <li>Class: {{ class }}</li>
    <li>Message: {{ message }}</li>
    <li>Code: {{ code }}</li>
</ul>

{% if app.config.get('general/debug') %}
    {% for i in trace %}
        {% if i.line is defined and i.class is defined %}
            <p>
                <strong>{{ i.class }}{{ i.type }}{{ i.function }}()</strong><br>
                <em>{{ i.file }}, line {{ i.line }}</em>
                {%  if i.args is defined %}
                    {{ print(i.args) }}
                {%  endif %}
            </p>
        {%  endif %}
    {%  endfor %}
{% endif %}

{% include '_footer.twig' %}
