{% include '_header.twig' with { 'active':'extend' } %}
<script src="{{ paths.app }}view/js/bolt-extend.js"></script>

<div class='extend-bolt-container'>
{% block extendmessages %}
    {% if messages %}
        <div class="alert alert-info">
            <button class="close" data-dismiss="alert">×</button>
            {% for message in messages %}
                {{message}}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

<div class="row-fluid">
    <div class="span8">
        <div class='update-container hide'>
            <h3>Updates</h3>
            <pre class="update-output console">Checking for available updates (this may take up to 60 seconds)..</pre>
        </div>
        <section class="installed-container">
            <h3>Your Currently Installed Extensions</h3>
            <pre class="installed console" data-action='installed'>Checking installed packages..</pre>
            <div class="installed-list hide">
                <table class="dashboardlisting">
                    <thead>
                        <tr>
                            <th>Extension</th>
                            <th>Description</th>
                            <th>Author(s)</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody class="installed-list-items">
                    
                    </tbody>
                </table>
            </div>
        </section>
        <hr />
        <section>
            <h3>Install a new Extension</h3>
            <p>
                Add a new extension using the form below. You can discover new extensions by visiting 
                <a href="{{site}}">{{site}}</a>
            </p>
            <div class="install-container">
                    <div class="auto-search hide"></div>                
                    <input type="text" name="check-package" placeholder="Extension name eg: bolt/widget">
                    <a class="btn check-package" data-action='check-package'>
                        <i class="icon-gears"></i> Check Extension
                    </a> 
            </div>
            <div class='install-response-container hide'>
                <h3>Installing package</h3>
                <pre class="install-response console">Installing selected package version (this may take up to 60 seconds).</pre>
            </div>
        </section>
    </div>
    
    <aside class="span4">
        <h2>Options</h2>
        <section>
        <h4>Check for updates</h4>
            <a class="btn" data-trigger="check" data-action='update-check' data-show="update-check-container">
                <i class="icon-refresh"></i> Run update check
            </a>
        <h4>Install all updates</h4>
            <a class="btn btn-primary" data-trigger="update" data-action='update-run' data-show="update-run-container">
                <i class="icon-refresh"></i> Run all Updates
            </a>
        </section>
    </aside>
    
</div>

</aside>

<script>
    var site = '{{site}}';
    var baseurl = "{{paths.bolt}}extend/";
    
    var active_console;
    var active_interval;
    
    
    
    jQuery(document).ready(function($) {
        var boltExtendHandler = new BoltExtender();
    });
    
    
        
    jQuery(document).ready(function($) {

        
        $('.install-container').on('click', '.install-package', function(e){
            
        });
        
        
        $('.install-container').on('click', '.prefill-package', function(e){
            $('input[name="check-package"]').val($(this).text());
            $(this).parent().hide();
        });
        
    });
</script>

{% include '_footer.twig' %}
