{% include '_header.twig' with { 'active':'settings' } %}

<div class="row">

    <div class="col-lg-12">
        <h1 class="page-header">{{ __('Files: %path%', { '%path%' : path } ) }}</h1>
    </div>

</div>

{% if pathsegments|length > 1 %}
    <p>{{ __('Path:') }}
    {% for path, segment in pathsegments %}
    {% if not loop.first %} / {% endif %}
    <a href="{{ path('files', { 'path': path }) }}">{{segment}}</a>
    {% endfor %}
    </p>
{% endif %}

{% if folders|length > 0 %}
<table class='table table-striped dashboardlisting'>
    <tr><th>{{ __('Folders') }}</th><th>{{ __('Modified') }}</th></tr>
{% for folder in folders %}
    <tr>
        <td><a href="{{ path('files', { 'path': folder.newpath }) }}"><i class="fa fa-folder-open"></i> <b>{{ folder.foldername }}/</b></a></td>
        <td>
            <time class="moment" datetime="{{ folder.modified|date("c") }}" title="{{ folder.modified }}">{{ folder.modified }}</time>
        </td>
    </tr>
{% endfor %}
</table>
{% endif %}

{% if files|length > 0 %}
<table class='table table-striped dashboardlisting'>
    <tr><th>{{ __('Files') }}</th><th>{{ __('Filesize') }}</th><th>&nbsp;</th><th>{{ __('Modified') }}</th><th>&nbsp;</th><th>&nbsp;</th></tr>
{% for file in files %}
    <tr>
        <td>
            {% if file.type in ['jpeg', 'jpg', 'png', 'gif'] %}
                {% if file.readable %}
                    <a href="{{file.newpath|thumbnail(1000, 1000, 'r') }}" class='fancybox' rel='fancybox' title="Image: {{ file.filename }}">
                        <b>{{ file.filename }}</b>
                    </a>
                {% else %}
                    <b>{{ file.filename }} </b><i class="fa fa-lock"></i>
                {% endif %}
            {% elseif file.type in ['twig', 'txt', 'html', 'md', 'htm', 'css', 'less', 'js', 'yml'] %}
                {% if file.readable %}
                    <a href="{{ path('fileedit', { 'file': file.newpath}) }}"><b>{{ file.filename }}</b> </a>
                {% else %}
                    <b>{{ file.filename }}</b>
                {% endif %}
                {% if not file.readable or not file.writable %}
                    <i class="fa fa-lock"></i>
                {% endif %}
            {% else %}
                {% if file.readable %}
                    <a href="/{{file.newpath}}" target="_blank"><b>{{ file.filename }}</b></a>
                {% else %}
                    <b>{{ file.filename }} </b><i class="fa fa-lock"></i>
                {% endif %}
            {% endif %}
        </td>
        <td>{{ file.filesize }}.</td>
        <td>{% if file.imagesize is defined %}{{ file.imagesize }} px.{% endif %}</td>
        <td>
            <time class="moment" datetime="{{ file.modified|date("c") }}" title="{{ file.modified }}">{{ file.modified }}</time>
        </td>
        <td class='listthumb'>
            {% if file.imagesize is defined %}
                {{file.newpath|showimage(54, 40, 'c')}}
            {% endif %}
        </td>
        <td class='actions'>

            <div class="btn-group">

                {% if not stacked(file.newpath) %}
                <a href="#" class="btn btn-xs btn-default" data-action="stack.addToStack('{{file.newpath}}', this);">
                    <i class="fa fa-paper-clip"></i>
                    {{ __('Place on stack') }}
                </a>
                {% endif %}

                <a class="btn dropdown-toggle btn-xs btn-default" data-toggle="dropdown">
                    <i class="fa fa-info-sign"></i>
                    {{ __('Options') }}
                    <span class="caret"></span>
                </a>

                <ul class="dropdown-menu pull-right">
                    <li><a href="#" data-action="files.deleteFile('{{file.newpath}}', this);">
                        <i class="fa fa-ban-circle"></i> {{ __('Delete %filename%',{'%filename%':file.filename}) }}</a></li>
                    <li><a href="#" data-confirm="Not yet implemented. Sorry!" class="confirm">
                        <i class="fa fa-copy"></i> {{ __('Duplicate %filename%',{'%filename%':file.filename}) }}</a></li>
                    <li class="divider"></li>
                    <li><a class="nolink">{{ __('Permissions') }}:
                            <strong><code>{{ file.permissions }}</code></strong></a></li>

                </ul>
            </div>

        </td>
    </tr>
{% endfor %}
</table>
{% endif %}

{# only show the "Upload here" form, if the folder is writable. #}
{% if form != false %}
    <hr />
    <form action="" method="post" {{ form_enctype(form) }}>
        <fieldset>
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-info" style="margin-top: 4px;">
                <i class="fa fa-upload"></i>
                <span>{{ __('Upload file') }}</span>
            </button>
        </fieldset>
    </form>

    <script type="text/javascript">
        $(function() {
            $('input[type=file]').bootstrapFileInput();
        });
    </script>
{% else %}
    <p><i class="fa fa-exclamation-sign"></i> {{ __('Uploading to this folder is not allowed.') }}</p>
{% endif %}


{% include '_footer.twig' %}
