{% include '_header.twig' %}


<h1>{{ __('Login') }}</h1>

<div class="row-fluid">
    <div class="span6">
        <form class="well" method="post">
            <label>{{ __('Username') }}</label>
            <input type="text" name="username" placeholder="{{ __('Your username') }} …" {% if username is defined %}value="{{username}}"{%endif%}>
            <label>{{ __('Password') }}</label>
            <input type="password" name="password" placeholder="{{ __('Your password') }} …">

            <label><button type="submit" class="btn">{{ __('Log on') }}</button></label>
        </form>
    </div>

    <div class="span6">

        <blockquote class='quote'>{{ randomquote() }}</blockquote>

    </div>

</div>

{% include '_footer.twig' %}
