{% extends "_page.twig" %}
{% block ptype 'Standard' %}
{% block pmain %}

<div class="row">

    <div class="col-md-8">

        <h1 class="page-header">{{ __('Omnisearch') }}</h1>

        <form action="" method="get">
            <div class="form-group">
                <div class="input-group">
                <input class="form-control" name="q" type="text" value="{{ query }}" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="fa fa-search "></i> {{ __('Search') }}</button>
                    </span>
                </div>
            </div>
        </form>

        {% set hasResults = false %}
        {% if results %}

        <table class="table table-striped dashboardlisting omnisearchlisting">
            <tbody>
            {# <tr>
                <th colspan="4">Results</th>
            </tr> #}
            {% for item in results %}
                {% if ( app.paths.bolt ~ 'omnisearch') not in item.path %}
                {% set hasResults = true %}
                {% set omnisearchShowAsRecord = true %}
                <tr>
                    {% if item.record and omnisearchShowAsRecord %}
                        {% set content = item.record %}
                        {% set editable = isallowed('edit', content) %}
                        {% include ['_sub_omnisearch.twig'] with { 'excerptlength': 280, 'thumbsize': 54, 'compact': true } %}
                    {% else %}
                        <td colspan="4">
                            <a href="{{ item.path }}">{{ item.label|raw }}</a>
                        </td
                    {% endif %}
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>

        </table>

        {# todo: pagination, limit, offset? #}

        {% endif %}

        {% if not hasResults and query %}

            <p>
                {{ __("No results found for '%search%'. Please try another search.", { '%search%': query|escape }) }}
            </p>

        {% elseif not hasResults %}

            {# <p>
                Some default text here...
            </p> #}

        {% endif %}


    </div><!-- /span8 -->

    <aside class="col-md-4">


    <noscript>
        <section>
            <h2>{{ __("Javascript disabled") }}</h2>
            <p>{{ __("Javascript is currently disabled in your browser. Most functionality in Bolt will work without it, but for greater ease of use we recommend you enable Javascript in your browser.") }}</p>
        </section>
    </noscript>

    {{ render(path("dashboardnews")) }}

    {{ render(path("showstack", {'items': 7, 'options': 'full' } )) }}

    {{ widget('dashboard', 'right_first') }}

    <div id="latestactivity">
        {{ render(path("latestactivity")) }}
    </div>
    <div id="latesttemp" style="display:none; visibility: hidden;"><!-- intentionally left blank --></div>

    </aside><!-- /span4 -->
</div>

{% endblock pmain %}
