{% include '_header.twig' with { 'active':'content' } %}

<div class="row-fluid">
    <div class="span9">

        <h1>
            {{ title|raw }}
            <span>{% if pager is defined and pager.totalpages > 1 %}
                {{ __('Showing') }} {{ pager.showing_from }} - {{ pager.showing_to }} {{ __('of') }} {{ pager.count }}
            {%endif %}</span>
        </h1>

        {% set lastgroup = "----" %}

    <table class='dashboardlisting'>

        {% for content in multiplecontent %}

            {# If we have 'grouping', print the row with the groupname.. #}
            {% if content.group.name is defined and (loop.first or content.group.name != lastgroup) %}
                <tr class="grouping">
                    <th colspan="5">
                        <h3 {% if loop.first %}class="first"{% endif %}>
                            {% if content.group.name  %}
                                {{ content.group.name }}
                            {% else %}
                                {{ __('(no group)') }}
                            {% endif %}
                        </h3>
                    </th>
                </tr>
            {% endif %}

            {# print the header for the first row.. #}
            {% if content.group.name is defined and (loop.first or content.group.name != lastgroup) %}
                {% set lastgroup = content.group.name %}
                {% if "filter" in app.request.query.all|keys %}
                    {% set filter = "filter=" ~ app.request.query.all.filter ~ "&" %}
                {% else %}
                    {% set filter = "" %}
                {% endif %}

                {% set link = "?" ~ filter ~ "order=" %}
                <tr>
                    <th class="hide-phone"><a href='{{link}}id {% if request('order')=="id ASC" %}DESC{%else%}ASC{%endif%}'>#</a></th>

                    <th style="width:80%"><a href='{{link}}title {% if request('order')=="title ASC" %}DESC{%else%}ASC{%endif%}'>
                            {{ __('Title') }} / {{ __('Excerpt') }}</a></th>
                    <th>&nbsp;</th>
                    <th class='username hide-phone'><a href='{{link}}datecreated {% if request('order')=="datecreated ASC" %}DESC{%else%}ASC{%endif%}'>{{ __('Meta') }}</a></th>
                    <th><a href='?'>{{ __('Actions') }}</a></th>
                </tr>
            {% endif %}

            {% include '_sub_contentrow.twig' with { 'excerptlength': 380, 'thumbsize': 80, 'compact': false } %}

        {% else %}
            {{ __('No %contenttypes% available.', {'%contenttypes%':contenttype.name}) }}
        {% endfor %}
    </table>

    {{ pager() }}

    </div><!-- /span9 -->
    <aside class="span3">

    <section>
    <h2>{{__('Actions for %contenttypes%',{'%contenttypes%':contenttype.name})}}:</h2>

    <a class="btn" href="{{ path('editcontent', { 'contenttypeslug': contenttype.slug, 'id': '' }) }}">
        <i class="icon-plus"></i> {{ __('New %contenttype%',{'%contenttype%': contenttype.singular_name}) }}
    </a>
    {% if request('filter') or request('order') %}
    <a class="btn" href="?">{{ __('Clear sort/filter') }}</a>
    {% endif %}

    <h2>{{ __('Filtering:') }}</h2>

<form class="form-inline">
  <input type="text" class="input-small" value="{{ request('filter', '', true) }}" name="filter" style="width: 110px;">
  <button type="submit" class="btn">{{ __('Filter') }}</button>
      {% if request('filter') %}<p><a href="?">{{ __('Clear filter') }}</a></p>{% endif %}
</form>


    </section>

{{ render(path("lastmodified", {"contenttypeslug": contenttype.slug} )) }}




    </aside>
</div>


{% include '_footer.twig' %}
