{% include '_header.twig' with { 'active':'content' } %}

<div class="row-fluid">
    <div class="span9">

        <h1>
            {{ title|raw }}
            <span>{% if pager is defined and pager.totalpages > 1 %}
                {{ __('Showing') }} {{ pager.showing_from }} - {{ pager.showing_to }} {{ __('of') }} {{ pager.count }}
            {%endif %}</span>
        </h1>

        {% set lastgroup = "----" %}

    <table class='dashboardlisting'>

        {% for content in multiplecontent %}

            {% set editable = isallowed('edit', content) %}
            {% include ['custom/listing/'~contenttype.slug~'.twig', '_sub_listing.twig'] with { 'excerptlength': 380, 'thumbsize': 80, 'compact': false } %}
            {% if content.group.name is defined and (loop.first or content.group.name != lastgroup) %}
                {% set lastgroup = content.group.name %}
            {% endif %}

        {% else %}
            {{ __('No %contenttypes% available.', {'%contenttypes%':contenttype.name}) }}
        {% endfor %}
    </table>

    {{ pager() }}

    </div><!-- /span9 -->

    <aside class="span3">

    <section>
        <h2>{{__('Actions for %contenttypes%',{'%contenttypes%':contenttype.name})}}:</h2>

        <a class="btn" href="{{ path('editcontent', { 'contenttypeslug': contenttype.slug, 'id': '' }) }}">
            <i class="icon-plus"></i> {{ __('New %contenttype%',{'%contenttype%': contenttype.singular_name}) }}
        </a>
        {% if request('filter') or request('order') %}
        <a class="btn" href="?">{{ __('Clear sort/filter') }}</a>
        {% endif %}

        <h2>{{ __('Filtering:') }}</h2>

        <form class="form-inline">
          <input type="text" class="input-small" value="{{ request('filter', '', true) }}" name="filter" style="width: 110px;">
          <button type="submit" class="btn">{{ __('Filter') }}</button>
              {% if request('filter') %}<p><a href="?">{{ __('Clear filter') }}</a></p>{% endif %}
        </form>


    </section>

    {{ render(path("lastmodified", {"contenttypeslug": contenttype.slug} )) }}

    {{ render(path("showstack", {'items': 5, 'options': 'full' } )) }}

    </aside>
</div>


{% include '_footer.twig' %}
