{% extends "_page.twig" %}
{% block ptype 'Content' %}
{% block pmain %}

{% from '_editable_record_list.twig' import editable_record_list %}

<div class="row">

    <div class="col-lg-12">
        <h1 class="page-header">{{ title|raw }}
            {% set pager_ct = pager[contenttype.slug]|default %}
            {% if pager_ct and pager_ct.totalpages > 1 %}
                <span>{{ __('Showing') }} {{ pager_ct.showing_from }} - {{ pager_ct.showing_to }} {{ __('of') }} {{ pager_ct.count }}</span>
            {%endif %}
        </h1>
    </div>

    <div class="col-md-9">

        {{ editable_record_list(contenttype, contenttype, multiplecontent, 'table table-striped') }}
    </div><!-- /span9 -->

    <aside class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-cog fa-fw"></i> {{__('Actions for %contenttypes%',{'%contenttypes%':contenttype.name})}}
            </div>

            <div class="panel-body">
                <a class="btn btn-primary" href="{{ path('editcontent', { 'contenttypeslug': contenttype.slug, 'id': '' }) }}">
                    <i class="fa fa-plus"></i> {{ __('New %contenttype%',{'%contenttype%': contenttype.singular_name}) }}
                </a>
                {% if request('filter') or request('order') %}
                    <a class="btn btn-tertiary" href="?">{{ __('Clear sort/filter') }}</a>
                {% endif %}

                <form class="form-inline" style="margin-top:15px;">
                    <input type="text" class="form-control" value="{{ request('filter', '', true) }}" name="filter" style="width: 110px;" placeholder="{{ __('Filtering…') }}">
                    <button type="submit" class="btn btn-tertiary">{{ __('Filter') }}</button>
                    {% if request('filter') %}<p><a href="?">{{ __('Clear filter') }}</a></p>{% endif %}
                </form>
            </div>
        </div>

        {{ render(path("lastmodified", {"contenttypeslug": contenttype.slug} )) }}

        {{ render(path("showstack", {'items': 5, 'options': 'full' } )) }}

    </aside>
</div>

{% endblock pmain %}
