{% include '_header.twig' with { 'active':'content' } %}

<div class="row-fluid">
    <div class="span9">

        <h1>Overview » {{contenttype.name }} <span>{% if pager.totalpages > 1 %}Page: {{pager.current}}/{{pager.totalpages}}{%endif %}</span></h1>
        
        {% set lastgroup = "" %}
        
    <table class='dashboardlisting'>
        {% for content in multiplecontent %}        
        
        {# If we have 'grouping', print the row with the groupname.. #}
        {% if content.group is defined and content.group != lastgroup %}
        <tr class="grouping"><th colspan="5"><h2>{{ content.group }}</th></tr>
        {% set lastgroup = content.group %}
        {% endif %}
                
        {# print the header for the first row.. #}
        {% if loop.first %}
        {% if "filter" in app.request.query.all|keys %}
            {% set filter = "filter=" ~ app.request.query.all.filter ~ "&" %}
        {% else %}
            {% set filter = "" %}
        {% endif %}
        
        {% set link = "?" ~ filter ~ "order=" %}
        <tr>
            <th class="hide-phone"><a href='{{link}}id {% if request('order')=="id ASC" %}DESC{%else%}ASC{%endif%}'>#</a></th>

            {# output either the title or name as primary field #}
            {% if content.title is defined %}
            <th><a href='{{link}}title {% if request('order')=="title ASC" %}DESC{%else%}ASC{%endif%}'>Title / Excerpt</a></th>
            {% elseif content.name is defined %}
            <th><a href='{{link}}name {% if request('order')=="name ASC" %}DESC{%else%}ASC{%endif%}'>Name / Excerpt</a></th>
            {% else %}
            <th>Excerpt</th>
            {% endif %}
            {% if content.image is defined %}
                <th>&nbsp;</th>
            {% endif %}
            <th class='username hide-phone'><a href='{{link}}datecreated {% if request('order')=="datecreated ASC" %}DESC{%else%}ASC{%endif%}'>Meta</a></th>
            <th><a href='?'>Actions</a></th>
        </tr>
        {% endif %}
        
        <tr class="{% if content.status!='published' %}dim{% endif %}">
            <td class='id hide-phone'>№ {{content.id}} </td>
            <td class='excerpt large'><span>
                <strong class="show-phone">№ {{content.id}}. </strong> 
                <strong><a href="{{ path('editcontent', { 'contenttypeslug': contenttype.slug, 'id': content.id }) }}">{{content.title}}{{content.name}}</a></strong> 
                {{ content|excerpt(200) }} 
                </span></td>
            {% if content.image is defined %}
            <td class='listthumb'>
                {{content.image|shadowbox(80, 60, 'c')}}
            </td>
            {% endif %}            
            <td class='username hide-phone'>
                <i class="icon-user"></i> {% if users[content.username] is defined %}{{ users[content.username].displayname }}{% else %}<s>{{ content.username }}</s>{% endif %}
                <br><i class="icon-asterisk"></i> {{ content.datecreated|date('d/m/Y') }} 
                <br><i class="icon-refresh"></i> {{ content.datechanged|date('d/m/Y') }} 
            </td>
            <td class='actions'>
                <div class="btn-group">
                <button class="btn btn-mini"><a href="{{ path('editcontent', { 'contenttypeslug': contenttype.slug, 'id': content.id }) }}">
                    <i class="icon-edit"></i> Edit</a></button>
                <button class="btn dropdown-toggle btn-mini" data-toggle="dropdown">
                <span class="caret"></span>
                </button>
                
                <ul class="dropdown-menu pull-right">
                    {% if content.status != "depublished" and content.status != "draft"  %}
                    <li><a href="{{ path('contentaction', { 'action': 'depublish', 'contenttypeslug': contenttype.slug,  'id': content.id }) }}">
                        <i class="icon-star"></i> Change status to 'depublished'</a></li>
                    <li><a href="{{ path('contentaction', { 'action': 'draft', 'contenttypeslug': contenttype.slug,  'id': content.id }) }}">
                        <i class="icon-pencil"></i> Change status to 'draft'</a></li>
                    {% endif %}                    
                    {% if content.status != "published" %}
                    <li><a href="{{ path('contentaction', { 'action': 'publish', 'contenttypeslug': contenttype.slug,  'id': content.id }) }}">
                        <i class="icon-star-empty"></i> Change status to 'published'</a></li>
                    {% endif %}
                    <li><a href="{{ path('editcontent', { 'contenttypeslug': contenttype.slug, 'id': content.id, 'duplicate': 1 }) }}">
                        <i class="icon-copy"></i> Duplicate {{contenttype.singular_name}}</a></li>
                    <li><a href="{{ path('contentaction', { 'action': 'delete', 'contenttypeslug': contenttype.slug, 'id': content.id, token: token() }) }}"
                        data-confirm="Are you sure you want to delete '{{content.title}}'?" class="confirm">
                        <i class="icon-trash"></i> Delete {{contenttype.singular_name}}</a></li>
                    <li class="divider"></li>
                    <li><a class="nolink">Author: <strong><i class="icon-user"></i>
                        {% if users[content.username] is defined %}{{ users[content.username].displayname }}{% else %}
                        <s>{{ content.username }}</s>{% endif %}</strong></a></li>
                    <li><a class="nolink">Current status: 
                        <strong>{{ content.status }}</strong></a></li>
                    <li><a class="nolink">Created on: 
                        <strong><i class="icon-asterisk"></i> {{ content.datecreated|date("Y-m-d H:i") }}</strong></a></li>
                    <li><a class="nolink">Last edited on: 
                        <strong><i class="icon-refresh"></i> {{ content.datechanged|date("Y-m-d H:i") }}</strong></a></li>
                    {% for taxonomyslug, values in content.taxonomy %} 
                        {% if values|length > 1 %}
                            <li><a class="nolink">{{ config.taxonomy[taxonomyslug].name }}: 
                                <strong><i class="icon-tag"></i> {{ values|join(", ") }}</strong></a></li>
                        {% else %}
                            <li><a class="nolink">{{ config.taxonomy[taxonomyslug].singular_name }}: 
                                <strong><i class="icon-tag"></i> {{ values.0 }}</strong></a></li>
                        {% endif %}                            
                    {% endfor %}           
                </ul>
                </div>
                
            </td>
        </tr>
    
        {% endfor %}
    
    </table>
    
  
  
    {{ showpager(pager) }}


    
    </div><!-- /span9 -->
    <aside class="span3">

    <section>
    <h2>Actions for {{contenttype.name}}:</h2>
        
 

    <a class="btn" href="{{ path('editcontent', { 'contenttypeslug': contenttype.slug, 'id': '' }) }}">
        <i class="icon-plus"></i> New {{ contenttype.singular_name }}
    </a>
    {% if request('filter') or request('order') %}
    <a class="btn" href="?">Clear sort/filter</a>
    {% endif %}
    
    <h2>Filtering:</h2>
    
<form class="form-search">
  <input type="text" class="input-medium search-query" value="{{ request('filter') }}" name="filter">
  <button type="submit" class="btn">Filter</button>
      {% if request('filter') %}<p><a href="?">Clear filter</a></p>{% endif %}
</form>

    
    </section>
    
{{ render(path("lastmodified", {"contenttypeslug": contenttype.slug} )) }}
    
    
    
    <section>
    <h2>Haec mihi videtur delicatior</h2>
    <p>Cuius ad naturam apta ratio vera illa et summa lex a philosophis dicitur. Non enim, si omnia non sequebatur, idcirco non erat ortus illinc. Duo Reges: constructio interrete. Non igitur bene. Vide, ne etiam menses!</p><p>nisi forte eum dicis, qui, simul atque arripuit, interficit. Sunt autem, qui dicant foedus esse quoddam sapientium, ut ne minus amicos quam se ipsos diligant. </p>
    </section>
    
    
    
    </aside>
</div> 
    

{% include '_footer.twig' %}