{% include '_header.twig' with { 'active':'content' } %}

<div class="row">

    <div class="col-lg-12">
        <h1 class="page-header">{{ title|raw }}
            <span>{% if pager is defined and pager.totalpages > 1 %}
                {{ __('Showing') }} {{ pager.showing_from }} - {{ pager.showing_to }} {{ __('of') }} {{ pager.count }}
            {%endif %}</span></h1>
    </div>

    <div class="col-md-9">

        {# Toolbar for related contenttypes #}
        {% if id %}

            <div class="btn-toolbar semi-block align-left" style="margin-bottom:25px;">
                <div class="btn-group">
                    {% for slug, gcontenttype in app.config.get('contenttypes') %}

                        {% if gcontenttype.relations.pages  %}
                            {# set default subcontenttype #}
                            {% if subcontenttype.slug is null and defaultsubcontenttype is null %}
                                {% set defaultsubcontenttype = slug %}
                                {% set subcontenttype = app.config.get('contenttypes')[defaultsubcontenttype] %}
                            {% endif %}
                            <a class="btn{% if gcontenttype.slug==subcontenttype.slug %} active{% endif %}" href="{{ path('relatedto', { 'contenttypeslug': contenttype.slug, 'id': id }) }}?show={{ gcontenttype.slug }}">{{ gcontenttype.name }}</a>

                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            {% set multiplecontent = content.related(subcontenttype.slug) %}
        {% endif %}

        {% set lastgroup = "----" %}

        <table class='dashboardlisting' data-contenttype="{{ subcontenttype.slug }}" data-token="{{ token() }}">

            {% for content in multiplecontent %}


                {% set editable = isallowed('edit', content) %}
                {% include ['custom/listing/'~contenttype.name|lower~'.twig', '_sub_listing.twig'] with { 'excerptlength': 380, 'thumbsize': 80, 'compact': false } %}
                {% if content.group.name is defined and (loop.first or content.group.name != lastgroup) %}
                    {% set lastgroup = content.group.name %}
                {% endif %}

            {% else %}
                {{ __('No %contenttypes% available.', {'%contenttypes%':subcontenttype.name}) }}
            {% endfor %}
        </table>

        {% if isallowed('edit', contenttype) and isallowed('delete', contenttype) %}
        <div class="btn-group">
            <a href="#" class="btn btn-default deletechosen showifchosen" style="display:none;">
                <i class="fa fa-trash-o"></i> 
                {{ __('Delete selected %contenttype%',{'%contenttype%': contenttype.name}) }}
            </a>
        </div>
        {% endif %}

        {{ pager() }}

    </div><!-- /span9 -->

    <aside class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-cog fa-fw"></i> {{__('Actions for %contenttypes%',{'%contenttypes%':subcontenttype.name})}}
            </div>

            <div class="panel-body">
                <a class="btn btn-default" href="{{ path('editcontent', { 'contenttypeslug': subcontenttype.slug, 'id': '', 'relation': contenttype.slug, 'relationid': content.id }) }}">
                    <i class="fa fa-plus"></i> {{ __('New %contenttype%',{'%contenttype%': subcontenttype.singular_name}) }}
                </a>

                {% if isallowed('edit', contenttype) %}
                    <a class="btn btn-default" href="{{ path('editcontent', { 'contenttypeslug': contenttype.slug, 'id': content.id }) }}">
                        <i class="fa fa-edit"></i> {{ __('Edit %contenttype%',{'%contenttype%': contenttype.singular_name}) }}
                    </a>
                {% endif %}

                {% if request('filter') or request('order') %}
                    <a class="btn" href="?">{{ __('Clear sort/filter') }}</a>
                {% endif %}

                <form class="form-inline" style="margin-top:15px;">
                    <input type="hidden" value="{{ request('show', '', true) }}" name="show">
                    <input type="text" class="form-control" value="{{ request('filter', '', true) }}" name="filter" style="width: 110px;" placeholder="{{ __('Filtering') }}">
                    <button type="submit" class="btn">{{ __('Filter') }}</button>
                    {% if request('filter') %}<p><a href="?">{{ __('Clear filter') }}</a></p>{% endif %}
                </form>
            </div>
        </div>

        {{ render(path("lastmodified", {"contenttypeslug": subcontenttype.slug} )) }}

        {{ render(path("showstack", {'items': 5, 'options': 'full' } )) }}

    </aside>
</div>


{% include '_footer.twig' %}
