<section>
    <h2>Last modified {{contenttype.name}}</h2>
    <ul>
    {% for content in latest %}
        <li>
           № {{content.id}}. <a href="{{ path('editcontent', { 'contenttypeslug': contenttype.slug, 'id': content.id }) }}">{{content.title}}</a> <small>({{ content.datechanged|date("Y/m/d H:i") }})</small>
        </li>
    {% else %}
        <li><em>No latest content</em></li>
    {% endfor %}
    </ul>
</section>
    