{% include '_header.twig' with { 'active':'settings' } %}

<div class="row-fluid">
    <div class="span9">

        <h1><strong>{{ __("All users") }}</strong></h1>

        <table class='dashboardlisting'>
            <tr>
                <th>#</th>
                <th>{{ __('Username') }}</th>
                <th>{{ __('Last seen') }}</th>
                <th>{{ __('Roles') }}</th>
                <th>{{ __('Actions') }}</th>
            </tr>
            {% for user in users %}

                <tr>
                    <td class='id'>
                        {% if user.enabled==0 %}<s>{% endif %}
                        № {{user.id}}
                        {% if user.enabled==0 %}</s>{% endif %}</td>

                    <td>
                        {% if user.enabled==0 %}<s>{% endif %}
                        <strong>{{ user.displayname }}</strong> ({{ user.username}})
                        {% if user.enabled==0 %}</s>{% endif %}
                    </td>

                    <td>
                        {% if user.lastseen|date('Y') > "1901" %}
                            <time class="moment" datetime="{{ user.lastseen|date("c") }}" title="{{ user.lastseen }}">{{ user.lastseen }}</time>
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td class='contenttypes'>
                        {% if 'root' in user.roles %}
                            <strong><em>root</em></strong>
                        {% else %}
                            {{ user.roles|join(", ") }}
                        {% endif %}
                    </td>
                    <td class='actions'>

                        <div class="btn-group">
                            <a href="{{ path('useredit', { 'id' : user.id }) }}" class="btn btn-mini">
                                    <i class="icon-edit"></i> {{ __('Edit') }}
                            </a>
                            <button class="btn dropdown-toggle btn-mini" data-toggle="dropdown">
                                <i class="icon-info-sign"></i>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                {% if user.enabled %}
                                    <li>
                                        <form action="{{ path('useraction', { 'action': 'disable', 'id': user.id }) }}" method="POST">
                                            {% include('_sub_csrf_token.twig') %}
                                            <button type="submit" class="btn btn-link">
                                            {{ __('Disable %username%',{'%username%':user.displayname}) }}
                                            </button>
                                        </form>
                                    </li>
                                {% else %}
                                    <li>
                                        <form action="{{ path('useraction', { 'action': 'enable', 'id': user.id }) }}" method="POST">
                                            {% include('_sub_csrf_token.twig') %}
                                            <button type="submit" class="btn btn-link">
                                            {{ __('Enable %username%',{'%username%':user.displayname}) }}
                                            </button>
                                        </form>
                                    </li>
                                {% endif %}
                                <li>
                                    <form action="{{ path('useraction', { 'action': 'delete', 'id': user.id }) }}" method="POST">
                                        {% include('_sub_csrf_token.twig') %}
                                        <button type="submit" class="btn btn-link confirm"
                                        data-confirm="{{ __('Are you sure you want to delete %username%?',{'%username%':user.displayname}) }}" >
                                        {{ __('Delete %username%',{'%username%':user.displayname}) }}
                                        </button>
                                    </form>
                                </li>
                                <li class="divider"></li>
                                <li><a class="nolink">{{ __('Last seen') }}: <strong>{% if user.lastseen>"1000" %}{{ user.lastseen|date("Y-m-d H:i") }}{% else %}-{% endif %}</strong></a></li>
                                <li><a class="nolink">{{ __('Last known IP') }}: <strong>{% if user.lastip!="" %}{{ user.lastip }}{% else %}-{% endif %}</strong></a></li>
                            </ul>
                        </div>

                    </td>
                </tr>

            {% endfor %}

        </table>

        <h2><strong>{{ __("Roles and Permissions") }}</strong></h2>

        <p>{{ __('The settings for roles and permissions are stored in <code>%permissions%</code>.', {'%permissions%': 'permissions.yml'}) }}</p>
        <a class="btn btn-small" href="{{ path('fileedit', { 'file': 'app/config/permissions.yml'}) }}">{{ __("Roles and Permissions") }}</a>

        <h2><strong>{{ __("Current sessions") }}</strong></h2>

        <table class='dashboardlisting'>
            <tr>
                <th>{{ __('Username') }}</th>
                <th>{{ __('Last seen') }}</th>
                <th>{{ __('Session expires') }}</th>
                <th>{{ __('IP address') }}</th>
                <th>{{ __('Browser / platform') }}</th>
            </tr>
            {% for session in sessions %}

                <tr>
                    <td>{{ session.username }}</td>
                    <td><time class="moment" datetime="{{ session.lastseen|date("c") }}" title="{{ session.lastseen }}">{{ session.lastseen }}</time></td>
                    <td><time class="moment" datetime="{{ session.validity|date("c") }}" title="{{ session.validity }}">{{ session.validity }}</time></td>
                    <td>{{ session.ip }}</td>
                    <td>
                        <span class="useragent label info-pop" data-ua="{{ session.useragent }}" data-html="true"
                              data-content="{{ session.useragent }}">{{ session.useragent|trimtext(40) }}</span>
                    </td>

                </tr>

            {% endfor %}

        </table>


    </div><!-- /span9 -->
    <aside class="span3">

        <section>
            <h3>{{ __('Actions for Users') }}</h3>
            <a class="btn" href="{{ path('useredit', { 'id' : '' }) }}">{{ __('New user') }}</a>
        </section>

        <div id="latestactivity">
            {{ render(path("latestactivity")) }}
        </div>
        <div id="latesttemp" style="display:none; visibility: hidden;"><!-- intentionally left blank --></div>

    </aside>
</div>

{# parsing the useragents into something more readable. #}
<script type="text/javascript" src="{{ paths.app }}view/js/ua-parser.min.js"></script>
<script>
    jQuery(function($) {
        var useragents = $('.useragent').each(function(e){
            console.log($(this).data('ua'));

            var parser = new UAParser($(this).data('ua'));
            var result = parser.getResult();
            $(this).html(result.browser.name + " " + result.browser.major + " / " + result.os.name + " " + result.os.version);
        });

    });
</script>

{% include '_footer.twig' %}
