{% include '_header.twig' with { 'active':'settings' } %}


<div class="row-fluid">
    <div class="span9">

        <h1>{{title}}</h1>

    <table class='dashboardlisting'>
        <tr>
            <th>#</th>
            <th>{{ __('Username') }}</th>
            <th>{{ __('Level') }}</th>
            <th>{{ __('Last seen') }}</th>
            <th>{{ __('Contenttypes') }}</th>
            <th>{{ __('Actions') }}</th>
        </tr>
        {% for user in users %}

        <tr class="{% if user.enabled==0 %}dim{% endif %}">
            <td class='id'>№ {{user.id}}</td>

            <td><strong>{{ user.displayname }}</strong> ({{ user.username}}) </td>
            <td>{{ userlevels[user.userlevel] }} </td>
            <td>
                {% if user.lastseen>"1000" %}
                    <time class="moment" datetime="{{ user.lastseen|date("c") }}" title="{{ user.lastseen }}">{{ user.lastseen }}</time>
                {% else %}
                    -
                {% endif %}
            </td>
            <td class='contenttypes'>
                {% if user.contenttypes|length == app.config.contenttypes|length %}
                    <em>all</em>
                {% else %}
                    {{ user.contenttypes|join(", ") }}
                {% endif %}
            </td>
            <td class='actions'>

                <div class="btn-group">
                    <button class="btn btn-mini uselink"><a href="{{ path('useredit', { 'id' : user.id }) }}">
                        <i class="icon-edit"></i> {{ __('Edit') }}</a>
                    </button>
                    <button class="btn dropdown-toggle btn-mini" data-toggle="dropdown">
                        <i class="icon-info-sign"></i>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right">
                        {% if user.enabled %}
                        <li><a href="{{ path('useraction', { 'action': 'disable', 'id': user.id }) }}">{{ __('Disable %username%',{'%username%':user.displayname}) }}</a></li>
                        {% else %}
                        <li><a href="{{ path('useraction', { 'action': 'enable', 'id': user.id }) }}">{{ __('Enable %username%',{'%username%':user.displayname}) }}</a></li>
                        {% endif %}
                        <li><a href="{{ path('useraction', { 'action': 'delete', 'id': user.id, token: token() }) }}" class="confirm" data-confirm="{{ __('Are you sure you want to delete %username%?',{'%username%':user.displayname}) }}">{{ __('Delete %username%',{'%username%':user.displayname}) }}</a></li>
                        <li class="divider"></li>
                        <li><a class="nolink">{{ __('Last seen') }}: <strong>{% if user.lastseen>"1000" %}{{ user.lastseen|date("Y-m-d H:i") }}{% else %}-{% endif %}</strong></a></li>
                        <li><a class="nolink">{{ __('Last known IP') }}: <strong>{% if user.lastip!="" %}{{ user.lastip }}{% else %}-{% endif %}</strong></a></li>
                    </ul>
                </div>

            </td>
        </tr>

        {% endfor %}

    </table>

    </div><!-- /span9 -->
    <aside class="span3">

        <section>
            <h2>{{ __('Actions for Users') }}</h2>
            <a class="btn" href="{{ path('useredit', { 'id' : '' }) }}">{{ __('New user') }}</a>
        </section>

        <div id="latestactivity">
            {{ render(path("latestactivity")) }}
        </div>
        <div id="latesttemp" style="display:none; visibility: hidden;"><!-- intentionally left blank --></div>

    </aside>
</div>


{% include '_footer.twig' %}
