<div class="tab-content">

    <div class="tab-pane active" id="stacktab">
        {{ render(path("showstack", {'items': 10, 'options': 'list'})) }}
    </div>

    {% for contenttype, records in context.results %}
        <div class="tab-pane" id="{{ contenttype }}">
            <ul>
                {% for record in records %}
                    <li><a class="filebrowserCallbackLink" href="{{ record.link }}" >№ {{ record.id }}. {{ record.title }}</a></li>
                {% else %}
                    <li><a class="filebrowserCloseLink">{{ __('contenttypes.generic.none-available', {'%contenttypes%': contenttype.slug}) }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}

</div>
