<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title">{{ __('page.extend.headline.installing-package') }}</h4>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-md-12">

            <div class="loader">
                <i class="fa fa-spin fa-spinner"></i> <span class="message">Checking available versions…</span>
            </div>

            <div class="install-response-container hide-block">
                <h3>{{ __('page.extend.headline.installing-package') }}</h3>
                <pre class="install-response console">{{ __('page.extend.message.installing-selected-package') }}</pre>
            </div>

            <div class="dependency-response-container hide-block">
                <h3>{{ __('Dependencies') }}</h3>
                <pre class="dependency-response console">{{ __('Finding packages that require this one…') }}</pre>
            </div>

            <div class="install-latest-container hide-block">

                <div class="latest-version-container">
                    <h3>{{ __('page.extend.headline.latest-version') }}</h3>
                    <p>{{ __('page.extend.message.latest-version') }}</p>
                    <table class="dashboardlisting table">
                        <thead>
                            <tr>
                                <th>{{ __('page.extend.listheader.extension') }}</th>
                                <th>{{ __('page.extend.listheader.version') }}</th>
                                <th>{{ __('page.extend.listheader.status') }}</th>
                                <th>{{ __('page.extend.listheader.actions') }}</th>
                            </tr>
                        </thead>
                        <tbody class="installed-version-item">
                            <tr>
                                <td colspan="4"><strong>{{ __('page.extend.message.no-stable-versions-available') }}</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <a class="btn btn-secondary" data-request="show-all">
                    <i class="fa fa-list fa-fw"></i> {{ __('page.extend.button.show-all-versions') }}
                </a>

            </div>


            <div class="install-version-container hide-block">

                <div class="stable-version-container">
                    <h3>{{ __('page.extend.headline.stable-versions') }}</h3>
                    <p>{{ __('page.extend.message.marked-as-stable') }}</p>
                    <table class="dashboardlisting table">
                        <thead>
                            <tr>
                                <th>{{ __('page.extend.listheader.extension') }}</th>
                                <th>{{ __('page.extend.listheader.version') }}</th>
                                <th>{{ __('page.extend.listheader.status') }}</th>
                                <th>{{ __('page.extend.listheader.actions') }}</th>
                            </tr>
                        </thead>
                        <tbody class="installed-version-item">
                            <tr>
                                <td colspan="4"><strong>{{ __('page.extend.message.no-stable-versions-available') }}</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="dev-version-container">
                    <h3>{{ __('page.extend.headline.test-versions') }}</h3>
                    <p>{{ __('page.extend.message.compatible-unstable-versions') }}</p>
                    <table class="dashboardlisting table">
                        <thead>
                            <tr>
                                <th>{{ __('page.extend.listheader.extension') }}</th>
                                <th>{{ __('page.extend.listheader.version') }}</th>
                                <th>{{ __('page.extend.listheader.status') }}</th>
                                <th>{{ __('page.extend.listheader.actions') }}</th>
                            </tr>
                        </thead>
                        <tbody class="installed-version-item">
                            <tr>
                                <td colspan="4"><strong>{{ __('page.extend.message.no-test-versions-available') }}</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="theme-postinstall">
                <div class="theme-generation-container hide-block">
                    <h3>{{ __('page.extend.headline.theme-installation-complete') }}</h3>
                    <p>{{ __('page.extend.message.before-theme-start') }}</p>
                    <fieldset>
                        <input type="text" id="theme-name" placeholder="Optionally change theme name">
                        <a href="#" class="theme-generator btn btn-primary" data-request="generate-theme" data-theme="">Generate Theme</a>
                    </fieldset>
                </div>
                <div class="theme-generate-response alert alert-info hide-block"></div>
            </div>

            <div class="extension-dependencies hide-block">
                <h3>{{ __('page.extend.message.package-dependencies') }}:</h3>
                <ul class="extension-dependencies-list">
                </ul>
            </div>

            <div class="extension-postinstall hide-block">
                <div class="modal-success hide-block">
                    <h3>{{ __('page.extend.headline.installation-complete') }}</h3>
                    <p>{{ __('page.extend.message.start-using-extension') }}</p>
                </div>

                <div class="modal-failed hide-block"></div>
            </div>

        </div>
    </div>
</div>

<div class="modal-footer postinstall-footer hide-block">
    {# -- This button seems not to do anything. Not yet, at least.
    <a href="#" class="ext-link btn btn-primary" target="_blank">{{ __('page.extend.button.info-help') }}</a>
    #}
    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
</div>
