{% extends "_page.twig" %}
{% block ptype 'Standard' %}
{% block pmain %}

<script src="{{ paths.app }}view/js/bolt-extend.js"></script>

<div class='extend-bolt-container'>
    {% if messages %}
        <div class="alert alert-info">
            <button class="close" data-dismiss="alert">×</button>
            {% for message in messages %}
                {{message}}
            {% endfor %}
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-8">
            <div class='update-container hide-block'>
                <h3>{{ __('Updates') }}</h3>
                <pre class="update-output console">{{ __('Checking for available updates (this may take up to 60 seconds)')}}..</pre>
                <div class="update-list hide-block">
                    <table class="dashboardlisting table">
                        <thead>
                            <tr>
                                <th>{{ __('Extension') }}</th>
                                <th>{{ __('Actions') }}</th>
                            </tr>
                        </thead>
                        <tbody class="update-list-items">
                        
                        </tbody>
                    </table>
                </div>
            </div>
            <section class="installed-container">
                <h3>{{ __('Your Currently Installed Extensions') }}</h3>
                <pre class="installed console" data-action='installed'>{{ __('Checking installed packages')}}..</pre>
                <div class="installed-list hide-block">
                    <table class="dashboardlisting table">
                        <thead>
                            <tr>
                                <th>{{ __('Extension') }}</th>
                                <th>{{ __('Description') }}</th>
                                <th>{{ __('Author(s)') }}</th>
                                <th>{{ __('Actions') }}</th>
                            </tr>
                        </thead>
                        <tbody class="installed-list-items">
                        
                        </tbody>
                    </table>
                </div>
            </section>
            <hr />
            <section>
                <h3>{{ __('Install a new Extension') }}</h3>
                <p>
                    {{ __('Add a new extension using the form below.') }}
                    {{ __('You can discover new extensions by visiting') }} 
                    <a href="{{site}}">{{site}}</a>
                </p>
                <div class="install-container">
                        <div class="auto-search hide-block"></div>                
                        <input type="text" name="check-package" placeholder="Extension name eg: bolt/widget">
                        <a class="btn btn-tertiary check-package" data-action='check-package'>
                            <i class="icon-gears"></i> {{ __('Check Extension') }}
                        </a> 
                </div>
                <div class='install-response-container hide-block'>
                    <h3>{{ __('Installing package') }}</h3>
                    <pre class="install-response console">{{ __('Installing selected package version (this may take up to 60 seconds).') }}</pre>
                </div>
            </section>
        </div>
        
        <aside class="col-md-4">
            <h2>Options</h2>
            <section>
            <h4>{{ __('Check for updates') }}</h4>
                <a class="btn btn-tertiary" data-action='update-check'>
                    <i class="icon-refresh"></i> {{ __('Run update check') }}
                </a>
            <h4>{{ __('Install all updates') }}</h4>
                <a class="btn btn-primary" data-action='update-run'>
                    <i class="icon-refresh"></i> {{ __('Run all Updates') }}
                </a>
            </section>
        </aside>
        
    </div>


</div>

<script>
    var site = '{{site}}';
    var baseurl = "{{paths.bolt}}extend/";
    
    var active_console;
    var active_interval;
    
    jQuery(document).ready(function($) {
        var boltExtendHandler = new BoltExtender();
    });

</script>

{% endblock pmain %}