{# Page: NavSecondary > Extend Bolt #}

{% extends "_base/_page-nav.twig" %}

{% block page_nav 'ExtendBolt' %}

{% block page_title __('Extend %boltname%', {'%boltname%': app.config.get('general/branding/name')}) %}

{# clear default messages, because we use them in a different spot, in this template #}
{% block messages "" %}

{% block page_main %}
    {% include 'extend/_package.twig' %}

    {% if messages %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-info">
                    <button class="close" data-dismiss="alert">×</button>
                    {% for message in messages %}
                        {{ message }}<br>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row extend-bolt-container">
        <div class="col-md-9">

            {% if not writeable %}
            {% set msg = __('The extensions directory (<code>%dir%</code>) does not exist, or it is not writable. ' ~
                   'This means that you cannot manage Bolt extensions through the backend; consider ' ~
                   'managing extensions manually, or changing file permissions to allow Bolt ' ~
                   'write access to (<code>%dir%</code>).', {'%dir%': extensionsPath}) %}
            <div class="alert alert-warning">
                <button class="close" data-dismiss="alert">×</button>
                    {{ msg|ymllink }}
            </div>
            {% endif %}

            {% if not enabled %}
            {% set msg = __('Extensions loading has been disabled by an administrator in the %config% file. ' ~
                   'You may install, update and uninstall extensions but they will not load until this setting ' ~
                   'has been changed.', {'%config%': 'config.yml'|ymllink }) %}
            <div class="alert alert-warning">
                <button class="close" data-dismiss="alert">×</button>
                    {{ msg|ymllink }}
            </div>
            {% endif %}

            {% include '_sub/_messages.twig' %}

            <section>
                <h2>{{ __('Install a new Extension') }}</h2>
                <p>
                    {% if writeable and online %}
                    {{ __('Add a new extension using the form below.') }}
                    {% endif %}
                    {{ __('You can discover new extensions by visiting') }}
                    <a href="{{ site }}" target="_blank">{{ site }}</a>
                </p>
                {% if writeable and online %}
                <div class="install-container">
                        <div class="auto-search hide-block"></div>
                        <input type="text" name="check-package" placeholder="Extension name eg: bolt/widget">
                        <a class="btn btn-tertiary check-package" data-request="check-package" data-toggle="modal" data-target="#installModal">
                            <i class="icon-gears"></i> {{ __('Browse Versions') }}
                        </a>

                        <div class="modal fade" id="installModal" tabindex="-1" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    {% include 'extend/install-package.twig' %}
                                </div>
                            </div>
                        </div>
                </div>
                {% endif %}
            </section>

            <hr />

            <div class="update-container hide-block">
                <h3>{{ __('Updates') }}</h3>
                {% if writeable %}
                <pre class="update-output console">{{ __('Checking for available updates (this may take up to 60 seconds)') }}..</pre>
                {% else %}
                <pre class="update-output">{{ __('Cannot check for updates in read-only mode') }}</pre>
                {% endif %}
                <div class="update-list hide-block">
                    <table class="dashboardlisting table">
                        <thead>
                            <tr>
                                <th>{{ __('Extension') }}</th>
                                <th>{{ __('Version') }}</th>
                                <th>{{ __('Actions') }}</th>
                            </tr>
                        </thead>
                        <tbody class="update-list-items">

                        </tbody>
                    </table>
                </div>
            </div>
            <section class="installed-container">
                <h2>{{ __('Your Currently Installed Extensions') }}</h2>
                {% if writeable %}
                <pre class="installed console" data-request="installed">{{ __('Checking installed packages') }}..</pre>
                {% else %}
                <pre class="installed">{{ __('Cannot check installed packages in read-only mode') }}</pre>
                {% endif %}
                <div class="installed-list hide-block">
                    <div class="installed-list-items">

                    </div>
                </div>
            </section>

            <!-- Modal for readmes -->
            <div class="modal fade" id="readmeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                  </div>
                  <div class="modal-body">
                    ...
                  </div>
                </div>
              </div>
            </div>

        </div>

        <aside class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-cog fa-fw"></i>Extensions Options</div>
                <div class="panel-body">
                        <p><strong>{{ __('Check for updates') }}</strong></p>
                        <div class="btn-group">
                            <a class="btn btn-tertiary{% if not writeable or not online %} disabled{% endif %} clickspinner" data-request="update-check">
                                <i class="fa fa-refresh fa-fw"></i> {{ __('Run update check') }}
                            </a>
                        </div>
                        <p>{{ __("This won't install anything, just show you available updates") }}</p>
                        <hr>
                        <p><strong>{{ __('Install all updates') }}</strong></p>
                        <div class="btn-group">
                            <a class="btn btn-primary{% if not writeable or not online %} disabled{% endif %} clickspinner" data-request="update-run">
                                <i class="fa fa-refresh fa-fw"></i> {{ __('Run all Updates') }}
                            </a>
                        </div>
                        <p>{{ __("This will install all available updates.") }}</p>
                        <hr>
                        <div class="btn-group">
                            <a class="btn btn-primary{% if not writeable or not online %} disabled{% endif %} clickspinner" data-request="install-run">
                                <i class="fa fa-download fa-fw"></i> {{ __('Install all Packages') }}
                            </a>
                        </div>
                        <p>{{ __("This will make sure all packages listed are installed. Use this if you've recently moved to a new server or if you have manually added an extension.") }}</p>
                </div>
            </div>
        </aside>

    </div>

    <script>
        var site = '{{ site }}';
        var baseurl = '{{ paths.bolt }}extend/';
        var rootpath = '{{ paths.rootpath }}';

        jQuery(document).ready(function($) {
            var boltExt = new BoltExtender();
            boltExt.setMessage('badJson', '{{ __('Malformed JSON response. Ensure no debugging or other code is being added to the response') }}' );
            boltExt.setMessage('confirmRemove', '{{ __('Please confirm that you want to remove this extension?') }}');
            boltExt.setMessage('copying', '{{ __('Copying theme assets …') }}');
            boltExt.setMessage('extError', '{{ __('Bolt Extension could not be found. Please check at %site% to ensure correct name.')|replace({'%site%': site}) }}' );
            boltExt.setMessage('installAll', '{{ __('Running install of all packages …') }}');
            boltExt.setMessage('installing', '{{ __('Preparing to install package …') }}');
            boltExt.setMessage('noStable', '{{ __('No Stable Versions Available') }}');
            boltExt.setMessage('noTest', '{{ __('No Test Versions Available') }}');
            boltExt.setMessage('nothtingInstalled', '{{ __('No Bolt Extensions installed.') }}');
            boltExt.setMessage('overwrite', '{{ __('This will overwrite any existing files! Are you sure?') }}');
            boltExt.setMessage('removing', '{{ __('Preparing to remove package …') }}');
            boltExt.setMessage('runningUpdate', '{{ __('Running update …') }}');
            boltExt.setMessage('updating', '{{ __('Searching for available updates …') }}');
            boltExt.setMessage('updated', '{{ __('Everything is up to date!') }}');
            boltExt.setPath('extensionsconfigpath', '{{ paths.extensionsconfigpath }}');
            boltExt.setPath('extensionspath', '{{ paths.extensionspath }}');
        });
    </script>

{% endblock page_main %}
