{# Page: NavSecondary > Extend Bolt #}

{% extends '@bolt/_base/_page-nav.twig' %}

{% block page_nav 'ExtendBolt' %}

{% block page_title __('page.extend.pagetitle', {'%BOLTNAME%': app.config.get('general/branding/name')}) %}

{# clear default messages, because we use them in a different spot, in this template #}
{% block messages "" %}

{% block page_main %}
    {% include '@bolt/extend/_package.twig' %}

    {% if context.messages %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-info alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    {% for message in context.messages %}
                        {{ message }}<br>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row extend-bolt-container">
        <div class="col-md-9">

            {% if not context.writeable %}
            {% set msg = __('page.extend.message.ext-dir-missing', {'%DIRECTORY%': context.extensionsPath}) %}
            <div class="alert alert-warning alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">×</button>
                    {{ msg|ymllink }}
            </div>
            {% endif %}

            {% if not context.enabled %}
            {% set msg = __('page.extend.message.loading-disabled', {'%CONFIG%': 'config.yml'|ymllink }) %}
            <div class="alert alert-warning alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">×</button>
                    {{ msg|ymllink }}
            </div>
            {% endif %}

            {% include '@bolt/_sub/_messages.twig' %}

            <section>
                <h2>{{ __('page.extend.headline.install-new-extension') }}</h2>
                <p>
                    {% if context.writeable and context.online %}
                    {{ __('page.extend.message.add-extension-with-form') }}
                    {% endif %}
                    {{ __('page.extend.message.discover-by-visiting') }}
                    <a href="{{ context.site }}" target="_blank">{{ context.site }}</a>
                </p>
                {% if context.writeable and context.online %}
                <div class="install-container">
                        <div class="auto-search hide-block"></div>
                        <input type="text" name="check-package" placeholder="Extension name eg: bolt/widget">
                        <a class="btn btn-tertiary check-package" data-request="check-package" data-toggle="modal" data-target="#installModal">
                            <i class="icon-gears"></i> {{ __('page.extend.button.browse-versions') }}
                        </a>

                        <div class="modal fade" id="installModal" tabindex="-1" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    {% include '@bolt/extend/install-package.twig' %}
                                </div>
                            </div>
                        </div>
                </div>
                {% endif %}
            </section>

            <hr>

            <div class="update-container hide-block">
                <h3>{{ __('page.extend.headline.updates') }}</h3>
                {% if context.writeable %}
                <pre class="update-output console">{{ __('page.extend.message.checkung-for-updates') }}..</pre>
                {% else %}
                <pre class="update-output">{{ __('page.extend.message.no-update-check-in-readmode') }}</pre>
                {% endif %}
                <div class="update-list hide-block">
                    <table class="dashboardlisting table">
                        <thead>
                            <tr>
                                <th>{{ __('page.extend.listheader.extension') }}</th>
                                <th>{{ __('page.extend.listheader.version') }}</th>
                                <th>{{ __('page.extend.listheader.actions') }}</th>
                            </tr>
                        </thead>
                        <tbody class="update-list-items">

                        </tbody>
                    </table>
                </div>
            </div>
            <section class="installed-container">
                <h2>{{ __('page.extend.headline.currently-installed') }}</h2>
                {% if context.writeable %}
                <pre class="installed console" data-request="installed">{{ __('page.extend.message.checking-installed-packages') }}..</pre>
                {% else %}
                <pre class="installed">{{ __('page.extend.message.no-package-check-in-readmode') }}</pre>
                {% endif %}
                <div class="installed-list hide-block">
                    <div class="installed-list-items">

                    </div>
                </div>
            </section>

            <!-- Modal for readmes -->
            <div class="modal fade" id="readmeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                  </div>
                  <div class="modal-body">
                    ...
                  </div>
                </div>
              </div>
            </div>



        </div>

        <aside class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-cog fa-fw"></i>Extensions Options</div>
                <div class="panel-body">
                        <p><strong>{{ __('page.extend.message.check-for-updates') }}</strong></p>
                        <div class="btn-group">
                            <a class="btn btn-tertiary{% if not context.writeable or not context.online %} disabled{% endif %}" data-request="update-check">
                                <i class="fa fa-refresh fa-fw"></i> {{ __('page.extend.button.update-check') }}
                            </a>
                        </div>
                        <p>{{ __('page.extend.message.shows-updates') }}</p>
                        <hr>
                        <p><strong>{{ __('page.extend.message.install-all-updates') }}</strong></p>
                        <div class="btn-group">
                            <a class="btn btn-primary{% if not context.writeable or not context.online %} disabled{% endif %}" data-request="update-run">
                                <i class="fa fa-refresh fa-fw"></i> {{ __('page.extend.button.update-all') }}
                            </a>
                        </div>
                        <p>{{ __('page.extend.message.installs-updates') }}</p>
                        <hr>
                        <div class="btn-group">
                            <a class="btn btn-primary{% if not context.writeable or not context.online %} disabled{% endif %}" data-request="install-run">
                                <i class="fa fa-download fa-fw"></i> {{ __('page.extend.button.install-all') }}
                            </a>
                        </div>
                        <p>{{ __('page.extend.message.installs-all-listed-packages') }}</p>
                </div>
            </div>
        </aside>

    </div>

    {{ data('extend.text.bad-json',       __('page.extend.message.bad-json')) }}
    {{ data('extend.text.confirm-remove', __('page.extend.message.confirm-remove')) }}
    {{ data('extend.text.copying',        __('page.extend.message.copying')) }}
    {{ data('extend.text.install-all',    __('page.extend.message.install-all')) }}
    {{ data('extend.text.installing',     __('page.extend.message.installing')) }}
    {{ data('extend.text.no-stable',      __('page.extend.message.no-stable-versions-available')) }}
    {{ data('extend.text.no-test',        __('page.extend.message.no-test-versions-available')) }}
    {{ data('extend.text.overwrite',      __('page.extend.message.overwrite')) }}
    {{ data('extend.text.removing',       __('page.extend.message.removing')) }}
    {{ data('extend.text.running-update', __('page.extend.message.running-update')) }}
    {{ data('extend.text.updating',       __('page.extend.message.updating')) }}
    {{ data('extend.text.updated',        __('page.extend.message.updated')) }}

    {{ data('extend.siteurl',             context.site) }}
    {{ data('extend.baseurl',             paths.bolt ~ 'extend/') }}
    {{ data('extend.rootpath',            paths.rootpath) }}

{% endblock page_main %}
