<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">{{__('Installing Package')}}</h4>
</div>
<div class="modal-body">

    <div class="row">
        <div class="col-md-12">
        
            <div class="loader"><i class="fa fa-spin fa-circle-o-notch"></i> Checking available versions...</div>
            
            <div class="install-version-container hide-block">
                    <hr>
                    <table class="dashboardlisting table">
                        <thead>
                            <tr>
                                <th>{{ __('Extension') }}</th>
                                <th>{{ __('Select version') }}</th>
                                <th>{{ __('Bolt Compatibility') }}</th>
                                <th>{{ __('Actions') }}</th>
                            </tr>
                        </thead>
                        <tbody class="installed-version-item">

                        </tbody>
                    </table>
                </div>
                <div class='install-response-container hide-block'>
                    <h3>{{ __('Installing package') }}</h3>
                    <pre class="install-response console">{{ __('Installing selected package version (this may take up to 60 seconds).') }}</pre>
                </div>
            
        </div>

        

    </div>


</div>