<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">{{__('Installing Package')}}</h4>
</div>
<div class="modal-body">

    <div class="row">
        <div class="col-md-12">
        
            <div class="loader"><i class="fa fa-spin fa-circle-o-notch"></i> Checking available versions...</div>
            
            <div class="install-version-container hide-block">
                <div class='install-response-container hide-block'>
                    <h3>{{ __('Installing package') }}</h3>
                    <pre class="install-response console">{{ __('Installing selected package version (this may take up to 60 seconds).') }}</pre>
                </div>
                <div class="stable-version-container">
                    <h3>{{__("Stable Versions")}}</h3>
                    <p>{{__('The versions listed below are marked as stable releases by the developer and are compatible with the version of Bolt you are currently using.')}}</p>
                    <table class="dashboardlisting table">
                        <thead>
                            <tr>
                                <th>{{ __('Extension') }}</th>
                                <th>{{ __('Version') }}</th>
                                <th>{{ __('Actions') }}</th>
                            </tr>
                        </thead>
                        <tbody class="installed-version-item">
                            <tr><td colspan="3">{{__('No Versions Available')}}</td></tr>
                        </tbody>
                    </table>
                </div>
                
                <div class="dev-version-container">
                    <h3>{{__("Unstable Test Versions")}}</h3>
                    <p>{{__('The versions listed below are compatible with the version of Bolt you are using. Since they are unstable versions, we recommend you <strong>do not</strong> use these on production systems.')}}</p>
                    <table class="dashboardlisting table">
                        <thead>
                            <tr>
                                <th>{{ __('Extension') }}</th>
                                <th>{{ __('Version') }}</th>
                                <th>{{ __('Actions') }}</th>
                            </tr>
                        </thead>
                        <tbody class="installed-version-item">
                            <tr><td colspan="3">{{__('No Versions Available')}}</td></tr>
                        </tbody>
                    </table>
                </div>
                
            </div>
            
        </div>

        

    </div>


</div>