{#=== INIT ===========================================================================================================#}

{% set multiple = taxonomy.multiple is defined and taxonomy.multiple == 1 %}

{% set attributes = {
    select: {
        name:      'taxonomy[' ~ taxonomy.slug ~ '][]',
        id:        'taxonomy-' ~ taxonomy.slug,
        class:     'form-control',
        multiple:  multiple,
    }
} %}

{#=== FIELDSET =======================================================================================================#}

{% extends '_base/_fieldset.twig' %}

{% block fieldset_type 'categories' %}

{% block fieldset_label_text  taxonomy.name %}
{% block fieldset_label_class 'col-sm-3' %}
{% block fieldset_label_for   'taxonomy-' ~ taxonomy.slug %}

{% block fieldset_controls %}
    <div class="col-sm-9">
        <select{{ macro.attr(attributes.select) }}>
            {% if not multiple %}
                <option value="">{{ __('(no category)') }}</option>
                <option value="" disabled>-----------</option>
            {% endif %}

            {% for slug, cat in taxonomy.options %}
                <option value="{{ slug }}" {% if context.content.taxonomy[taxonomy.slug] is defined and cat in context.content.taxonomy[taxonomy.slug] %}selected{% endif %}>{{ cat }}</option>
            {% endfor %}
        </select>

        {% if multiple %}
            <div>
                <button type="button" class="btn btn-default btn-xs select-all">
                    <i class="fa fa-fw fa-check-square-o"></i>{{ __('Select all') }}
                </button>
                <button type="button" class="btn btn-default btn-xs select-none">
                    <i class="fa fa-fw fa-square-o"></i>{{ __('Select none') }}
                </button>
            </div>
        {% endif %}
    </div>
{% endblock fieldset_controls %}
