{#=== OPTIONS ========================================================================================================#}

{% set option = {
    extensions:  field.extensions|default([]),
    label:       field.label|default(''),
    upload:      field.upload|default(''),
    info:        field.info|default('info.upload.filelist')
}%}

{#=== INIT ===========================================================================================================#}

{% set items = stackitems(7, 'other,document') %}

{% set attr_fileupload = {
    accept:       option.extensions ? '.'~option.extensions|join(',.') : '',
    data_upload:  {type: 'FileList', key: key}|json_encode(),
    data_url:     url('upload', {'handler': option.upload}),
    id:           'fileupload-'~key,
    name:         'files[]',
    type:         'file',
    multiple:     true,
}%}

{% if context.content.get(key) is defined %}
    {% set list_json = context.content.get(key)|json_encode() %}
{% else %}
    {% set list_json = '' %}
{% endif %}

{#=== BLOCKS =========================================================================================================#}

{% import _self as block %}

{# Modal "select from server" #}
{% macro serverselect(key) %}
    <div class="modal fade" id="selectModal-{{ key }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content"></div>
        </div>
    </div>
{% endmacro %}

{#=== FIELDSET =======================================================================================================#}

<fieldset class="filelist">
    <label class="col-sm-12 control-label">{{ macro.infopop(labelkey, option.info) }}</label>

    <div class="col-sm-12 filelistholder dropzone" id="filelist-{{ key }}">

        <div class="list"></div>

        <div class="button-wrap">
            {{ macro.upload_buttons('file', key, __('Upload file'), attr_fileupload, paths, option.upload) }}
        </div>

        <textarea name="{{ key }}" id="{{ key }}" class="hide">{{ list_json }}</textarea>

    </div>

    {{ block.serverselect(key) }}

</fieldset>
