{#=== OPTIONS ========================================================================================================#}

{% set option = {
    extensions:  field.extensions|default([]),
    label:       field.label,
    upload:      field.upload|default(''),
    info:        field.info|default('info.upload.filelist')
} %}

{#=== INIT ===========================================================================================================#}

{% set attributes = {
    fileupload: {
        accept:       option.extensions ? '.' ~ option.extensions|join(',.') : '',
        data_url:     path('upload', { 'handler': option.upload }),
        id:           'fileupload-' ~ key,
        multiple:     true,
        name:         'files[]',
        type:         'file',
    }
} %}

{% set list = context.content.get(contentkey)|default([]) %}

{#=== TEMPLATES ======================================================================================================#}

{### Template: Empty list ###}

{% set template_empty %}
    <p>{{ __('general.phrase.no-files-in-list') }}</p>
{% endset %}
{% set template_empty = template_empty|trim %}

{### Template: Listitem ###}

{% set template_item %}
    <div class="item ui-state-default">
        <div class="icon"><i class="fa %ICON%"></i><span>%EXT_E%</span></div>
        <input type="text" class="title" value="%TITLE_A%">
        <input type="hidden" class="filename" value="%FILEPATH_A%">
        <a href="#" class="remove"><i class="fa fa-times"></i></a>
        <span class="desc">%FILEPATH_E%</span>
    </div>
{% endset %}
{% set template_item = template_item|trim|preg_replace('/>\\s+</', '><') %}

{#=== FIELDSET =======================================================================================================#}

{% extends '@bolt/_base/_fieldset.twig' %}
{% import '@bolt/_macro/_macro.twig' as macro %}

{% block fieldset_type 'filelist' %}
{% block fieldset_widget 'fieldFilelist' %}

{% block fieldset_label_text  labelkey %}
{% block fieldset_label_info  option.info %}
{% block fieldset_label_class 'col-xs-12' %}

{% block fieldset_controls %}
    {{ data('field.filelist.template.empty', template_empty) }}
    {{ data('field.filelist.template.item', template_item) }}

    <div class="col-xs-12 elm-dropzone">
        {# Filelist #}
        <div class="list">
            {% for item in list %}
                {% set file = context.file_matcher.getFile(item.filename, false) %}
                {% if file is not null %}
                    {{ template_item|replace({
                        '%ICON%':       'fa-file-o',
                        '%TITLE_A%':    item.title|e('html_attr'),
                        '%FILEPATH_A%': file.path|e('html_attr'),
                        '%FILEPATH_E%': file.path|e('html'),
                        '%EXT_E%':      file.extension|upper|e('html'),
                    })|raw }}
                {% else %}
                    {{ template_item|replace({
                        '%ICON%':       'fa-question',
                        '%TITLE_A%':    item.title|e('html_attr'),
                        '%FILEPATH_A%': item.filename|e('html_attr'),
                        '%FILEPATH_E%': item.filename|e('html'),
                        '%EXT_E%':      '',
                    })|raw }}
                {% endif %}
            {% else %}
                {{ template_empty|raw }}
            {% endfor %}
        </div>

        {# Progress info #}
        <div class="buic-progress" data-bolt-widget="buicProgress"></div>

        {# Buttons #}
        <div class="clearfix">
            {{ macro.upload_buttons([], attributes.fileupload, option.upload, context.can.upload, true) }}
        </div>

        {# Data #}
        <textarea name="{{ name }}" class="hide">{{ list|json_encode() }}</textarea>
    </div>
{% endblock fieldset_controls %}
