{#=== OPTIONS ========================================================================================================#}

{% set option = {
    class:       ('form-control ' ~ field.class)|trim,
    label:       field.label,
    extensions:  field.extensions|default([]),
    upload:      field.upload|default(''),
    can_upload:  field.canUpload,
    info:        field.info|default('info.upload.file')
} %}

{#=== INIT ===========================================================================================================#}

{% set attributes = {
    filepath: {
        class:        option.class ~ ' imageinput',
        id:           'field-' ~ key,
        name:         name,
        placeholder:  __('field.general.allowed-filetypes') ~ ' ' ~ option.extensions|join(', ') ~ ' …',
        type:         'text',
        value:        context.content.get(contentkey),
    },

    upload: {
        accept:       option.extensions ? '.' ~ option.extensions|join(',.') : '',
        data_upload:  {type: 'File', key: key}|json_encode(),
        data_url:     url('upload', {'handler': option.upload}),
        id:           'fileupload-' ~ key,
        name:         'files[]',
        type:         'file',
    }
} %}

{% set can_upload = context.can.upload and option.can_upload %}

{#=== FIELDSET =======================================================================================================#}

{% extends '@bolt/_base/_fieldset.twig' %}

{% block fieldset_type 'file' %}

{% block fieldset_label_text  labelkey %}
{% block fieldset_label_info  option.info %}
{% block fieldset_label_class 'col-xs-12' %}

{% block fieldset_controls %}
    <div class="col-xs-12 dropzone clearfix" id="dropzone-{{ key }}">
        {# Path #}
        <input{{ macro.attr(attributes.filepath) }}>

        {# Uploadbuttons #}
        {{ macro.upload_buttons('file', key, attributes.upload, option.upload, can_upload) }}

        {# Progressbar #}
        <div class="progress file-progress progress-striped active" id="progress-{{ key }}">
            <div class="progress-bar"></div>
        </div>

        {# Modal "select from server" #}
        <div class="modal fade" id="selectModal-{{ key }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content"></div>
            </div>
        </div>

        {# Infotext #}
        {% if not ismobileclient() %}
            <div class="infotext hidden-xs">{{ app.translator.trans('info.upload.filesmall', {}, 'infos') }}</div>
        {% endif %}
    </div>
{% endblock fieldset_controls %}
