{#=== OPTIONS ========================================================================================================#}

{% set option = {
    class:        ('form-control ' ~ field.class)|trim,
    label:        field.label,
    placeholder:  field.placeholder|default(''),
    required:     field.required|default(false),
    readonly:     field.readonly|default(false),
    title:        field.title|default(''),
    info:         field.info|default(''),
    errortext:    field.error|default(''),
    min:          field.min|default(''),
    max:          field.max|default(''),
    step:         field.step|default('0.00000001'),
} %}

{#=== INIT ===========================================================================================================#}

{% set validation = {float: null} %}

{% set attributes = {
    number: {
        class:           option.class ~ ' narrow',
        data_errortext:  option.errortext,
        data_validate:   validation|json_encode,
        id:              key,
        name:            name,
        placeholder:     option.placeholder,
        readonly:        option.readonly,
        title:           option.title,
        type:            'text',
        value:           0 + context.content.get(contentkey),
    }
} %}

{#=== FIELDSET =======================================================================================================#}

{% extends '@bolt/_base/_fieldset.twig' %}

{% block fieldset_type 'float' %}

{% block fieldset_label_text  labelkey %}
{% block fieldset_label_info  option.info %}
{% block fieldset_label_class 'col-sm-3' %}
{% block fieldset_label_for   key %}

{% block fieldset_controls %}
    {{ data('validation.float', __('Has to be a floating point number!')) }}

    {% if option.required %}
        {% set validation = validation|merge({required: true}) %}
        {{ data('validation.required', __('Is required!')) }}
    {% endif %}

    {% if option.min %}
        {% set validation = validation|merge({min: option.min}) %}
        {{ data('validation.min', __('The value has to be at least “%MINVAL%”!')) }}
    {% endif %}

    {% if option.max %}
        {% set validation = validation|merge({max: option.max}) %}
        {{ data('validation.max', __('The value must not be greater than “%MAXVAL%”!')) }}
    {% endif %}

    <div class="col-sm-9">
        <input{{ macro.attr(attributes.number) }}>
    </div>
{% endblock fieldset_controls %}
