{#=== OPTIONS ========================================================================================================#}

{% set option = {
    label:  field.label|default(''),
    info:   field.info|default('info.geolocation')
} %}

{#=== INIT ===========================================================================================================#}

{% set geolocation = context.content.get(contentkey) %}

{#=== SLOT ===========================================================================================================#}

{% set attributes = {
    address: {
        class:       'form-control address',
        name:        name ~ '[address]',
        placeholder: __('field.geolocation.placeholder.address') ~ ' …',
        type:        'text',
    },
    latitude: {
        class:       'form-control latitude',
        name:        name ~ '[latitude]',
        readonly:    true,
        step:        'any',
        type:        'number',
    },
    longitude: {
        class:       'form-control longitude',
        name:        name ~ '[longitude]',
        readonly:    true,
        type:        'number',
        step:        'any',
    },
    formatted: {
        class:      'matched',
        name:        name ~ '[_address]',
        readonly:    true,
        type:        'text',
        placeholder: '—',
    }
} %}

{% macro slot(attributes, key, geolocation) %}
    {% from '_macro/_macro.twig' import attr %}

    <div class="col-sm-8">
        <div class="form-group">
            <div class="col-sm-12">
                <label>{{ __('field.geolocation.label.address-lookup') }}</label>
                <input{{ attr(attributes.address) }} value="{{ geolocation.address|default('') }}">
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-6">
                <label>{{ __('field.geolocation.label.latitude') }}</label>
                <input{{ attr(attributes.latitude) }} value="{{ geolocation.latitude|default('') }}">
            </div>
            <div class="col-xs-6">
                <label>{{ __('field.geolocation.label.longitude') }}</label>
                <input {{ attr(attributes.longitude) }} value="{{ geolocation.longitude|default('') }}">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <label>{{ __('field.geolocation.matched-address') }}</label>
                <input{{ attr(attributes.formatted) }} value="{{ geolocation.formatted_address|default('') }}">
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <label>{{ __('field.geolocation.label.marker-placement') }}</label>
        <div class="mapholder"><i class="fa fa-spinner fa-spin fa-5x"></i></div>
    </div>
{% endmacro %}

{#=== FIELDSET =======================================================================================================#}

{% extends '_base/_fieldset.twig' %}
{% from _self import slot %}

{# Default location is Two Kings, for now. #}
{% set fieldset = {
    geolocation: {
        key: key,
        latitude: geolocation.latitude|default(52.08184),
        longitude: geolocation.longitude|default(4.292368),
    }
}%}

{% block fieldset %}
    <label class="control-label col-xs-12">{{ macro.infopop(labelkey, option.info) }}</label>
    <div class="field-container col-xs-12">
        <div class="field-slot row">
            {{ slot(attributes, key, geolocation) }}
        </div>
    </div>
{% endblock fieldset %}
