{#=== OPTIONS ========================================================================================================#}

{% set option = {
    label:  ('form-control ' ~ field.class)|trim,
    info:   field.info|default('info.geolocation')
} %}

{#=== INIT ===========================================================================================================#}

{% set geolocation = context.content.get(contentkey) %}

{% set attributes = {
    address: {
        class:       'form-control address',
        name:        name ~ '[address]',
        placeholder: __('field.geolocation.placeholder.address') ~ ' …',
        type:        'text',
    },

    latitude: {
        class:       'form-control latitude',
        name:        name ~ '[latitude]',
        readonly:    true,
        step:        'any',
        type:        'number',
    },

    longitude: {
        class:       'form-control longitude',
        name:        name ~ '[longitude]',
        readonly:    true,
        step:        'any',
        type:        'number',
    },

    formatted: {
        class:      'form-control matched',
        name:        name ~ '[formatted_address]',
        placeholder: '—',
        readonly:    true,
        type:        'text',
    },

    snap: {
        checked:     true,
        class:       'snap',
        name:        name ~ '[snap]',
        type:        'checkbox',
    }
} %}

{#=== FIELDSET =======================================================================================================#}

{% extends '@bolt/_base/_fieldset.twig' %}

{# Default location is Two Kings, for now. #}
{% set fieldset_conf = {
    latitude: geolocation.latitude|default(52.08184),
    longitude: geolocation.longitude|default(4.292368),
}%}

{% block fieldset_type 'geolocation' %}
{% block fieldset_widget 'fieldGeolocation' %}

{% block fieldset_label_text  labelkey %}
{% block fieldset_label_info  option.info %}
{% block fieldset_label_class 'col-xs-12' %}

{% block label_prepend %}
    <label{{ macro.attr(attributes_label) }}>{{ block('fieldset_label_text') }}: {{ field_info|default('') }}</label>
{% endblock %}

{% block fieldset_controls %}
    <div class="col-xs-12">
        <div class="row">
            <div class="col-sm-8">
                <div class="form-group">
                    <div class="col-sm-12">
                        <label>{{ __('field.geolocation.label.address-lookup') }}</label>
                        <input{{ hattr(attributes.address) }} value="{{ geolocation.address|default('') }}">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-6">
                        <label>{{ __('field.geolocation.label.latitude') }}</label>
                        <input{{ hattr(attributes.latitude) }} value="{{ geolocation.latitude|default('') }}">
                    </div>
                    <div class="col-xs-6">
                        <label>{{ __('field.geolocation.label.longitude') }}</label>
                        <input {{ hattr(attributes.longitude) }} value="{{ geolocation.longitude|default('') }}">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <label>{{ __('field.geolocation.matched-address') }}</label>
                        <input{{ hattr(attributes.formatted) }} value="{{ geolocation.formatted_address|default('') }}">
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <label>{{ __('field.geolocation.label.marker-placement') }}</label>
                <div class="mapholder"><i class="fa fa-spinner fa-spin fa-5x"></i></div>
                <div class="checkbox">
                    <label><input{{ hattr(attributes.snap) }}>{{ __('field.geolocation.label.snap') }}</label>
                </div>
            </div>
        </div>
    </div>
{% endblock fieldset_controls %}

{% block label_append %}
{% endblock %}
