{#=== OPTIONS ========================================================================================================#}

{% set option = {
    label:  field.label|default(''),
    info:   field.info|default('info.geolocation')
} %}

{#=== INIT ===========================================================================================================#}

{% set geolocation = context.content.get(key) %}
{% set geolocation_lat = geolocation.latitude|default('') %}
{% set geolocation_lon = geolocation.longitude|default('') %}

{% set attr_lat = {
    class:  'form-control',
    id:     key ~ '-latitude',
    name:   key ~ '[latitude]',
    style:  '',
    type:   'number',
    step:   'any',
    value:  geolocation_lat,
} %}

{% set attr_lon = {
    class:  'form-control',
    id:     key ~ '-longitude',
    name:   key ~ '[longitude]',
    style:  '',
    type:   'number',
    step:   'any',
    value:  geolocation_lon,
} %}

{% set attr_address = {
    class:       'form-control',
    id:          key ~ '-address',
    name:        key ~ '[address]',
    type:        'text',
    placeholder: __('field.geolocation.placeholder.address') ~ ' …',
    value:       geolocation.address|default(''),
} %}

{% set attr_formatted = {
    data_geolocation:  {key: key, lat: geolocation_lat, lon: geolocation_lon}|json_encode,
    id:                key ~ '-formatted_address',
    name:              key ~ '[formatted_address]',
    style:             'width: 30%;',
    type:              'hidden',
    value:             geolocation.formatted_address|default(''),
} %}

{#=== FIELDSET =======================================================================================================#}

<fieldset class="geolocation">

    <label class="control-label col-xs-12">{{ macro.infopop(labelkey, option.info) }}</label>
    <div class="col-sm-8">
        <div class="form-group">
            <div class="col-sm-12">
                <label>{{ __('field.geolocation.label.address-lookup') }}</label>
                <input{{ macro.attr(attr_address) }}>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-6">
                <label>{{ __('field.geolocation.label.latitude') }}</label>
                <input{{ macro.attr(attr_lat) }}>
            </div>
            <div class="col-xs-6">
                <label>{{ __('field.geolocation.label.longitude') }}</label>
                <input{{ macro.attr(attr_lon) }}>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <span><b>{{ __('field.geolocation.matched-address') }}</b></span>
                <p id="{{ key }}-reversegeo"> {{ geolocation.formatted_address|default('') }}</p>
                <input{{ macro.attr(attr_formatted) }}>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="right-on-large">{# to make the preview align right on wide screens #}
            <label>{{ __('field.geolocation.label.marker-placement') }}</label>
            <div class="mapholder" id="map-{{ key }}">
                <img src="{{ geo.map|default('') }}" width="200" height="150">
            </div>
        </div>
    </div>
</fieldset>

{#=== SCRIPT =========================================================================================================#}

<script src="https://maps.google.com/maps/api/js?sensor=false"></script>
<script src="{{ paths.app }}view/js/jquery.gomap-1.3.2.min.js"></script>
