{#=== OPTIONS ========================================================================================================#}

{% set option = {
    info:         field.info|default('')
} %}

{#=== INIT ===========================================================================================================#}

{% set attr_text = {
    name:           name,
    id:             key,
    type:           'hidden',
    value:          context.content.get(contentkey),
} %}

{#=== FIELDSET =======================================================================================================#}

{% extends '@bolt/_base/_fieldset.twig' %}

{% block fieldset_type 'hidden' %}

{% block label_prepend %}
    <label{{ macro.attr(attributes_label) }}>{{ block('fieldset_label_text') }}: {{ field_info|default('') }}</label>
{% endblock %}

{% block fieldset_controls %}

    <!-- {{ (option.info) ? macro.infopop(labelkey , option.info) :labelkey }} -->
    <input{{ macro.attr(attr_text) }}>

{% endblock fieldset_controls %}

{% block label_append %}
{% endblock %}

