{#=== OPTIONS ========================================================================================================#}

{% set option = {
    extensions:  field.extensions|default([]),
    label:       field.label,
    upload:      field.upload|default(''),
    info:        field.info|default('info.upload.imagelist')
} %}

{#=== INIT ===========================================================================================================#}

{% set attributes = {
    fileupload: {
        accept:       option.extensions ? '.' ~ option.extensions|join(',.') : '',
        data_url:     path('upload', {' handler': option.upload }),
        id:           'fileupload-' ~ key,
        multiple:     true,
        name:         'files[]',
        type:         'file',
    }
} %}

{% set list = context.content.get(contentkey)|default([]) %}

{#=== TEMPLATES ======================================================================================================#}

{### Template: Empty list ###}

{% set template_empty %}
    <p>{{ __('general.phrase.no-images-in-list') }}</p>
{% endset %}
{% set template_empty = template_empty|trim %}

{### Template: Listitem ###}

{% set template_item %}
    <div class="item ui-state-default">
        <a class="magnific" href="%URL_A%" title="%TITLE_A%">
            <img src="%PREVIEW_A%" width="60" height="40">
        </a>
        <input type="text" class="title" value="%TITLE_A%">
        <input type="hidden" class="filename" value="%FILEPATH_A%">
        <a href="#" class="remove"><i class="fa fa-times"></i></a>
        <span class="desc">%FILEPATH_E%</span>
    </div>
{% endset %}
{% set template_item = template_item|trim|preg_replace('/>\\s+</', '><') %}

{#=== FIELDSET =======================================================================================================#}

{% extends '@bolt/_base/_fieldset.twig' %}
{% import '@bolt/_macro/_macro.twig' as macro %}

{% block fieldset_type 'imagelist' %}
{% block fieldset_widget 'fieldImagelist' %}

{% block fieldset_label_text  labelkey %}
{% block fieldset_label_info  option.info %}
{% block fieldset_label_class 'col-xs-12 control-label' %}

{% block fieldset_controls %}
    {{ data('field.imagelist.template.empty', template_empty) }}
    {{ data('field.imagelist.template.item', template_item) }}

    <div class="col-xs-12 elm-dropzone">
        {# Imagelist #}
        <div class="list">
            {% for image in list %}
                {% set file = context.file_matcher.getImage(image.filename, false) %}
                {% if file is not null %}
                    {{ template_item|replace({
                        '%TITLE_A%':    image.title|e('html_attr'),
                        '%FILEPATH_E%': file.path|e('html'),
                        '%FILEPATH_A%': file.path|e('html_attr'),
                        '%PREVIEW_A%':  file.path|thumbnail(60, 40, 'c')|e('html_attr'),
                        '%URL_A%':      file.url|e('html_attr'),
                    })|raw }}
                {% else %}
                    {{ template_item|replace({
                        '%TITLE_A%':    image.title|e('html_attr'),
                        '%FILEPATH_E%': image.filename|e('html'),
                        '%FILEPATH_A%': image.filename|e('html_attr'),
                        '%PREVIEW_A%':  image.filename|thumbnail(60, 40, 'c')|e('html_attr'),
                        '%URL_A%':      '#',
                    })|raw }}
                {% endif %}
            {% else %}
                {{ template_empty|raw }}
            {% endfor %}
        </div>

        {# Progress info #}
        <div class="buic-progress" data-bolt-widget="buicProgress"></div>

        {# Buttons #}
        <div class="clearfix">
            {{ macro.upload_buttons('image', attributes.fileupload, option.upload, context.can.upload, true) }}

            <textarea name="{{ name }}" class="hide">{{ list|json_encode() }}</textarea>
        </div>
    </div>
{% endblock fieldset_controls %}
