{#=== OPTIONS ========================================================================================================#}

{% set option = {
    class:       ('form-control ' ~ field.class)|trim,
    label:       field.label,
    extensions:  field.extensions|default([]),
    attrib:      (field.attrib is defined and field.attrib is iterable) ? field.attrib : [ field.attrib|default(null) ],
    upload:      field.upload|default(''),
    can_upload:  field.canUpload|default(false),
    info:        field.info|default('info.upload.image')
} %}

{#=== INIT ===========================================================================================================#}

{% set preview_w = 200 %}
{% set preview_h = 150 %}

{# Convert from old stored image format that is used until re-saved #}
{% set image = (context.content.get(contentkey) is iterable) and (context.content.get(contentkey) is not empty)
           ? context.content.get(contentkey)
           : {'file': context.content.get(contentkey)}
%}

{% set hattr = {
    path: {
        'class':        option.class ~ ' wide path',
        'id':           'field-' ~ key,
        'name':         name ~ '[file]',
        'placeholder':  __('field.general.allowed-filetypes') ~ ' ' ~ option.extensions|join(', ') ~ ' …',
        'type':         'text',
        'value':        image.file|default(''),
    },

    path_label: {
        'for':          'field-' ~ key,
    },

    upload: {
        'accept':       option.extensions ? '.' ~ option.extensions|join(',.') : '',
        'data-url':     url('upload', { 'handler': option.upload }, true),
        'id':           'fileupload-' ~ key,
        'name':         'files[]',
        'type':         'file',
    },

    preview: {
        'alt':          'Preview',
        'height':       preview_h,
        'src':          image.file is not empty ? image.file|thumbnail(preview_w, preview_h, 'c') : app.paths.app ~ 'view/img/default_empty_4x3.png',
        'width':        preview_w,
    },
} %}

{% set attribute_fields = [] %}
{% for attrib in option.attrib|default([]) %}
    {% set aid = attrib|lower|replace({'alt text': 'alt'}) %}

    {% if aid in ['title', 'alt'] %}
        {% if aid == 'title' %}
            {% set atitle = __('Title') %}
        {% elseif aid == 'alt' %}
            {% set atitle = __('field.image.label.alt') %}
        {% endif %}

        {% set uid = key ~ '-' ~ aid %}

        {% set attribute_fields = attribute_fields|merge([{
            title: atitle,
            label: {
                for:    uid
            },
            input: {
                class:  'form-control',
                id:     uid,
                name:   key ~ '[' ~ aid ~ ']',
                type:   'text',
                value:  image[aid]|default(''),
            }
        }]) %}
    {% endif %}
{% endfor %}

{#=== FIELDSET =======================================================================================================#}

{% extends '@bolt/_base/_fieldset.twig' %}

{% block fieldset_type 'image' %}
{% block fieldset_widget 'fieldImage' %}

{% block fieldset_label_text  labelkey %}
{% block fieldset_label_info  option.info %}
{% block fieldset_label_class 'col-xs-12 control-label' %}

{% block fieldset_controls %}
    <div class="col-xs-12 dropzone">
        <div class="row">
            <div class="col-xs-8">
                {# Path #}
                <div class="form-group">
                    <div class="col-sm-12">
                        <label{{ hattr(hattr.path_label) }}>{{ __('general.phrase.path-image-file') }}</label><input{{ hattr(hattr.path) }}>
                    </div>
                </div>

                {# Attribute fields #}
                {% for afield in attribute_fields %}
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label{{ hattr(afield.label) }}>{{ afield.title }}</label>
                        </div>
                        <div class="col-sm-10">
                            <input{{ hattr(afield.input) }}>
                        </div>
                    </div>
                {% endfor %}

                {# Progressbar #}
                <div class="buic-progress" data-bolt-widget="buicProgress"></div>

                {# Uploadbuttons #}
                {{ macro.upload_buttons('image', hattr.upload, option.upload, context.can.upload and option.can_upload, false) }}
            </div>

            {# Preview #}
            <div class="col-xs-4">
                <div class="right-on-large">
                    <label>{{ __('general.phrase.preview') }}</label>
                    <div class="content-preview imageholder">
                        <img{{ hattr(hattr.preview) }}>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock fieldset_controls %}
