{#=== OPTIONS ========================================================================================================#}

{% set option = {
    extensions:  field.extensions|default([]),
    label:       field.label,
    upload:      field.upload|default(''),
    can_upload:  field.canUpload,
    info:        field.info|default('info.upload.imagelist')
} %}

{#=== INIT ===========================================================================================================#}

{% set attributes = {
    fileupload: {
        accept:       option.extensions ? '.' ~ option.extensions|join(',.') : '',
        data_url:     url('upload', {'handler': option.upload}),
        id:           'fileupload-' ~ key,
        multiple:     true,
        name:         'files[]',
        type:         'file',
    }
} %}

{% if context.content.get(contentkey) is defined %}
    {% set list = context.content.get(contentkey) %}
{% else %}
    {% set list = [] %}
{% endif %}
{% set list = [] %}

{#=== TEMPLATES ======================================================================================================#}

{### Template: Empty list ###}

{% set template_empty %}
    <p>{{ __('No images in the list, yet.') }}</p>
{% endset %}
{% set template_empty = template_empty|trim %}

{### Template: Listitem ###}

{% set template_item %}
    <div class="list-item ui-state-default">
        <a class="thumbnail-link" href="%PATH%../files/%FNAME%">
            <img src="%PATH%../thumbs/60x40/%FNAME%" width="60" height="40">
        </a>
        <input type="text" value="%VAL%" data-filename="%FNAME%">
        <a href="#" class="remove-button"><i class="fa fa-times"></i></a>
    </div>
{% endset %}
{% set template_item = template_item|trim|preg_replace('/>\\s+</', '><') %}

{#=== FIELDSET =======================================================================================================#}

{% extends '@bolt/_base/_fieldset.twig' %}

{% set fieldset_uid = buid() %}

{% set fieldset_conf = {
    key: key,
}%}

{% block fieldset_type 'imagelist' %}
{% block fieldset_uid fieldset_uid %}

{% block fieldset_label_text  labelkey %}
{% block fieldset_label_info  option.info %}
{% block fieldset_label_class 'col-xs-12' %}

{% block fieldset_controls %}
    {{ data('field.imagelist.template.empty', template_empty) }}
    {{ data('field.imagelist.template.item', template_item) }}

    <div class="col-xs-12 filelistholder dropzone">
        {# Imagelist #}
        <div class="list">
            {% for image in list %}
                {{ template_item|replace({
                    '%VAL%':   image.title|e('html_attr'),
                    '%FNAME%': image.filename|e('html_attr'),
                    '%PATH%':  app.paths.bolt|e('html_attr'),
                })|raw }}
            {% else %}
                {{ template_empty|raw }}
            {% endfor %}
        </div>

        {# Progress info #}
        <div class="buic-progress"></div>

        {# Buttons #}
        {% set can_upload = context.can.upload and option.can_upload %}
        <div class="clearfix">
            {{ macro.upload_buttons('image', fieldset_uid, attributes.fileupload, option.upload, can_upload) }}

            <textarea name="{{ name }}" class="hide">{{ list|json_encode() }}</textarea>

            <div class="button-wrap fileselectbuttongroup">
                <span class="btn btn-default btn-sm remove-selected-button">
                    <i class="fa fa-trash"></i>
                    <span>{{ __('Remove selected') }}</span>
                </span>
            </div>
        </div>
    </div>
{% endblock fieldset_controls %}
