{#=== OPTIONS ========================================================================================================#}

{% set option = {
    class:     field.class|default(''),
    height:    field.height|default(''),
    label:     field.label|default(''),
    required:  field.required|default(false),
    errortext: field.error|default(''),
    info:      field.info|default('info.markdown')
} %}

{#=== INIT ===========================================================================================================#}

{% set attr_text = {
    class:          option.class,
    name_id:        key,
    required:       option.required,
    data_errortext: option.errortext,
    style:          (option.height) ? 'height: ' ~ option.height ~ ' !important;' : '',
} %}

{#=== FIELDSET =======================================================================================================#}

{# <link rel="stylesheet" href="{{ paths.app }}view/js/uikit/uikit.min.css" /> #}
<script src="{{ paths.app }}view/js/uikit/uikit.min.js"></script>
<script src="{{ paths.app }}view/js/uikit/marked.js"></script>
<script src="http://getuikit.com/vendor/codemirror/codemirror.js"></script>
{# <script src="{{ paths.app }}view/js/ckeditor/plugins/codemirror/plugins/markdown.min.js"></script>
<script src="{{ paths.app }}view/js/ckeditor/plugins/codemirror/plugins/xml.min.js"></script> #}
<link rel="stylesheet" href="{{ paths.app }}view/js/ckeditor/plugins/codemirror/css/codemirror.min.css">
<link rel="stylesheet" href="{{ paths.app }}view/js/uikit/htmleditor.min.css">
<script src="{{ paths.app }}view/js/uikit/htmleditor.js"></script>

<style>
.CodeMirror {
    font-size: 15px;
    font-family: Menlo, Consolas, Monaco, 'Courier New', monospace;
}
</style>




<fieldset class="markdown">
    <div class="col-sm-12">
        <label class="control-label">{{ macro.infopop(labelkey, option.info) }}</label>
        <textarea{{ macro.attr(attr_text) }} data-uk-htmleditor="{markdown:true}">{{ context.content.get(key)|default('') }}</textarea>
    </div>
</fieldset>
