{#=== INIT ===========================================================================================================#}

{% set attributes = {
    id: {
        class:     'form-control narrow',
        name_id:   'id',
        readonly:  true,
        type:      'text',
        value:     context.content.id,
    },

    publish: {
        disabled: (not context.can.publish),
        id:       'datepublish',
        value:    context.values.datepublish,
    },

    depublish: {
        disabled:  (not context.can.depublish),
        id:        'datedepublish',
        value:     context.values.datedepublish,
        notice:     __('Depublish date is in the past. Change the status if you want to depublish now'),
    },

    status: {
        class:     'form-control',
        disabled:  (context.allowed_status|length <= 1),
        id:        'statusselect',
        name:      'status',
    },

    ownerid: {
        class:     'form-control',
        disabled:  (not context.can.change_ownership),
        id:        'ownerid',
        name:      'ownerid',
    },

    comment: {
        class:        'form-control',
        disabled:     (not context.can.change_ownership),
        name_id:      'changelog-comment',
        placeholder:  __('Add a brief, optional comment to describe what\'s changed.'),
        type:         'text',
    },
} %}

{#=== FIELDSET =======================================================================================================#}

{% extends '@bolt/_base/_fieldset.twig' %}

{% block fieldset_type 'meta' %}

{% block fieldset_label_text  __('Meta information') %}
{% block fieldset_label_class 'col-xs-12' ~ (context.has.tabs ? '' : ' hidden') %}

{% block fieldset_controls %}
    <div class="col-xs-12">
        {% if not context.has.tabs %}
            <h3>
                {{ __('Meta information') }}
            </h3>
        {% endif %}

        <div class="form-group">
            <label class="col-sm-4 control-label">{{ __('Id (№)') }}</label>
            <div class="col-sm-8">
                <input{{ macro.attr(attributes.id) }}>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">{{ __('Publication date:') }}</label>
            <div class="col-sm-8">
                {{ macro.input_datetime(attributes.publish) }}
            </div>
        </div>

        <div class="form-group depublish-group">
            <label class="col-sm-4 control-label">{{ __('Depublication date:') }}</label>
            <div class="col-sm-8">
                {{ macro.input_datetime(attributes.depublish) }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">{{ __('Status:') }}</label>
            <div class="col-sm-8">
                <select{{ macro.attr(attributes.status) }}>
                    {% for status in context.allowed_status %}
                        {% set attr_opt = {
                            value:     status,
                            selected:  (context.content.status == status),
                        } %}
                        <option{{ macro.attr(attr_opt) }}>{{ status_names[status] }}</option>
                    {% endfor %}
                </select>
                {% if context.content.datecreated > '1970-01-01 01:01:01' %}
                    <p class="form-control-static">
                        {{ __('contenttypes.generic.created', {'%contenttype%': context.contenttype.slug}) }}
                        {{ buic.moment(context.content.datecreated) }}
                        {{ __('and edited') }}
                        {{ buic.moment(context.content.datechanged) }}.
                    </p>
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">{{ __('Owner:') }}</label>
            <div class="col-sm-8">
                <select{{ macro.attr(attributes.ownerid) }}>
                    {% for user in users %}
                        {% set attr_opt = {
                            value:     user.id,
                            selected:  (context.contentowner and user.id == context.contentowner.id),
                        } %}
                        <option{{ macro.attr(attr_opt) }}>{{ user.displayname }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        {% if config.get('general/changelog/enabled') %}
            <div class="form-group">
                <label class="col-sm-4 control-label">{{ __('Add a comment:') }}</label>
                <div class="col-sm-8">
                    <input{{ macro.attr(attributes.comment) }}>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock fieldset_controls %}
