{#=== INIT ===========================================================================================================#}

{% set attributes = {
    id: {
        class:     'form-control narrow',
        name_id:   'id',
        readonly:  true,
        type:      'text',
        value:     context.content.id,
    },

    publish: {
        disabled: (not context.can.publish),
        id:       'datepublish',
        value:    (context.content.datepublish == '') ? "now"|date('Y-m-d H:i:s') : context.content.datepublish,
    },

    depublish: {
        disabled:  (not context.can.depublish),
        id:        'datedepublish',
        value:     context.values.datedepublish,
        notice:     __('general.phrase.depublish-date-past'),
    },

    status: {
        class:     'form-control',
        disabled:  (context.allowed_status|length <= 1),
        id:        'statusselect',
        name:      'status',
    },

    ownerid: {
        class:     'form-control',
        disabled:  (not context.can.change_ownership),
        id:        'ownerid',
        name:      'ownerid',
    },

    comment: {
        class:        'form-control',
        disabled:     (not context.can.change_ownership),
        name_id:      'changelog-comment',
        placeholder:  __('Add a brief, optional comment to describe what\'s changed.'),
        type:         'text',
    },
} %}

{#=== FIELDSET =======================================================================================================#}

{% extends '@bolt/_base/_fieldset.twig' %}

{% block fieldset_type 'meta' %}
{% block fieldset_widget 'fieldMeta' %}

{% block fieldset_label_text  __('general.phrase.meta-information') %}
{% block fieldset_label_class 'col-xs-12' ~ (context.has.tabs ? '' : ' hidden') %}

{% block fieldset_controls %}
    {% from '@bolt/_buic/_moment.twig' import buic_moment %}

    <div class="col-xs-12">
        {% if not context.has.tabs %}
            <h3>
                {{ __('general.phrase.meta-information') }}
            </h3>
        {% endif %}

        <div class="form-group">
            <label class="col-sm-4 control-label">{{ __('general.phrase.id') }} (№)</label>
            <div class="col-sm-8">
                <input{{ macro.attr(attributes.id) }}>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">{{ __('general.phrase.publication-date-colon') }}</label>
            <div class="col-sm-8">
                {{ macro.input_datetime(attributes.publish) }}
            </div>
        </div>

        <div class="form-group depublish-group">
            <label class="col-sm-4 control-label">{{ __('general.phrase.depublication-date-colon') }}</label>
            <div class="col-sm-8">
                {{ macro.input_datetime(attributes.depublish) }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">{{ __('general.phrase.status-colon') }}</label>
            <div class="col-sm-8">
                <select{{ macro.attr(attributes.status) }}>
                    {% for status in context.allowed_status %}
                        {% set attr_opt = {
                            value:     status,
                            selected:  (context.content.status == status),
                        } %}
                        <option{{ macro.attr(attr_opt) }}>{{ status_names[status] }}</option>
                    {% endfor %}
                </select>
                {% if context.content.datecreated > '1970-01-01 01:01:01' %}
                    <p class="form-control-static">
                        {{ __('contenttypes.generic.created', {'%contenttype%': context.contenttype.slug}) }}
                        {{ buic_moment(context.content.datecreated) }}
                        {{ __('general.phrase.edited') }}
                        {{ buic_moment(context.content.datechanged) }}.
                    </p>
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">{{ __('general.phrase.owner-colon') }}</label>
            <div class="col-sm-8">
                <select{{ macro.attr(attributes.ownerid) }}>
                    {% for user in users %}
                        {% set attr_opt = {
                            value:     user.id,
                            selected:  (context.contentowner and user.id == context.contentowner.id),
                        } %}
                        <option{{ macro.attr(attr_opt) }}>{{ user.displayname }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        {% if config.get('general/changelog/enabled') %}
            <div class="form-group">
                <label class="col-sm-4 control-label">{{ __('contenttypes.record.comment-add-colon') }}</label>
                <div class="col-sm-8">
                    <input{{ macro.attr(attributes.comment) }}>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock fieldset_controls %}
