{#=== INIT ===========================================================================================================#}

{# We set the 'format' for the rendering of each <option>. With fallback to a sensible default. #}
{% set format = relation.format|default("{{ item.title|escape }} <span>(№ {{ item.id }})</span>") %}

{% set groupby = relation.groupby|default(false) %}

{% set multiple = relation.multiple is defined and relation.multiple == 1 %}

{% set attributes = {
    select: {
        name:     'relation[' ~ relcontenttype ~ '][]',
        id:       'relation-' ~ relcontenttype,
        class:    'wide',
        multiple: multiple,
    }
 }%}

{#=== FIELDSET =======================================================================================================#}

{% extends '_base/_fieldset.twig' %}

{% block fieldset_type 'relationship' %}

{% block fieldset_label_text  relation.label|default(relcontenttype|ucfirst) %}
{% block fieldset_label_class 'col-sm-4' %}

{% block fieldset_controls %}
    <div class="col-sm-8">
        <div class="select-component">
            <div>
                <div>
                    <select{{ macro.attr(attributes.select) }}>
                        {% if not multiple %}
                            <option value=""></option> {# We need an empty option for singe selections #}
                        {% endif %}

                        {% set optgroup = 'Test' %}
                        {% for item in listcontent(relcontenttype, relation, context.content) %}
                            {% if relcontenttype == app.request.get('relation') and item.id == app.request.get('relationid') %}
                                {% set selectedbyrelation = true %}
                            {% else %}
                                {% set selectedbyrelation = false %}
                            {% endif %}
                            {% if groupby and optgroup != item[groupby] %}
                                {% if optgroup != '' %}</optgroup>{% endif %}
                                {% set optgroup = item[groupby] %}
                                <optgroup label="{{ optgroup }}">
                            {% endif %}
                            <option value="{{ item.id }}"{% if item.selected or selectedbyrelation %} selected{% endif %}>
                                {{ format|twig({'item': item}) }}
                            </option>
                        {% endfor %}
                        {% if optgroup != '' %}</optgroup>{% endif %}

                    </select>
                </div>
                    <div>
                        <button type="button" class="btn select-none">
                            <span class="sr-only">{{ __('Select none') }}</span>
                        </button>
                    </div>
            </div>
        </div>
    </div>
{% endblock fieldset_controls %}
