{% set repeatfieldvals = context.content.get('contentkey') %}
{% set labelkey = field.label ?: key|ucfirst %}

<fieldset class="repeater-wrapper" data-bolt-field="repeater">
    <legend class="sr-only">{{ labelkey }}</legend>
    <label class="main col-xs-12">{{ labelkey }}</label>

    {# Prefix #}
    {% if field.prefix is defined and field.prefix is not empty %}
        <div class="prefix">
            {{ field.prefix|markdown }}
        </div>
    {% endif %}

    <div class="repeater-slot">

        <script type="text/template" id="{{ name }}_template">
            <div class="repeater-group row panel panel-default">
                {% include '@bolt/editcontent/fields/_repeater-header.twig' %}
                <div class="panel-body">
                    {% for rkey, rfield in field.fields %}
                        {% set rlabelkey = rfield.label ?: rkey|ucfirst %}
                        {% set rfield = rfield|merge({'canUpload': field.canUpload}) %}
                        <div class="col-xs-12">
                            {% include context.fields[rfield.type].template with {
                                'key': rkey,
                                'name': name ~ '['~index~'][' ~ rkey ~ '][]',
                                'contentkey': rkey,
                                'field': rfield,
                                'labelkey': rlabelkey,
                            } %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </script>

        {# In cases where we don't have any values set, the we show a single set of fields by default #}
        {% if not repeatfieldvals.length %}
            <div class="repeater-group row panel panel-default">
                {% include '@bolt/editcontent/fields/_repeater-header.twig' %}
                <div class="panel-body">
                    {% for rkey, rfield in field.fields %}
                        {% set rlabelkey = rfield.label ?: rkey|ucfirst %}
                        {% set rfield = rfield|merge({'canUpload': field.canUpload}) %}
                        <div class="col-xs-12">
                            {% include context.fields[rfield.type].template with {
                                'key': rkey,
                                'name': name ~ '['~index~'][' ~ rkey ~ '][]',
                                'contentkey': rkey,
                                'field': rfield,
                                'labelkey': rlabelkey
                            } %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            {% for repeatfieldset in repeatfieldvals %}

            {% endfor %}
        {% endif %}
    </div>

    <div class="repeater-add">
        <a class="btn btn-default" href="#">
            <i class="fa fa-plus"></i>Add new {{ labelkey }} set
        </a>
    </div>

</fieldset>
