<div class="repeater-group panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-7 col-md-8">
                <label class="main">
                    {% set grouptitle = false %}
                    {% for fieldname, f in field.fields if f['type'] == 'text' and grouptitle == false %}
                        {% set grouptitle = content.get(fieldname) %}
                    {% endfor %}
                    {% set grouplabel = field.label|default('') %}
                    <span class="text-muted"><i class="fa fa-ellipsis-v"></i>
                    {% set groupicon = field.icon|default('') %}
                    {% if groupicon[:3] == 'fa:' %}
                        <i class="fa fa-{{ groupicon[3:] }}" title="{{ grouplabel }}"></i>
                    {% endif %}
                    </span> &nbsp;
                    <span class="repeater-heading" data-default="{{ field.label }}">
                        {{ grouptitle|default(field.label) }}
                    </span>
                </label>
            </div>
            <div class="col-xs-5 col-md-4 text-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-default move-up">
                        <i class="fa fa-arrow-up" title="{{ __('general.phrase.move-up') }}"></i>
                    </button>
                    <button type="button" class="btn btn-sm btn-default move-down">
                        <i class="fa fa-arrow-down" title="{{ __('general.phrase.move-down') }}"></i>
                    </button>
                    {% if field.collapsible is not defined or field.collapsible %}
                        <button type="button" class="btn btn-sm btn-default repeater-collapse">
                            <span class="collapsible" title="{{ __('field.repeater.collapse') }}">
                                <i class="fa fa-compress"></i>
                            </span>
                            <span class="expandible" title="{{ __('field.repeater.expand') }}">
                                <i class="fa fa-expand"></i>
                            </span>
                        </button>
                    {% endif %}
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-silent-danger delete-button" title="{{ __('field.repeater.delete-set') }}">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-body">
        {% set defaults = {
            class:      '',
            label:      '',
            variant:    '',
            default:    null
        } %}
        {% for rkey, rfield in field.fields %}
            {# Ugly hack to be removed with Forms cutover … kittens are crying #}
            {% if rfield.type == 'select' %}
                {% set values = (context.selectvalues is defined) ? context.selectvalues[rkey] : context.values.select_choices[name][rkey] %}
            {% endif %}
            {% set rfield = defaults|merge(rfield) %}
            {% set rcontext = {
                'key':        name ~ '_' ~ index ~ '_' ~ rkey,
                'name':       name ~ '[' ~ index ~ '][' ~ rkey ~ ']',
                'contentkey': rkey,
                'values':     values|default(),
                'field':      rfield,
                'labelkey':   rfield.label|default(rkey|capitalize),
                'context': {
                    'content':      content,
                    'can':          context.can,
                    'file_matcher': context.file_matcher,
                }
            } %}
            <div class="repeater-field" data-bolt-fieldset="{{ rfield.type }}">
                {# Prefix #}
                {% if rcontext.field.prefix is defined and rcontext.field.prefix is not empty %}
                    <div class="prefix">
                        {{ rcontext.field.prefix|markdown }}
                    </div>
                {% endif %}

                {{ include(context.fields[rfield.type].template, rcontext) }}

                {# Postfix #}
                {% if rcontext.field.postfix is defined and rcontext.field.postfix is not empty %}
                    <div class="postfix">
                        {{ rcontext.field.postfix|markdown }}
                    </div>
                {% endif %}

                {# Divider #}
                {% if rcontext.field.separator is defined and rcontext.field.separator == true %}
                    <hr>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
