{% set repeatfieldvals = context.content.get(contentkey) %}
{% set labelkey = field.label ?: key|capitalize %}

{% set data_bolt_widget = {
    fieldRepeater: {
        minimum: field.initial|default(1),
        maximum: field.limit|default(0),
        name:    name,
    }
} %}

<fieldset class="bolt-field-repeater" data-bolt-widget="{{ data_bolt_widget|json_encode }}">
    <legend class="sr-only">{{ labelkey }}</legend>
    <label class="main col-xs-12">{{ labelkey }}</label>

    {# Prefix #}
    {% if field.prefix is defined and field.prefix is not empty %}
        <div class="prefix">
            {{ field.prefix|markdown }}
        </div>
    {% endif %}

    {# This ensures that an empty value is always submitted even if there are no subsequent repeater sets #}
    <input type="hidden" name="{{ name }}[]">

    {# show/hide panel content buttons #}
    {% if field.collapsible is not defined or field.collapsible %}
        <div class="block-collapse text-right">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-default hide-all-blocks">
                    {{ __('field.repeater.collapse-all') }}
                </button>
                <button type="button" class="btn btn-sm btn-default show-all-blocks">
                    {{ __('field.repeater.expand-all') }}
                </button>
            </div>
        </div>
    {% endif %}

    <div class="repeater-slot">
        <script type="text/template" class="hidden">
        {# ^^ Added class="hidden" to prevent jittery behavior when drag-sorting repeaters, if not hidden it becomes a "sortable" element, which causes the jittery behavior #}
            {% set index = '#' %}
            {{ include('@bolt/editcontent/fields/_repeater-group.twig', {'content': repeatfieldvals.getEmptySet, 'index': index}) }}
        </script>

        {% for index, repeatfieldset in repeatfieldvals %}
            {{ include('@bolt/editcontent/fields/_repeater-group.twig', {'content': repeatfieldset, 'index': index}) }}
        {% endfor %}
    </div>

    <button type="button" class="btn btn-default add-button">
        {% set groupicon = field.icon|default('') %}
        {% if groupicon[:3] == 'fa:' %}
            <i class="fa fa-{{ groupicon[3:] }} fa-fw"></i> {{  __('field.repeater.label.add-set', {'%label%': labelkey}) }}
        {% else %}
            <i class="fa fa-plus"></i> {{  __('field.repeater.label.add-set', {'%label%': labelkey}) }}
        {% endif %}
    </button>
</fieldset>
