{% set repeatfieldvals = context.content.get(contentkey) %}
{% set labelkey = field.label ?: key|ucfirst %}

{% set data_bolt_widget = {
    fieldRepeater: {
        minimum: 1,
        maximum: field.limit|default(0),
        name:    name,
    }
} %}

<fieldset class="bolt-field-repeater" data-bolt-widget="{{ data_bolt_widget|json_encode }}">
    <legend class="sr-only">{{ labelkey }}</legend>
    <label class="main col-xs-12">{{ labelkey }}</label>
    {% if 'html' not in context.fieldtypes %}
        {{ include('@bolt/editcontent/fielddata/_html.twig') }}
    {% endif %}

    {# Prefix #}
    {% if field.prefix is defined and field.prefix is not empty %}
        <div class="prefix">
            {{ field.prefix|markdown }}
        </div>
    {% endif %}

    <div class="repeater-slot">
        <script type="text/template">
            {% set index = '#' %}
            {{ include('@bolt/editcontent/fields/_repeater-group.twig', {'content': repeatfieldvals.getEmptySet, 'index': index}) }}
        </script>

        {% for index, repeatfieldset in repeatfieldvals %}
            {{ include('@bolt/editcontent/fields/_repeater-group.twig', {'content': repeatfieldset, 'index': index}) }}
        {% endfor %}
    </div>

    <div class="repeater-add">
        <button type="button" class="btn btn-default add-button">
            <i class="fa fa-plus"></i> Add new {{ labelkey }} set
        </button>
    </div>
</fieldset>
