{#=== OPTIONS ========================================================================================================#}

{% set option = {
    class:     field.class|default(''),
    label:     field.label|default(''),
    multiple:  (field.multiple is defined and field.multiple),
    values:    field.values|default([]),
    info:      field.info|default('')
} %}

{#=== INIT ===========================================================================================================#}

{% if option.values is iterable %}
    {% set values = option.values %}
{% else %}
    {% set lookuptype = option.values|split('/')|first %}
    {% set lookupfield = option.values|split('/')|last %}
    {% if ',' in lookupfield %}
        {% set lookupfield = lookupfield|split(',') %}
    {% endif %}
    {% setcontent lookups = lookuptype order lookupfield nohydrate %}
    {% set values = lookups|selectfield(lookupfield, option.multiple) %}
{% endif %}

{# get the current selection. Either a single value, or an array. #}
{% set currentsel = context.content.get(key)|default(null) %}
{% if currentsel is not iterable %}
    {% set currentsel = [ currentsel ] %}
{% endif %}

{% set attr_select = {
    class:     option.class,
    id:        key,
    multiple:  option.multiple,
    name:      (option.multiple) ? key ~ '[]' : key,
} %}

{#=== FIELDSET =======================================================================================================#}

<fieldset class="multiselect">

    <label class="col-sm-3 control-label">{{ (option.info) ? macro.infopop(labelkey, option.info) : labelkey }}</label>
    <div class="col-sm-9">
        <select{{ macro.attr(attr_select) }}>
            {% for id, value in values %}

                {% set is_array = (value is iterable and (value | length) > 1) %}
                {% set attr_opt = {
                    value:     id,
                    selected:  (id in currentsel) or (is_array ? (value[0] in currentsel) : (value in currentsel)),
                } %}

                <option{{ macro.attr(attr_opt) }}>{{ is_array ? value[0:]|join(' / ') : value }}</option>
            {% endfor %}
        </select>

        {% if option.multiple %}
        <div>{# TODO: move onclick-events to JS #}
            <a href="#" class="btn btn-default btn-xs" onclick="jQuery('#{{ key }} option').prop('selected', true); return false;">
                <i class="fa fa-fw fa-check-square-o"></i>{{ __("Select all") }}
            </a>
            <a href="#" class="btn btn-default btn-xs" onclick="jQuery('#{{ key }} option').prop('selected', false); return false;">
                <i class="fa fa-fw fa-square-o"></i>{{ __("Select none") }}
            </a>
        </div>
        {% endif %}
    </div>

</fieldset>
