{#=== OPTIONS ========================================================================================================#}

{% set option = {
    uses:  field.uses|default(''),
}%}

{#=== INIT ===========================================================================================================#}

{% set attr_slug = {
    class:    'editslug',
    name_id:  key,
    type:     'text',
    value:    context.content.get(key),
}%}

{#=== FIELDSET =======================================================================================================#}

<fieldset class="slug">

    <div class="col-sm-12">
        <label class="permalink">{{ __('Permalink') }}:
            <code>/{{ context.content.contenttype.singular_slug }}/<span id="show-{{ key }}">{{ context.content.get(key) }}</span></code>
            <input{{ macro.attr(attr_slug) }}>
            <span class="sluglocker"><i class="fa fa-lock"></i></span> <span class="slugedit"><i class="fa fa-pencil"></i></span>
        </label>
    </div>

</fieldset>

{#=== SCRIPT =========================================================================================================#}

{% if option.uses %}
<script>
$(function() {
    $('.sluglocker').bind('click', function() {
        if ($('.sluglocker i').hasClass('fa-lock')) {

            // "unlock" if it's currently empty, _or_ we've confirmed that we want to do so.
            var unlock = ('{{ context.content.get(key) }}' == '') || confirm("Are you sure you wish to unlock the slug? This might break existing links to this record.");

            if (unlock) {
                $('.sluglocker i').removeClass('fa-lock').addClass('fa-unlock');
                makeUri('{{ context.content.contenttype.slug }}', '{{ context.content.id }}', {{ field.uses|json_encode|raw }}, '{{ key }}', false);
            }
        } else {
            $('.sluglocker i').addClass('fa-lock').removeClass('fa-unlock');
            stopMakeUri({{ option.uses|json_encode|raw }});
        }
    });

    $('.slugedit').bind('click', function() {
        newslug = prompt("Set the slug to:", $('#show-{{ key }}').text());
        if(newslug) {
            $('.sluglocker i').addClass('fa-lock').removeClass('fa-unlock');
            stopMakeUri({{ option.uses|json_encode|raw }});
            makeUriAjax(newslug, '{{ context.content.contenttype.slug }}', '{{ context.content.id }}', '{{ key }}', false);
        }
    });

    {% if context.content.get(key) is empty %}
    $('.sluglocker').trigger('click');
    {% endif %}

});
</script>
{% endif %}
