{#=== OPTIONS ========================================================================================================#}

{% set option = {
    uses:  field.uses|default([]) is iterable ? field.uses|default([]) : [field.uses],
    viewless: context.content.contenttype.viewless|default(false)
} %}

{#=== INIT ===========================================================================================================#}

{% set attributes = {
    slug: {
        class:  'form-control',
        id:    key,
        name:  name,
        type:  'hidden',
        value: context.content.get(key),
    }
} %}

{#=== FIELDSET =======================================================================================================#}

{% extends '@bolt/_base/_fieldset.twig' %}

{% set fieldset_conf = {
    contentId: context.content.id,
    isEmpty:   (context.content.get(contentkey) == ''),
    key:       key,
    slug:      context.content.contenttype.slug,
    uses:      option.uses,
}%}

{% block fieldset_type 'slug' %}

{% block fieldset_label_text  option.viewless ? __('Unique Alias') : __('field.slug.permalink') %}
{% block fieldset_label_class 'col-sm-3' %}

{% block fieldset_controls %}
    <div class="col-sm-9">
        <div class="input-group locked">
            <span class="input-group-addon">/{{ context.content.contenttype }}/<em>{{ context.content.get(contentkey) }}</em></span>
            <input{{ macro.attr(attributes.slug) }}>
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li class="lock"><a href="#"><i class="fa fa-fw fa-lock"></i> {{ __('field.slug.button.lock') }}</a></li>
                    <li class="unlock"><a href="#"><i class="fa fa-fw fa-unlock-alt"></i> {{ __('field.slug.button.unlock') }}</a></li>
                    <li class="edit"><a href="#"><i class="fa fa-fw fa-pencil"></i> {{ __('field.slug.button.edit') }}</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock fieldset_controls %}
