{#=== OPTIONS ========================================================================================================#}

{% set option = {
    uses:  field.uses|default([]) is iterable ? field.uses|default([]) : [field.uses],
    viewless: context.content.contenttype.viewless|default(false)
} %}

{#=== INIT ===========================================================================================================#}

{% set is_empty = context.content.get(contentkey) == '' %}
{% set has_uses = option.uses|length > 0 %}

{% if is_empty %}
    {% set mode = has_uses ? 'linked' : 'editable' %}
{% else %}
    {% set mode = 'locked' %}
{% endif %}

{% set uses = [] %}
{% for key in option.uses %}
    {% set uses = uses|merge([context.contenttype.fields[key].label ?: key|ucfirst]) %}
{% endfor %}


{% set attributes = {
    slug: {
        class:     'form-control',
        id:        key,
        name:      name,
        readonly:  mode != 'editable',
        type:      'text',
        value:     context.content.get(key),
    }
} %}

{% set trans = {
    label_alias:     __('field.slug.unique-alias'),
    label_permalink: __('field.slug.permalink'),
    menu_edit:       __('field.slug.button.edit'),
    menu_link:       __('field.slug.button.link'),
    menu_lock:       __('field.slug.button.lock'),
    warning:         __('field.slug.message.warning'),
} %}

{#=== FIELDSET =======================================================================================================#}

{% extends '@bolt/_base/_fieldset.twig' %}

{% set fieldset_conf = {
    contentId: context.content.id,
    key:       key,
    slug:      context.content.contenttype.slug,
    uses:      option.uses,
}%}

{% block fieldset_type 'slug' %}
{% block fieldset_widget 'fieldSlug' %}

{% block fieldset_label_text option.viewless ? trans.label_alias : trans.label_permalink %}
{% block fieldset_label_class 'col-sm-12' %}

{% block fieldset_controls %}
    <div class="col-sm-12">
        <div class="input-group {{ mode }}">
                                            {#- https://github.com/bolt/bolt/pull/4766 #}
            <span class="input-group-addon">{{ field.route_prefix|default('/' ~ context.contenttype.slug ~ '/') }}</span>

            <input{{ macro.attr(attributes.slug) }}>

            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li class="lock{{ mode == 'locked' ? ' disabled' : '' }}">
                        <a href="#"><i class="fa fa-fw fa-lock"></i> {{ trans.menu_lock }}</a>
                    </li>
                    {% if option.uses|length %}
                        <li class="link{{ mode == 'linked' ? ' disabled' : '' }}">
                            <a href="#"><i class="fa fa-fw fa-link"></i> <span>{{ trans.menu_link }} <var>{{ uses|join(' + ')}}</var></span></a>
                        </li>
                    {% endif %}
                    <li class="edit{{ mode == 'editable' ? ' disabled' : '' }}">
                        <a href="#"><i class="fa fa-fw fa-pencil"></i> {{ trans.menu_edit }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% if not is_empty %}
        <div class="col-sm-12 warning hidden">
            <i class="fa fa-exclamation-triangle"></i> {{ trans.warning }}
        </div>
    {% endif %}
{% endblock fieldset_controls %}
