{#=== OPTIONS ========================================================================================================#}

{% set option = {
    uses:  field.uses|default([]) is iterable ? field.uses|default([]) : [field.uses],
} %}

{#=== INIT ===========================================================================================================#}

{% set attr_slug = {
    name:     name,
    id:       key,
    type:     'text',
    value:    context.content.get(key),
} %}

{#=== FIELDSET =======================================================================================================#}

{% extends '_base/_fieldset.twig' %}

{% set fieldset = {
    slug: {
        contentId:      context.content.id,
        isEmpty:        (context.content.get(contentkey) == ''),
        key:            key,
        messageSet:     __('field.slug.message.set'),
        messageUnlock:  __('field.slug.message.unlock'),
        slug:           context.content.contenttype.slug,
        uses:           option.uses,
    }
}%}

{% block fieldset %}
    <div class="col-sm-12">
        <label>{{ __('field.slug.permalink') }}:
            <code>/{{ context.content.contenttype.singular_slug }}/<span id="show-{{ key }}">{{ context.content.get(contentkey) }}</span></code>
            <input{{ macro.attr(attr_slug) }}>
            <span class="sluglocker"><i class="fa fa-lock"></i></span>
            <span class="slugedit"><i class="fa fa-pencil"></i></span>
        </label>
    </div>
{% endblock fieldset %}
