{#=== OPTIONS ========================================================================================================#}

{% set option = {
    uses:  field.uses|default([]) is iterable ? field.uses|default([]) : [field.uses],
    viewless: context.content.contenttype.viewless|default(false)
} %}

{#=== INIT ===========================================================================================================#}

{% set attributes = {
    slug: {
        class: 'form-control',
        id:    key,
        name:  name,
        type:  'text',
        value: context.content.get(key),
    }
} %}

{% set trans = {
    label_alias:     __('field.slug.unique-alias'),
    label_permalink: __('field.slug.permalink'),
    menu_locked:     __('field.slug.button.lock'),
    menu_editable:   __('Editable'),
    menu_linked:     __('Linked to: …'),
} %}

{#=== FIELDSET =======================================================================================================#}

{% extends '@bolt/_base/_fieldset.twig' %}

{% set fieldset_conf = {
    contentId: context.content.id,
    key:       key,
    slug:      context.content.contenttype.slug,
    uses:      option.uses,
}%}

{% block fieldset_type 'slug' %}
{% block fieldset_widget 'fieldSlug' %}

{% block fieldset_label_text option.viewless ? trans.label_alias : trans.label_permalink %}
{% block fieldset_label_class 'col-sm-12' %}

{% block fieldset_controls %}
    <div class="col-sm-12">
        <div class="input-group{{ context.content.get(contentkey) == '' ? ' generated' : '' }}">
            <span class="input-group-addon">/{{ context.content.contenttype }}/</span>
            <input{{ macro.attr(attributes.slug) }}>
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li class="lock">
                        <a href="#"><i class="fa fa-fw fa-lock"></i> {{ trans.menu_locked }}</a>
                    </li>
                    <li class="unlock">
                        <a href="#"><i class="fa fa-fw fa-link"></i> {{ trans.menu_linked }}</a>
                    </li>
                    <li class="edit">
                        <a href="#"><i class="fa fa-fw fa-pencil"></i> {{ trans.menu_editable }}</a>
                    </li>
                </ul>
            </div>
        </div>
        {% if option.uses|length %}
            <div class="linkinfo hidden">
                <i class="fa fa-link"></i>
                {% for key in option.uses %}
                    {% if not loop.first%} + {% endif %}{{ context.contenttype.fields[key].label ?: key|ucfirst }}
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock fieldset_controls %}
