{#=== OPTIONS ========================================================================================================#}

{% set option = {
    uses:  field.uses|default(''),
}%}

{#=== INIT ===========================================================================================================#}

{% set bind_values = option.uses ? {
    bind:           'slug',
    contentId:      context.content.id,
    isEmpty:        (context.content.get(key) == ''),
    key:            key,
    messageSet:     __('Set the slug to:'),
    messageUnlock:  __('Are you sure you wish to unlock the slug? This might break existing links to this record.'),
    slug:           context.content.contenttype.slug,
    uses:           option.uses,
} : '' %}

{% set attr_slug = {
    bind:     bind_values,
    class:    'editslug',
    name_id:  key,
    type:     'text',
    value:    context.content.get(key),
}%}

{#=== FIELDSET =======================================================================================================#}

<fieldset class="slug">

    <div class="col-sm-12">
        <label class="permalink">{{ __('Permalink') }}:
            <code>/{{ context.content.contenttype.singular_slug }}/<span id="show-{{ key }}">{{ context.content.get(key) }}</span></code>
            <input{{ macro.attr(attr_slug) }}>
            <span class="sluglocker"><i class="fa fa-lock"></i></span> <span class="slugedit"><i class="fa fa-pencil"></i></span>
        </label>
    </div>

</fieldset>
