{#=== FIELDSET =======================================================================================================#}

{% extends '_base/_fieldset.twig' %}

{% block fieldset_type 'taxonomy-tags' %}

{% block fieldset_label_text  taxonomy.name %}
{% block fieldset_label_class 'col-sm-3' %}

{% block fieldset_controls %}
    <div class="col-sm-9">
        {% if context.content.taxonomy[taxonomy.slug] is defined %}
            {% set tags = context.content.taxonomy[taxonomy.slug]|join(",") %}
        {% else %}
            {% set tags = "" %}
        {% endif %}

        <input type="text" name="taxonomy[{{ taxonomy.slug }}]" id="taxonomy-{{ taxonomy.slug }}" value="{{ tags }}" style="width: 100%;">

        <div class="tagcloud" id="tagcloud-{{ taxonomy.slug }}"></div>

        <script>
            $(function() {

                // Load all tags.
                $.ajax({
                    url: "{{ paths.root }}async/tags/{{ taxonomy.slug }}",
                    dataType: "json",
                    success: function(data) {
                        var results = [];
                        $.each(data, function(index, item){
                            results.push( item.slug );
                        });
                        $('#taxonomy-{{ taxonomy.slug }}').select2({tags: results, minimumInputLength: 1, tokenSeparators: [",", " "]});
                    },
                    error: function() {
                        $('#taxonomy-{{ taxonomy.slug }}').select2({tags: [], minimumInputLength: 1, tokenSeparators: [",", " "]});
                    }
                });

                {% if taxonomy.tagcloud %}
                    // Popular tags.
                    $.ajax({
                        url: "{{ paths.root }}async/populartags/{{ taxonomy.slug }}",
                        dataType: "json",
                        data : {limit: 40},
                        success: function(data) {
                            if (data.length > 0) {
                                $.each(data, function(index, item){
                                    $("#tagcloud-{{ taxonomy.slug }}").append('<a href="#" rel="' + item.count + '">' + item.slug + '</a>');
                                });
                                $("#tagcloud-{{ taxonomy.slug }} a").on('click', function (e) {
                                    e.preventDefault();
                                    var data = $("#taxonomy-{{ taxonomy.slug }}").select2("data")
                                    data.push({id:$(this).text(), text:$(this).text()});
                                    $("#taxonomy-{{ taxonomy.slug }}").select2("data", data);
                                });

                                $.fn.tagcloud.defaults = {
                                    size: {start: 12, end: 22, unit: 'px'},
                                    color: {start: '#888', end: '#194770'}
                                };
                                $('#tagcloud-{{ taxonomy.slug }} a').tagcloud();
                            }
                        }
                    });
                {% endif %}

            });
        </script>
    </div>
{% endblock fieldset_controls %}
