{#=== FIELDSET =======================================================================================================#}

{% extends '_base/_fieldset.twig' %}

{% block fieldset_type 'taxonomy-categories' %}

{% block fieldset_label_text  taxonomy.name %}
{% block fieldset_label_class 'col-sm-3' %}
{% block fieldset_label_for   'taxonomy-' ~ taxonomy.slug %}

{% block fieldset_controls %}
    <div class="col-sm-9">
        {% if taxonomy.multiple is defined and taxonomy.multiple == 1 %}
            <select name="taxonomy[{{ taxonomy.slug }}][]" id="taxonomy-{{ taxonomy.slug }}" class="form-control" multiple>
        {% else %}
            <select name="taxonomy[{{ taxonomy.slug }}][]" id="taxonomy-{{ taxonomy.slug }}" class="form-control">
                <option value="">{{ __('(no category)') }}</option>
                <option value="" disabled>-----------</option>
        {% endif %}

        {% for slug, cat in taxonomy.options %}
            <option value="{{ slug }}" {% if context.content.taxonomy[taxonomy.slug] is defined and cat in context.content.taxonomy[taxonomy.slug] %}selected{% endif %}>{{ cat }}</option>
        {% endfor %}

        </select>

        {% if taxonomy.multiple is defined and taxonomy.multiple == 1 %}
            <label><span class="left" style="line-height: 1px;">&nbsp;</span></label>
            <div style="margin-top: -14px;">{# TODO:onclick-events to JS #}
                <a href="#" class="btn btn-default btn-xs" onclick="jQuery('#taxonomy-{{ taxonomy.slug }} option').prop('selected', true); return false;">
                    <i class="fa fa-fw fa-check-square-o"></i>{{ __("Select all") }}
                </a>
                <a href="#" class="btn btn-default btn-xs" onclick="jQuery('#taxonomy-{{ taxonomy.slug }} option').prop('selected', false); return false;">
                    <i class="fa fa-fw fa-square-o"></i>{{ __("Select none") }}
                </a>
            </div>
        {% endif %}
    </div>
{% endblock fieldset_controls %}
