{#=== FIELDSET =======================================================================================================#}

{% extends '_base/_fieldset.twig' %}

{% block fieldset_type 'taxonomy-grouping' %}

{% block fieldset_label_text  taxonomy.name %}
{% block fieldset_label_class 'col-sm-3' %}

{% block fieldset_controls %}
    <div class="col-sm-9">
        <select name="taxonomy[{{ taxonomy.slug }}][]" id="taxonomy-{{ taxonomy.slug }}" class="narrow form-control pull-left">
            <option value="">{{ __('(no group)') }}</option>
            <option value="" disabled>-----------</option>
            {% for slug, group in taxonomy.options %}
                <option value="{{ slug }}" {% if context.content.taxonomy[taxonomy.slug] is defined and group in context.content.taxonomy[taxonomy.slug] or context.content.taxonomy[taxonomy.slug] is not defined and taxonomy.default is defined and taxonomy.default == slug %}selected{% endif %}>{{ group }}</option>
            {% endfor %}
        </select>

        {% if taxonomy.has_sortorder is defined and taxonomy.has_sortorder == true %}
            <label for="taxonomy-order-{{ taxonomy.slug }}" class=" pull-left" style="margin: 6px 8px 0;">- Order:</label>
            {% if context.content.sortorder %}
                {% set sortorder = context.content.sortorder %}
            {% else %}
                {% set sortorder = 0 %}
            {% endif %}
            <input type="number" name="taxonomy-order[{{ taxonomy.slug }}]" id="taxonomy-order-{{ taxonomy.slug }}" step="1"
                   value="{{ sortorder }}" class="verynarrow form-control pull-left">
        {% endif %}
    </div>
{% endblock fieldset_controls %}
