{#=== OPTIONS ========================================================================================================#}

{% set option = {
    class:   field.class|default('') ~ ' narrow',
    filter:  field.filter|default({}),
    label:   field.label|default(''),
    info:    field.info|default('')
} %}

{#=== INIT ===========================================================================================================#}

{% set templateselectdata = {
    'message': {
        'change':       __('This template adds new fields. Save, then refresh to see these changes.'),
        'warningChange':  __('You may lose some of your template fields with this change. Go to the template section and note down the values before doing this.'),
        'warning':    __('Warning')
    },
    'currentHas':       context.has.templatefields,
    'current':          context.content.get(contentkey),
    'fieldTemplates':   context.fieldtemplates
} %}

{% set attr_select = {
    class:          option.class,
    name:           name,
    id:             key,
    'data-stats':   templateselectdata|json_encode
} %}

{% set attr_default = {
    value:  '',
} %}

{% set attr_divider = {
    disabled:  true,
    value:     '',
} %}



{#=== FIELDSET =======================================================================================================#}

<fieldset class="templateselect">

    <label class="col-sm-3 control-label">{{ (option.info) ? macro.infopop(labelkey, option.info) : labelkey }}</label>
    <div class="col-sm-9">
        <select{{ macro.attr(attr_select) }}>
            <option{{ macro.attr(attr_default) }}>{{ __('(default template)') }}</option>
            <option{{ macro.attr(attr_divider) }}>-----------</option>
            {% for filename, name in listtemplates(option.filter) %}
                <option{{ macro.attr({value: filename, selected: (context.content.get(contentkey) == filename)}) }}>
                    {{- name -}}
                </option>
            {% endfor %}
        </select>
    </div>
    <div class="col-sm-12">
        <p class="hidden templatewarning"></p>
    </div>

</fieldset>
