{#=== OPTIONS ========================================================================================================#}

{% set option = {
    class:   ('form-control narrow ' ~ field.class)|trim,
    filter:  field.filter|default({}),
    label:   field.label,
    info:    field.info|default('')
} %}

{#=== INIT ===========================================================================================================#}

{% set attributes = {
    select: {
        class:  option.class,
        id:     key,
        name:   name,
    },

    default: {
        value:  '',
    },

    divider: {
        disabled:  true,
        value:     '',
    }
} %}

{#=== FIELDSET =======================================================================================================#}

{% extends '_base/_fieldset.twig' %}

{% set fieldset_conf = {
    'currentHas':       context.has.templatefields,
    'current':          context.content.get(contentkey),
    'fieldTemplates':   context.fieldtemplates
}%}

{% block fieldset_type 'templateselect' %}

{% block fieldset_label_text  labelkey %}
{% block fieldset_label_info  option.info %}
{% block fieldset_label_class 'col-sm-3' %}
{% block fieldset_label_for   key %}

{% block fieldset_controls %}
    <div class="col-sm-9">
        <select{{ macro.attr(attributes.select) }}>
            <option{{ macro.attr(attributes.default) }}>{{ __('(default template)') }}</option>
            <option{{ macro.attr(attributes.divider) }}>-----------</option>
            {% for filename, name in listtemplates(option.filter) %}
                <option{{ macro.attr({value: filename, selected: (context.content.get(contentkey) == filename)}) }}>
                    {{- name -}}
                </option>
            {% endfor %}
        </select>
    </div>
    <div class="hidden col-sm-9 col-sm-offset-3">
        <p class="form-control-static"></p>
    </div>
{% endblock fieldset_controls %}
