{#=== OPTIONS ========================================================================================================#}

{% set option = {
    label:  field.label,
    info:   field.info|default('info.upload.video'),
} %}

{#=== INIT ===========================================================================================================#}

{% set video = context.content.get(contentkey) %}

{% set videotitle = (video.title is defined) ? '"<b>' ~ video.title|trimtext(18) ~ '</b>" by ' ~ video.authorname|trimtext(18) %}

{% set attributes = {
    url: {
        _bind:        ['video', {key: key}],
        class:        'form-control',
        id:           'video-' ~ key,
        name:         name ~ '[url]',
        placeholder:  __('field.video.placeholder.url') ~ ' …',
        type:         'url',
        value:        video.url|default(''),
    },

    width: {
        class:  'form-control',
        id:     'video-' ~ key ~ '-width',
        name:   name ~ '[width]',
        type:   'number',
        value:  video.width|default(''),
    },

    height: {
        class:  'form-control',
        id:     'video-' ~ key ~ '-height',
        name:   name ~ '[height]',
        type:   'number',
        value:  video.height|default(''),
    },

    hid_ratio: {
        id:        'video-' ~ key ~ '-ratio',
        name:      name ~ '[ratio]',
        type:      'hidden',
        value:     video.ratio|default(''),
    },

    hid_title: {
        id:        'video-' ~ key ~ '-title',
        name:      name ~ '[title]',
        type:      'hidden',
        value:     video.title|default(''),
    },

    hid_authorname: {
        id:        'video-' ~ key ~ '-author_name',
        name:      name ~ '[authorname]',
        type:      'hidden',
        value:     video.authorname|default(''),
    },

    hid_authorurl: {
        id:        'video-' ~ key ~ '-author_url',
        name:      name ~ '[authorurl]',
        type:      'hidden',
        value:     video.authorurl|default(''),
    },

    hid_html: {
        id:        'video-' ~ key ~ '-html',
        name:      name ~ '[html]',
        type:      'hidden',
        value:     (video.html is defined ? video.html|replace({'"': '\''}) : ''),
    },

    hid_thumbnail: {
        id:        'video-' ~ key ~ '-thumbnail',
        name:      name ~ '[thumbnail]',
        type:      'hidden',
        value:     video.thumbnail|default(''),
    }
} %}

{#=== FIELDSET =======================================================================================================#}

{% extends '@bolt/_base/_fieldset.twig' %}

{% block fieldset_type 'video' %}

{% block fieldset_label_text  labelkey %}
{% block fieldset_label_info  option.info %}
{% block fieldset_label_class 'col-xs-12' %}

{% block fieldset_controls %}
    <div class="col-sm-8">
        <div class="form-group">
            <div class="col-sm-12">
                <label>{{ __('field.video.label.url') }}</label>
                <input{{ macro.attr(attributes.url) }}>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">{{ __('field.video.label.size') }}</label>
            <div class="col-sm-10 form-inline">
                <label for="{{ 'video-' ~ key ~ '-width' }}" class="sr-only">{{ __('field.video.width') }}</label>
                <input{{ macro.attr(attributes.width) }}> ×
                <label for="{{ 'video-' ~ key ~ '-height' }}" class="sr-only">{{ __('field.video.height') }}</label>
                <input{{ macro.attr(attributes.height) }}>
                {{ __('field.video.pixel') }}
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-9">
                <span><b>{{ __('field.video.matched-video') }}</b></span>
                <p id="video-{{ key }}-text">{{ videotitle|raw }}</p>
            </div>

            <div class="hidden-xs col-sm-3">
                <span class="pull-right">
                    <a href="#myModal" role="button" class="btn btn-default" data-toggle="modal">
                    <i class="fa fa-youtube-play"></i>
                    {{ __('field.video.button.preview') }}</a>
                </span>
            </div>

            <input{{ macro.attr(attributes.hid_ratio) }}>
            <input{{ macro.attr(attributes.hid_title) }}>
            <input{{ macro.attr(attributes.hid_authorname) }}>
            <input{{ macro.attr(attributes.hid_authorurl) }}>
            <input{{ macro.attr(attributes.hid_html) }}>
            <input{{ macro.attr(attributes.hid_thumbnail) }}>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="right-on-large">{# to make the preview align right on wide screens #}
            <label>{{ __('field.video.label.preview') }}</label>
            <div class="imageholder" id="thumbnail-{{ key }}">
                {% if video.thumbnail|default('') %}
                    <img src="{{ video.thumbnail }}" width="200" height="150">
                {% else %}
                    <img src="{{ app.paths.app }}view/img/default_empty_4x3.png" width="200" height="150">
                {% endif %}
            </div>
        </div>
    </div>

    {# Modal video preview #}
    <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    {% if video.html is defined %}
                        {{ video.html }}
                    {% else %}
                        <p>{{ __('field.video.preview.no-url') }}</p>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-tertiary " data-dismiss="modal" aria-hidden="true">{{ __('field.video.preview.button.close') }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock fieldset_controls %}
