{#=== OPTIONS ========================================================================================================#}

{% set option = {
    label:  field.label|default(''),
    info:   field.info|default('info.upload.video'),
} %}

{#=== INIT ===========================================================================================================#}

{% set video = context.content.get(contentkey) %}

{% set videotitle = (video.title is defined) ? '"<b>' ~ video.title|trimtext(18) ~ '</b>" by ' ~ video.authorname|trimtext(18) %}

{% set attr_url = {
    _bind:        ['video', {key: key}],
    class:        'form-control',
    id:           'video-' ~ key,
    name:         name ~ '[url]',
    type:         'url',
    placeholder:  __('field.video.placeholder.url') ~ ' …',
    value:        video.url|default(''),
} %}

{% set attr_width = {
    class:  'form-control pull-left',
    id:     'video-' ~ key ~ '-width',
    name:   name ~ '[width]',
    style:  'width: 80px; min-width: 80px;',
    type:   'number',
    value:  video.width|default(''),
} %}

{% set attr_height = {
    class:  'form-control pull-left',
    id:     'video-' ~ key ~ '-height',
    name:   name ~ '[height]',
    style:  'width: 80px; min-width: 80px;',
    type:   'number',
    value:  video.height|default(''),
} %}

{% set attr_hid_ratio = {
    id:        'video-' ~ key ~ '-ratio',
    name:      name ~ '[ratio]',
    type:      'hidden',
    value:     video.ratio|default(''),
} %}

{% set attr_hid_title = {
    id:        'video-' ~ key ~ '-title',
    name:      name ~ '[title]',
    readonly:  true,
    type:      'hidden',
    value:     video.title|default(''),
} %}

{% set attr_hid_authorname = {
    id:        'video-' ~ key ~ '-author_name',
    name:      name ~ '[authorname]',
    readonly:  true,
    type:      'hidden',
    value:     video.authorname|default(''),
} %}

{% set attr_hid_authorurl = {
    id:        'video-' ~ key ~ '-author_url',
    name:      name ~ '[authorurl]',
    readonly:  true,
    type:      'hidden',
    value:     video.authorurl|default(''),
} %}

{% set attr_hid_html = {
    id:        'video-' ~ key ~ '-html',
    name:      name ~ '[html]',
    readonly:  true,
    type:      'hidden',
    value:     (video.html is defined ? video.html|replace({'"': '\''}) : ''),
} %}

{% set attr_hid_thumbnail = {
    id:        'video-' ~ key ~ '-thumbnail',
    name:      name ~ '[thumbnail]',
    readonly:  true,
    type:      'hidden',
    value:     video.thumbnail|default(''),
} %}

{#=== FIELDSET =======================================================================================================#}

<fieldset class="video">
    <label class="col-xs-12 control-label">{{ macro.infopop(labelkey, option.info) }}</label>
    <div class="col-sm-8">
        <div class="form-group">
            <div class="col-sm-12">
                <label>{{ __('field.video.label.url') }}</label>
                <input{{ macro.attr(attr_url) }}>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2">
                <label class="control-label-inline">{{ __('field.video.label.size') }}</label>
            </div>
            <div class="col-sm-10">
                <input{{ macro.attr(attr_width) }}>
                <span class="pull-left" style="margin: 6px 8px 0;">×</span>
                <input{{ macro.attr(attr_height) }}>
                <span class="pull-left" style="margin: 6px 8px 0;">{{ __('field.video.pixel') }}</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-9">
                <span><b>{{ __('field.video.matched-video') }}</b></span>
                <p id="video-{{ key }}-text">{{ videotitle|raw }}</p>
            </div>

            <div class="hidden-xs col-sm-3">
                <span class="hidden-xs" style="float:right">
                    <a href="#myModal" role="button" class="btn btn-default" data-toggle="modal">
                    <i class="fa fa-youtube-play"></i>
                    {{ __('field.video.button.preview') }}</a>
                </span>
            </div>

            <input{{ macro.attr(attr_hid_ratio) }}>
            <input{{ macro.attr(attr_hid_title) }}>
            <input{{ macro.attr(attr_hid_authorname) }}>
            <input{{ macro.attr(attr_hid_authorurl) }}>
            <input{{ macro.attr(attr_hid_html) }}>
            <input{{ macro.attr(attr_hid_thumbnail) }}>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="right-on-large">{# to make the preview align right on wide screens #}
            <label>{{ __('field.video.label.preview') }}</label>
            <div class="imageholder" id="thumbnail-{{ key }}">
                {% if video.thumbnail|default('') %}
                    <img src="{{ video.thumbnail }}" width="200" height="150">
                {% else %}
                    <img src="{{ app.paths.app }}view/img/default_empty_4x3.png" width="200" height="150">
                {% endif %}
            </div>
        </div>
    </div>

    {# Modal video preview #}
    <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    {% if video.html is defined %}
                        {{ video.html }}
                    {% else %}
                        <p>{{ __('field.video.preview.no-url') }}</p>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-tertiary " data-dismiss="modal" aria-hidden="true">{{ __('field.video.preview.button.close') }}</button>
                </div>
            </div>
        </div>
    </div>

</fieldset>
