{#=== OPTIONS ========================================================================================================#}

{% set option = {
    label:  field.label,
    info:   field.info|default('info.upload.video'),
} %}

{#=== INIT ===========================================================================================================#}

{% set preview_w = 200 %}
{% set preview_h = 150 %}

{% set video = context.content.get(contentkey) %}

{% set attributes = {
    url: {
        class:        'form-control url',
        id:           buid(),
        name:         name ~ '[url]',
        placeholder:  __('field.video.placeholder.url') ~ ' …',
        type:         'url',
        value:        video.url|default('')
    },

    width: {
        class:      'form-control width',
        id:         buid(),
        name:       name ~ '[width]',
        type:       'number',
        value:      video.width|default('')
    },

    height: {
        class:      'form-control height',
        id:         buid(),
        name:       name ~ '[height]',
        type:       'number',
        value:      video.height|default('')
    },

    hid_ratio: {
        class:      'ratio',
        name:       name ~ '[ratio]',
        type:       'hidden',
        value:      video.ratio|default('')
    },

    hid_title: {
        class:      'form-control title',
        name:       name ~ '[title]',
        readonly:   true,
        title:      __('Title'),
        type:       'text',
        value:      video.title|default('')
    },

    hid_authorname: {
        class:      'form-control authorname',
        name:       name ~ '[authorname]',
        readonly:   true,
        title:      __('general.phrase.author'),
        type:       'text',
        value:      video.authorname|default(''),
    },

    hid_authorurl: {
        class:      'authorurl',
        name:       name ~ '[authorurl]',
        type:       'hidden',
        value:      video.authorurl|default(''),
    },

    hid_html: {
        class:      'html',
        name:       name ~ '[html]',
        type:       'hidden',
        value:      (video.html is defined ? video.html|replace({'"': '\''}) : '')
    },

    hid_thumbnail: {
        class:      'thumbnailurl',
        name:       name ~ '[thumbnail]',
        type:       'hidden',
        value:      video.thumbnail|default(''),
    },

    preview: {
        alt:       __('field.video.label.preview'),
        height:    preview_h,
        src:       video.thumbnail|default(asset('img/default_empty_4x3.png', 'bolt')),
        width:     preview_w,
    },

    play: {
        class:     video.html|default() ? '' : 'hidden',
        type:      'button',
        role:      'button',
    },

    refresh: {
        class:     'btn btn-default refresh',
        type:      'button',
        disabled:  video.url|default('')|length <= 2 or video.html|default() ? true : false,
    },
} %}

{#=== FIELDSET =======================================================================================================#}

{% extends '@bolt/_base/_fieldset.twig' %}

{% block fieldset_type 'video' %}
{% block fieldset_widget 'fieldVideo' %}

{% block fieldset_label_text  labelkey %}
{% block fieldset_label_info  option.info %}
{% block fieldset_label_class 'col-xs-12' %}

{% block fieldset_controls %}
    <div class="col-sm-8">
        <div class="form-group">
            <div class="col-sm-12">
                <label for="{{ attributes.url.id }}">{{ __('field.video.label.url') }}</label>
                <div class="input-group">
                    <input{{ hattr(attributes.url) }}>
                    <span class="input-group-btn">
                        <button{{ hattr(attributes.refresh) }}><i class="fa fa-refresh"></i></button>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">{{ __('field.video.label.size') }}</label>
            <div class="col-sm-10 form-inline">
                <label for="{{ attributes.width.id }}" class="sr-only">{{ __('field.video.width') }}</label>
                <input{{ hattr(attributes.width) }}> ×
                <label for="{{ attributes.height.id }}" class="sr-only">{{ __('field.video.height') }}</label>
                <input{{ hattr(attributes.height) }}>
                <label class="label-pixels">{{ __('field.video.pixel') }}</label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-12">
                <label>{{ __('field.video.matched-video') }}</label>
                <input{{ hattr(attributes.hid_title) }}>
                <input{{ hattr(attributes.hid_authorname) }}>
            </div>

            <input{{ hattr(attributes.hid_ratio) }}>
            <input{{ hattr(attributes.hid_authorurl) }}>
            <input{{ hattr(attributes.hid_html) }}>
            <input{{ hattr(attributes.hid_thumbnail) }}>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="right-on-large">
            <label>{{ __('field.video.label.preview') }}</label>
            <div class="imageholder">
                <img{{ hattr(attributes.preview) }}>
                <button{{ hattr(attributes.play) }}></button>
            </div>
        </div>
    </div>
{% endblock fieldset_controls %}
