<div class="update-container hide-block">
    <h3 class="update-output-title">{{ __('page.extend.headline.updates') }}</h3>
    <div class="update-output-console hide-block">
        {% if context.writeable %}
            <pre class="update-output-element console">{{ __('page.extend.message.checking-for-updates') }}</pre>
        {% else %}
            <pre class="update-output-element">{{ __('page.extend.message.no-update-check-in-readmode') }}</pre>
        {% endif %}
    </div>

    <div class="update-output-notice"></div>

    <div class="update-list hide-block">
        <table class="dashboardlisting table">
            <thead>
            <tr>
                <th>{{ __('page.extend.listheader.extension') }}</th>
                <th>{{ __('page.extend.listheader.version') }}</th>
                <th>{{ __('page.extend.listheader.actions') }}</th>
            </tr>
            </thead>
            <tbody class="update-list-items">

            </tbody>
        </table>
    </div>
</div>
