{% set package_empty %}
    <div class="ext-list"><strong class="no-results">{{ __('page.extend.message.no-bolt-extensions-installed') }}</strong></div>
{% endset %}

{% set package_item %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <em class="%TYPE%" title="%TYPE%">%TITLE%%STATUS%%ENABLED%</em>
            <div><em>%VERSION%</em><small>%NAME%</small></div>
        </div>

        <div class="panel-body">
            %DESCRIPTION%
            %KEYWORDS%
            %AUTHORS%
            %CONSTRAINT%
        </div>

        <div class="panel-footer">
            %DETAILS%
            %MANAGE%
        </div>
    </div>
{% endset %}

{% set package_description %}
    <div class="description">%DESCRIPTION%</div>
{% endset %}

{% set package_author %}
    %AUTHOR%
{% endset %}

{% set package_authors %}
    <div class="author">%AUTHORS%</div>
{% endset %}

{% set package_keyword %}
    <span class="tag label label-default">%KEYWORD%</span>&nbsp;
{% endset %}

{% set package_keywords %}
    <div class="tags">%KEYWORDS%</div>
{% endset %}

{#
 # Contains the version and uninstall buttons for INSTALLED extensions
 #}
{% set package_manage_dropdown_installed %}
    <div class="btn-group pull-right">
        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-flag"></i> {{ __('page.extend.button.manage') }}
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>

        <ul class="dropdown-menu" role="menu">
            <li>
                <a href="#" data-request="package-available" data-available="%NAME%" data-toggle="modal" data-target="#installModal">
                    <i class='fa fa-list fa-fw'></i> {{ __('page.extend.button.link-versions') }}
                </a>
            </li>
            <li>
                <a href="%MARKETPLACE_URL%" target="_blank">
                    <i class="fa fa-cart-plus fa-fw"></i> {{ __('page.extend.button.link-marketplace') }}
                </a>
            </li>
            <li>
                <a href="%REPOSITORY_URL%" target="_blank">
                    <i class="fa fa-file-code-o fa-fw"></i> {{ __('page.extend.button.link-repository') }}
                </a>
            </li>
            <li>
                <a href="#" data-request="package-depends" data-toggle="modal" data-target="#installModal" data-needle="%NAME%" data-constraint="%VERSION%">
                    <i class="fa fa-group fa-fw"></i> {{ __('page.extend.button.package-dependencies') }}
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a data-request="uninstall-package" class="clickspinner" href="%BASEURL%uninstall?package=%NAME%">
                    <i class="fa fa-trash-o fa-fw"></i> {{ __('page.extend.button.link-uninstall') }}
                </a>
            </li>
        </ul>
    </div>
{% endset %}

{#
 # Contains the version and uninstall buttons for UNINSTALLED extensions
 #}
{% set package_manage_dropdown_uninstalled %}
    <div class="btn-group pull-right">
        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-flag"></i> {{ __('page.extend.button.manage') }}
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>

        <ul class="dropdown-menu" role="menu">
            <li>
                <a href="#" data-request="package-available" data-available="%NAME%" data-toggle="modal" data-target="#installModal">
                    <i class='fa fa-list fa-fw'></i> {{ __('page.extend.button.link-versions') }}
                </a>
            </li>
            <li>
                <a href="%MARKETPLACE_URL%" target="_blank">
                    <i class="fa fa-cart-plus fa-fw"></i> {{ __('page.extend.button.link-marketplace') }}
                </a>
            </li>
            <li>
                <a href="%REPOSITORY_URL%" target="_blank">
                    <i class="fa fa-file-code-o fa-fw"></i> {{ __('page.extend.button.link-repository') }}
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a data-request="uninstall-package" class="clickspinner" href="%BASEURL%uninstall?package=%NAME%">
                    <i class="fa fa-trash-o fa-fw"></i> {{ __('page.extend.button.link-uninstall') }}
                </a>
            </li>
        </ul>
    </div>
{% endset %}



{#
 # Contains the README
 #}
{% set package_left_buttons %}
    <div class="pull-left">
        %README%
        %THEME%
        %CONFIG%
    </div>
{% endset %}

{% set package_readme_button %}
    <a data-request="package-readme" data-readme="%README%" class="btn btn-sm btn-default">
        <i class="fa fa-quote-right fa-fw"></i> {{ __('page.extend.button.link-readme') }}
    </a>
{% endset %}

{% set package_theme_button %}
    <a data-request="package-copy" data-theme="%NAME%" class="btn btn-sm btn-silent-danger">
        <i class="fa fa-copy fa-fw"></i> {{ __('page.extend.button.copy-to-theme-folder') }}
    </a>
{% endset %}

{% set package_config_button %}
    <a href="%CONFIG%" class="btn btn-sm btn-default">
        <i class="fa fa-cog fa-fw"></i> {{ __('page.extend.button.link-config') }}
    </a>
{% endset %}

{% set package_versions %}
    <tr>
        <td>%NAME%</td>
        <td>%VERSION%</td>
        <td><span class="label label-default-%CLASS%">%BUILDSTATUS%</span></td>
        <td>
            <div class="btn-group"><a href="#" data-request="install-package" class="btn btn-primary btn-sm" data-package="%NAME%" data-version="%VERSION%">
            <i class="icon-gears"></i> {{ __('page.extend.button.install-this-version') }}</a></div>
        </td>
    </tr>
{% endset %}

{% set package_install_new %}
    <tr data-package="%PACKAGE%">
        <td class="ext-list"><strong class="title">%PACKAGE%</strong></td>
        <td class="ext-list">%PRETTYVERSION%</td>
        <td><a data-request="update-package" class="btn btn-sm btn-warning" data-package="%PACKAGE%" data-version="%VERSION%">{{ __('page.extend.button.install-package') }}</a></td>
    </tr>
{% endset %}

{% set package_install_update %}
    <tr data-package="%PACKAGE%">
        <td class="ext-list"><strong class="title">%PACKAGE%</strong></td>
        <td class="ext-list">%PRETTYVERSION%</td>
        <td><a data-request="update-package" class="btn btn-sm btn-tertiary" data-package="%PACKAGE%" data-version="%VERSION%">{{ __('page.extend.button.update-package') }}</a></td>
    </tr>
{% endset %}

{% set package_error %}
    <div id="extension-error">
        <h3>%ERROR_TYPE%</h3>
        <code>%ERROR_MESSAGE%</code>
        <p>%ERROR_LOCATION%</p>
    </div>
{% endset %}

{{ data('extend.packages.empty',                       package_empty|trim) }}
{{ data('extend.packages.item',                        package_item|trim|preg_replace('/>\\s+</', '><')) }}
{{ data('extend.packages.description',                 package_description|trim|preg_replace('/>\\s+</', '><')) }}
{{ data('extend.packages.versions',                    package_versions|trim|preg_replace('/>\\s+</', '><')) }}
{{ data('extend.packages.author',                      package_author|trim|preg_replace('/>\\s+</', '><')) }}
{{ data('extend.packages.authors',                     package_authors|trim|preg_replace('/>\\s+</', '><')) }}
{{ data('extend.packages.keyword',                     package_keyword|trim|preg_replace('/>\\s+</', '><')) }}
{{ data('extend.packages.keywords',                    package_keywords|trim|preg_replace('/>\\s+</', '><')) }}

{{ data('extend.packages.manage_dropdown_installed',   package_manage_dropdown_installed|trim|preg_replace('/>\\s+</', '><')) }}
{{ data('extend.packages.manage_dropdown_uninstalled', package_manage_dropdown_uninstalled|trim|preg_replace('/>\\s+</', '><')) }}
{{ data('extend.packages.left_buttons',                package_left_buttons|trim|preg_replace('/>\\s+</', '><')) }}
{{ data('extend.packages.theme_button',                package_theme_button|trim|preg_replace('/>\\s+</', '><')) }}
{{ data('extend.packages.config_button',               package_config_button|trim|preg_replace('/>\\s+</', '><')) }}
{{ data('extend.packages.readme_button',               package_readme_button|trim|preg_replace('/>\\s+</', '><')) }}

{{ data('extend.packages.install_new',                 package_install_new|trim|preg_replace('/>\\s+</', '><')) }}
{{ data('extend.packages.install_update',              package_install_update|trim|preg_replace('/>\\s+</', '><')) }}
{{ data('extend.packages.error',                       package_error|trim|preg_replace('/>\\s+</', '><')) }}
