{# Page: NavPrimary > Username ^ Profile || NavSecondary > Configuration > Users > Edit #}

{% extends '@bolt/_base/_page-nav.twig' %}

{% import '@bolt/_macro/_macro.twig' as macro %}

{% set attributes = {
    expiration: {
    id:       'expiration',
    value:    "now"|date('Y-m-d H:i:s'),
    }
}
%}

{% block page_nav 'Settings/Configuration' %}

{% block page_title %}
        {{ __('page.invitation.title.link') }}
{% endblock page_title %}

{% block page_main %}

    {% form_theme context.form 'form_bolt_layout.twig' %}

    <div class="row">
        <div class="col-md-9">

            {{ widgets('edituser_below_header', 'backend') }}

                <p style="max-width: 500px;">
                    {{ __('page.invitation.generate-link') }}
                </p>

            <form method="post" class="form-horizontal" autocomplete="off" id="editcontent">
                {# Google Chrome, Firefox, MS Edge all require this trick to prevent password fields from auto-filling.
                   @see http://stackoverflow.com/questions/15738259/disabling-chrome-autofill #}
                <input type="text" style="display:none;" />
                <input type="password" style="display:none;" />

                {{ form_widget(context.form) }}

                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ __('page.invitation.expiration-date') }}</label>
                    <div class="col-sm-10 col-md-6 col-lg-4">
                        {{ macro.input_datetime(attributes.expiration) }}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-10 col-md-6 col-lg-4">
                        <input type="submit" id="generateLink" value="{{ __('page.invitation.button.generate') }}" name="submit" class="btn btn-primary">
                    </div>
                </div>

                <div id="shareOptions" style="display: none;">
                    <p style="max-width: 500px;margin-top:30px;">{{ __('page.invitation.share-options.text') }}</p>
                    <p style="max-width: 500px;margin-top:30px;font-weight:bold;">{{ __('page.invitation.share-options.option-copy') }}</p>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ __('page.invitation.share-options.copy') }}</label>
                        <div class="col-sm-10 col-md-6 col-lg-4">

                            <div class="input-group">
                                <input type="link" class="form-control" readonly>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">{{ __('page.invitation.button.copy') }}</button>
                                </span>
                            </div>

                         </div>
                    </div>
                    <p style="max-width: 500px;margin-top:30px;font-weight:bold;">{{ __('page.invitation.share-options.option-email') }}</p>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ __('page.invitation.share-options.to-email') }}</label>
                        <div class="col-sm-10 col-md-6 col-lg-4">
                            <input type="text" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ __('page.invitation.share-options.subject-email') }}</label>
                        <div class="col-sm-10 col-md-6 col-lg-4">
                            <input type="text" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ __('page.invitation.share-options.message-email') }}</label>
                        <div class="col-sm-10 col-md-6 col-lg-4">
                                <textarea style="min-width: 100%">{{ __('page.invitation.share-options.text-email') }}</textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-10 col-md-6 col-lg-4">
                            <input type="submit" value="{{ __('page.invitation.share-options.send-email') }}" name="submit" class="btn btn-primary">
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <aside class="col-md-3">
            {{ include('@bolt/edituser/_aside.twig') }}
        </aside>

    </div>

    <script type="text/javascript">
        $( document ).ready(function() {

            $('#generateLink').click(function (event) {
                event.preventDefault();

            var roles = $("[name='form[roles][]']:checked").map(function(){
                return $(this).val();
            }).get();


            $.post('{{ app.request.basepath }}/bolt/users/generatelink', { roles: roles, expiration_date : $('.datepicker').val(), expiration_time : $('.timepicker').val()},
                function(returnedData){
                    console.log(returnedData);
                }, 'json');

            $('#shareOptions').show();




            })});
    </script>

{% endblock page_main %}
