{# Page: NavSecondary > Configuration > Users > Invite #}

{% extends '@bolt/_base/_page-nav.twig' %}

{% block page_nav 'Settings/Configuration' %}

{% block page_title %}
    {{ __('page.invitation.title.link') }}
{% endblock page_title %}

{% block page_main %}

{% form_theme context.form 'form_bolt_layout.twig' %}

<div class="row">
    <div class="col-md-9">

        <p style="max-width: 500px;">
            {{ __('page.invitation.share-options.text') }}
        </p>

        <form method="post" class="form-horizontal" action="{{ url('homepage') }}bolt/users/invite/share/{{ context.code }}">

            {{ form_widget(context.form) }}

            <input type="submit" id="SendEmail" value="{{ __('page.invitation.share-options.send-email') }}" name="submit" class="btn btn-primary">

        </form>

    </div>

    <aside class="col-md-3">
        {{ include('@bolt/edituser/_aside.twig') }}
    </aside>

</div>



<script type="text/javascript">
    //Copy url invitation code to clipboard
    function copyToClipboard(elem) {
        // create hidden text element, if it doesn't already exist
        var targetId = "_hiddenCopyText_";
        var isInput = elem.tagName === "INPUT" || elem.tagName === "TEXTAREA";
        var origSelectionStart, origSelectionEnd;

        // can just use the original source element for the selection and copy
        target = elem;
        origSelectionStart = elem.selectionStart;
        origSelectionEnd = elem.selectionEnd;

        // select the content
        var currentFocus = document.activeElement;
        target.focus();
        target.setSelectionRange(0, target.value.length);

        // copy the selection
        var succeed;
        try {
            succeed = document.execCommand("copy");
        } catch(e) {
            succeed = false;
        }
        // restore original focus
        if (currentFocus && typeof currentFocus.focus === "function") {
            currentFocus.focus();
        }

        if (isInput) {
            // restore prior selection
            elem.setSelectionRange(origSelectionStart, origSelectionEnd);
        } else {
            // clear temporary content
            target.textContent = "";
        }
        return succeed;
    }

    $( document ).ready(function() {
        //Copy button: invitation code to clipboard
        document.getElementById("form_copy").addEventListener("click", function() {
            copyToClipboard(document.getElementById("form_invitationLink"), "msg");
        });
    });

</script>

{% endblock page_main %}
