{# file \Bolt\Filesystem\Handler\FileInterface #}

<div class="stackitem stackitem-wide {{ file.type not in ['image', 'document'] ? 'other' : file.type }}"
     data-file="{{ file.toJs|json_encode }}"
>
    <a href="{{ file.url }}" class="filebrowserCallbackLink">
        {% if file.image %}
            <img src="{{ file.path|thumbnail(100,100) }}" width="100" height="100">
        {% else %}
            <strong>{{ file.extension|upper }}</strong>
            <small>{{ file.filename }}</small>
        {% endif %}
    </a>
</div>
