{# file \Bolt\Filesystem\Handler\FileInterface #}

{% from '@bolt/_buic/_moment.twig' import buic_moment %}

{% set info -%}
    <span class="info-folder">
        {{- __('general.phrase.folder') }}: <code>{{ file.parent.fullpath }}</code>
    </span><br>
    {{ __('general.phrase.modified') }}: {{ buic_moment(file.timestamp) }}<br>
    {{ __('general.phrase.file-size') }}: {{ file.sizeFormatted(true) }}
    {% if file.image %}
        <br>{{ __('general.phrase.size') }}: {{ file.width }} × {{ file.height }} px
    {% endif %}
{% endset %}

<div class="stackitem {{ file.type not in ['image', 'document'] ? 'other' : file.type }} info-pop"
     data-placement="bottom"
     data-html="true"
     data-container=".buic-stack"
     data-title="{{ file.filename }}"
     data-content="{{ info|e }}"
     data-file="{{ file.toJs|json_encode }}"
>
    {% if file.image %}
        <img src="{{ file.path|thumbnail(100, 100) }}" width="100" height="100" alt="{{ __('general.phrase.thumbnail') }}">
    {% else %}
        <strong>{{ file.extension|upper }}</strong>
        <small>{{ file.filename }}</small>
    {% endif %}
</div>
