{# Page: NavSecondary > Content ... > Edit ^ View related content #}

{% from '_sub/_editable_record_list.twig' import editable_record_list as list %}
{% import '_macro/_panels.twig' as panels %}

{% extends '_base/_page-nav.twig' %}

{% block page_nav 'Content/*' %}

{% block page_title __('Related content') %}

{% block page_subtitle context.name ~ ' › ' ~ context.title %}

{% block page_main %}

    {# TODO: add pager
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">
                {% if pager is defined and pager.totalpages > 1 %}
                    <span>
                    {{ __('Showing') }} {{ pager.showing_from }} - {{ pager.showing_to }} {{ __('of') }} {{ pager.count }}
                    </span>
                {% endif %}
            </h1>
        </div>
    </div>
                #}

    <div class="row">
        <div class="col-xs-12">
        {% if context.show_contenttype %}
            <div class="col-md-9">
                {% include 'relatedto/_toolbar.twig' %}
                {# TODO: add order #}
                {{ list(context.show_contenttype, context.related_content, context.permissions, '') }}
            </div>

            <aside class="col-md-3">
                {% include 'relatedto/_panel-actions_relatedto.twig' %}
                {{ panels.lastmodified(context.show_contenttype.slug) }}
                {{ panels.stack(5) }}
            </aside>

        {% else %}

            <div class="col-xs-12">
                {{ __('No relations found!') }}
            </div>

        {% endif %}
    </div>

{% endblock page_main %}
