<!-- Sidebar -->

<aside class="four s-twelve">
    {% for ct in app.config.get('contenttypes') if not ct.viewless|default(false) %}
        {% setcontent records = ct.slug ~ "/latest/5" %}
        <h2>{{ __('contenttypes.generic.recent', {'%contenttypes%': ct.slug}) }}</h2>
        <ul class="latestlist">
            {% for record in records %}
                <li><a href="{{ record.link }}">{{ record.title }}</a></li>
            {% else %}
                <li>{{ __('contenttypes.generic.no-recent', {'%contenttype%': ct.slug}) }}</li>
            {% endfor %}
        </ul>
        <p><a href="{{ paths.root }}{{ct.slug}}">{{ __('contenttypes.generic.overview',{'%contenttypes%': ct.slug}) }} &raquo;</a></p>
    {% endfor %}
</aside>
