<!DOCTYPE html>
<html lang="{{ htmllang() }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if record is defined -%}
            <title>{{ record.getTitle()|excerpt(55) }} | {{ app.config.get('general/sitename') }}</title>
            <meta name="description" content="{{ record.getExcerpt(160) }}">
        {% else -%}
            <title>{{ app.config.get('general/sitename') }}</title>
            <meta name="description" content="{{ app.config.get('general/payoff') }}">
        {% endif %}
        <link href='https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ paths.theme }}css/style.combined.css">
        <link rel="stylesheet" href="{{ paths.theme }}css/custom.css">
    </head>
    <body>
        <header class="flex margin">
            <div class="four m-six logo align center left">
                <a href="/">
                    {{ app.config.get('general/sitename') }}
                </a>
            </div>
            <ul class="menu eight m-six align center space-between">{{ menu('main', '_menu.twig', { show_submenus: true }) }}</ul>
            <div class=" align center right"><div id="menu-icon"><span class="first"></span><span class="second"></span><span class="third"></span></div></div>
        </header>
        {% block body %}
        {% endblock %}
        <footer class="flex margin">
            <div class="six align center left m-align m-center">
                {% if haswidgets('footer') %}
                    {{ widgets('footer') }}
                {% else %}
                    <p>{{ __("This website is <a href='%url%' target='_blank' title='Sophisticated, lightweight & simple CMS'>Built with Bolt</a>.", {'%url%':'http://bolt.cm'}) }}</p>
                {% endif %}
            </div>
            <ul class="six m-twelve align center space-around">
                {{ menu('main', '_menu.twig', {show_submenus: false}) }}
            </ul>
        </footer>
        <script src="{{ paths.theme }}js/script.combined.js"></script>
        <script src="{{ paths.theme }}js/custom.js"></script>
    </body>
</html>
