{% extends '_base.twig' %}
{% block body %}
{# Make sure we can get info from both listings and single records: #}
{% if records.id is defined and record is defined %}
    {% set records = [record] %}
{% endif %}
<div class="headerimage" style="background-image:url({{image(theme.frontpage_image ?: records|first.getImage(), 1920, 1080)}})"></div>
<div class="flex container margin padding popUppers">
    <main class="eight s-twelve">
        {{ widgets('main_top') }}
        {% for record in records %}
            <article>
                <h1>{{record.title}}</h1>
                {{record.body}}
            </article>
        {% endfor %}
        {{ widgets('main_bottom') }}
    </main>
    {% setcontent sidebar_content = theme.sidebar_content %}
    {% if sidebar_content or (haswidgets('aside_top') or haswidgets('aside_top')) %}
        <aside class="four s-twelve">
            {{ widgets('aside_top') }}
            {% for record in sidebar_content %}
                {% if loop.first %}
                    <h2>{{ __('contenttypes.generic.recent', {'%contenttypes%': record.contenttype.name}) }}</h2>
                {% endif %}
                <h3><a href="{{record.link}}">{{ record.title }}</a></h3>
                <p>
                    {{ showimage(record.getImage(), 440, 0) }}
                    {{record.body|excerpt(250)}}
                </p>
                {% if loop.last %}
                    <p><a href="{{ paths.root }}/entries">{{ __('contenttypes.generic.overview',{'%contenttypes%': record.contenttype.name}) }} &raquo;</a></p>
                {% endif %}
            {% endfor %}
            {{ widgets('aside_bottom') }}
        </aside>
    {% endif %}
</div>
{% endblock %}
