{% extends 'partials/_master.twig' %}

{% block main %}

    <h1>{{ record.title }}</h1>

    {# Remove this block if you don't need it anymore. #}
    {{ include('partials/_fresh_install.twig') }}

    {{ record.teaser }}

    {% if record.image!="" %}
        <a href="{{ image(record.image) }}">
            <img src="{{ thumbnail(record.image, 1200, 500) }}">
        </a>
    {% endif %}

    {{ record.body }}

    {{ include('partials/_recordfooter.twig', { 'record': record }) }}

{% endblock main %}