{% extends '_base.twig' %}
{% block body %}
{# Make sure we can get info from both listings and single records: #}
{% if record is not defined and records is defined %}
    {% set record = records|first %}
{% endif %}
{% if record %}
    {% set image = record.image ?: theme.frontpage_image %}
{% else %}
    {% set image = theme.frontpage_image %}
{% endif %}
<div class="headerimage" style="background-image:url({{image(image, 1920, 1080)}})"></div>
<div class="flex container margin wide-padding popUppers">
    {% if record %}
        <article class="six s-twelve">
                <h1>{{record.title}}</h1>
                {{record.body}}
        </article>
    {% endif %}
    {% for ct in theme.frontpage_contenttypes %}
        {% setcontent records = ct ~ "/latest/3" %}
            {% if records %}
                <div class="three s-twelve">
                    {% for record in records %}
                        {% set image = record.image ?: random(theme.images) %}
                    {% if loop.first %}
                    <h2>{{ __('contenttypes.generic.recent', {'%contenttypes%': ct}) }}</h2>
                    {% endif %}
                    <h3><a href="{{record.link}}">{{ record.title }}</a></h3>
                    <p>{{record.body|excerpt(250)}}</p>
                    {% if loop.last %}
                    <p><a href="{{ paths.root }}{{ct}}">{{ __('contenttypes.generic.overview',{'%contenttypes%': ct}) }} &raquo;</a></p>
                    {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
    {% endfor %}
</div>
{% endblock %}
