{% extends 'partials/_master.twig' %}

{% block main %}

    <h1>{{ record.title }}</h1>

    {{ record.teaser }}

    {% if record.image != "" %}
        <a href="{{ image(record.image) }}">
            <img src="{{ thumbnail(record.image, 740, 560) }}">
        </a>
    {% endif %}

    {{ record.body }}

    {# If there are repeaters, we should output them. #}
    {% with { 'record': record, 'common': false, 'repeaters': true, 'exclude': ['teaser', 'body', 'image'] } %}
    {{ block('sub_fields', 'partials/_sub_fields.twig') }}
    {% endwith %}


    {# Uncomment this if you wish to dump the entire record to the client, for debugging purposes.
    {{ dump(record) }}
    #}

    {{ include('partials/_recordfooter.twig', { 'record': record, 'extended': true }) }}

{% endblock main %}
