<fieldset class="dropzone" id="dropzone-{{ key }}">

    <div class="image-container">

        <label>
            <b>{% if field.label %}{{ field.label|trans }}{% else %}{{ key|ucfirst|trans }}{% endif %}</b>
            <span class="label info-pop" data-html="true" data-title="{% if field.label %}{{ field.label }}{% else %}{{ key|ucfirst }}{% endif %}"
                  data-content="{{ app.translator.trans('info.upload.file',{},'infos') }}">{{ __('Info') }}</span>
        </label>

        {# note: jQuery file-upload expects types separated by a '|', unlike the HTML spec. #}
        <input type="text" name="{{ key }}" id="field-{{ key }}"
            value='{{ content.get(key) }}'
            class='{% if field.class is defined %}{{ field.class }}{% endif %} imageinput'
            accept="{{ field.extensions|join('|') }}">
            <br>

        <p class="filetypes">
            {{ __("Allowed filetypes are:") }} <code>{{ field.extensions|join("</code>, <code>")|raw }}</code>.
        </p>

        {# The fileinput-button span is used to style the file input field as button #}
        <div class="btn-group">
            <span class="btn btn-info fileinput-button">
                <i class="icon-upload"></i>
                <span>{{ __('Upload File') }}</span>
                <input id="fileupload-{{ key }}" type="file" name="fileupload-{{ key }}[]" data-url="{{ paths.app }}classes/upload/index.php"  accept=".{{ field.extensions|join(",.") }}">
            </span>
        </div>

        {% set items = stackitems(7, 'other,document') %}
        {% if items %}
            <div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-paper-clip"></i>
                    {{ __('Select from stack') }}
                    <span class="caret"></span>
                </a>

                <ul class="dropdown-menu" id="stack-{{ key }}">
                    {% for item in items %}
                        <li>
                            <a href="#" data-action="stack.selectFromPulldown('{{ key }}', '{{ item.filepath }}');">{{ item.basename }} <small>({{ item.filesize }})</small></a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div class="progress progress-striped active" id="progress-{{ key }}">
            <div class="bar" style="width: 0%;"></div>
        </div>

        {% if not ismobileclient() %}
            <div style="clear: left;" class="hide-tablet"><small>{{ app.translator.trans('info.upload.filesmall',{},'infos') }}</small></div>
            <script type="text/javascript">
                $(function() {
                    bindFileUpload('{{ key }}');

                    $("#field-{{ key }}").autocomplete({
                        source: "{{ paths.async }}filesautocomplete?ext={{ field.extensions|join(',') }}",
                        minLength: 2
                    });

                });
            </script>
        {% endif %}

    </div>

</fieldset>
