<fieldset>

    {#-- Label --#}
    <label><b><span class="left">
        {% if field.label %}{{ field.label }}{% else %}{{ key|ucfirst }}{% endif %}
    </span></b></label>

    {#-- Input --#}
    <input
        type="number"
        name="{{ key }}" id="{{ key }}"
        step="0.000000001"
        value='{{ 0 + content.get(key) }}'
        class='narrow {% if field.class is defined %}{{ field.class }}{% endif %}'
        {% if field.required is defined and field.required %}required="required"{% endif %}
        {% if field.pattern %}pattern="{{ field.pattern }}"{% endif %}
        {% if field.title %}title="{{ field.title }}"{% endif %}
        {% if field.placeholder %}placeholder="{{ field.placeholder }}"{% endif %}
    >

</fieldset>
