<fieldset>

    {#-- Label --#}
    <label><b>
        {% if field.variant == "inline" %}<span class='left'>{% endif %}
        {% if field.label %}{{ field.label|trans }}{% else %}{{ key|ucfirst|trans }}{% endif %}
        {% if field.variant == "inline" %}</span>{% endif %}
    </b></label>

    {#-- Input --#}
    <input
        type="{% if field.pattern in ['url', 'email'] %}{{ field.pattern }}{% else %}text{% endif %}"
    	name="{{ key }}" id="{{ key }}"
        value='{{ content.get(key) }}'
        class='{% if field.class is defined %}{{ field.class }}{% endif %}
	    {% if field.variant == "inline" %}narrow{% endif %}'
        {% if field.required is defined and field.required %}required="required"{% endif %}
        {% if field.pattern and field.pattern not in ['url', 'email'] %}pattern="{{ field.pattern }}"{% endif %}
        {% if field.title %}title="{{ field.title }}"{% endif %}
        {% if field.placeholder %}placeholder="{{ field.placeholder }}"{% endif %}
        maxlength="255"
    >

</fieldset>
