{# overrides for the defaults in vendor/symfony/twig-bridge/Resources/views/Form/bootstrap_3_horizontal_layout.html.twig #}
{% use "bootstrap_3_horizontal_layout.html.twig" %}

{% block form_row -%}
    <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
        {{- form_label(form, null, {'label_attr': {'class':'col-sm-2 control-label' } }) -}}
        <div class="col-sm-10 col-md-6 col-lg-4">
            {{- form_widget(form, {'attr' : { 'class' : 'large' } }) -}}
            {{- form_errors(form) -}}
        </div>
    </div>
{%- endblock form_row %}

{# Button <i> used inside button_widget when set #}
{%- block button_icon %}
{% if block(form.parent.vars.name ~ '_' ~ name ~ '_button_icon') is defined %}
    {{ block(form.parent.vars.name ~ '_' ~ name ~ '_button_icon') }}
{% endif %}
{% endblock button_icon -%}

{%- block button_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('btn-primary') ~ ' btn')|trim}) %}
    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
            '%name%': name,
            '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ block('button_icon') }}{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}</button>
{%- endblock button_widget -%}
