<!-- Sidebar -->

<aside class="large-4 columns">

    {{ widget('frontend', 'aside_top') }}

    <div class="panel">
           'about'-page, if it exists. First, attempt to fetch a page with slug 'about' #}
        {% setcontent about = "page/about" %}

        {# check if we have a title. If so, we know we have a page. Otherwise, still
           print a text, telling us to create the 'about' page. #}
        {% if about.title is defined %}

            <h5>{{ about.title }}</h5>
            {{ about.teaser }}

            <a href="{{ about.link }}">{{ __('Read more') }} &raquo;</a>

        {% else %}

            <h5>{{ __('Alas, no about!') }}</h5>

            <p>{{ __("If there was a Page with 'about' for a slug, it would've been shown here. But there isn't one, so that's why you're seeing this placeholder.") }}</p>

        {% endif %}

    </div>

    {# The next section iterates over all of the contenttypes, and prints a list
       of the five latest records of each of them. The 'magic' happens in the
       setcontent tag.. ct.slug ~ "/latest/5" contatenates the slug ot the
       contenttype with /latest/5, so it becomes something like "pages/latest/5".
       The 'else' in the inner for-loop is only used if there are no 'records',
       so we can use it to print a helpful message.
       Lastly, "{{ paths.root }}{{ct.slug}}" will output something like '/pages',
       effectively creating a working link to that contenttpye's listing page.#}

    {% for ct in app.config.get('contenttypes') if not ct.viewless|default(false) %}

        {% setcontent records = ct.slug ~ "/latest/5" %}

        <h5>{{ __('contenttypes.generic.recent', {'%contenttypes%': ct.slug}) }}</h5>
        <ul>
            {% for record in records %}
                <li><a href="{{ record.link }}">{{ record.title }}</a></li>
            {% else %}
                <li>{{ __('contenttypes.generic.no-recent', {'%contenttype%': ct.slug}) }}</li>
            {% endfor %}
        </ul>
        <p><a href="{{ paths.root }}{{ct.slug}}">{{ __('contenttypes.generic.overview',{'%contenttypes%': ct.slug}) }} &raquo;</a></p>


    {% endfor %}

    {{ widget('frontend', 'aside_bottom') }}


</aside>

<!-- End Sidebar -->
