{% include '_header.twig' %}

<!-- Main Page Content and Sidebar -->

    <!-- Main Blog Content -->
    <div class="large-8 columns">

        <article>

            <h2>{{ record.title }}</h2>

            {% if record.image!="" %}
                <div class="large-4 columns imageholder">
                    <a href="{{ image(record.image) }}">
                        <img src="{{ thumbnail(record.image, 400, 260) }}">
                    </a>
                </div>
            {% endif %}

            {# display something introduction-like.. #}
            {{ record.teaser }}

            {# if the entry has a video, display it. #}
            {% if record.video is not empty %}
                <div class="clearfix"></div>
                {{ record.video.responsive }}
            {% endif %}

            {{ record.body }}

            {% include '_recordfooter.twig' with {'record': record} %}

            {% if Disqus is defined %}
                {# Show the Disqus comment box, if the Disqus extension is installed .. #}
                <h4>Leave a comment</h4>
                {{ Disqus.disqus() }}
                <hr>
            {% elseif FacebookComments is defined %}
                {# Show the Facebook comment box, if Facebookcomments extension is installed .. #}
                <h4>Leave a comment</h4>
                {{ FacebookComments.facebookComments() }}
                <hr>
            {% endif %}

            <p class="meta">
                {% set previous = record.previous('id') %}
                {% if previous %}
                    <a href="{{ previous.link }}">&laquo; {{ previous.title }}</a>
                {% endif %}
                -
                {% set next = record.next('id') %}
                {% if next %}
                    <a href="{{ next.link }}">{{ next.title }} &raquo;</a>
                {% endif %}
            </p>

        </article>


    </div>

    <!-- End Main Content -->

    {% include '_aside.twig' %}

<!-- End Main Content and Sidebar -->



{% include '_footer.twig' %}
