{% include '_header.twig' %}

<!-- Main Page Content and Sidebar -->

    <!-- Main Blog Content -->
    <div class="large-8 columns">

        <article>
            {% if record is defined %}

                {# make the 'home' variable refer to the current record, which is set by the
                   user in config.yml #}
                {% set home = record %}
                {% if home.title is defined and home.title is not empty %}
                    <h1>{{ home.title }}</h1>
                {% endif %}

                {% if home.image is defined and home.image is not empty %}
                    <div class="large-5 columns imageholder">
                        <a href="{{ image(home.image) }}">
                            <img src="{{ thumbnail(home.image, 696, 400) }}">
                        </a>
                    </div>
                {% endif %}

                {# display something introduction-like.. #}
                {% if home.introduction is defined and home.introduction is not empty %}
                    {{ home.introduction }}
                {% elseif home.teaser is defined and home.teaser is not empty %}
                    {{ home.teaser }}
                {% elseif home is not empty %}
                    <p>{{ home.excerpt(500) }}</p>
                {% endif %}

                {% if home.link is defined and home.link is not empty %}
                    <a href="{{ home.link }}">Read more &raquo;</a>
                {% endif %}

                {# Tip: If you're curious what all of the available fields of this
                   record contain, just use {{ print(home) }}, to print it all. #}

            {% else %}
                <p>
                    {{ __('Content for home not found!') }}
                    {{ __("You should set 'homepage:' in your 'app/config/config.yml' to an existing record. Make sure that the content is published, otherwise it will not be shown.") }}
                </p>
            {% endif %}
        </article>

        <hr>

        <h4>{{ __('Latest entries') }}</h4>

        {# Here we use 'setcontent' to set the variable 'records' to "entries/latest/6",
           which is shorthand for "the 6 latest records in Entries. Note that we are
           requesting multiple entries, so 'records' will be an array containing each
           of the entries. That's why we use the 'for' loop to iterate over them all. #}
        {% setcontent records = "entries/latest/6" allowpaging %}
        {% for record in records %}
            <article>

                {% if record.image!="" %}
                    <div class="large-4 imageholder">
                        <a href="{{ image(record.image) }}">
                            <img src="{{ thumbnail(record.image, 400, 260) }}">
                        </a>
                    </div>
                {% endif %}

                <h3><a href="{{ record.link }}">{{ record.title }}</a></h3>

                <p>{{ record.excerpt(220) }}</p>

            </article>

            <hr>

        {% endfor %}

        {{ pager() }}


    </div>

    <!-- End Main Content -->
    {# include the sidebar. The include tag can be used to break up your templates in logical parts,
       and re-use them across different templates/pages. #}
    {% include '_aside.twig' %}

<!-- End Main Content and Sidebar -->



{% include '_footer.twig' %}
