{% include '_header.twig' %}

<!-- Main Page Content and Sidebar -->

    <!-- Main Blog Content -->
    <div class="large-8 columns" role="content">

        <article>

            <h2 data-bolt-field="title">{{ record.title }}</h2>

            {% if record.subtitle %}
                <h3 data-bolt-field="subtitle">{{ record.subtitle }}</h3>
            {% endif %}

            {{ fields(common = true, extended = false, repeaters = true, extrafields = true) }}

            {# Uncomment this if you wish to dump the entire record to the client, for debugging purposes.
            {{ dump(record) }}
            #}

            {% include '_recordfooter.twig' with {'record': record} %}

            <p class="meta">
                {% set previous = record.previous('id') %}
                {% if previous %}
                    <a href="{{ previous.link }}">&laquo; {{ previous.title }}</a>
                {% endif %}
                -
                {% set next = record.next('id') %}
                {% if next %}
                    <a href="{{ next.link }}">{{ next.title }} &raquo;</a>
                {% endif %}
            </p>

            {% set relatedrecords = record.related() %}
            {% if relatedrecords is not empty %}
                <p class="meta">{{ __('Related content') }}
                <ul>
                    {% for related in relatedrecords %}
                        <li><a href="{{ related.link }}">{{ related.title }}</a></li>
                    {%  endfor %}
                </ul>
                </p>
            {% endif %}

        </article>


    </div>

    <!-- End Main Content -->

    {% include '_aside.twig' %}

    <!-- End Main Content and Sidebar -->



    {% include '_footer.twig' %}
