{% import '@bolt/_nav/_macros.twig' as nav %}

<ul class="nav">
    {% if app.session.has('authentication') %}
        {% set menus = app['menu.admin'] %}

        {# Omnisearch: one here for "extra small", the other in the header-navbar #}
        <li class="search">
            <form class="navbar-form">
                <i class="icon fa fa-search"></i><div class="form-group has-feedback omnisearch" role="search">
                    <select class="form-control" data-omnisearch-url="{{ path('omnisearch') }}"></select>
                </div>
            </form>
        </li>

        {# Dashboard #}
        {{ nav.link('fa:dashboard', __('general.phrase.dashboard'), 'dashboard', (page_nav == 'Dashboard')) }}

        {# View site #}
        <li class="visible-xs">
            <a href="{{ path('homepage') }}" target="_blank"><i class="icon fa fa-external-link-square"></i> {{ __('general.phrase.view-site') }}</a>
        </li>

        {# ContentTypes #}
        <li class="divider">
            <em>{{ nav.label('fa:file-text', __('general.phrase.content')) }}</em>
        </li>
        {{ include('@bolt/_nav/_secondary-content.twig') }}

        {# Settings #}
        {% if menus.has('config') or menus.has('files') or menus.has('translations') or menus.has('extensions') %}
            <li class="divider">
                <em>{{ nav.label('fa:wrench', __('general.phrase.settings')) }}</em>
            </li>
        {% endif %}
        {% if menus.has('config') %}{{ include('@bolt/_nav/_secondary-configuration.twig') }}{% endif %}
        {% if menus.has('files') %}{{ include('@bolt/_nav/_secondary-filemanagement.twig') }}{% endif %}
        {% if menus.has('extensions') %}{{ include('@bolt/_nav/_secondary-extensions.twig') }}{% endif %}
        {% if menus.has('custom') %}
            {% for menu in menus.get('custom').children %}
                {% if menu.children != null %}
                    {{ nav.submenu(menu.icon, menu.label, menu.children) }}
                {% else %}
                    {{ nav.submenu(null, null, [menu]) }}
                {% endif %}
            {% endfor %}
        {% endif %}

        {# Collapse/expand sidebar #}
        <li class="nav-secondary-collapse">
            <a href="#">{{ nav.label('fa:compress', __('general.phrase.collapse-sidebar')) }}</a>
        </li>
        <li class="nav-secondary-expand">
            <a href="#">{{ nav.label('fa:expand', __('Expand sidebar')) }}</a>
        </li>
    {% else %}
        {# View site #}
        <li>
            <a href="{{ path('homepage') }}" target="_blank"><i class="fa fa-external-link-square"></i> {{ __('general.phrase.view-site') }}</a>
        </li>

        {# Login #}
        <li>
            <a href="{{ path('login') }}"><i class="fa fa-signin"></i> {{ __('general.phrase.login') }}</a>
        </li>
    {% endif %}
</ul>
