{% import '_macro/_panels.twig' as panels %}

{# No Javascript #}
<noscript>
    <section>
        <h2>{{ __('generic.noscript.headline') }}</h2>
        <p>{{ __('generic.noscript.message') }}</p>
    </section>
</noscript>

{# If we're running a development version, show annoying message. #}
{% if app.bolt_released == false %}
<div class="panel panel-default panel-news">
    <div class="progress-bar progress-bar-warning progress-bar-striped active" style="width: 100%; text-align: left; color: #333; padding: 10px 14px; margin-bottom: 15px;">
        <b><i class="fa fa-fw fa-bullhorn"></i> Warning: Development version </b>
    </div>
    <div class="panel-body">
        <p>This is a development version of Bolt, so it might contain bugs and unfinished features. Use at your own risk! For 'production' websites, we advise you to stick with the official stable releases.</p>
    </div>
</div>
{% endif %}

{# News #}
{{ render(path('dashboardnews')) }}

{# Stack #}
{{ panels.stack(7, true) }}

{# Dashboard Widget #}
{{ widget('dashboard', 'right_first') }}

{# Latest Activity #}
<div id="latestactivity">
    {{ render(path('latestactivity')) }}
</div>

{# ? #}
<div id="latesttemp" style="display:none; visibility: hidden;">
    <!-- intentionally left blank -->
</div>
