{% import '@bolt/_macro/_panels.twig' as panels %}

{# Configuration notices #}
{{ include('@bolt/_sub/_configuration_notices.twig') }}

{# Dashboard Widget #}
{{ widgets('dashboard_aside_top', 'backend') }}

{# News #}
{{ render(path('dashboardnews')) }}

{# Stack #}
{{ panels.stack(7, true) }}

{# Dashboard Widget #}
{{ widgets('dashboard_aside_middle', 'backend') }}

{# Latest Activity #}
<div data-bolt-widget="panelActivity" data-url="{{ path('latestactivity') }}">
    {{ render(path('latestactivity')) }}
</div>

{# Dashboard Widget #}
{{ widgets('dashboard_aside_bottom', 'backend') }}

{# ? #}
<div id="latesttemp" style="display:none; visibility: hidden;">
    <!-- intentionally left blank -->
</div>
