{% if not multiplecontent|first.contenttype.singleton %}
<div class="contenttype-title">
    <span class="pull-right">
            <a href="{{ path('overview', {'contenttypeslug': contenttype.slug}) }}" class="morelink">
                {{ __('contenttypes.generic.show-more', {'%contenttypes%': contenttype.name}) }} »
            </a>
        </span>
        <h3>{{ __('contenttypes.generic.recently-edited', {'%contenttypes%': contenttype.name}) }}</h3>
</div>

{{ include('@bolt/_sub/_record_list_data.twig') }}

<div class="buic-listing" data-bolt-widget="buicListing" data-contenttype="{{ contenttype.slug }}" data-contenttype-name="{{ multiplecontent|first.contenttype.singular_name }}" data-bolt_csrf_token="{{ csrf_token('bolt') }}">
    <table class="table dashboardlisting listing">
        {% for content in multiplecontent %}
            {% set listing_vars = {
                'compact':       true,
                'content':       content,
                'excerptlength': 280,
                'permissions':   context.permissions[contenttype_key],
                'thumbsize':     54,
            } %}
            {{ include(['@bolt/custom/listing/' ~ content.contenttype.slug ~ '.twig', '@bolt/_sub/_listing.twig'],  listing_vars) }}
        {% endfor %}
    </table>
</div>
{% endif %}
