<div class="table-responsive">
    <table class="table table-striped dashboardlisting">
        <thead>
            <tr>
                <th>{{ __('Username') }}</th>
                <th>{{ __('Last seen') }}</th>
                <th>{{ __('Session expires') }}</th>
                <th>{{ __('IP address') }}</th>
                <th>{{ __('Browser / platform') }}</th>
            </tr>
        </thead>

        <tbody>
            {% for session in context.sessions %}
                <tr>
                    <td>{{ session.username }}</td>
                    <td>
                        <time class="moment" datetime="{{ session.lastseen|date("c") }}" title="{{ session.lastseen }}">{{ session.lastseen }}</time>
                    </td>
                    <td>
                        <time class="moment" datetime="{{ session.validity|date("c") }}" title="{{ session.validity }}">{{ session.validity }}</time>
                    </td>
                    <td>
                        {{ session.ip }}
                    </td>
                    <td>
                        <span class="useragent label info-pop" data-html="true" data-content="{{ session.useragent }}">{{ session.browser }}</span>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
