{% from '@bolt/_buic/_moment.twig' import buic_moment %}

<table class="table-striped dashboardlisting userlist">
    <thead>
        <tr>
            <th>{{ __('general.phrase.id') }}</th>
            <th>{{ __('general.phrase.user-name') }}</th>
            <th class="hidden-xs">{{ __('general.phrase.last-seen') }}</th>
            <th>{{ __('general.phrase.roles') }}</th>
            <th>{{ __('general.phrase.action-plural') }}</th>
        </tr>
    </thead>

    <tbody>
        {% for user in context.users %}
            <tr>
                <td class="id">
                    {% if user.enabled == 0 %}<s>{% endif %}
                    № {{ user.id }}
                    {% if user.enabled == 0 %}</s>{% endif %}
                </td>

                <td class="username">
                    {% if user.enabled == 0 %}<s>{% endif %}
                    <strong>{{ user.displayname }}</strong> ({{ user.username }})
                    {% if user.enabled == 0 %}</s>{% endif %}
                </td>

                <td class="hidden-xs">
                    {{ user.lastseen ? buic_moment(user.lastseen) : '-' }}
                </td>

                <td class="contenttypes">
                    {% if 'root' in user.roles %}
                        <strong><em>root</em></strong>
                    {% else %}
                        {{ user.roles|join(', ') }}
                    {% endif %}
                </td>

                <td class="actions">
                    {{ include('@bolt/users/_userlist-actions.twig') }}
                </td>
            </tr>
        {% endfor %}
    </tbody>

</table>
