<div class="table-responsive">
    <table class="table-striped dashboardlisting userlist">
        <thead>
            <tr>
                <th>{{ __('Id') }}</th>
                <th>{{ __('Username') }}</th>
                <th>{{ __('Last seen') }}</th>
                <th>{{ __('Roles') }}</th>
                <th>{{ __('Actions') }}</th>
            </tr>
        </thead>

        <tbody>
            {% for user in context.users %}

                <tr>
                    <td class="id">
                        {% if user.enabled == 0 %}<s>{% endif %}
                        № {{ user.id }}
                        {% if user.enabled == 0 %}</s>{% endif %}
                    </td>

                    <td class="username">
                        {% if user.enabled == 0 %}<s>{% endif %}
                        <strong>{{ user.displayname }}</strong> ({{ user.username }})
                        {% if user.enabled == 0 %}</s>{% endif %}
                    </td>

                    <td>
                        {{ user.lastseen|date('Y') > '1901' ? buic.moment(user.lastseen) : '-' }}
                    </td>

                    <td class="contenttypes">
                        {% if 'root' in user.roles %}
                            <strong><em>root</em></strong>
                        {% else %}
                            {{ user.roles|join(", ") }}
                        {% endif %}
                    </td>

                    <td class="actions">
                        {% include '@bolt/users/_userlist-actions.twig' %}
                    </td>
            </tr>

        {% endfor %}
    </tbody>

    </table>
</div>
