<div class="btn-group">
    <a href="{{ path('useredit', {'id': user.id}) }}" class="btn btn-default btn-xs">
            <i class="fa fa-edit"></i> {{ __('Edit') }}
    </a>

    <button class="btn dropdown-toggle btn-default btn-xs" data-toggle="dropdown">
        <i class="fa fa-info-sign"></i>
        <span class="caret"></span>
    </button>

    <ul class="dropdown-menu pull-right">
        {% if context.currentuser.id != user.id  %}
            {% if user.enabled %}
                <li>
                    <form action="{{ path('useraction', {'action': 'disable', 'id': user.id}) }}" method="post">
                        {% include('_sub/_csrf_token.twig') %}
                        <button type="submit" class="btn btn-block btn-link">
                            <span class="pull-left">{{ __('Disable %username%',{'%username%':user.displayname}) }}</span>
                        </button>
                    </form>
                </li>
            {% else %}
                <li>
                    <form action="{{ path('useraction', {'action': 'enable', 'id': user.id}) }}" method="post">
                        {% include('_sub/_csrf_token.twig') %}
                        <button type="submit" class="btn btn-block btn-link">
                            <span class="pull-left">{{ __('Enable %username%',{'%username%':user.displayname}) }}</span>
                        </button>
                    </form>
                </li>
            {% endif %}
            <li>
                <form action="{{ path('useraction', {'action': 'delete', 'id': user.id}) }}" method="post">
                    {% include('_sub/_csrf_token.twig') %}
                    <button type="submit" class="btn btn-block btn-link confirm"
                    data-confirm="{{ __('Are you sure you want to delete %username%?',{'%username%':user.displayname}) }}" >
                        <span class="pull-left">{{ __('Delete %username%',{'%username%':user.displayname}) }}</span>
                    </button>
                </form>
            </li>

            <li class="divider">
            </li>
        {% endif %}

        <li>
            <a class="nolink">
                {{ __('Last seen') }}: <strong>{% if user.lastseen>"1000" %}{{ user.lastseen|date("Y-m-d H:i") }}{% else %}-{% endif %}</strong>
            </a>
        </li>

        <li>
            <a class="nolink">
                {{ __('Last known IP') }}: <strong>{% if user.lastip!="" %}{{ user.lastip }}{% else %}-{% endif %}</strong>
            </a>
        </li>
    </ul>
</div>
