{% extends 'pager/default.twig' %}

{% block list %}
    <div style="text-align: center">
        <ul class="pagination pagination-centered">
            {# Showing {{ for }} {{ showingFrom }} - {{ showingTo }} of {{ count }} #}
            <li><span>{{ __('general.phrase.pager-showing-from-to-of', {
                    '%pager_for%': pager.for,
                    '%from%': pager.showingFrom,
                    '%to%': pager.showingTo,
                    '%count%': pager.count})
                }}</span>
            </li>
            {{ block('items') }}
        </ul>
    </div>
{% endblock %}

{%- block prev_label -%}
    <i class="fa fa-angle-left" style="font-weight: bold;"></i>
{%- endblock -%}

{%- block next_label -%}
    <i class="fa fa-angle-right" style="font-weight: bold;"></i>
{%- endblock -%}

{%- block first_label -%}
    <i class="fa fa-angle-double-left" style="font-weight: bold;"></i> {{ page }}
{%- endblock -%}

{%- block last_label -%}
    {{ page }} <i class="fa fa-angle-double-right" style="font-weight: bold;"></i>
{%- endblock -%}
