{% if record.taxonomy is defined %}
    {% for type, values in record.taxonomy %}
        <em>
        {% if values|length < 2 %}
            {{ config.get('taxonomy')[type].singular_name }}:
        {% else %}
            {{ config.get('taxonomy')[type].name }}:
        {% endif %}
        </em>
        {% for link, value in values %}
            <a href="{{ link }}">{{ value }}</a>{% if not loop.last %}, {% endif %}
        {% else %}
            {{ __('none') }}
        {% endfor %}
        {% if not loop.last %} - {% endif %}
    {% endfor %}
{% endif %}
