{% macro textlike(value, key) %}
    <div data-bolt-field="{{key}}">{{ value|raw }}</div>
{% endmacro %}

{% macro imagelist(value) %}
    {% if value is not empty}
        <div class="bolt-imagelist">
            {% for item in list %}
                <div class="bolt-imageholder">
                    {{ popup(item.filename) }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}

{% import _self as macro %}


{% set omittedkeys = ['id', 'slug', 'datecreated', 'datechanged', 'datepublish', 'datedepublish', 'username', 'status', 'ownerid', 'templatefields'] %}

{% if record.contenttype.fields.slug.uses is iterable %}
    {% set omittedkeys = omittedkeys|merge(record.contenttype.fields.slug.uses) %}
{% endif %}

{% if exclude is iterable %}
    {% set omittedkeys = omittedkeys|merge(exclude) %}
{% endif %}

{{ dump(record.values.repeater) }}

{% for key, value in record.values if (key not in omittedkeys) %}

    {# Fields that are considered 'common': 'html', 'markdown', 'textarea', 'text', 'image', 'video' and 'imagelist' #}
    {% if common == true %}

        {% if record.fieldtype(key) in ['html', 'markdown', 'textarea', 'text'] %}
            {{ macro.textlike(value, key) }}
        {% endif %}

        {% if record.fieldtype(key) == "image" %}
            {{ popup(value, 440, 0) }}
        {% endif %}

        {% if record.fieldtype(key) == "video" and value.responsive is defined %}
            {{ value.responsive }}
        {% endif %}

        {% if record.fieldtype(key) == "imagelist" %}
            {{ macro.imagelist(value) }}
        {% endif %}

    {% endif %}

    {# The rest of the built-in fieldtypes #}
    {% if extended == true %}

        {% if record.fieldtype(key) == "geolocation" and value.latitude is defined %}

            <img src="http://maps.googleapis.com/maps/api/staticmap?center={{ value.latitude }},{{ value.longitude }}&amp;zoom=14&amp;size=617x300&amp;sensor=false&amp;
            markers={{ value.latitude }},{{ value.longitude }}">

        {% elseif record.fieldtype(key) == "select" and value is not empty %}

            {# Special case for 'select' fields: if it's a multiple select, the value is an array. #}
            <p><strong>{{ key }}: </strong>
                {{ attribute(record, key)|join(", ") }}
            </p>

        {% elseif record.fieldtype(key) == "checkbox" %}

                <p>Checkbox: {{value ? "checked" : "not checked"}}</p>

        {% elseif record.fieldtype(key) not in ['templateselect'] and value != "" and value is not empty  %}

            {# No special case defined for this type of field. We just output it, if it's
               a simple scalar, and 'dump' it otherwise. #}
            <p><strong>{{ key }}: </strong>
                {% if attribute(record, key) is iterable %}
                    {{ dump(attribute(record, key)) }}
                {% else %}
                    {{ attribute(record, key) }}
                {% endif %}
            </p>

        {%  endif %}

    {% endif %}

    {# Finally, the repeaters #}
    {% if repeaters == true %}

        {# Todo: output repeaters here. #}
        {# dump(record.values.repeater) #}

    {% endif %}

{% endfor %}







