{% spaceless %}
{# This file might seem a little complex, because of the high density of tags.
   It uses Twig macros and ternary selectors. Read up on them, if required:
   macros: http://twig.sensiolabs.org/doc/templates.html#macros
   ternary operators: http://twig.sensiolabs.org/doc/templates.html#other-operators
#}

{# The 'recursive' macro, for inserting one menu item. If it has a submenu, it
   invokes itself to insert the items of the submenus. #}
{% macro display_menu_item(item, loop) %}

    {% from _self import display_menu_item %}

    <li class="index-{{ loop.index }}
        {{ loop.first ? ' first' -}}
        {{ loop.last ? ' last' -}}
        {{ item.submenu|default(false) ? ' has-dropdown' -}}
        {{ item|current ? ' active' }}">

        <a href="{{ item.link }}" title='{{ item.title|default('')|escape }}' class='{{ item.class|default('') }}'>
            {{ item.label|default('-') }}
        </a>

        {% if item.submenu is defined %}
            <ul>
                {% for submenu in item.submenu %}
                    {{ display_menu_item(submenu, loop) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}

{# Make the macro available for use #}
{% from _self import display_menu_item %}

{# The main menu loop: Iterates over the items, calling `display_menu_item` #}
<nav class="{{name}}">
    <ul class="bolt-menu">
    {% for item in menu %}
        {{ display_menu_item(item, loop) }}
    {% endfor %}
    </ul>
</nav>

{% endspaceless %}
