
{{ dump(record.contenttype.fields.slug.uses) }}

{% set omittedkeys = ['id', 'slug', 'datecreated', 'datechanged', 'datepublish', 'datedepublish', 'username', 'status', 'ownerid', 'templatefields'] %}

{% if record.contenttype.fields.slug.uses is iterable %}
    {% set omittedkeys = omittedkeys|merge(record.contenttype.fields.slug.uses) %}
{% endif %}
{% if exclude is iterable %}
    {% set omittedkeys = omittedkeys|merge(exclude) %}
{% endif %}


{% for key, value in record.values if key not in omittedkeys %}

    {% if record.fieldtype(key) in ['html', 'markdown', 'textarea', 'text'] %}

        <div data-bolt-field="{{key}}">{{ attribute(record, key) }}</div>

    {% elseif record.fieldtype(key) == "image" %}

        {{ popup(value, 440, 0) }}

    {% elseif record.fieldtype(key) == "video" and value.responsive is defined %}

        {{ value.responsive }}

    {% elseif record.fieldtype(key) == "imagelist" and value is not empty %}

        {% set list = attribute(record, key) %}
        <div class="bolt-imagelist">
            {% for item in list %}
                <div class="bolt-imageholder">
                    {{ popup(item.filename) }}
                </div>
            {% endfor %}
        </div>

    {% elseif not contentonly %}

        {% if record.fieldtype(key) == "geolocation" and value.latitude is defined %}

            <img src="http://maps.googleapis.com/maps/api/staticmap?center={{ value.latitude }},{{ value.longitude }}&amp;zoom=14&amp;size=617x300&amp;sensor=false&amp;
            markers={{ value.latitude }},{{ value.longitude }}">

        {% elseif record.fieldtype(key) == "select" and value is not empty %}

            <p><strong>{{ key }}: </strong>
                {{ attribute(record, key)|join(", ") }}
            </p>

        {% elseif record.fieldtype(key) == "checkbox" %}

                <p>Checkbox: {{value ? "checked" : "not checked"}}</p>

        {% elseif record.fieldtype(key) not in ['templateselect'] and value != "" and value is not empty  %}

            <p><strong>{{ key }}: </strong>
                {% if attribute(record, key) is iterable %}
                    {{ dump(attribute(record, key)) }}
                {% else %}
                    {{ attribute(record, key) }}
                {% endif %}
            </p>

        {%  endif %}

    {% endif %}

{% endfor %}