<section id="bolt-debugsection" style="display:none; visibility: hidden;">
<div id='bolt-nipple'></div>

<div id='bolt-debugbar'>
    <ul>
        <li id='pd-bolt'><strong><a href="{{ path('dashboard') }}">Bolt {{bolt_version}}</a></strong><small>{% if bolt_name is defined and bolt_name != "" %} - {{bolt_name}}{% endif %}</small></li>
        <li id='pd-variables'><a href="#" data-for="bolt-varpanel">{{timetaken}} s<span class='narrow'>ec / {{ maxmemtaken }}</span></a></li>
        {% if frontend is defined and editlink!="" %}
{#        <li id='pd-edit'><a href="#" data-for="bolt-editpanel">Edit</a></li> #}
        <li id='pd-edit'><a href="{{ editlink }}" data-for="bolt-editpanel">Edit</a></li>
        {% endif %}

        <li id='pd-log'><a href="#" data-for="bolt-logpanel">Log<span class='narrow'> entries</span></a>
            <small>({{ log|length }})</small></li>
        <li id='pd-server'><a href="#" data-for="bolt-serverpanel"><span class='narrow'>bolt.localhost</span><span class='narrowonly'>srv</span></a> <small>({{ servervars.statuscode }})</small></li>
        <li id='pd-queries'>
            {% if querycount==0 %}
                No Q<span class='narrow'>ueries</span>
                {% elseif querycount==1 %}
                <a href="#" data-for="bolt-queriespanel">1 Q<span class='narrow'>uery</span></a> <small>({{querytime}} sec)</small>
            {% else %}
                <a href="#" data-for="bolt-queriespanel">{{querycount}} Q<span class='narrow'>ueries</span></a> <small>({{querytime}} sec)</small>
            {% endif %}</li>
    </ul>
</div>

{# TODO: make editable from frontend..
<div id='bolt-editpanel' class='bolt-debugpanel'>
    <p>Click one of the highlighted fields, or <a href="{{editlink}}">Edit in the bolt backend</a>.
</div>
#}

<div id='bolt-varpanel' class='bolt-debugpanel'>
<pre>
<strong>Time taken:</strong> {{timetaken}} sec. / <strong>Memory:</strong> {{ maxmemtaken }} (peak) / {{ memtaken }} (current).

{% if frontend is defined and logvalues.templatechosen is defined %}
<strong>Primary template: {{  logvalues.templatechosen }}</strong>
{% if logvalues.templateerror is defined %}{{ logvalues.templateerror }}
{% endif %}
{% endif %}

<strong>Used templates:</strong>
<pre>{% for template in templates %}
{{loop.index }}. {{template}}
{% endfor %}

<strong>Route:</strong> {{ route }}
<strong>Request URI:</strong> {{ servervars['server <small>($_SERVER)</small>']['REQUEST_URI'] }}
<strong>Parameters:</strong> {{ print(route_params) }}
</pre>
</div>


<div id='bolt-queriespanel' class='bolt-debugpanel'>
<pre>{% for query in queries %}
{{ "%03d"|format(loop.index) }}. <small {% if (query.duration) > 0.1 %}class='longquery'{% elseif (query.duration) < 0.03 %}class='fastquery'{% endif %}>({{ query.duration }} sec.)</small> - {{ query.query}}
{% endfor %}
</pre>
</div>

<div id='bolt-logpanel' class='bolt-debugpanel'>
<pre>{% for item in log %}
<span class='level-{% if item.level is defined %}{{ item.level }}{% else %}unknown{% endif %}'>{{loop.index }}. <b>{{ item.message }}</b></span>
in: {{ item.file }}::{{ item.line }} <small>({% if item.username is defined %}{{ item.username }} -{% endif %} {{ item.date|date("H:i:s") }})</small>
{% endfor %}
</pre>
</div>


<div id='bolt-serverpanel' class='bolt-debugpanel'>
<pre>{% for key, var in servervars %}
<strong>{{key|raw}}:</strong>
{{ print(var) }}
{% endfor %}
</pre>
</div>

{% if frontend is defined %}
<script type="text/javascript">!window.jQuery && document.write('<script src="{{ paths.app }}view/js/jquery-1.10.2.min.js"><\/script>')</script>
{% endif %}
<script src="{{ paths.app }}view/js/debugbar.js"></script>
<link rel='stylesheet' href='{{ paths.app }}view/css/debugbar.css' />
</section>
