{# overrides for the defaults in vendor/symfony/twig-bridge/Symfony/Bridge/Twig/Resources/views/Form/form_div_layout.html.twig #}

{% block form_row %}
    {% spaceless %}
        <div class="form-group {% if errors|length > 0 %}has-error{% endif %}">
            {{ form_label(form, null, {'label_attr': {'class':'col-sm-2 control-label' } }) }}
            <div class="col-sm-10 col-md-6 col-lg-4">
                {{ form_widget(form, {'attr' : { 'class' : 'form-control large' } }) }}
                {{ form_errors(form) }}
            </div>
        </div>
    {% endspaceless %}
{% endblock form_row %}

{% block form_errors %}
    {% spaceless %}
        {% for error in errors %}
            <span class="help-block">{{
            error.messagePluralization is null
            ? error.messageTemplate|trans(error.messageParameters, 'validators')
            : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
            }}</span>
        {% endfor %}
    {% endspaceless %}
{% endblock form_errors %}

{% block choice_widget_expanded %}
    {% spaceless %}
        <div>
            {% for child in form %}
                <div class="checkbox">
                    <label>
                    {{ form_widget(child) }}{{ child.vars.label -}}
                    </label>
                </div>
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock choice_widget_expanded %}

{% block button_attributes %} class="btn btn-primary" {% endblock button_attributes %}

{# Button <i> used inside button_widget when set #}
{%- block button_icon -%}{%- endblock button_icon -%}

{%- block button_widget -%}
    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
            '%name%': name,
            '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ block('button_icon') }}{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}</button>
{%- endblock button_widget -%}

{% block datetime_widget %}
    {% spaceless %}
        {% if widget == 'single_text' %}
            {{ block('field_widget') }}
        {% else %}
                {{ form_errors(form.date) }}
                {{ form_errors(form.time) }}
           <div class="datetime-container">
                <div>
                    <div>
                        {{ form_widget(form.date, { 'attr': {'class': 'form-control datepicker','style': 'width:160px;margin-right:10px;'} }) }}
                    </div>
                </div>
                <div>
                    {{ form_widget(form.time, { 'attr': {'class': 'form-control'} }) }}
                </div>
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock datetime_widget %}
