<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>{{ app.config.general.sitename }}</title>
        <atom:link href="{{ paths.currenturl }}" rel="self"
                   type="application/rss+xml"/>
        <link>{{ paths.rooturl }}</link>
        <description>{{ app.config.general.site_description }}</description>
        <language>en-us</language>
        <generator>Bolt</generator>

        {% for record in records %}

            <item>
                <title>{{ record.title }}</title>
                <link>{{ paths.rooturl }}{{ record.link|trim('/') }}</link>
                <pubDate>
                    {{ record.datepublish|date("D, d M Y H:i:s O") }}
                </pubDate>
                <author>
                    {{ record.user.email }} ({{ record.user.displayname }})
                </author>
                <guid>{{ paths.rooturl }}{{ record.contenttype.singular_slug }}
                    /{{ record.id }}</guid>
                {% for category in record.taxonomy.categories %}
                    <category><![CDATA[ {{ category }} ]]></category>
                {% endfor %}

                {% if content_length == 0 %}
                    <description>{{ record.rss_safe('body') }}</description>
                {% else %}
                    <description>
                        {{ record.rss_safe('body', content_length) }}
                    </description>
                {% endif %}
            </item>

        {% endfor %}

    </channel>
</rss>