{% spaceless %}
<div class="widgetholder widgetholder-{{ location|slugify }}">

    {% for widget in widgets %}
        <div class='widget {{ widget.object.class|join(' ') }}' id='widget-{{ widget.object.key }}' data-key='{{ widget.object.key }}'
        {%- if widget.object.defer %} data-defer='true'{% endif %}>
            {{ widget.html|default('<!-- placeholder for ' ~ widget.object.key ~ ' -->')|raw }}
        </div>
    {% endfor %}

</div>
{% endspaceless %}
