{# file \Bolt\Filesystem\Handler\FileInterface #}

<li data-file="{{ file.toJs|json_encode }}">
    <a href="{{ file.url }}" class="filebrowserCallbackLink">
        {{- file.filename }}
        <small>
            (
            {{- file.sizeFormatted(true) }}
            {%- if file.image %}, {{ file.width }} × {{ file.height }} px{% endif -%}
            )
        </small>
    </a>
</li>
