{% for item in menu %}

    <li class="index-{{ loop.index }}{% if loop.first %} first{% endif %}{% if loop.last %} last{% endif %}{% if item.submenu is defined %} has-dropdown{% endif %}{% if item|current %} active{% endif %}">
        <a href="{{ item.link }}" {% if item.title is defined %}title='{{ item.title|escape }}'{% endif %}
           class='{% if item.class is defined %}{{item.class}}{% endif %}'>
            {{item.label}}
        </a>

        {% if item.submenu is defined %}
            <ul class="dropdown">
                {% for item in item.submenu %}
                    <li class="index-{{ loop.index }}{% if loop.first %} first{% endif %}{% if loop.last %} last{% endif %}{% if item|current %} active{% endif %}">
                        <a href="{{ item.link }}" {% if item.title is defined %}title='{{ item.title|escape }}'{% endif %}
                           class='{% if item.class is defined %}{{item.class}}{% endif %}'>
                            {{item.label}}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </li>

{% endfor %}

