{% include '_header.twig' %}

<!-- Main Page Content and Sidebar -->

<div class="row">

    <!-- Main Blog Content -->
    <div class="eight columns" role="content">

        <article>

            {# use 'setcontent' to set the variable 'home' to "page/1", which is
               shorthand for "the record in Pages, with id 1". #}
            {% setcontent home = "page/1" %}
            {% if home.title is defined and home.title is not empty %}
                <h1>{{ home.title }}</h1>
            {% endif %}

            {% if home.image is defined and home.image is not empty %}
                <div class="five columns imageholder">
                    <a href="{{ image(home.image) }}">
                        <img src="{{ thumbnail(home.image, 400, 260) }}">
                    </a>
                </div>
            {% endif %}

            {# display something introduction-like.. #}
            {% if home.introduction is defined and home.introduction is not empty %}
                {{ home.introduction }}
            {% elseif home.teaser is defined and home.teaser is not empty %}
                {{ home.teaser }}
            {% elseif home is not empty %}
                <p>{{ home.excerpt(500) }}</p>
            {% endif %}

            {% if home.link is defined and home.link is not empty %}
                <a href="{{ home.link }}">Read more &raquo;</a>
            {% endif %}

            {# Tip: If you're curious what all of the available fields of this
               record contain, just use {{ print(home) }}, to print it all. #}

        </article>

        <hr>

        <h4>{{ __('Latest entries') }}</h4>

        {# Here we use 'setcontent' to set the variable 'records' to "entries/latest/6",
           which is shorthand for "the 6 latest records in Entries. Note that we are
           requesting multiple entries, so 'records' will be an array containing each
           of the entries. That's why we use the 'for' loop to iterate over them all. #}
        {% setcontent records = "entries/latest/6" allowpaging %}
        {% for record in records %}
            <article>

                {% if record.image!="" %}
                    <div class="three columns imageholder">
                        <a href="{{ image(record.image) }}">
                            <img src="{{ thumbnail(record.image, 400, 260) }}">
                        </a>
                    </div>
                {% endif %}

                <h3><a href="{{ record.link }}">{{ record.title }}</a></h3>

                <p>{{ record.excerpt(220) }}</p>

            </article>

            <hr>

        {% endfor %}


        {{ pager() }}


    </div>

    <!-- End Main Content -->
    {# include the sidebar. The include tag can be used to break up your templates in logical parts,
       and re-use them across different templates/pages. #}
    {% include '_aside.twig' %}

</div>

<!-- End Main Content and Sidebar -->



{% include '_footer.twig' %}
