{% include '_header.twig' %}

  <!-- Main Page Content and Sidebar -->

  <div class="row">

    <!-- Main Blog Content -->  
    <div class="eight columns" role="content">

	{# This template is used for 'listings': Generic pages that list a number of 
	   records from a certain contenttype. These records are available as an array 
	   called 'records'. In the for-loop below, we iterate over the records that 
	   are on this page. #}

    {% for record in records %}
    <article>

        <h2><a href="{{ record.link }}">{{ record.title }}</a></h2>

        {% if record.image!="" %}
        <div class="four columns imageholder">
            <a href="{{ image(record.image) }}">
                <img src="{{ thumbnail(record.image, 400, 260) }}">
            </a>
        </div>
        {% endif %}

        {# display something introduction-like.. #}
        {% if record.introduction %}
          {{ record.introduction }}
        {% elseif record.teaser %}
          {{ record.teaser }}
        {% else %}
          <p>{{ record.excerpt(300) }}</p>
        {% endif %}

        {% include '_recordfooter.twig' with {record: record} %}

    </article>

    <hr>

    {% else %}
    <article>
        <h2>No content found.</h2>

        <p>
            Unfortunately, no content could be found. Try another page, or go to the
            <a href="{{ paths.root }}">homepage</a>.
        </p>

        {#
        optionally, you can redirect the browser to another page. Just uncomment the next line to do so.
        {{ redirect('/') }}
        #}

    </article>
    {% endfor %}

    {# If there are more records than will fit on one page, the pager is shown. #}
    {{ pager() }}


    </div>

    <!-- End Main Content -->

    {% include '_aside.twig' %}

  </div>

  <!-- End Main Content and Sidebar -->



{% include '_footer.twig' %}
