{% include '_header.twig' %}

<!-- Main Page Content and Sidebar -->

<div class="row">

    <!-- Main Blog Content -->
    <div class="eight columns" role="content">

        <h1>{{ __('Search results for <b> %search% </b>.',{'%search%':search}) }}</h1>

		{# This is the default template for searchresults. the 'records' array contains
		   all of the records matching the current query. If there are no results, the
		   code in the 'else' part of the for-loop is used. #}

        {% for record in records %}
        <article>

            <h3><a href="{{ record.link }}">{{ record.title }}</a></h3>

            {% if record.image!="" %}
                <div class="four columns imageholder">
                    <a href="{{ image(record.image) }}">
                        <img src="{{ thumbnail(record.image, 400, 260) }}">
                    </a>
                </div>
            {% endif %}

            {# display something introduction-like.. #}
            {% if record.introduction %}
                {{ record.introduction }}
            {% elseif record.teaser %}
                {{ record.teaser }}
            {% else %}
                <p>{{ record.excerpt(300) }}</p>
            {% endif %}

            {% include '_recordfooter.twig' with {record: record} %}

        </article>

        <hr>
        {% else %}

		<article>
		  <p>{{ __("No results found for '%search%'. Please try another search.",{'%search%':search}) }}</p>
		</article>

        {% endfor %}

        {{ pager() }}


    </div>

    <!-- End Main Content -->

    {% include '_aside.twig' %}

</div>

<!-- End Main Content and Sidebar -->



{% include '_footer.twig' %}
