{% import '_macro.twig' as macro %}

<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-clock-o fa-fw"></i> {% if filtered is defined and filtered %}
            {{ 'Recent modifications' }}
        {% else %}
            {{ __('Last modified %contenttypes%',{'%contenttypes%':contenttype.name}) }}
        {% endif %}
    </div>

    <div class="panel-body">
        <ul>
            {% if changelog is defined %}
                {% for index, entry in changelog %}
                    <li>
                        {% if filtered is defined and filtered %}
                            {% set title = contenttype.singular_name %}
                        {% else %}
                            {% if entry.title %}
                                {% set title = macro.contentlink_by_id(contenttype, entry.title, entry.contentid) %}
                            {% else %}
                                {% set title = __('%name% № %id%', { '%name%': contenttype.singular_name, '%id%': entry.contentid }) %}
                            {% endif %}
                            № {{ entry.contentid }}.
                        {% endif %}
                        {{ title }}
                        {{ macro.changelogmutation(entry.effectiveMutationType) }}
                        {{ __('by') }} {{ entry.username }}
                        <small>({{ macro.datetime(entry.date) }})</small>
                        <small><a href="{{ path('changelogdetails', { 'contenttype':contenttype.slug, 'contentid': entry.contentid, 'id': entry.id }) }}">view</a></small>
                    </li>
                {% else %}
                    <li><em>{{ __('No latest %contenttype%',{'%contenttype%':contenttype.name}) }}.</em></li>
                {% endfor %}
            {% else %}
                {% for content in latest %}
                    <li>
                        № {{content.id}}.
                        {{ macro.contentlink(contenttype, content) }}
                        <small>({{ macro.datetime(content.datechanged) }})</small>
                    </li>
                {% else %}
                    <li><em>{{ __('No latest %contenttype%',{'%contenttype%':contenttype.name}) }}.</em></li>
                {% endfor %}
            {% endif %}
        </ul>
        {% if changelog is defined and contentid and filtered %}
            <a href="{{ path('changeloglist', { 'contenttype': contenttype.slug, 'contentid': contentid }) }}">
                {{ __('Full list...') }}
            </a>
        {% endif %}
    </div>
</div>
