{##
 # Sidebar-Panel: Displays recent modifications or last modified contenttypes
 # (Usage Example: Content-editor)
 #}
{% extends '_base/_panel.twig' %}

{% block panel_class 'panel-lastmodified' %}

{% block panel_icon 'fa-clock-o' %}

{% block panel_head %}

    {% if context.filtered|default %}
        {{ 'Recent modifications' }}
    {% else %}
        {{ __('contenttypes.generic.last-modified', {'%contenttypes%': context.contenttype.slug}) }}
    {% endif %}

{% endblock panel_head %}

{% block panel_body %}

    {% import '_macro/_macro.twig' as macro %}
    {% from 'changelog/_macros.twig' import changelog_mutation %}

    <ul>
        {% if context.changelog is defined %}
            {% for index, entry in context.changelog %}
                <li>
                    {% if context.filtered|default %}
                        {% set title = context.contenttype.singular_name %}
                    {% else %}
                        {% if entry.title %}
                            {% set title = macro.contentlink_by_id(context.contenttype, entry.title, entry.contentid) %}
                        {% else %}
                            {% set title = __('%name% № %id%', {'%name%': context.contenttype.singular_name, '%id%': entry.contentid}) %}
                        {% endif %}
                        № {{ entry.contentid }}.
                    {% endif %}
                    {{ title }}
                    {{ changelog_mutation(entry.mutation_type) }}
                    {{ __('by') }} {{ entry.username }}
                    <small>({{ macro.datetime(entry.date) }})</small>
                    <small><a href="{{ path('changelogrecordsingle', {'contenttype': context.contenttype.slug, 'contentid': entry.contentid, 'id': entry.id}) }}">view</a></small>
                </li>
            {% else %}
                <li><em>{{ __('contenttypes.generic.no-latest', {'%contenttype%': context.contenttype.slug}) }}.</em></li>
            {% endfor %}
        {% else %}
            {% for content in context.latest %}
                <li>
                    № {{ content.id }}.
                    {{ macro.contentlink(context.contenttype, content) }}
                    <small>({{ macro.datetime(content.datechanged) }})</small>
                </li>
            {% else %}
                <li><em>{{ __('contenttypes.generic.no-latest', {'%contenttype%': context.contenttype.slug}) }}.</em></li>
            {% endfor %}
        {% endif %}
    </ul>
    {% if context.changelog is defined and context.contentid and context.filtered %}
        <a href="{{ path('changelogrecordall', {'contenttype': context.contenttype.slug, 'contentid': context.contentid}) }}">
            {{ __('Full list …') }}
        </a>
    {% endif %}

{% endblock panel_body %}
