{##
 # Sidebar-Panel: Displays the files located on the stack
 # (Usage Example: Dashboards sidebar)
 #}
{% extends '_base/_panel.twig' %}

{% block panel_class 'panel-stack' %}

{% block panel_icon 'fa-paperclip' %}

{% block panel_head __('Files on the stack') %}

{% block panel_body %}
    <div id="stackholder">
        {% for item in context.stack %}
            <div class="stackitem item-{{ loop.index }} {{ item.type }} info-pop"
                 data-placement="bottom" data-html="true" data-title="{{ item.basename }}" data-content="{{ item.info }}">
                {% if item.type == 'image' %}
                    <img src="{{ item.filepath|thumbnail(100,100) }}" width="100" height="100" alt="{{ __('Thumbnail') }}">
                {% else %}
                   <strong>{{ item.extension|upper }}</strong>
                   <small>{{ item.basename }}</small>
                {% endif %}
            </div>
        {% else %}
            <div class="nostackitems">{{ __('There are no items on the Stack, yet.') }}</div>
        {% endfor %}
    </div>

    <div class="stack-buttons">
        {% if context.canUpload %}
        <div class="btn-group">
            <span class="btn btn-tertiary fileinput-button">
                <i class="fa fa-upload"></i>
                <span>{{ __('Upload') }}</span>
                <input id="fileupload-stack"
                       type="file"
                       name="files[]"
                       data-url="{{ url('upload', {namespace: context.namespace}) }}"
                       accept=".{{ context.filetypes|join(',.') }}">
            </span>
        </div>
        {% endif %}

        <div class="btn-group">
            <a href="{{ paths.async }}browse/files?key=stack" class="btn btn-tertiary" data-toggle="modal" data-target="#selectModal-stack">
                <i class="fa fa-download"></i>
                {{ __('Select') }}
            </a>
        </div>
    </div>

    <div id="protostack">
        <div class="stackitem image info-pop item-1" data-placement="bottom" data-html="true" data-title="" data-content="">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACwAAAAAAQABAAACAkQBADs=" width="100" height="100" alt="{{ __('Thumbnail') }}">
        </div>

        <div class="stackitem other info-pop item-1" data-placement="bottom" data-html="true" data-title="" data-content="">
            <strong>HTML</strong>
            <small>index.html</small>
        </div>
    </div>

    {# Modal "select from server" #}
    <div class="modal fade" id="selectModal-stack" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content"></div>
        </div>
    </div>

{% endblock panel_body %}
