<h2>
    <i class="fa fa-paperclip"></i> {{ __('general.phrase.stack-files') }}
</h2>

<fieldset class="buic-stack" data-bolt-widget="buicStack">
    <div class="stackholder">
        {% for file in stack()[:context.count] %}
            <div class="stackitem stackitem-wide {{ file.type not in ['image', 'document'] ? 'other' : file.type }}">
                <a href="{{ file.url }}" class="filebrowserCallbackLink">
                    {% if item.image %}
                        <img src="{{ item.path|thumbnail(100,100) }}" width="100" height="100">
                    {% else %}
                        <strong>{{ item.extension|upper }}</strong>
                        <small>{{ item.filename }}</small>
                    {% endif %}
                </a>
            </div>
        {% endfor %}
    </div>
</fieldset>
