<h2>
    <i class="fa fa-paperclip"></i> {{ __('general.phrase.stack-files') }}
</h2>

<fieldset class="buic-stack" data-bolt-widget="buicStack">
    <div class="stackholder">
        {% for idx, item in context.stack if idx < 7 %}
            <div class="stackitem stackitem-wide {{ item.type }}">
                <a href="{{ app.paths.files }}{{ item.filepath }}" class="filebrowserCallbackLink">
                    {% if item.type == 'image' %}
                        <img src="{{ item.filepath|thumbnail(100,100) }}" width="100" height="100">
                    {% else %}
                        <strong>{{ item.extension|upper }}</strong>
                        <small>{{ item.basename }}</small>
                    {% endif %}
                </a>
            </div>
        {% endfor %}
    </div>
</fieldset>
