{% macro changelog_details(entry) %}
    {% import '_macro/_macro.twig' as macro %}

    <h3>
        "{{ entry.title }}"
        {{ macro.changelogmutation(entry.effectiveMutationType) }}
        {{ macro.datetime(entry.date) }}
        {{ __('component.changelog-detail.by') }}
        {{ entry.username }}
    </h3>

    {% if isChangelogEnabled() %}
        <h4>{{ entry.comment }}</h4>
    {% endif %}

    <div class="changelog-details">
        <div class="user">
           <i class="icon icon-user"></i>
        </div>

        <div class="body">
            <div class="time">
                <i class="icon icon-time"></i>
                <span>{{ macro.changelogmutation(entry.effectiveMutationType) }} {{ macro.datetime(entry.date) }}</span>
            </div>

            <div class="name">
                <span class="label label-info arrowed arrowed-in-right">{{ entry.username }}</span>
            </div>

            <div class="text">
                <p>
                    <i class="icon-comments-alt"></i>
                    {{ entry.comment|default(__('component.changelog-detail.no-comment')) }}
                </p>
            </div>

            <table class="table table-bordered table-condensed table-changelog-details">
                <thead>
                    <tr>
                        <th>{{ __('component.changelog-detail.field') }}</th>
                        <th>{{ __('component.changelog-detail.value-old') }}</th>
                        <th>{{ __('component.changelog-detail.value-new') }}</th>
                    </tr>
                </thead>

                <tbody>
                {% for key, fieldDiff in entry.parsedDiff %}
                    <tr>
                        <td>{{ key }}</td>
                        <td class="source-code">{{ fieldDiff[0] }}</td>
                        <td class="source-code">{{ fieldDiff[1] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endmacro %}
