{% macro files_path(pathsegments, namespace, pathoptions) %}
    <h3>
        <a href="{{ path('files', pathoptions) }}" style="font-weight: inherit">{{ namespace }}</a>://

        {%- for path, segment in pathsegments -%}
            {{- loop.first ? '' : '/' -}}
            {%- set pathoptions = pathoptions|merge({'path': path, 'namespace': namespace}) -%}
            {%- if loop.last -%}
                {{- segment -}}
            {%- else -%}
                <a href="{{ path('files', pathoptions) }}" style="font-weight: inherit">{{ segment }}</a>
            {%- endif -%}
        {%- endfor -%}
    </h3>
{% endmacro %}
