{% macro files_path(pathsegments, namespace, pathoptions) %}
    {% set namespace_path = path('files', pathoptions) %}
    <p>
        {{ __('Path:') }}
        <a href="{{ namespace_path }}">{{ namespace }}</a>

        {% for path, segment in pathsegments %}
            /
            {% set pathoptions = pathoptions|merge({'path': path, 'namespace': namespace}) %}
            <a href="{{ path('files', pathoptions) }}">{{ segment }}</a>
        {% endfor %}
    </p>
{% endmacro %}
