{% macro files_path(pathsegments, namespace, pathopts) %}
    {% set namespace_path = path('files', pathopts) %}
    <p>
        {{ __('Path:') }}
        <a href="{{ namespace_path }}">{{ namespace }}</a> /

        {% for path, segment in pathsegments %}
            {% if not loop.first %} / {% endif %}
            <a href="{{ path('files', pathopts) }}">{{ segment }}</a>
        {% endfor %}
    </p>
{% endmacro %}
