{% from '@bolt/_buic/_moment.twig' import buic_moment %}

<table class="dashboardlisting file-manager">
    <thead>
        <tr>
            <th>{{ __('page.ckeditor-browse-server.files') }}</th>
            <th>&nbsp;</th>
            <th>{{ __('page.ckeditor-browse-server.size') }} / {{ __('page.ckeditor-browse-server.modified') }}</th>
        </tr>
    </thead>

    <tbody>
        {% for file in context.files if file.image %}
            <tr>
                <td class="filename">
                    {% if file.hasUrl %}
                        <i class="fa fa-fw fa-file-image-o"></i>
                        <a class="filebrowserCallbackLink" href="{{ file.url }}">
                            <b>{{ file.filename[:60]|shy }}</b>
                        </a>
                    {% else %}
                        <i class="fa fa-fw fa-file-image-o disabled"></i>
                        <b class="disabled">{{ file.filename[:60]|shy }}</b>
                    {% endif %}
                </td>
                <td class="listthumb">
                    {{ file.path|showimage(54, 40, 'c') }}
                </td>
                <td class="file-meta">
                    <span class="buic-moment" title="{{ file.size }} bytes ({{ file.sizeFormatted(true) }})">
                        <b>{{ file.sizeFormatted(true) }}</b></span>,
                    {{ buic_moment(file.timestamp) }}
                    <div class="image-dimensions">{{ file.width }}<span class="times">×</span>{{ file.height }} px</div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
