<table class="dashboardlisting">
    <thead>
        <tr>
            <th>{{ __('page.ckeditor-browse-server.files') }}</th>
            <th style="min-width: 102px;">{{ __('page.ckeditor-browse-server.size') }}</th>
            <th style="min-width: 60px;">&nbsp;</th>
        </tr>
    </thead>

    <tbody>
        {% for file in context.files %}
            {% if file.type == 'image' %}

                <tr>
                    <td>

                        <i class="fa fa-fw fa-file-image-o"></i>

                        {% if file.public %}
                            <a class="filebrowserCallbackLink" href="{{ file.url }}">
                                <b>{{ file.filename|excerpt(60)|shy }}</b>
                            </a>
                        {% else %}
                            <b>{{ file.filename|excerpt(60)|shy }} </b><i class="fa fa-lock"></i>
                        {% endif %}
                    </td>
                    <td>
                        <span class="buic-moment" title="{{ file.size }} bytes ({{ file.sizeformatted(true, false) }})">
                            <b>{{ file.sizeformatted(true, true) }}</b></span>
                        <br>
                        {% if file.image %}
                            <div class="image-dimensions">{{ file.width }}<span class="times">×</span>{{ file.height }} px</div>
                        {% endif %}
                    </td>
                    <td>
                        {{ file.path|showimage(54, 40, 'c') }}
                    </td>
                    {# <td>
                        <a href="{{ file.path|thumbnail(1000, 1000, 'r') }}" class="btn btn-mini magnifig" title="Image: {{ file.filename }}">{{ __('general.phrase.preview') }}</a>
                    </td> #}
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>
