<table class="dashboardlisting">
    <thead>
        <tr>
            <th>{{ __('page.ckeditor-browse-server.files') }}</th>
            <th style="min-width: 102px;">{{ __('page.ckeditor-browse-server.size') }}</th>
            <th style="min-width: 60px;">&nbsp;</th>
        </tr>
    </thead>

    <tbody>
        {% for file in context.files %}
            {% if file.type in ['jpeg', 'jpg', 'png', 'gif'] %}

                <tr>
                    <td>

                        <i class="fa fa-fw fa-file-image-o"></i>

                        {% if file.readable %}
                            <a class="filebrowserCallbackLink" href="{{ file.url }}">
                                <b>{{ file.filename|excerpt(60)|shy }}</b>
                            </a>
                        {% else %}
                            <b>{{ file.filename|excerpt(60)|shy }} </b><i class="fa fa-lock"></i>
                        {% endif %}
                    </td>
                    <td>
                        {{ file.filesize }}.<br>
                        {% if file.imagesize is defined %}{{ file.imagesize }} {{ __('page.ckeditor-browse-server.pixel') }}{% endif %}
                    </td>
                    <td>
                        {{ file.newpath|showimage(54, 40, 'c') }}
                    </td>
                    {# <td>
                        <a href="{{ file.newpath|thumbnail(1000, 1000, 'r') }}" class="btn btn-mini magnifig" title="Image: {{ file.filename }}">{{ __('Preview') }}</a>
                    </td> #}
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>
