<table class="dashboardlisting">
    <thead>
        <tr>
            <th>{{ __('page.ckeditor-browse-server.folders') }}</th>
            <th>{{ __('page.ckeditor-browse-server.modified') }}</th>
        </tr>
    </thead>

    <tbody>
        {% for folder in context.folders %}
            <tr>
                <td style="height: 30px;">
                    <i class="fa fa-fw fa-folder-open-o"></i>

                    <a href="{{ path('files', {'path': folder.newpath, 'namespace': context.namespace, 'CKEditor': app.request.query.get('CKEditor'), 'CKEditorFuncNum': app.request.query.get('CKEditorFuncNum'), 'langCode': app.request.query.get('langCode')}) }}">
                        <b>{{ folder.foldername|excerpt(40)|shy }}/</b>
                    </a>
                </td>
                <td>
                    <time class="moment" datetime="{{ folder.modified|date("c") }}" title="{{ folder.modified }}">{{ folder.modified }}</time>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
