{% from '@bolt/_buic/_moment.twig' import buic_moment %}

<table class="dashboardlisting">
    <thead>
        <tr>
            <th>{{ __('page.ckeditor-browse-server.folders') }}</th>
            <th>{{ __('page.ckeditor-browse-server.modified') }}</th>
        </tr>
    </thead>

    <tbody>
        {% for directory in context.directories %}
            <tr>
                <td style="height: 30px;">
                    <i class="fa fa-fw fa-folder-open-o"></i>

                    <a href="{{ path('files', {'path': directory.path, 'namespace': context.namespace, 'CKEditor': app.request.query.get('CKEditor'), 'CKEditorFuncNum': app.request.query.get('CKEditorFuncNum'), 'langCode': app.request.query.get('langCode')}) }}">
                        <b>{{ directory.path|excerpt(40)|shy }}/</b>
                    </a>
                </td>
                <td>
                    {{ buic_moment(directory.timestamp) }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
