<p>{{ message }}</p>

<p>You were invited to be part of <strong style="color: #204460;">{{ app.config.get('general/sitename') }}</strong>. To use your invitation code, click the following link:

<p><a href="{{ link }}">{{ link }}</a></p>

<p>If you don't know what is this, you can safely ignore this email.</p>

<p>Kind regards, {{ app.config.get('general/branding/name') }}.</p>
