<p>Hello {{ user.displayname }},</p>

<p>You - or someone pretending to be you - has requested a password-reset for
    '{{ app.config.get('general/sitename') }}'. To reset your password, click the following link:

<p><a href="{{ shadowlink }}">{{ shadowlink }}</a></p>

<p>And log in with your new password:</p>

<p><strong style="font-family: Menlo, Consolas, Monaco, 'Courier New', monospace;">{{ shadowpassword }}</strong></p>

<p>If this request wasn't done by you, you can safely ignore this email. Your password
    will remain the same, unless you click the link above.</p>

<p>Please note that resetting your password <em>must</em> be done within 2 hours
    and it also <em>must</em> be done from the same IP-address that requested the
    reset. If these conditions aren't met, the password reset will be canceled,
    and only the old password will remain valid. This might seem like a hassle,
    but this is the best way to prevent ill-willing persons from hijacking your account.</p>

<p>Kind regards, Bolt.</p>
