{# Page: NavSecondary > Content ... > Recent modifications > Full list #}
{% extends '_base/_page.twig' %}
{% block page_type 'Standard' %}
{% block page_title __('Change Log') ~ ': ' ~ context.title %}
{% block page_main %}

    {% from '_macro/_changelog_details.twig' import changelog_details %}
    {% from 'changeloglist/_macros.twig' import changelog_pager %}

    <div class="row">
        <div class="col-xs-12">
            <h1>{{ __('Change Log') }} » <i>{{ context.title }}</i></h1>

            {{ changelog_pager(context.currentpage, context.pagecount) }}

            <div class="changelog-list">
                {% for entry in context.entries %}
                    {{ changelog_details(entry) }}
                {% endfor %}
            </div>

            {{ changelog_pager(context.currentpage, context.pagecount) }}

            {% if context.contenttype %}
                <a href="{{ path('editcontent', {'contenttypeslug': context.contenttype, 'id': context.content.id}) }}">
                    {{ __('back to editing') }}
                </a>
            {% endif %}
        </div>
    </div>

{% endblock page_main %}
