{% from '@bolt/_buic/_moment.twig' import buic_moment %}

<table class="dashboardlisting">
    <thead>
        <tr>
            <th>{{ __('page.ckeditor-browse-server.files') }}</th>
            <th></th>
            <th class="hidden-xs hidden-sm">{{ __('page.ckeditor-browse-server.size') }} / {{ __('page.ckeditor-browse-server.modified') }}</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for file in context.files %}
            <tr class="entry" data-bolt-browse-name="{{ file.filename[:80] }}">
                {# Column: Filename #}
                <td class="filename" colspan="{{ file.image ? 1 : 2 }}">
                    {% if file.image %}

                        <i class="fa fa-fw fa-file-image-o"></i>

                        <a href="{{ file.path|thumbnail(1000, 1000, 'r') }}"
                           class="magnific"
                           title="Image: {{ file.filename }}">
                            <b class="name">{{ file.filename[:80]|shy }}</b>
                        </a>

                    {% elseif file.extension in ['twig', 'txt', 'html', 'md', 'markdown', 'json', 'htm', 'scss', 'css', 'less', 'js', 'yml'] %}

                        <i class="fa fa-fw fa-file-code-o"></i>

                        <a href="{{ path('fileedit', {'namespace': file.mountPoint, 'file': file.path}) }}">
                            <b>{{ file.filename[:80]|shy }}</b>
                        </a>

                    {% else %}
                        {% if file.hasUrl %}
                            <i class="fa fa-fw fa-link"></i>
                            <a href="{{ file.url }}" target="_blank">
                                <b class="name">{{ file.filename[:80]|shy }}</b>
                            </a>
                        {% else %}
                            <i class="fa fa-fw fa-file-o disabled"></i>
                            <b class="disabled name">{{ file.filename[:80]|shy }}</b>
                        {% endif %}
                    {% endif %}
                </td>
                {# Column: Thumbnail #}
                {% if file.image %}
                    <td class="listthumb">
                      <img data-src="{{ file.path|thumbnail(54,40, 'c') }}">
                    </td>
                {% endif %}
                {# Column: Filesize / Modified #}
                <td class="file-meta hidden-xs hidden-sm">
                    <span class="buic-moment" title="{{ file.size }} bytes ({{ file.sizeFormatted(true) }})">
                        <b>{{ file.sizeFormatted(true) }}</b></span>,
                    {{ buic_moment(file.timestamp) }}
                    {% if file.image %}
                        <div class="image-dimensions">{{ file.width }}<span class="times">×</span>{{ file.height }} px</div>
                    {% endif %}
                </td>
                {# Column: Actions #}
                <td class="actions">

                    <div class="btn-group">

                        {% if not config.get('general/backend/stack/disable', false) and file is stackable %}
                            <a href="#" class="btn btn-default btn-sm" data-bolt-addtostack="{{ file.path }}">
                                <i class="fa fa-paperclip"></i>
                                <span class="visible-sm-inline visible-xs-inline">{{ __('general.phrase.stack') }}</span>
                                <span class="hidden-sm hidden-xs">{{ __('general.phrase.stack-add') }}</span>
                            </a>
                        {% endif %}

                        {% if context.form != false %}
                            <a class="btn dropdown-toggle btn-default btn-sm hidden-xs" style="padding-left: 9px; padding-right: 9px;" data-toggle="dropdown">
                                <i class="fa fa-info-circle"></i>
                                {{ __('general.phrase.options') }}
                                <span class="caret"></span>
                            </a>

                            <ul class="dropdown-menu pull-right hidden-xs">
                                <li>
                                    <a href="#"
                                       data-action="Bolt.files.renameFile('{{ file.mountPoint }}', '{{ file.dirname|e('js') }}', '{{ file.filename|e('js') }}', '{{ token() }}', this);">

                                        <i class="fa fa-keyboard-o"></i>
                                        {{ __('general.phrase.rename-foldername', {'%foldername%': file.filename}) }}
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-action="Bolt.files.deleteFile('{{ file.mountPoint }}', '{{ file.path|e('js') }}', '{{ token() }}', this);">
                                        <i class="fa fa-ban"></i>
                                        {{ __('general.phrase.delete-file-name', {'%filename%': file.filename}) }}
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-action="Bolt.files.duplicateFile('{{ file.mountPoint }}', '{{ file.path|e('js') }}', '{{ token() }}');">
                                        <i class="fa fa-files-o"></i>
                                        {{ __('general.phrase.duplicate-file-name', {'%filename%': file.filename }) }}
                                    </a>
                                </li>
                            </ul>
                        {% endif %}
                    </div>

                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
