<table class="dashboardlisting">
    <thead>
        <tr>
            <th>{{ __('Files') }}</th>
            <th colspan="2" class="hidden-xs hidden-sm">{{ __('Filesize') }}</th>
            <th colspan="3"><span class="hidden-xs hidden-sm">{{ __('Modified') }}</span></th>
        </tr>
    </thead>

    <tbody>
        {% for file in context.files %}
            <tr>
                <td>
                    {% if file.type in ['jpeg', 'jpg', 'png', 'gif'] %}

                        <i class="fa fa-fw fa-file-image-o"></i>

                        {% if file.readable %}
                            <a href="{{file.newpath|thumbnail(1000, 1000, 'r') }}"
                               class="magnific"
                               title="Image: {{ file.filename }}">
                                <b>{{ file.filename|excerpt(80)|shy }}</b>
                            </a>
                        {% else %}
                            <b>{{ file.filename|excerpt(80)|shy }} </b>
                            <i class="fa fa-lock"></i>
                        {% endif %}

                    {% elseif file.type in ['twig', 'txt', 'html', 'md', 'markdown', 'json', 'htm', 'scss', 'css', 'less', 'js', 'yml'] %}

                        <i class="fa fa-fw fa-file-code-o"></i>

                        {% if file.readable %}
                            <a href="{{ path('fileedit', {'namespace': context.namespace, 'file': file.newpath}) }}">
                                <b>{{ file.filename|excerpt(80)|shy }}</b>
                            </a>
                        {% else %}
                            <b>{{ file.filename|excerpt(80)|shy }}</b>
                        {% endif %}

                        {% if not file.readable or not file.writable %}
                            <i class="fa fa-lock"></i>
                        {% endif %}

                    {% else %}

                        <i class="fa fa-fw fa-link"></i>

                        {% if file.readable %}
                            <a href="{{ file.url }}" target="_blank">
                                <b>{{ file.filename|excerpt(80)|shy }}</b>
                            </a>
                        {% else %}
                            <b>{{ file.filename|excerpt(80)|shy }} </b>
                            <i class="fa fa-lock"></i>
                        {% endif %}
                    {% endif %}
                </td>
                <td style="min-width: 120px;"class="hidden-xs hidden-sm">
                    {{ file.filesize }}.
                    {% if file.imagesize is defined %}
                       <br> {{ file.imagesize }} px.
                    {% endif %}
                </td>
                <td style="min-width: 140px;" class="hidden-xs hidden-sm">
                    <time class="moment"
                          datetime="{{ file.modified|date("c") }}"
                          title="{{ file.modified }}">
                        {{ file.modified }}
                    </time>
                </td>
                <td class="listthumb">
                    {% if file.imagesize is defined %}
                        {{ file.newpath|showimage(54, 40, 'c') }}
                    {% endif %}
                </td>
                <td class="actions" style="min-width: 16px;">
                    {% if context.form != false %}
                        <div class="btn-group">

                            {{ macro.stackbutton(file) }}

                            <a class="btn dropdown-toggle btn-default btn-sm hidden-xs" data-toggle="dropdown">
                                <i class="fa fa-info-circle"></i>
                                {{ __('Options') }}
                                <span class="caret"></span>
                            </a>

                            <ul class="dropdown-menu pull-right hidden-xs">
                                <li>
                                    <a href="#"
                                       data-action="bolt.files.renameFile('{{__("Please enter a new file name")}}',
                                                                        '{{ context.namespace }}',
                                                                        '{{ file.path }}',
                                                                        '{{ file.filename }}',
                                                                        this);">

                                        <i class="fa fa-keyboard-o"></i>
                                        {{ __('Rename %foldername%', { '%foldername%': file.filename }) }}
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-action="bolt.files.deleteFile('{{ context.namespace }}', '{{ file.newpath }}', this);">
                                        <i class="fa fa-ban"></i>
                                        {{ __('Delete %filename%',
                                              {'%filename%': file.filename }) }}
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-action="bolt.files.duplicateFile('{{ context.namespace }}', '{{ file.newpath }}')">
                                        <i class="fa fa-files-o"></i>
                                        {{ __('Duplicate %filename%',
                                              {'%filename%': file.filename }) }}
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a class="nolink">
                                        {{ __('Permissions') }}:
                                        <strong><code>{{ file.permissions }}</code></strong>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
