{% from '@bolt/_buic/_moment.twig' import buic_moment %}

{# Only show modified header if some directories have timestamps #}
{% set hasTimestamps = false %}
{% for dir in context.directories %}
    {% if not hasTimestamps and dir.timestamp != 0 %}
        {% set hasTimestamps = true %}
    {% endif %}
{% endfor %}

<table class="dashboardlisting">
    <thead>
        <tr>
            <th>{{ __('general.phrase.folders') }}</th>
            <th colspan="2">{{ hasTimestamps ? __('general.phrase.modified') }}</th>
        </tr>
    </thead>

    <tbody>
        {% for directory in context.directories %}
            <tr class="entry" data-bolt-browse-name="{{ directory.filename|excerpt(60) | trim }}">
                <td class="filename">
                    <i class="fa fa-fw fa-folder-open-o"></i>
                    <a href="{{ path('files', pathoptions|default({})|merge({'path': directory.path, 'namespace': directory.mountPoint})) }}">
                        <b class="name">{{ directory.filename[:60] }}</b>
                    </a>
                </td>
                <td class="folder-meta">
                    {{ buic_moment(directory.timestamp) }}
                </td>
                {% if context.form != false %}
                    <td class="actions">
                        <div class="btn-group">
                            <a class="btn dropdown-toggle btn-default btn-sm" data-toggle="dropdown">
                                <i class="fa fa-info-circle"></i>
                                {{ __('general.phrase.options') }}
                                <span class="caret"></span>
                            </a>

                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="#"
                                       data-action="bolt.files.renameFolder('{{ directory.mountPoint }}',
                                                                        '{{ directory.dirname|e('js') }}',
                                                                        '{{ directory.filename|e('js') }}',
                                                                        '{{ token() }}',
                                                                        this);">

                                        <i class="fa fa-keyboard-o"></i>
                                        {{ __('general.phrase.rename-foldername', {'%foldername%': directory.filename}) }}
                                    </a>
                                    <a href="#"
                                       data-action="bolt.files.deleteFolder('{{ directory.mountPoint }}',
                                                                        '{{ directory.dirname|e('js') }}',
                                                                        '{{ directory.filename|e('js') }}',
                                                                        '{{ token() }}',
                                                                        this);">

                                        <i class="fa fa-ban"></i>
                                        {{ __('general.phrase.delete-directory-name', {'%foldername%': directory.filename}) }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
