{##
 # Sidebar-Panel: Displays actions for files
 #}
{% extends '@bolt/_base/_panel.twig' %}

{% import '@bolt/_macro/_macro.twig' as macro %}

{% block panel_class 'panel-fileupload' %}

{% block panel_icon 'fa-cloud-upload' %}

{% block panel_head %}
    {{ __('general.phrase.upload-file-to-directory') }}
{%  endblock panel_head %}

{% block panel_body %}
    <p>
        {{ __('general.phrase.upload-drop-here') }}
    </p>

    <p>
    {{ __('field.general.allowed-filetypes') }} {{  macro.typepopover() }}
    </p>

    {{ include('@bolt/files/_upload.twig') }}
{% endblock panel_body %}
