{# Page: NavSecondary > File Management > Uploaded files #}

{% import '@bolt/_macro/_macro.twig' as macro %}
{% from '@bolt/_macro/_files_path.twig' import files_path %}
{% import '@bolt/_macro/_buic.twig' as buic %}

{% extends '@bolt/_base/_page-nav.twig' %}

{% block page_nav 'Settings/FileManagement' %}

{% block page_title __('Files') %}
{% block page_subtitle context.namespace ~ '/' ~ context.pathsegments|keys|last %}

{% block page_main %}

    {{ data('files.msg.create_folder', __('Please enter a new folder name!')) }}
    {{ data('files.msg.create_file', __('Please enter a new file name!')) }}
    {% if context.folders|length > 0 %}
        {{ data('files.msg.rename_folder', __('Please enter a new folder name!')) }}
        {{ data('files.msg.delete_folder', __('Do you really want to delete %FOLDERNAME%?')) }}
    {% endif %}
    {% if context.files|length > 0 %}
        {{ data('files.msg.rename_file', __('Please enter a new file name!')) }}
        {{ data('files.msg.delete_file', __('Are you sure you want to delete %FILENAME%?')) }}
    {% endif %}

    <div class="row">
        <div class="col-xs-12">

            {{ files_path(context.pathsegments, context.namespace, {'path': '', 'namespace': context.namespace}) }}

            {% if context.folders|length > 0 %}
                {% include '@bolt/files/_folders.twig' %}
            {% endif %}

            <p>
                <a href="#" class="btn btn-default"
                   data-action="Bolt.files.createFile('{{ context.namespace }}',
                                                    '{{ context.pathsegments|keys|last }}',
                                                    this);">
                    <i class="fa fa-fw fa-plus"></i>
                    {{ __('Create File') }}
                </a>
                <a href="#" class="btn btn-default"
                   data-action="Bolt.files.createFolder('{{ context.namespace }}',
                                                    '{{ context.pathsegments|keys|last }}',
                                                    this);">
                    <i class="fa fa-fw fa-plus"></i>
                    {{ __('Create folder') }}
                </a>
            </p>

            {% if context.files|length > 0 %}
                {% include '@bolt/files/_files.twig' %}
            {% endif %}

            {# Only show the "Upload here" form, if the folder is writable. #}
            {% if context.form != false %}
                {% include '@bolt/files/_upload.twig' %}
            {% else %}
                <p><i class="fa fa-fw fa-exclamation-sign"></i> {{ __('Uploading to this folder is not allowed.') }}</p>
            {% endif %}

        </div>
    </div>

{% endblock page_main %}
