{# Page: NavSecondary > File Management > Uploaded files #}

{% import '@bolt/_macro/_macro.twig' as macro %}
{% from '@bolt/_macro/_files_path.twig' import files_path %}

{% set page_bodyclass = '' %}

{% extends '@bolt/_base/_page-nav.twig' %}

{% block page_nav 'Settings/FileManagement' %}

{% block page_title __('page.file-management.title') %}

{% block page_main %}

    {{ data('files.msg.create_folder', __('page.file-management.message.create-folder')) }}
    {{ data('files.msg.create_file', __('page.file-management.message.create-file')) }}
    {% if context.directories|length > 0 %}
        {{ data('files.msg.rename_folder', __('page.file-management.message.create-folder')) }}
        {{ data('files.msg.delete_folder', __('Do you really want to delete %FOLDERNAME%?')) }}
    {% endif %}
    {% if context.files|length > 0 %}
        {{ data('files.msg.rename_file', __('page.file-management.message.create-file')) }}
        {{ data('files.msg.delete_file', __('general.phrase.confirm-delete-file')) }}
    {% endif %}
    {{ data('url.file.create', path('file/create')) }}
    {{ data('url.file.delete', path('file/delete')) }}
    {{ data('url.file.duplicate', path('file/duplicate')) }}
    {{ data('url.file.rename', path('file/rename')) }}
    {{ data('url.folder.create', path('createfolder')) }}
    {{ data('url.folder.delete', path('removefolder')) }}
    {{ data('url.folder.rename', path('renamefolder')) }}


    <div class="row file-manager">
        <div class="col-md-9">

            {{ files_path(context.directory) }}

            {{ widgets('files_below_header', 'backend') }}
            <div id="dropzone-target">
                {% if context.directories|length > 0 %}
                    {{ include('@bolt/files/_folders.twig') }}
                {% endif %}

                {% if context.files|length > 0 %}
                    {{ include('@bolt/files/_files.twig') }}
                {% endif %}
            </div>

            {{ widgets('files_bottom', 'backend') }}

        </div>

        <div class="col-md-3">
          {{ include('@bolt/files/_aside.twig') }}
        </div>
    </div>

{% endblock page_main %}
