{# Page: NavSecondary > Dashboard > Configuration > Change Log #}

{% extends '@bolt/_base/_page-nav.twig' %}

{% block page_nav 'Settings/Configuration' %}

{% block page_title __('logs.change-log') %}

{% block page_main %}

    {% from '@bolt/_macro/_pager.twig' import pager %}

    {% import '@bolt/_macro/_macro.twig' as macro %}
    {% import '@bolt/_macro/_buic.twig' as buic %}

    <div class="row">
        <div class="col-xs-12">

            <div class="btn-group pull-right" style="padding-bottom: 12px">
                <a class="btn btn-default" href="{{ path('changelog', {'action': 'trim'}) }}">
                    <i class="fa fa-trash-o"></i> {{ __('Trim Change Log') }}
                </a>
                <a class="btn btn-default confirm" href="{{ path('changelog', {'action': 'clear'}) }}" data-confirm="Are you sure you want to clear the change logs?">
                    <i class="fa fa-trash"></i> {{ __('Clear Change Log') }}
                </a>
            </div>

            <table class="table table-striped dashboardlisting">
                <thead>
                    <tr>
                        <th></th>
                        <th>Type</th>
                        <th class="col-sm-1">ContentType</th>
                        <th>ID</th>
                        <th class="col-sm-2">Title</th>
                        <th class="col-sm-3">Changed Fields</th>
                        <th class="col-sm-3">Editor's Comment</th>
                        <th class="col-sm-1">User</th>
                        <th class="col-sm-1">Date</th>
                    </tr>
                </thead>
                <tbody>
                {% for entry in context.entries %}
                    <tr>
                        <td>
                            <a href="{{ path('changelogrecordsingle', {'contenttype': entry.contenttype, 'contentid': entry.contentid, 'id': entry.id}) }}">№ {{ entry.id }}</a>
                        </td>
                        <td>
                            {{ entry.mutation_type|title }}
                        </td>
                        <td>
                            {{ entry.contenttype }}
                        </td>
                        <td>
                            {{ entry.contentid }}
                        </td>
                        <td>
                            <a href="{{ path('editcontent', {'contenttypeslug': entry.contenttype, 'id': entry.contentid}) }}">{{ entry.title }}</a>
                        </td>
                        <td>
                            {{ entry.diff|keys|join(', ') }}
                        </td>
                        <td>
                            {{ entry.comment|default('') }}
                        </td>
                        <td>
                            <em>{{ macro.userlink(entry.ownerid) }}</em>
                        </td>
                        <td>
                            {{ buic.moment(entry.date) }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {{ pager() }}

        </div>
    </div>

{% endblock page_main %}
