<aside>
    <div>

        {% setcontent about = "page/about" %}
        
        {# check if there's a page with slug 'about' #}
        {% if about.title is defined %}

            <h3>{{ about.title }}</h3>
            {{ about.introduction|raw }}
        
            <a href="{{ about.link }}">link</a>

        {% else %}
        
            <h3>Alas, no about!</h3>
            
            <p>If there was a Page with 'about' for a slug, it would've been shown 
                here. But there isn't one, so that's why you're seeing this 
                placeholder.</p>
        
        {% endif %}

        {% setcontent pages = "pages/latest/5" %}

        <h3>Recent pages</h3>
        <ul>
        {% for page in pages %}
        <li><a href="{{ page.link }}">{{ page.title }}</a></li>
        {% else %}
        <p>No recent pages.</p>
        {% endfor %}
        </ul>
        <p><a href="{{ paths.root }}pages">Pages overview</a>.</p>

        {% setcontent entries = "entries/latest/5" %}

        <h3>Recent entries</h3>
        <ul>
        {% for entry in entries %}
        <li><a href="{{ entry.link }}">{{ entry.title }}</a></li>
        {% else %}
        <p>No recent entries.</p>        
        {% endfor %}
        </ul>
        <p><a href="{{ paths.root }}entries">Entries overview</a>.</p>


    </div>

</aside>

