{% include '_header.twig' %}

<article>

    <h1><a href="{{ record.link }}">{{ record.title }}</a></h1>

    {% if record.image!="" %}
        <div class='imageholder-wide'><img src="{{ record.image|thumbnail(800, 600) }}"></div>
    {% endif %}

    {{ record.teaser }}

    {{ record.video.responsive }}

    {{ record.body }}

    {% include '_recordfooter.twig' with {record: record} %}

    <p class="meta">
        {% set previous = record.previous() %}
        {% if previous %}
            <a href="{{ previous.link }}">&laquo; {{ previous.title }}</a>
        {% endif %}

        {% set next = record.next() %}
        {% if next %}
            <a href="{{ next.link }}">{{ next.title }} &raquo;</a>
        {% endif %}
    </p>

</article>

{% include '_footer.twig' %}
