{% include '_header.twig' %}

<article>

    <h1><a href="{{ record.link }}">{{ record.title }}</a></h1>
    
    {% if record.image!="" %}
        <div class='imageholder-wide'><img src="{{ record.image|thumbnail(800, 600) }}"></div>
    {% endif %}

    {{ record.teaser }}

    {{ record.video.responsive }}

    {{ record.body }}

    <p class="meta">Posted by {{ record.user.displayname }} on {{ record.datecreated|date("M d, ’y")}}</p>

</article>  

{% include '_footer.twig' %}
