{% include '_header.twig' %}


{% setcontent entries = "entries/latest/4" allowpaging %}

{% for entry in entries %}
<article>
    {% if entry.image!="" %}
        <div class='imageholder'><img src="{{ entry.image|thumbnail(120, 120) }}">
        </div>
    {% endif %}

    <h2><a href="{{ entry.link }}">{{ entry.title }}</a></h2>

    {{ entry.teaser }}

    {% include '_recordfooter.twig' with {record: record} %}

</article>
{% endfor %}

{{ pager() }}


{% include '_footer.twig' %}

