<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{{ newsitem.title }}</title>
</head>
 
<body>


<article>

    {% setcontent items = "news" limit 5 orderby '-amount' %}

    <h3>amount:</h3>
    <ul>
        {% for item in items %}
            <li><b>{{ item.id }}</b> - {{  item.amount }} - {{  item.title }}</li>
        {%  endfor %}
    </ul>

    {% setcontent items = "news" limit 5 orderby '-textamount' %}

    <h3>textamount:</h3>
    <ul>
        {% for item in items %}
            <li><b>{{ item.id }}</b> - {{  item.textamount }} - {{  item.title }}</li>
        {%  endfor %}
    </ul>



</article>

<hr>

    <article>
 
 

        <h1><a href="{{ newsitem.link }}">{{ newsitem.title }}</a></h1>
         
        {% if content.image!="" %}
            <div class='imageholder'><img src="{{ newsitem.image|thumbnail(480, 480) }}"></div>
        {% endif %}
         
        {{ newsitem.text }}
     
        <p class="meta"><a href="{{ newsitem.link }}">Link</a> - 
            Posted by {{ newsitem.username }}
            on {{ newsitem.datecreated|date("M d, ’y")}}</p>
         
    </article>   
</body>
</html>