{% include '_header.twig' %}


<article>

    <h1><a href="{{ record.link }}">{{ record.title }}</a></h1>
    
    <h2>{{ record.subtitle }}</h2>

    <section class='introduction'>{{ record.introduction|raw }}</section>

    <section class='body'>{{ record.body|raw }}</section>

    <p class="meta">Posted by {{ record.username }} on {{ record.datecreated|date("M d, ’y")}}</p>
    
</article>  

{{ print(content) }}


{% include '_footer.twig' %}