{% include '_header.twig' %}

<article>

    <h1><a href="{{ record.link }}">{{ record.title }}</a></h1>
    
    <h2>{{ record.subtitle }}</h2>

    <section class='introduction'>{{ record.introduction }}</section>

    <section class='body'>{{ record.body }}</section>

    <p class="meta">Posted by {{ record.user.displayname }} on {{ record.datecreated|date("M d, ’y")}}</p>
    
</article>

{% include '_footer.twig' %}