{% include '_header.twig' %}

{# -----
This is the 'default record' template. Try to do some generic stuff, so we
can output all fields.

Note: You probably don't want to use this template as a base for your own
templates. 'entry.twig' is much more straightforward.

----- #}

<article>

    <h1><a href="{{ record.link }}">{{ record.title }}</a></h1>

    {% if record.subtitle %}
    <h2>{{ record.subtitle }}</h2>
    {% endif %}

    {% for key,value in record.values if key not in ['id', 'slug', 'datecreated', 'datechanged', 'datepublish', 'datedepublish', 'username', 'status', 'title', 'subtitle', 'ownerid', 'templatefields'] %}

        {% if record.fieldtype(key) == "image" and value != "" %}

            <div class='imageholder-wide'><img src="{{ value|thumbnail(800, 600) }}"></div>

        {% elseif record.fieldtype(key) == "imagelist" and value != "" %}

            {# We do something tricky here: we need to get value of the list in the proper
               way, so the value in actually returned as a list. Using {{ record.key }}
               won't work, because there is no value 'key'. In your own templates you
               will be able to use {{ record.yourfieldname }}. #}

            {% set list = attribute(record, key) %}

            {% for item in list %}
                <a href="{{ item.filename|image }}">
                    <img src="{{ item.filename|thumbnail(100,100) }}" alt="{{ item.title }}" title="{{ item.title }}">
                </a>
            {% endfor %}

        {% elseif record.fieldtype(key) == "video" and value.responsive != "" %}

            {{ value.responsive }}

        {% elseif record.fieldtype(key) == "geolocation" and value.latitude != "" %}

            <div class='imageholder-wide'>
                <img src="http://maps.googleapis.com/maps/api/staticmap?center={{ value.latitude }},{{ value.longitude }}&zoom=14&size=617x300&sensor=false&markers={{ value.latitude }},{{ value.longitude }}">
            </div>
            <p>{{ value.formatted_address }}</p>

        {% elseif record.fieldtype(key) not in ['templateselect'] and value != "" %}

            <div>
                {{ attribute(record, key) }}
            </div>

        {%  endif %}

    {% endfor %}

    {# print related content, if there is any. #}
    {% set relatedrecords = record.related %}
    {% if relatedrecords is not empty %}
        <p>Related content:</p>
        <ul>
            {% for related in relatedrecords %}
                <li><a href="{{ related.link }}">{{ related.title }}</a></li>
            {%  endfor %}
        </ul>
    {% endif %}


    {% include '_recordfooter.twig' with {record: record} %}

    <p class="meta">
        {% set previous = record.previous() %}
        {% if previous %}
            <a href="{{ previous.link }}">&laquo; {{ previous.title }}</a>
        {% endif %}

        {% set next = record.next() %}
        {% if next %}
            <a href="{{ next.link }}">{{ next.title }} &raquo;</a>
        {% endif %}
    </p>

    {# Uncomment this if you wish to dump the entire record to the client, for debugging purposes.
    {{ print(record) }}
    #}

</article>

{% include '_footer.twig' %}
