{% include '_header.twig' %}

<h1>Search results</h1>

{% if records %}
    {% for record in records %}
        <article>
            {% if record.image!="" %}
                <div class='imageholder'><img
                        src="{{ record.image|thumbnail(120, 120) }}">
                </div>
            {% endif %}

            <h2><a href="{{ record.link }}">{{ record.title }}</a></h2>

            {{ record.excerpt(300) }}

            {% include '_recordfooter.twig' with {record: record} %}

        </article>
    {% endfor %}
{% else %}
    <p>No results to display!</p>
{% endif %}

{{ pager() }}


{% include '_footer.twig' %}

