{# Page: NavSecondary > Configuration > Check database > Records with... #}

{% extends '@bolt/_base/_page-nav.twig' %}

{% block page_nav 'Settings/Configuration' %}

{% block page_title __('general.phrase.database-prefill-dummy-content') %}

{% form_theme context.form 'form_bolt_layout.twig' _self %}

{%- block prefill_check_all_button_icon %}
    <i class="fa fa-fw fa-check-square-o"> </i>
{% endblock -%}
{%- block prefill_uncheck_all_button_icon %}
    <i class="fa fa-fw fa-square-o"> </i>
{% endblock -%}
{%- block prefill_submit_button_icon %}
    <i class="fa fa-wrench"> </i>
{% endblock -%}

{% block checkbox_label -%}
    {# Not pretty, but need valid SCSS changes as '.checkbox.label' overrides us here #}
    {%- set label_attr = label_attr|merge({'style': 'font-weight: bold !important;'}) -%}
    {{- block('checkbox_radio_label') -}}
{%- endblock checkbox_label %}

{% block page_main %}
    {% use '@bolt/prefill/_blocks.twig' %}

    <div class="row">
        <div class="col-xs-12">
            {% if context.results.errors is iterable %}
                {{  block('prefill_response_fail') }}
            {% endif %}
            {% if context.results.warnings is iterable %}
                {{  block('prefill_response_warn') }}
            {% endif %}
            {% if context.results.created is iterable %}
                {{  block('prefill_response_pass') }}
            {% endif %}

            {{ form_start(context.form) }}
            <div class="info">
                {{ app.translator.trans('prefill.short_help', {}, 'infos')|raw }}
            </div>

            <div id="form_contenttypes" style="border-bottom: 1px solid #eee; margin-bottom: 10px; width: 50%">
                {% for field in context.form.contenttypes %}
                    <div>
                        {{ form_widget(field) }}
                    </div>
                {% endfor %}
            </div>

            {{ form_widget(context.form._token) }}

            <div style="margin-top: 12px">
                {{ form_widget(context.form.check_all, {'attr': {'class': 'btn-xs'}, 'label': __('general.phrase.select-all') }) }}
                {{ form_widget(context.form.uncheck_all, {'attr': {'class': 'btn-xs'}, 'label': __('general.phrase.deselect-all')}) }}
            </div>
            <div style="margin-top: 12px">
                {{ form_widget(context.form.submit, {'label': __('general.phrase.database-prefill')}) }}
            </div>
            {{ form_end(context.form) }}

        </div>
    </div>

{% endblock page_main %}
