{# Page: NavSecondary > Configuration > Check database > Records with... #}

{% extends '@bolt/_base/_page-nav.twig' %}

{% block page_nav 'Settings/Configuration' %}

{% block page_title __('Fill the database with Dummy Content') %}

{% block page_main %}
    {% import '@bolt/_macro/_macro.twig' as macro %}

    <div class="row">
        <div class="col-xs-12">
            <form method="post" id="prefill" class="form-horizontal"{{ macro.attr({_bind: ['prefill']}) }}>
                <div id="form">
                    <div class="control-group">
                        <div class="info">
                            {{ app.translator.trans('prefill.short_help', {}, 'infos')|raw }}
                        </div>

                        <div id="form_contenttypes" style="border-bottom: 1px solid #eee; margin-bottom: 10px; width: 50%">
                            {% for key,ctype in context.contenttypes %}
                                <div>
                                    <label>
                                        <input type="checkbox"
                                               id="form_contenttypes_{{ loop.index0 }}"
                                               name="form[contenttypes][]"
                                               value="{{ key }}">{{ ctype }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                {{ form_widget(context.form._token) }}

                <div style="margin-top: 12px">
                    <button type="button" class="btn btn-xs" id="check-all"><i class="fa fa-fw fa-check-square-o"></i> {{ __('Select all') }}</button>
                    <button type="button" class="btn btn-xs" id="uncheck-all"><i class="fa fa-fw fa-square-o"></i> {{ __('Deselect all') }}</button>
                </div>
                <div style="margin-top: 12px">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-wrench"></i> {{ __('Prefill database') }}</button>
                </div>

            </form>

        </div>
    </div>

{% endblock page_main %}
