{% extends '_base/_page-nav.twig' %}
{% block ptype 'Settings' %}
{% block pmain %}

{% macro display_menu_item(item) %}
    <li class="dd-item dd3-item" {{ _self.invoke_data_attributes(item) }}>
        <div class="dd-handle dd3-handle"></div>
        <div class="dd3-content">{% if item.label == '' %}<em>{{ __("no label set") }}</em>{% else %}{{ item.label }}{% endif %}</div>
        <div class="dd-edit dd3-edit pull-right"></div>
        <div class="dd-editpanel well hidden">
            {% if item.link is not defined %}
            <div class="left-inner-addon">
                <i class="icon-bolt"></i>
                <input class="me-input" type="text" value="{{ item.path }}" disabled="disabled" style="width: 25%;">
            </div>
            {% endif %}
            <div class="left-inner-addon">
                <i class="icon-pushpin"></i>
                <input class="me-input" type="text" data-tag="label" value="{{ item.label }}" placeholder="{{ __("label") }}">
            </div>
            {% if item.link is defined %}
                <div class="left-inner-addon">
                    <i class="icon-link"></i>
                    <input class="me-input" type="text" data-tag="link" value="{{ item.link }}" placeholder="{{ __("http://") }}">
                </div>
            {% endif %}
            <div class="left-inner-addon">
                <i class="icon-info-sign"></i>
                <input class="me-input" type="text" data-tag="title"{% if item.title is defined %} value="{{ item.title }}"{% endif %} placeholder="{{ __("title") }}">
            </div>
            <div class="left-inner-addon">
                <i class="icon-eye-open"></i>
                <input class="me-input" type="text" data-tag="class"{% if item.class is defined %} value="{{ item.class }}"{% endif %} placeholder="{{ __("css classes") }}">
            </div>


            <button type="button" class="btn btn-primary me-updateitem">{{ __("Save") }}</button>
            <button type="button" class="btn btn-danger me-deleteitem">{{ __("Remove from menu") }}</button>
        </div>

        {% if item.submenu is defined %}
            <ol class="dd-list">
                {% for submenu in item.submenu %}
                    {{ _self.display_menu_item(submenu) }}
                {% endfor %}
            </ol>
        {% endif %}

    </li>
{% endmacro %}

{% macro invoke_data_attributes(item) %}
{% if item.label is defined %}data-label="{{ item.label }}" {% endif %}
{% if item.link is defined %}data-link="{{ item.link }}" {% endif %}
{% if item.path is defined %}data-path="{{ item.path }}" {% endif %}
{% if item.class is defined %}data-class="{{ item.class }}" {% endif %}
{% if item.title is defined %}data-title="{{ item.title}}"{% endif %}
{% endmacro %}

<script>
    // lockfile
    me_writeLock                    = {{ writeLock }};

    // labels
    trans_nolabelset                = "{{ __("no label set") }}";
    trans_label                     = "{{ __("label") }}";
    trans_title                     = "{{ __("title") }}";
    trans_class                     = "{{ __("css classes") }}";
    trans_url                       = "{{ __("http://") }}";

    // general messages
    trans_additem                   = "{{ __("Select an item to add") }}";
    trans_searchitem                = "{{ __("Search for an item to add") }}";
    trans_save                      = "{{ __("Save") }}";
    trans_removefrommenu            = "{{ __("Remove from menu") }}";
    trans_deleteWithSubmenus        = "{{ __("Are you sure you wish to remove this item from the menu, along with all its sub-items?") }}"
    trans_menualreadyexists         = "{{ __("A menu with this name already exists...") }}"
    trans_restorebackup             = "{{ __("Please confirm that you wish to restore the menu") }}"
    trans_revertChanges             = "{{ __("Are you sure you want to revert changes you have made since you last saved your menus?") }}"

    // errors
    trans_connectionError           = "{{ __("Something went wrong, please reload the page and try again") }}"
    trans_writeLockError            = "{{ __("The menu.yml config-file was edited by someone else in the meantime, please reload the page.") }}"
    trans_writeError                = "{{ __("Unable to save your menu.") }}"
    trans_parseError                = "{{ __("There's something wrong with this extension, please report to the author and edit your menu manually until this is fixed.") }}"
    trans_backupFailError           = "{{ __("Unable to save backup! Please make sure MenuEditor/backups is writable by your webserver or disable the feature in the extensions configuration.") }}"
    trans_backupRestoreFailError    = "{{ __("The backup could not be restored: ") }}"
</script>

<div class="row-fluid">
    <div class="span8">

        <h1><strong>{{ __('Menu editor') }}</strong></h1>

        <ul id="me-nav" class="nav nav-tabs">

            {% for menu in menus|keys %}
            <li{% if loop.first %} class="active"{% endif %}><a href="#me-tab-{{ loop.index0 }}" data-toggle="tabs">{{ menu }}</a></li>
            {% endfor %}

            <li><a href="#me-tab-new" data-toggle="tabs"><i class="icon-plus"></i>&nbsp;</a></li>

        </ul>


        <div class="tab-content">
            {% for menuname,menu in menus %}
            <div class="tab-pane{% if loop.first %} active{% endif %}" id="me-tab-{{ loop.index0 }}">

                <div class="dd me-menu" id="me-menu-{{ loop.index0 }}" data-menuname="{{ menuname }}">
                    <ol class="dd-list me-menulist">

                        {% for item in menu %}
                            {{ _self.display_menu_item(item) }}
                        {% endfor %}

                    </ol>
                </div>
            </div>
            {% endfor %}

            <div class="tab-pane" id="me-tab-new">
                <input type="text" id="me-addmenu-name" placeholder="{{ __("Name of new menu") }}"><br />
                <button type="button" class="btn btn-default me-addmenu" id="me-addmenu">{{ __("Add new menu") }}</button>
            </div>

        </div>
    </div>

    <aside class="span4">
        <section>
            <h2>{{ __("Actions") }}</h2>
            <div class="btn-group">
                <button type="button" class="btn btn-primary btn-large" id="savemenus">{{ __("Save") }}</button>
                <button type="button" class="btn btn-primary btn-large dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only"></span>
                </button>
                <ul class="dropdown-menu" id="me-actionmenu" role="actionmenu">
                    <li><a href="" class="btn btn-warning btn-mini revert-changes" type="button">{{ __("Revert changes") }}</a></li>
                    <li><a data-target="#myModal" href="/async/readme/MenuEditor" class="btn btn-mini" type="button" data-toggle="modal" >{{ __("View Readme") }}</a></li>
                    <li><hr></li>
                    {% if backups|length > 0 %}
                    {% for backuptime,backup in backups %}
                    <li><a href="#" data-filetime="{{ backuptime }}" class="restoremenus">{{ __("Restore %filename%", {'%filename%': backuptime|date}) }}</a></li>
                    {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </section>

        <section>
            <h4>{{ __('Contenttypes') }}</h4>
            <select name="me-addct-filter" class="me-addct-filter wide" style="width: 100%;">
            	<!-- <option value="">All</option> -->
            {% for contenttype in contenttypes %}
            	<option value="{{ contenttype.name }}">{{contenttype.name}}</option>
            {% endfor %}
            </select>
            <div name="me-addct" class="me-addct wide" style="width: 100%;"></div>
            <div style="margin-top: 10px;">
                <div class="left-inner-addon ">
                    <i class="icon-pushpin"></i>
                    <input class="me-input" type="text" id="me-addct-label" placeholder="{{ __("label") }}">
                </div>
                <div class="left-inner-addon ">
                    <i class="icon-info-sign"></i>
                    <input class="me-input" type="text" id="me-addct-title" placeholder="{{ __("title") }}">
                </div>
                <div class="left-inner-addon ">
                    <i class="icon-eye-open"></i>
                    <input class="me-input" type="text" id="me-addct-class" placeholder="{{ __("css classes") }}">
                </div>

                <input class="me-input" type="hidden" id="me-addct-path">
            </div>
            <button type="button" class="btn btn-default me-additem" id="me-addct">{{ __("Add to menu") }}</button>
        </section>

        <section>
            <h4>{{ __("Special elements") }}</h4>
            <select name='me-addsp' class='me-addsp wide' style="width: 100%;">
                <option></option>
                <optgroup label="{{ __("Generic") }}">
                    <option value="homepage">{{ __("Homepage") }}</option>
                    {% for contenttype in contenttypes %}
                        <option value="{{ contenttype.slug }}">{{ __("Overview of all") }} {{ __(contenttype.name) }}</option>
                    {% endfor %}
                    {% for taxonomy in taxonomys %}
                        <option value="{{ taxonomy.slug }}">{{ __("Overview of all") }} {{ __(taxonomy.name) }}</option>
                    {% endfor %}
                </optgroup>

                {% for taxonomy in taxonomys %}
                <optgroup label="{{ __(taxonomy.name) }}">
                    {% for path,label in taxonomy.me_options %}
                        <option value="{{ path }}">{{ label }}</option>
                    {% endfor %}
                </optgroup>
                {% endfor %}
            </select>
            <div style="margin-top: 10px;">
                <div class="left-inner-addon ">
                    <i class="icon-pushpin"></i>
                    <input class="me-input" type="text" id="me-addsp-label" placeholder="{{ __("label") }}">
                </div>
                <div class="left-inner-addon ">
                    <i class="icon-info-sign"></i>
                    <input class="me-input" type="text" id="me-addsp-title" placeholder="{{ __("title") }}">
                </div>
                <div class="left-inner-addon ">
                    <i class="icon-eye-open"></i>
                    <input class="me-input" type="text" id="me-addsp-class" placeholder="{{ __("css classes") }}">
                </div>
                <input class="me-input" type="hidden" id="me-addsp-path">
            </div>
            <button type="button" class="btn btn-default me-additem" id="me-addsp">{{ __("Add to menu") }}</button>
        </section>

        <section>
            <h4>{{ __("Links") }}</h4>
            <div class="left-inner-addon ">
                <i class="icon-pushpin"></i>
                <input class="me-input" type="text" class="form-control" id="me-addurl-label" placeholder="{{ __("label") }}">
            </div>
            <div class="left-inner-addon ">
                <i class="icon-link"></i>
                <input class="me-input" type="text" id="me-addurl-link" placeholder="http://">
            </div>
            <div class="left-inner-addon ">
                <i class="icon-info-sign"></i>
                <input class="me-input" type="text" id="me-addurl-title" placeholder="{{ __("title") }}">
            </div>
            <div class="left-inner-addon ">
                <i class="icon-eye-open"></i>
                <input class="me-input" type="text" id="me-addurl-class" placeholder="{{ __("css classes") }}">
            </div>
            <button type="button" class="btn btn-default me-additem" id="me-addurl">{{ __("Add to menu") }}</button></div>
        </section>

    </aside>
</div>

<div class="modal hide" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-body">
        <p>&nbsp;</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{{ __("Close") }}</button>
    </div>
</div>

{% endblock pmain %}
