{# Page: Login #}
{% extends '_base/_page-no_nav.twig' %}

{% set form_class = 'login-block center-block' %}

{% block page_title __('page.login.title') %}

{% block page_main %}

    <form method="post" role="form" class="submitspinner">

        <div class="form-group">
            <label for="username" class="control-label">{{ __('page.login.label.username') }}</label>
            <div class="input-group">
                <label for="username" class="input-group-addon"><i class="fa fa-fw fa-user"></i></label>
                <input id="username" class="form-control" type="text" autofocus name="username" placeholder="{{ __('page.login.placeholder.password') }} …" {% if username is defined %}value="{{ username }}"{% endif %} required>
            </div>
        </div>

        <div class="form-group password-group">
            <label for="password" class="control-label">
                {{ __('page.login.label.password') }} &nbsp;
                <span class="togglepass show-password"><i class="fa fa-fw fa-eye"></i> {{ __('page.login.password-show') }}</span>
                <span class="togglepass hide-password"><i class="fa fa-fw fa-eye-slash"></i> {{ __('page.login.password-hide') }}</span>
            </label>
            <div class="input-group">
                <label for="password" class="input-group-addon"><i class="fa fa-fw fa-key"></i></label>
                <input id="password" class="form-control" type="password" name="password" placeholder="{{ __('users.your-password') }} …">
            </div>
        </div>

        <p class="login-group">
            <button type="submit" class="btn btn-primary" name="action" value="login">
                <i class="fa fa-sign-in fa-fw"></i> {{ __('page.login.button.log-on') }}
            </button>
            <button type="button" class="btn btn-link login-forgot"> {{ __('page.login.button.forgot-password') }}</button>
        </p>
        <p style="display: none;" class="reset-group">
            <button type="submit" class="btn btn-primary" name="action" value="reset"><i class="fa fa-envelope-o"></i> {{ __('page.login.button.reset-password') }}</button>
            <button type="button" class="btn btn-link login-remembered"> {{ __('page.login.button.back') }}</button>
        </p>

        <p class="cookie-notice alert alert-danger">
            {{ __('page.login.cookies-required') }}
        </p>

    </form>

{% endblock page_main %}
