{# Page: Login #}
{% extends '@bolt/_base/_page-no_nav.twig' %}

{% block page_title __('page.login.title') %}

{% set form_class = 'col-sm-12 login-block center-block' %}
{% set form = context.form %}
{% form_theme form with ['form_bolt_layout.twig', _self] %}

{% block form_start -%}
    {{- block('form_start', 'form_div_layout.html.twig') -}}
{%- endblock form_start %}

{% block button_icon %}
    {% if name == 'login' %}
        <i class="fa fa-sign-in fa-fw"></i>&nbsp;
    {% elseif name == 'reset' %}
        <i class="fa fa-envelope-o"></i>&nbsp;
    {% endif %}
{% endblock %}

{%- block _user_login_username_widget -%}
    <div class="form-group">
        <label for="{{ id }}" class="control-label">{{ label }}</label>
        <div class="input-group">
            <label for="{{ id }}" class="input-group-addon"><i class="fa fa-fw fa-user"></i></label>
            <input id="{{ id }}" name="{{ full_name }}" class="form-control" type="text" autofocus name="username" placeholder="{{ attr.placeholder }} …" value="{{ value }}" required>
        </div>
    </div>
{%- endblock -%}

{%- block _user_login_password_widget -%}
    <div class="form-group password-group">
        <label for="password" class="control-label">
            {{ label }}
            <span class="togglepass show-password"><i class="fa fa-fw fa-eye"></i> {{ __('page.login.password-show') }}</span>
            <span class="togglepass hide-password"><i class="fa fa-fw fa-eye-slash"></i> {{ __('page.login.password-hide') }}</span>
        </label>
        <div class="input-group">
            <label for="{{ id }}" class="input-group-addon"><i class="fa fa-fw fa-key"></i></label>
            <input id="{{ id }}" name="{{ full_name }}" class="form-control" type="password" name="password" placeholder="{{ attr.placeholder }} …" required>
        </div>
    </div>
{%- endblock -%}

{% block page_main %}

    {{ form_start(form, {'attr': {'class': 'submitspinner'}}) }}

    {{ form_widget(form.username) }}
    {{ form_widget(form.password) }}

    <p class="login-group">
    {{ form_widget(form.login) }}
    {{ form_widget(form.forgot, {'attr': {'class': 'btn-link login-forgot'}}) }}
    </p>
    <p class="reset-group">
    {{ form_widget(form.reset) }}
    {{ form_widget(form.back, {'attr': {'class': 'btn-link login-remembered'}}) }}
    </p>

    <p class="cookie-notice alert alert-danger">
    {{ __('page.login.cookies-required') }}
    </p>

    {{ form_end(form) }}

{% endblock page_main %}
