{# Page: NavSecondary > Configuration > Users #}

{% extends '@bolt/_base/_page-nav.twig' %}

{% block page_nav 'Settings/Configuration' %}

{% block page_title __('general.phrase.users.all') %}

{# clear default messages, because we use them in a different spot, in this template #}
{% block messages "" %}

{% block page_main %}

    {% import '@bolt/_macro/_macro.twig' as macro %}

    <div class="row">
        <div class="col-md-9">

            {{ include('@bolt/_sub/_messages.twig') }}

            {{ widgets('users_below_header', 'backend') }}

            {{ include('@bolt/users/_userlist.twig') }}

            <h2><strong>{{ __('general.phrase.roles-permissions') }}</strong></h2>

            {{ include('@bolt/users/_roles-permissons.twig') }}

            <h2><strong>{{ __('general.phrase.current-session-plural') }}</strong></h2>

            {{ include('@bolt/users/_sessions.twig') }}

            {{ widgets('users_bottom', 'backend') }}

        </div>

        <aside class="col-md-3">
            {{ include('@bolt/users/_aside.twig') }}
        </aside>
    </div>

{% endblock page_main %}
