{##
 # Renders a checkbox component.
 #
 # Options:
 #    class      ''         Classname added to the component container.
 #    disabled   false      Input is disabled.
 #    id         name       Id of the checkbox.
 #    info       ''         Infotext to be displayed if there's a label.
 #    name       required   Name of the checkbox.
 #    label      ''         A label printed right of the checkbox.
 #    required   false      Input is required.
 #
 # @param array opt Options defining the component
 #}
{% macro buic_checkbox(opt) %}
    {% spaceless %}
        {% from '@bolt/_buic/_moment.twig' import buic_info %}

        {% set id = opt.label|default('') and not opt.id|default('') ? buid() : opt.id|default('') %}

        {% set attributes = {
            'checked':           opt.checked|default(false),
            'class':             'form-control',
            'disabled':          opt.disabled|default(false),
            'id':                id,
            'name':              opt.name|default(''),
            'required':          opt.required|default(false),
            'type':              'checkbox',
            'value':             '1',
        } %}

        <div{{ hclass(['buic-checkbox', opt.class|default()]) }} data-bolt-widget="buicCheckbox">
            <input{{ hattr(attributes) }}>
            <button type="button"></button>
            {% if opt.label|default('') %}
                <label for="{{ id }}">{{ opt.label }}{% if opt.info|default('') %}{{ buic_info('', opt.info) }}{% endif %}</label>
            {% endif %}
        </div>
    {% endspaceless %}
{% endmacro %}
