{# Page: NavSecondary > Translations > Messages | Long messages | Contentypes #}
{% extends '_base/_page.twig' %}
{% block page_type 'Settings' %}
{% block page_title %}
    {{ context.write_allowed ? __('Edit file') : __('View file') }} » <i>{{ context.basename }}</i>
{% endblock page_title %}
{% block page_main %}

    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">{{ block('page_title') }}</h1>
        </div>
    </div>

    <form action="" method="post" class="form-inline" autocomplete="off">
        <div>
            <textarea id="form_contents" name="form[contents]" required="required" class="CodeMirror-scroll" style="width: 98%">{{ context.form.vars.value.contents }}</textarea>
        </div>
        {% if context.write_allowed %}
            {{ form_widget(context.form._token) }}
            <br>
            <input type="submit" name="submit" value="{{ __('Save') }}" class="btn btn-primary" {% if not context.write_allowed %}disabled{% endif %} />
        {% endif %}
    </form>

    {% if not ismobileclient() %}
        {# use the files includes in ckeditor/codemirror plugin, instead of duplicating files. #}
        <link rel="stylesheet" href="{{ paths.app }}view/lib/ckeditor/plugins/codemirror/css/codemirror.min.css">
        <script src="{{ paths.app }}view/lib/ckeditor/plugins/codemirror/js/codemirror.min.js"></script>
        <script src="{{ paths.app }}view/lib/codemirror/yaml.js"></script>

        <script>
            var editor = CodeMirror.fromTextArea(document.getElementById("form_contents"), {
                lineNumbers: true,
                autofocus: true,
                tabSize: 4,
                indentUnit: 4,
                indentWithTabs: false,
                readOnly: {% if context.write_allowed %}false{% else %}true{% endif %}
            });

            editor.setSize(null, $(window).height() - 276);

        </script>
    {% endif %}

{% endblock page_main %}
