{% block data_value %}
    {% if value is empty %}
        <em>(empty)</em>
    {% elseif value is iterable %}
        {% for v in value %}
            {{ v }}<br>
        {% endfor %}
    {% else %}
        {{ value[:200] }}
    {% endif %}
{% endblock %}

{% block data_row %}
    <tr>
        <th>{{ key }}</th>
        <td>
            {% spaceless %}
                {% if key[:13] in obfuscated %}
                    <span class='obfuscated' data-value="{{ block('data_value') }}">(Click to reveal sensitive data)</span>
                {% else %}
                    {{ block('data_value') }}
                {% endif %}
            {% endspaceless %}
        </td>
    </tr>
{% endblock %}

{% block request_data %}
    {% set bags = ['attributes', 'query', 'files', 'cookies', 'headers', 'server', 'session'] %}
    {% set values = ['content', 'languages', 'charsets', 'encodings' , 'acceptableContentTypes', 'pathInfo', 'requestUri', 'baseUrl', 'basePath', 'method'] %}
    {% set obfuscated = ['cookie', '_csrf/bolt', '_csrf/form', 'bolt_authtoke', 'bolt_session_', 'authenticatio', 'HTTP_COOKIE'] %}

    <h1>Request data</h1>

    <table class="table table-striped table-hover table-condensed">
        {% for key in values %}
            {% set value = attribute(request, key)|default %}
            {{ block('data_row') }}
        {% endfor %}
    </table>

    {% for bag in bags if attribute(request_data, bag)|default(false) %}
        <h2>{{ bag|capitalize }}</h2>

        <table class="table table-striped table-hover table-condensed">
            {% for key, value in attribute(request_data, bag) %}
                {{ block('data_row') }}
            {% endfor %}
        </table>

    {% endfor %}
{% endblock %}
