{% import '@bolt/_macro/_buic.twig' as buic %}

{#=== INIT ===========================================================================================================#}

{% if fieldset_conf|default() is iterable %}
    {% set data_widget = {_: block('fieldset_widget')}|merge(fieldset_conf)|json_encode %}
    {{ dump(data_bolt_widget) }}
{% else %}
    {% set data_bolt_widget = block('fieldset_widget') %}
{% endif %}

{% set attributes_fieldset = {
    'class':            'form-group',
    'data-bolt-field':  block('fieldset_type'),
    'data-widget':      data_bolt_widget,
} %}

{% set attributes_label = {
    class:  'main ' ~ block('fieldset_label_class') ~ (block('fieldset_label_class') == 'col-xs-12' ? '' : ' control-label'),
    for:    block('fieldset_label_for'),
} %}

{% if block('fieldset_label_info') %}
    {% set field_info = buic.info(block('fieldset_label_text'), block('fieldset_label_info')) %}
{% endif %}

{#=== OUTPUT =========================================================================================================#}

<fieldset{{ macro.attr(attributes_fieldset) }}>
    <legend class="sr-only">{% block fieldset_label_text %}{% endblock fieldset_label_text %}</legend>
    <label{{ macro.attr(attributes_label) }}>{{ block('fieldset_label_text') }}: {{ field_info|default('') }}</label>
    {% block fieldset_controls %}{% endblock fieldset_controls %}
</fieldset>
