{% import '_macro/_macro.twig' as macro %}

{% set modifiable = permissions.create or permissions.edit or permissions.delete or permissions.publish or permissions.depublish %}

{# If we have 'grouping', print the row with the groupname. #}
{% if not compact and content.group.name is defined and (loop.first or content.group.name != lastgroup) and request('order') == '' %}
    {% if not loop.first %}</tbody>{% endif %}
    <tbody {% if modifiable %}class="sortable"{% endif %}>
    <tr class="grouping">
        <th colspan="{% block listing_columns %}6{% endblock %}">
            <h3 {% if loop.first %}class="first"{% endif %}>
                {% if content.group.name %}
                    {{ content.group.name }}
                {% else %}
                    {{ __('(no group)') }}
                {% endif %}
            </h3>
        </th>
    </tr>
{% endif %}

{# print the header for the first row. #}
{% if not compact and (loop.first or (content.group.name is defined and content.group.name != lastgroup) and request('order') == '') %}
    {% set lastgroup = content.group.name|default %}
    {% if "filter" in app.request.query.all|keys %}
        {% set filter = "filter=" ~ app.request.query.all.filter ~ "&" %}
    {% else %}
        {% set filter = "" %}
    {% endif %}

    {% set link = "?" ~ filter ~ "order=" %}
    <tr>
        {% block listing_header %}
        {% if not compact and modifiable %}
            <th class="check hidden-xs"><input type="checkbox" name="checkRow" title="{{ __('Select all') }}" /></th>
        {% else %}
            <th style="margin: 0; padding: 0;"></th>
        {% endif %}

        <th class="hidden-xs"><a href="{{ link }}{% if request('order') == 'id' %}-{% endif %}id">
            {{ __('Id') }}
        </a></th>

        <th style="width:80%">
            <a href="{{ link }}{% if request('order') == content.TitleColumnName()|first %}-{% endif %}{{ content.TitleColumnName()|first }}">
                {{ __('Title') }} / {{ __('Excerpt') }}
            </a>
        </th>

        <th>&nbsp;</th>

        <th class="username hidden-xs"><a href="{{ link }}{% if request('order') == "datecreated" %}-{% endif %}datecreated">{{ __('Meta') }}</a></th>

        <th><a href="?">{{ __('Actions') }}</a></th>
        {% endblock %}
    </tr>
{% endif %}

<tr {% if content.status!='published' %}class="dim"{% endif %}{% if not compact and modifiable %} id="item_{{ content.id }}"{% endif %}>
    {% block listing_id %}

        {% if not compact and permissions.delete %}
            <td class="check hidden-xs"><input type="checkbox" name="checkRow"></td>
        {% else %}
            <td style="margin: 0; padding: 0;"></td>
        {% endif %}
        <td class="id hidden-xs">№ {{ content.id }}</td>

    {% endblock %}

    {% block listing_content %}
        <td class="excerpt {% if not compact %}large{% endif %}">
            {% set title = content.getTitle|default("<em>(" ~ __("no title …") ~ ")</em>")|raw %}
            <span>
                <strong class="visible-xs">№ {{ content.id }}. </strong>
                <strong>
                    {% if modifiable %}
                        <a href="{{ path('editcontent', {'contenttypeslug': content.contenttype.slug, 'id': content.id}) }}" title="Slug: {{ content.slug }}">
                            {{ title }}
                        </a>
                    {% else %}
                        <strong>
                            {{ title }}
                        </strong>
                     {% endif %}
                </strong>
                {{ content.excerpt(excerptlength - title|length) }}
            </span>
        </td>
        <td class="listthumb">
            {% if content.getImage is not empty %}
                {# Hack to add alt attribute #}
                {#{ content.getImage|popup(thumbsize, thumbsize * 0.75, 'c') }#}
                {% set thumb_height = (thumbsize * 0.75)|round %}
                {% set thumb_small = content.getImage|thumbnail(thumbsize, thumb_height, 'c') %}
                {% set thumb_large = content.getImage|thumbnail(1000, 800, 'r') %}
                {% set thumb_title = __('Image') ~ ': ' ~ content.getImage %}
                <a href="{{ thumb_large }}" class="magnific" title="{{ thumb_title }}">
                    <img src="{{ thumb_small }}" width="{{ thumbsize }}" height="{{ thumb_height }}" alt="{{ __('Thumbnail') }}">
                </a>
            {% endif %}
        </td>
    {% endblock %}

    {% if not compact %}
        {% block listing_meta %}
            <td class="username hidden-xs">
                <i class="fa fa-user fa-fw"></i>
                {% if content.user.displayname is defined %}
                    {{ content.user.displayname|trimtext(15) }}
                {% else %}
                    <s>{{ content.values.ownerid|trimtext(15) }}</s>
                {% endif %}<br>
                {% if content.status=="timed" %}
                    <i class="fa fa-clock-o status-timed fa-fw"></i> <time class="moment" datetime="{{ content.datepublish|date("c") }}" title="{{ content.datepublish }}">{{ content.datepublish }}</time><br>
                {% else %}
                    <i class="fa fa-circle status-{{ content.status }} fa-fw"></i> {{ content.datepublish|localdate('%x') }}<br>
                {% endif %}

                {% if content.sortorder is defined and content.sortorder is not sameas(false) %}
                    <i class="fa fa-sort fa-fw"></i> {{ __('Order: %sort%',{'%sort%': content.sortorder}) }}<br>
                {% endif %}
            </td>
        {% endblock %}
    {% endif %}

    {% block listing_actions %}
        <td class="actions">
            <div class="btn-group">
                {% if modifiable %}
                <a class="btn btn-default btn-xs" href="{{ path('editcontent', {'contenttypeslug': content.contenttype.slug, 'id': content.id}) }}">
                    <i class="fa fa-edit"></i> {{ __('Edit') }}
                </a>
                {% endif %}
                <button class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown">

                    <i class="fa fa-info-sign"></i>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right">
                {% if content.status == "published" and content.link is defined %}
                    <li>
                        <a href="{{ content.link }}" target="_blank">
                            <i class="fa fa-external-link-square"></i> {{ __('View on site') }}
                        </a>
                    </li>
                {% endif %}
                {% if content.relation %}{# i.e. we're viewing this as "related content" on the "edit record" page. #}
                    <li>
                        <a href="{{ path('relatedto', {'contenttypeslug': content.contenttype.slug, 'id': content.id}) }}">
                            <i class="fa fa-link"></i> {{ __('View related content') }}
                        </a>
                    </li>
                {% endif %}


                {% from _self import actionform %}
                {% if modifiable %}
                    {% if content.status != 'published' %}
                        {% if permissions.publish %}
                        <li>{{ macro.actionform(content, 'publish', 'fa-circle status-published', __('contenttypes.generic.publish',{'%contenttype%':content.contenttype.slug})) }}</li>
                        {% endif %}
                    {% else %}
                        {% if permissions.depublish %}
                        <li>{{ macro.actionform(content, 'held', 'fa-circle status-held', __("Change status to 'held'")) }}</li>
                        <li>{{ macro.actionform(content, 'draft', 'fa-circle status-draft', __("Change status to 'draft'")) }}</li>

                        {% endif %}
                    {% endif %}
                    {% if permissions.create %}
                    <li><a href="{{ path('editcontent', {'contenttypeslug': content.contenttype.slug, 'id': content.id, 'duplicate': 1}) }}">
                        <i class="fa fa-copy"></i> {{ __('contenttypes.generic.duplicate', {'%contenttype%': content.contenttype.slug}) }}</a></li>
                    {% endif %}
                    {% if permissions.delete %}
                    <li>{{ macro.actionform(content, 'delete',
                                          'fa-trash',
                                          __('contenttypes.generic.delete', {'%contenttype%': content.contenttype.slug}),
                                          "Are you sure you want to delete '" ~ content.getTitle ~ "'?" ) }}
                    </li>

                    {% endif %}
                    <li class="divider"></li>
                {% endif %}
                    <li><a class="nolink">{{ __('Author:') }} <strong><i class="fa fa-user"></i>
                        {% if content.user.displayname is defined %}
                            {{ content.user.displayname|trimtext(15) }}
                        {% else %}
                            <s>user {{ content.values.ownerid }} </s>
                        {% endif %}</strong></a></li>
                    <li><a class="nolink">{{ __('Current status:') }}
                        <strong>{{ content.status }}</strong></a></li>
                    <li><a class="nolink">{{ __('Slug:') }}
                        <code title="{{ content.slug }}">{{ content.slug|trimtext(24) }}</code></a></li>
                    <li><a class="nolink">{{ __('Created on:') }}
                        <i class="fa fa-asterisk"></i> {{ content.datecreated|date("Y-m-d H:i") }}</a></li>
                    <li><a class="nolink">{{ __('Published on:') }}
                        <i class="fa fa-calendar"></i> {{ content.datepublish|date("Y-m-d H:i") }}</a></li>
                    <li><a class="nolink">{{ __('Last edited on:') }}
                        <i class="fa fa-refresh"></i> {{ content.datechanged|date("Y-m-d H:i") }}</a></li>
                    {% for taxonomyslug, values in content.taxonomy %}
                        {% if values|length > 1 %}
                            <li><a class="nolink">{{ config.get('taxonomy')[taxonomyslug].name }}:
                                <i class="fa fa-tag"></i> {{ values|join(", ")|trimtext(24) }}</a></li>
                        {% else %}
                            <li><a class="nolink">{{ config.get('taxonomy')[taxonomyslug].singular_name }}:
                                <i class="fa fa-tag"></i> {{ values|first|trimtext(24) }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

        </td>
    {% endblock %}

</tr>
