{##
 # Sidebar-Panel: Displays actions for contenttype
 #}
{% extends '@bolt/_base/_panel.twig' %}

{% block panel_class 'panel-news' %}

{% block panel_icon 'fa-cog' %}

{% block panel_head __('contenttypes.generic.actions-all', {'%contenttypes%': context.contenttype.name}) %}

{% block panel_body %}
    {% if isallowed('contenttype:' ~ context.contenttype.slug ~ ':create') %}
        <a class="btn btn-primary" href="{{ path('editcontent', {'contenttypeslug': context.contenttype.slug}) }}">
            <i class="fa fa-plus"></i> {{ __('contenttypes.generic.new', {'%contenttype%': context.contenttype.singular_name}) }}
        </a>
    {% endif %}

    <form class="form-inline">
        <div class="form-group">

            {% set filter_query = global.request.query.get('filter') %}
            {% set order_query = global.request.query.get('order') %}
            {% set status_query = global.request.query.get('status') %}
            {% set taxonomyfilter = false %}

            {% if context.contenttype.taxonomy|default([]) %}
                <p style="margin-top: 15px;"><strong>{{ __('general.phrase.taxonomy') }}</strong>:
                    {% for taxonomy in context.contenttype.taxonomy %}
                        {% if config.get('taxonomy/' ~ taxonomy ~ '/options') is iterable %}
                            {% set tax_query = global.request.query.get('taxonomy-' ~ taxonomy ) %}
                            {% if tax_query %}
                                {% set taxonomyfilter = true %}
                            {% endif %}
                            <select name='taxonomy-{{taxonomy}}' class='form-control'>
                                <option value=''>
                                    ({{ config.get('taxonomy/' ~ taxonomy ~ '/name')|default(taxonomy) }})
                                </option>
                                {% for slug, name in config.get('taxonomy/' ~ taxonomy ~ '/options') %}
                                    <option value='{{slug}}' {% if tax_query == slug %}selected{% endif %}>
                                        {{name}}
                                    </option>
                                {% endfor %}
                            </select>
                        {% endif %}
                    {% endfor %}
                </p>
            {% endif %}

            <p style="margin-top: 15px;"><strong>{{ __('general.phrase.status') }}</strong>:
                <select name='status' class='form-control'>
                    <option value=''>All</option>
                    {% set status_list = { 'published' : 'Published', 'held' : 'Not Published', 'draft' : 'Draft' } %}
                    {% for key, value in status_list %}
                        <option value='{{ key }}' {% if status_query == key %}selected{% endif %}>{{ value }}</option>
                    {% endfor %}
                </select>
            </p>
    
            <p style="margin-top: 15px;"><strong>{{ __('general.phrase.title') }}</strong>:
                <input type="text" class="form-control" value="{{ filter_query }}" name="filter" style="width: 150px;" placeholder="{{ __('general.phrase.keyword-ellipsis') }}">
            </p>
        </div>
        <div class="form-group" style="display: block; margin-top: 12px;">
            <button type="submit" class="btn btn-tertiary"><i class="fa fa-filter"></i> {{ __('general.phrase.filter') }}</button>

            {% if filter_query or order_query or taxonomyfilter or status_query %}
                <a class="btn btn-tertiary" href="?"><i class="fa fa-close"></i> {{ __('general.phrase.clear-filter-sort') }}</a>
            {% endif %}
        </div>
    </form>

    {# Use the `description:` from contenttypes.yml if set, otherwise fall back
       to the (localized) default descriptions that are available for the
       built-in contenttupes like 'pages' and 'blocks'. #}
    {% set description = context.contenttype.description|default(__(['contenttypes', context.contenttype.slug, 'description'], {DEFAULT: ''})) %}
    <div class="description">
        {% if description %}
            {{ description|markdown }}
        {% endif %}
    </div>

    <p><strong>{{ __('general.phrase.details') }}</strong></p>
    <ul>
        <li>{{ __('general.phrase.status-default') }}: {{ context.contenttype.default_status|default('published') }}</li>
        <li>{{ __('general.phrase.listing-template') }}: <code>{{ context.contenttype.listing_template|default( config.get('general/listing_template') ) }}</code></li>
        <li>{{ __('general.phrase.template-detail') }}: <code>{{ context.contenttype.record_template|default( config.get('general/record_template') ) }}</code></li>
        {% if context.contenttype.taxonomy|default('') is iterable %}
            <li>{{ __('general.phrase.taxonomy') }}: {{ context.contenttype.taxonomy|join(', ') }}</li>
        {% endif %}
        {% if context.contenttype.relations|default('') is iterable %}
            <li>
                {{ __('general.phrase.relationships') }}:
                {% for rel, data in context.contenttype.relations %}
                    {{ rel }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </li>
        {% endif %}
    </ul>

{% endblock panel_body %}
