{##
 # Sidebar-Panel: Displays actions for contenttype
 #}
{% extends '_base/_panel.twig' %}

{% block panel_class 'panel-news' %}

{% block panel_icon 'fa-cog' %}

{% block panel_head __('Actions for %contenttypes%', {'%contenttypes%': context.contenttype.name}) %}

{% block panel_body %}
    <a class="btn btn-primary" href="{{ path('editcontent', {'contenttypeslug': context.contenttype.slug, 'id': ''}) }}">
        <i class="fa fa-plus"></i> {{ __('New %contenttype%', {'%contenttype%': context.contenttype.singular_name}) }}
    </a>

    <form class="form-inline" style="margin-top:15px;">
        <input type="text" class="form-control" value="{{ request('filter', '', true) }}" name="filter" style="width: 110px;" placeholder="{{ __('Filtering…') }}">
        <button type="submit" class="btn btn-tertiary">{{ __('Filter') }}</button>
    </form>

    {% if request('filter') or request('order') %}
        <a class="btn btn-tertiary" href="?" style="margin-top: 15px">{{ __('Clear sort/filter') }}</a>
    {% endif %}
{% endblock panel_body %}
