<style type="text/css">
#ga-panel1, #ga-panel2, #ga-panel3 {
    display: none;
}
#ga-widget-buttons {
    text-align: center;
    margin: 8px 0;
}
</style>

<h2>{{ caption }}</h2>

<div class="btn-group center" id="ga-widget-buttons">
    <button class="btn btn-small" data-id='ga-panel1'>Summary</button>
    <button class="btn btn-small" data-id='ga-panel2'>Top pages</button>
    <button class="btn btn-small" data-id='ga-panel3'>Top sources</button>
</div>

<div id="ga-panel1">
<div id="chart" style="width: auto; display: inline-block;"></div>
<table>
    <tr>
        <td>Total pageviews:</td>
        <td>&nbsp; <b>{{ aggr.pageviews }} ({{ aggr.pageviewspervisit }} per visit)</b></td>
    </tr>
    <tr>
        <td>Total visitors:</td>
        <td>&nbsp; <b>{{ aggr.visitors }}</b></td>
    </tr>
    <tr>
        <td>Time on page:</td>
        <td>&nbsp; <b>{{ aggr.timeonpage }} min. </b></td>
    </tr>
    <tr>
        <td>Bounce/Exitrate:</td>
        <td>&nbsp; <b>{{ aggr.bouncerate }}% / {{ aggr.exitrate }}%</b></td>
    </tr>
</table>
</div><!-- panel1 -->

<div id="ga-panel2">
    <table>
        {% for page in pages %}
            <tr>
                <td valign="right">{{ page.visits }}&nbsp;</td>
                <td><a href="http://{{ page.host }}" target="_blank">{{ page.host|trimtext(35) }}</a></td>
            </tr>

        {% endfor %}
    </table>
</div><!-- panel2 -->

<div id="ga-panel3">
    <table>
        {% for page in sources %}
            <tr>
                <td valign="right">{{ page.visits }}&nbsp;</td>
                <td>{% if page.link %}
                    <a href="http://{{ page.host }}" target="_blank">{{ page.host|trimtext(35) }}</a></td>
                {% else %}
                    {{ page.host|trimtext(35) }}
                {%  endif %}
                </td>
            </tr>

        {% endfor %}
    </table>
</div><!-- panel3 -->

<script type="text/javascript">
    jQuery(function($) {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Day');
        data.addColumn('number', 'Pageviews');
        data.addColumn('number', 'Visitors');
        data.addRows([
            {% for pageview in pageviews %}
            ["{{ pageview.date }}", {{ pageview.pageviews }}, {{ pageview.visitors }}]{% if not loop.last %}, {%  endif %}
            {%  endfor %}
        ]);
        var chart = new google.visualization.AreaChart(document.getElementById('chart'));
        chart.draw(data, {
            width: 300,
            height: 180,
            colors:['#22AADD', '#0099CC'],
            areaOpacity: 0.1,
            hAxis: {textPosition: 'in', showTextEvery: 3, slantedText: true, textStyle: { color: '#058dc7', fontSize: 10 } },
            pointSize: 5,
            chartArea:{left:40,top:5,width:"266",height:"170"}
        });

    });

    // Events for the buttons
    $('#ga-widget-buttons button').on('click', function(e) {
        $('#ga-widget-buttons button').removeClass('active');
        $(this).addClass('active');

        $('#ga-panel1, #ga-panel2, #ga-panel3').hide();
        $('#'+$(this).data('id')).show();
    });

    $('#ga-widget-buttons button').first().trigger('click');

</script>
