<style>
    .exception {
        display:block;
        white-space: pre-wrap;
        word-break: break-all;
    }
</style>

<div class="row">
    <h4>Details</h4>
    <p>
    <code class="exception">{{ exception.class|default('unknown') }} in {{ exception.file|default('unknown') }} line {{ exception.object.line|default('unknown') }}</code>
    </p>
    <p>
    <code class="exception">{{ exception.object.message|default('unknown')|nl2br }}</code>
    </p>
</div>

{%- if debug %}
    {% set i = 0 %}
    <div class="row">
        <h4>Trace</h4>

        <code class="exception">
            {% spaceless %}
                {% for t in exception.trace %}
                    <p>#{{ i }} {{ t.class|default() }}::{{ t.function|default() }}</p>
                    <p>  {{ t.file|default() }} # {{ t.line|default() }}</p>
                    {% set i = i + 1 %}
                {% endfor %}
            {% endspaceless %}
        </code>
    </div>
{% endif -%}
