<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

    <title>{{ __('Exception') }} - Bolt</title>

    {# <link rel="stylesheet" href="{{ asset('css/lib.css', 'bolt') }}"> #}
    <link rel="stylesheet" href="{{ asset('css/bolt.css', 'bolt') }}">

</head>

<body class="login exception">

    {% block page_plain %}
    <div class="container">

        <div class="row">
            <div class="{{ form_class|default('col-md-10 col-md-offset-1 col-sm-12') }}">

                <img src="{{ asset('img/bolt-logo.png', 'bolt') }}" width="100" height="41" alt="Bolt" class="logo">

                <div class="panel panel-default">
                    <div class="panel-body">
                        {% block page_main %}
                            <div class="row">
                                {# Note: Do not translate / localise this, because people _will_ google for this. #}
                                <p class="chapeau">Uncaught Fatal Error:</p>

                                {% block title %}
                                {% endblock title %}

                                {% block exception %}
                                {% endblock exception %}

                                <h2>
                                    Bolt Exception
                                </h2>

                                <p>
                                    <code class="exception">{{ exception.class|default('unknown') }} in {{ exception.file|default('unknown') }} line {{ exception.object.line|default('unknown') }}</code>
                                </p>

                                <p>
                                    <code class="exception">{{ exception.object.message|default('unknown')|nl2br }}</code>
                                </p>


                                <hr>

                                {% block trace %}
                                    {{ include('@bolt/exception/_trace.twig') }}
                                {% endblock trace %}

                                {{ dump(exception) }}
                            </div>
                        {% endblock page_main %}
                    </div>
                </div>

            </div>
        </div>
    </div>
    {% endblock page_plain %}

</body>
</html>


