{# Page: NavSecondary > Configuration > Check database #}

{% extends '_base/_page-nav.twig' %}

{% from 'dbcheck/_macros.twig' import list %}

{% block page_nav 'Settings/Configuration' %}

{% block page_title __("Database check / update") %}

{% block page_main %}

    {% set hints = context.modifications_hints|default([]) %}

    <div class="row">
        <div class="col-xs-12">
            {% if context.modifications_made %}

                {{ list(__('Modifications made to the database:'), context.modifications_made) }}
                {{ list(__('Hints:'), hints) }}

                <p class="alert alert-success" role="alert">{{ __('Your database is now up to date.') }}</p>

                <form action="{{ path('dbcheck') }}" method="get">
                    <p><button type="submit" class="btn btn-default btn-primary">{{ __('Check again') }}</button></p>
                </form>

            {% elseif context.modifications_required %}

                {{ list(__('Modifications needed:'), context.modifications_required) }}
                {{ list(__('Hints:'), hints) }}

                <form action="{{ path('dbupdate') }}" method="post">
                    <p><button type="submit" class="btn btn-primary">{{ __('Update the database') }}</button></p>
                </form>

            {% else %}

                <p class="alert alert-success" role="alert">{{ __("Your database is already up to date.") }}</p>

                {{ list(__('Hints:'), hints) }}

                {% if isallowed('prefill') %}
                <br>
                <hr>

                <p class="alert alert-warning" role="alert">
                    <b>{{ __('Tip:') }}</b>
                    {{ __('Add some sample <a href=\'%url%\' class=\'btn btn-default\'>Records with Loripsum text</a>', {'%url%': path('prefill')}) }}
                </p>
                {% endif %}

            {% endif %}
        </div>
    </div>

{% endblock page_main %}
