{# Page: NavSecondary > Configuration > Check database #}

{% extends '_base/_page-nav.twig' %}

{% from 'dbcheck/_macros.twig' import list %}

{% block page_nav 'Settings/Configuration' %}

{% block page_title __("Database check / update") %}

{% block page_main %}

    <div class="row">
        <div class="col-xs-12">
            {% if context.modifications_made %}

                {{ list(__('Modifications made to the database:'), context.modifications_made) }}

                <p>{{ __('Your database is now up to date.') }}</p>

                <form action="{{ path('dbcheck') }}" method="get">
                    <p><button type="submit" class="btn btn-default btn-primary">{{ __('Check again') }}</button></p>
                </form>

            {% elseif context.modifications_required %}

                {{ list(__('Modifications needed:'), context.modifications_required) }}

                <form action="{{ path('dbupdate') }}" method="post">
                    <p><button type="submit" class="btn btn-default btn-primary">{{ __('Update the database') }}</button></p>
                </form>

            {% else %}

                <p>{{ __("Your database is already up to date.") }}</p>

                {% if isallowed('prefill') %}
                <br>
                <hr>

                <p>
                    <b>{{ __('Tip:') }}</b>
                    {{ __('Add some sample <a href=\'%url%\' class=\'btn btn-tertiary\'>Records with Loripsum text</a>', { '%url%' : path('prefill')}) }}
                </p>
                {% endif %}

            {% endif %}
        </div>
    </div>

{% endblock page_main %}
