{# Page: NavSecondary > Configuration > Check database #}

{% extends '@bolt/_base/_page-nav.twig' %}

{% from '@bolt/dbcheck/_macros.twig' import list %}

{% block page_nav 'Settings/Configuration' %}

{% block page_title __('general.phrase.database-check-update') %}

{% block page_main %}

    {% set hints = context.check.hints|default([]) %}

    <div class="row">
        <div class="col-xs-12">
            {% if context.changes %}

                {{ list(__('general.phrase.modifications-database-colon'), context.changes) }}
                {{ list(__('general.phrase.hints-colon'), hints) }}

                <p class="alert alert-success" role="alert">{{ __('general.phrase.databaase-up-to-date') }}</p>

                <form action="{{ path('dbcheck') }}" method="get">
                    <p><button type="submit" class="btn btn-default btn-primary">{{ __('general.phrase.check-again') }}</button></p>
                </form>

            {% elseif context.check.responsestrings %}

                {{ list(__('general.phrase.modifications-needed-colon'), context.check.responsestrings) }}
                {{ list(__('general.phrase.hints-colon'), hints) }}

                <form action="{{ path('dbupdate') }}" method="post">
                    <p>
                        <button type="submit" class="btn btn-primary">{{ __('general.phrase.update-database') }}</button>
                        {% if app.debug %}
                            <a href="{{ path('dbcheck', {'debug': 1}) }}" class="btn btn-tertiary">
                                {{ __('general.phrase.show-proposed-alterations') }}
                            </a>
                        {% endif %}
                    </p>
                </form>

            {% else %}

                <p class="alert alert-success" role="alert">{{ __('general.phrase.database-up-to-date-already') }}</p>

                {{ list(__('general.phrase.hints-colon'), hints) }}

                {% if isallowed('prefill') %}
                <br>
                <hr>

                <p class="alert alert-warning" role="alert">
                    <b>{{ __('general.phrase.tip-colon') }}</b>
                    {{ __('Add some sample <a href=\'%url%\' class=\'btn btn-default\'>Records with Loripsum text</a>', {'%url%': path('prefill')}) }}
                </p>
                {% endif %}

            {% endif %}

            {% if context.debug %}

                {% if context.creates is not empty %}
                    <hr>
                    <h4>Table Creations</h4>
                    {% for table, create in context.creates %}
                        <h5>{{ table }}</h5>
                        <ol>
                        {% for sql in create %}
                            <li>{{ sql }}</li>
                        {% endfor %}
                        </ol>
                        {{ dump(context.creates[table]) }}
                    {% endfor %}
                {% endif %}

                {% if context.alters is not empty %}
                    <hr>
                    <h4>Table Alterations</h4>
                    {% for table, alter in context.alters %}
                        <h5>{{ table }}</h5>
                        <ol>
                        {% for sql in alter %}
                            <li>{{ sql }}</li>
                        {% endfor %}
                        </ol>
                        {{ dump(context.diffs[table]) }}
                    {% endfor %}
                {% endif %}

            {% endif %}
        </div>
    </div>

{% endblock page_main %}
