{# Page: Create the first User #}

{% extends '@bolt/_base/_page-no_nav.twig' %}

{% block page_title __('Create the first user') %}

{% block page_main %}

    {% form_theme context.form 'form_bolt_layout.twig' %}

    <p class="first-user">
        {{ __('There are no users present in the system. Please create the first user, which will be granted root privileges.') }}
    </p>

    <form method="post" class="form-horizontal" autocomplete="off">
        {{ form_widget(context.form) }}
        <input type="submit" value="{{ __('Create the first user') }}" name="submit" class="btn btn-primary">
    </form>

    {% if context.note is not empty %}
        <p class="alert alert-info" style="max-width: 550px; margin-top:10px;">
            <strong>{{ __('Note:') }}</strong> {{ context.note|raw }}
        </p>
    {% endif %}

{% endblock page_main %}
