{% form_theme form 'assets/simpleforms_fields.twig' %}

{% if error %}
    <p class="simpleform-error">{{ error }}</p>
{% endif %}
{% if message %}
    <p class="simpleform-message">{{ message }}</p>
{% endif %}
{% if not sent %}
<form action="#" method="post" class="simpleform simpleform-{{ formname }}" enctype="multipart/form-data">
    {{ form_widget(form) }}

    <input type="submit" name="submit" value="{{ button_text }}" class="simpleform-submit" />
</form>
{% endif %}
