{% block checkbox_widget %}
    {% spaceless %}
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        {% if attr.placeholder is defined %}<label for="{{ id }}" class="checkbox-placeholder">{{ attr.placeholder|raw }}</label>{% endif %}
    {% endspaceless %}
{% endblock checkbox_widget %}

{% block form_row %}
    {% spaceless %}
        {{ form.vars.attr.prefix|raw }}
        <div {% if form.vars.attr.type is defined %}class="simpleform-row simpleform-{{ form.vars.attr.type }}"{% endif %}>
            {{ form_label(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </div>
        {{ form.vars.attr.postfix|raw }}
    {% endspaceless %}
{% endblock form_row %}

{# Override widget_attributes to prevent 'prefix', 'postfix' etc to show up as attributes in <input> fields. #}
{% block widget_attributes %}
    {% spaceless %} id="{{ id }}" name="{{ full_name }}"
        {%- if read_only %} readonly="readonly"{% endif %}
        {%- if disabled %} disabled="disabled"{% endif %}
        {%- if required %} required="required"{% endif %}
        {%- if max_length %} maxlength="{{ max_length }}"{% endif %}
        {%- if pattern %} pattern="{{ pattern }}"{% endif %}
        {%- for attrname, attrvalue in attr %}{% if attrname in ['placeholder', 'title', 'value', 'autocomplete' ] %} {{ attrname }}="{{ attrvalue|trans({}, translation_domain) }}" {% elseif 'data-' in attrname %}{{ attrname }}="{{ attrvalue }}" {% endif %}{% endfor %}
    {% endspaceless %}
{% endblock widget_attributes %}


{# Override widget_container_attributes to prevent 'prefix', 'postfix' etc to show up as attributes in blocks of <input> fields. #}
{% block widget_container_attributes %}
    {% spaceless %}
        {% if id is not empty %}id="{{ id }}" {% endif %}
        {% for attrname, attrvalue in attr %}
            {% if 'data-' in attrname %}{{ attrname }}="{{ attrvalue }}" {% endif %}
        {% endfor %}
    {% endspaceless %}
{% endblock widget_container_attributes %}
