<div class="tab-content">

    {% if not config.get('general/backend/stack/disable', false) %}
    <div class="tab-pane active" id="stacktab">
        {{ render(path("stack/show", {'options': 'list'})) }}
    </div>
    {% endif %}

    {% for contenttype, records in context.results %}
        <div class="tab-pane
        {%- if loop.first and config.get('general/backend/stack/disable') %} active{% endif -%}
        " id="{{ contenttype }}">
            <ul>
                {% for record in records %}
                    <li><a class="filebrowserCallbackLink" href="{{ record.link }}" >№ {{ record.id }}. {{ record.title }}</a></li>
                {% else %}
                    <li><a class="filebrowserCloseLink">{{ __('contenttypes.generic.none-available', {'%contenttypes%': contenttype.slug}) }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}

</div>
