{% if record %}
    {% set suffix = '-' ~ record.id %}
{% else %}
    {% set suffix = '' %}
{% endif %}
<input
    type="range"
    min="0" max="{{ max }}"
    value="0"
    step="{{ inc }}"
    id="boltrateit{{ suffix }}"/>
<div
    class="rateit {{ config['class'] }}"
    data-bolt-record-id="{{ record.id|default('') }}"
    data-rateit-backingfld="#boltrateit{{ suffix }}"
    data-rateit-starwidth="{{ config['px'] }}"
    data-rateit-starheight="{{ config['px'] }}"
    {% if readonly %}
    data-rateit-readonly="true"
    {% endif %}
    data-bolt-contenttype="{{ bolt_contenttype }}"
    data-bolt-rateit-value="{{ current_val }}">
</div>
<div
    class="{{ config['response_class'] }}"
    id="rateit_response{{ suffix }}"
    hidden >
</div>
