<h1>Waffle Orders:</h1>
<form method="POST" action="/waffles/add">
    <p>
        My name is <input type="text" name="customer_name" value="{{postData.customer_name}}"/>
        {%if errors['customer_name'] %}
        <span class="error">{{errors['customer_name']}}</span>
        {%endif%}
    </p>
    <p>
        ...and I would like
        <input type="text" name="num_waffles_ordered" value="{{postData.num_waffles_ordered}}"/> waffles please.
        {%if errors['num_waffles_ordered'] %}
        <span class="error">{{errors['num_waffles_ordered']}}</span>
        {%endif%}
    </p>
    {%if errors%}
    <ul class="errors">
        {%for e in errors%}
        <li>{{e}}</li>
        {%endfor%}
    </ul>
    {%endif%}
    <p>
        <input type="submit" value="Order" />
    </p>
</form>
<table>
    <tr>
        <th>Customer</th>
        <th>Number of Waffles Ordered</th>
    </tr>
    {%for order in waffles%}
        <tr>
            <td>{{order.customer_name}}</td>
            <td>{{order.num_waffles_ordered}}</td>
        </tr>
    {%endfor%}
</table>
<form method="POST" action="/waffles/clear">
    <p>
        <input type="submit" value="Clear Orders" />
    </p>
</form>
