{##
 # Sidebar-menu heading
 #}
{% macro heading(title, icon) %}
    {% from _self import label %}
    <li class="divider">
        <em>{{ label(icon, title) }}</em>
    </li>
{% endmacro %}


{##
 # Sidebar-menu blocks with links, popover (for desktop) and touch-to-show (for mobile)
 #
 # @param string  icon
 # @param string  label (default: slug())
 # @param array   popoveritems
 # @param bool    active
 # @param bool    wide
 # @param array   subitems
 #}
{% macro submenu(icon, label, popoveritems, active, wide, subitems, force_submenu) %}

    {% from _self import label, icon %}

    {% if subitems is empty %}
        {% set subitems = popoveritems %}
    {% endif %}

    {# Only display the 'root' option, if any of the subitems are allowed to be shown. #}
    {% set allowedany = false %}
    {% set allowedamount = 0 %}
    {% set allowedsingle = "" %}
    {% for item in subitems %}
        {% if item != '-' and isallowed(item.isallowed|default('dashboard')) %}
            {% set allowedany = true %}
            {% set allowedamount = allowedamount + 1 %}
            {% set allowedsingle = item %}
        {% endif %}
    {% endfor %}

    {% set class = ((wide ? ' menu-pop-wide' : '') ~ (active ? ' active' : ''))|trim %}

    {# Show stuff! #}
    {% if allowedany %}
        <li{% if class %} class="{{ class }}"{% endif %}>
            {% if allowedamount == 1 and not force_submenu|default(false) %}
                {% set item = allowedsingle %}
                <a href="{{ item.link }}">
                    {{ icon(item.icon, "icon") }}{{ item.label|default("<em>(" ~ __("no content …") ~ ")</em>")|raw }}
                </a>
            {% else %}
                <a  href="{% if popoveritems %}{{ popoveritems.0.link }}{% else %}#{% endif %}" class="menu-pop">
                    {{ label(icon, label) }}
                </a>
                <ul class="nav submenu">
                    {% set divider = false %}
                    {% for item in popoveritems %}
                        {% if item == '-' %}
                            {% set divider = true %}
                        {% elseif isallowed(item.isallowed|default('dashboard')) %}
                            <li{% if divider %} class="subdivider"{% endif %}>
                                <a href="{{ item.link }}">
                                    {{ icon(item.icon) }}{{ item.label|default("<em>(" ~ __("no content …") ~ ")</em>")|raw }}
                                </a>
                            </li>
                            {% set divider = false %}
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endif %}

{% endmacro %}


{##
 # Sidebar-menu collapse/expand
 #}
{% macro collapse() %}
    {% from _self import label %}

    <li class="nav-secondary-collapse">
        <a href="#">
            {{ label('fa:compress', __('Collapse sidebar')) }}
        </a>
    </li>
    <li class="nav-secondary-expand">
        <a href="#">
            {{ label('fa:expand', __('Expand sidebar')) }}
        </a>
    </li>
{% endmacro %}


{##
 # Sidebar-menu link
 #}
{% macro link(icon, label, pathname, active, divider) %}
    {% from _self import label %}
    {% set class = '' %}
    {% if pathname == 'dashboard' %}{% set class = 'nav-secondary-dashboard' %}{% endif %}
    {% if active %}{% set class = class ~ ' active' %}{% endif %}
    {% if divider %}{% set class = class ~ ' divider' %}{% endif %}

    <li{% if class %} class="{{ class|trim }}" {% endif %}>
        <a href="{{ path(pathname) }}">{{ label(icon, label) }}</a>
    </li>
{% endmacro %}


{##
 # Sidebar-menu label
 #}
{% macro label(icon, label) %}
    {% from _self import icon %}

    {% if icon is empty %}
        <i class="icon">{{ label|slice(0, 1) }}</i>
    {% elseif icon != '-' %}
        {{ icon(icon, true) }}
    {% endif %}
    {{ label|raw }}
{% endmacro %}


{##
 # Icon
 #}
{% macro icon(icon, box) %}
    {% set class = box|default(false) ? 'icon' : 'fa-fw' %}
    {# Font Awsome #}
    {% if icon|slice(0,3) == 'fa:' %}
        <i class="fa fa-{{ icon|slice(3) }} {{ class }}"></i>
    {# Defaults to (?) #}
    {% else %}
        <i class="fa fa-question-circle {{ class }}" title="{{ icon }}"></i>
    {% endif %}
{% endmacro %}
