{##
 # Sidebar-menu heading
 #}
{% macro heading(title) %}
    {% from _self import label %}
    <li class="divider">
        <em>{{ label('', title) }}</em>
    </li>
{% endmacro %}


{##
 # Sidebar-menu blocks with links, popover (for desktop) and touch-to-show (for mobile)
 #
 # @param string  icon
 # @param string  label (default: slug())
 # @param array   popoveritems
 # @param bool    active
 # @param bool    wide
 # @param array   subitems
 #}
{% macro submenu(icon, label, popoveritems, active, wide, subitems) %}

    {% from _self import label %}

    {% if subitems is empty %}
        {% set subitems = popoveritems %}
    {% endif %}
    {% set name = label|slug()|lower() %}

    {# Only display the 'root' option, if any of the subitems are allowed to be shown. #}
    {% set allowedany = false %}
    {% for item in subitems %}
        {% if item != '-' and isallowed(item.isallowed|default('dashboard')) %}
            {% set allowedany = true %}
        {% endif %}
    {% endfor %}

    {% set class = ((wide ? ' menu-pop-wide' : '') ~ (active ? ' active' : ''))|trim %}

    {# Show stuff! #}
    {% if allowedany %}
        <li{% if class %} class="{{ class }}"{% endif %}>
            <a href="{% if popoveritems %}{{ popoveritems.0.link }}{% else %}#{% endif %}"
               data-action="sidebar.showSidebarItems('{{ name }}')"
               class="menu-pop"
               data-html="true"
               data-title=""
               data-content="{% spaceless %}
                    {% for item in popoveritems %}
                        {% if item == '-' %}
                            <hr>
                        {% elseif isallowed(item.isallowed|default('dashboard')) %}
                            <a href='{{ item.link }}'><i class='fa fa-fw fa-{{ item.icon }}'> </i>{{ item.label }}</a>
                        {% endif %}
                    {% endfor %}
                {% endspaceless %}">
                {{ label(icon, label) }}
            </a>
            <ul class="nav submenu submenu-{{ name }}">
                {% set divider = false %}
                {% for item in popoveritems %}
                    {% if item == '-' %}
                        {% set divider = true %}
                    {% elseif isallowed(item.isallowed|default('dashboard')) %}
                        <li{% if divider %} class="subdivider"{% endif %}>
                            <a href="{{ item.link }}"><i class="fa fa-{{ item.icon }} fa-fw"> </i>{{ item.label }}</a>
                        </li>
                        {% set divider = false %}
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
    {% endif %}

{% endmacro %}


{##
 # Sidebar-menu collapse/expand
 #}
{% macro collapse() %}
    {% from _self import label %}

    <li class="nav-secondary-collapse">
        <a href="#" data-action="sidebar.collapse()">
            {{ label('compress', __('Collapse sidebar')) }}
        </a>
    </li>
    <li class="nav-secondary-expand">
        <a href="#" data-action="sidebar.expand()">
            {{ label('expand', __('Expand sidebar')) }}
        </a>
    </li>
{% endmacro %}


{##
 # Sidebar-menu link
 #}
{% macro link(icon, label, pathname, active, divider) %}
    {% from _self import label %}
    {% set class = '' %}
    {% if active %}{% set class = class ~ ' active' %}{% endif %}
    {% if divider %}{% set class = class ~ ' divider' %}{% endif %}

    <li{% if class %} class="{{ class|trim }}" {% endif %}>
        <a href="{{ path(pathname) }}">{{ label(icon, label) }}</a>
    </li>
{% endmacro %}


{##
 # Sidebar-menu label
 #}
{% macro label(icon, label) %}
    {% if icon is not empty %}
        {#<kbd><i class="fa fa-{{ icon }}"></i></kbd>#}
        <i class="icon fa fa-{{ icon }}"></i>
    {% endif %}
    {{ label }}
{% endmacro %}
