{# Page: NavSecondary > Content > … > View … > Recent modifications > Full list #}

{% extends '@bolt/_base/_page-nav.twig' %}

{% block page_nav 'Content/*' %}

{% block page_title __('general.phrase.change-log') %}

{% block page_subtitle context.title %}

{% block page_main %}
    <div class="row">
        <div class="col-xs-12">
            {{ pager() }}

            <div class="changelog-list">
                {% if block('changelog_details', '@bolt/changelog/_blocks.twig') is defined %}
                    {% for entry in context.entries %}
                        {% set context = context|merge({'entry': entry}) %}
                        {{ block('changelog_details', '@bolt/changelog/_blocks.twig') }}
                    {% endfor %}
                {% endif %}
            </div>

            {{ pager() }}

            {% if context.contenttype.slug %}
                <div>
                    <a class="btn btn-default" href="{{ path('editcontent', {'contenttypeslug': context.contenttype.slug, 'id': context.content.id}) }}">
                        &laquo; {{ __('general.phrase.return-editing') }}
                    </a>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock page_main %}
