{% macro editable_record_list(contenttype, subcontenttype, multiplecontent, extra_classes) %}
{% set lastgroup = "----" %}

<table class='{{ extra_classes }} dashboardlisting' data-contenttype="{{ subcontenttype.slug }}" data-token="{{ token() }}">

    {% set any_deletable = false %}
    {% for content in multiplecontent %}
        {% set editable = isallowed('edit', content) %}
        {% set deletable = isallowed('delete', content) %}
        {% if deletable %}
            {% set any_deletable = true %}
        {% endif %}
        {% include ['custom/listing/' ~ contenttype.slug ~ '.twig', '_sub/_listing.twig'] with { 'excerptlength': 380, 'thumbsize': 80, 'compact': false } %}
        {% if content.group.name is defined and (loop.first or content.group.name != lastgroup) %}
            {% set lastgroup = content.group.name %}
        {% endif %}

    {% else %}
        {{ __('No %contenttypes% available.', {'%contenttypes%':subcontenttype.name}) }}
    {% endfor %}
</table>

{% if any_deletable %}
<div class="btn-group">
    <a href="#" class="btn btn-default deletechosen showifchosen" style="display:none;">
        <i class="fa fa-trash-o"></i>
        {{ __('Delete selected %contenttype%',{'%contenttype%': contenttype.name}) }}
    </a>
</div>
{% endif %}

{% from '_macro/_pager.twig' import pager %}
{{ pager(contenttype.slug) }}

{% endmacro %}
