{% macro flashbag() %}
    {% import _self as self %}
    {{ self.messages('error', 'danger') }}
    {{ self.messages('warning') }}
    {{ self.messages('success') }}
    {{ self.messages('info') }}
{% endmacro %}

{% macro messages(key, class) %}
    {% set shown = [] %}
    {% for msg in app.session.flashBag.get(key) %}
        {% if msg not in shown %}
            <div class="alert alert-{{ class|default(key) }}">
                <button class="close" data-dismiss="alert">×</button>
                {{ msg|ymllink }}
            </div>
            {% set shown = shown|merge([msg]) %}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% import _self as self %}
{% if wrapper is defined and wrapper and app.session.flashBag.keys() is not empty %}
    <div class="row">
        <div class="col-md-8">
            {{ self.flashbag }}
        </div>
    </div>
{% else %}
    {{ self.flashbag }}
{% endif %}
