{% macro flashbag() %}
    {% import _self as self %}

    {# we only want to show these flashes to logged on users. #}
    {% if user != null %}
        {{ self.messages('danger') }}
        {{ self.messages('warning') }}
    {% endif %}

    {{ self.messages('error', 'danger') }}
    {{ self.messages('success') }}
    {{ self.messages('info') }}
{% endmacro %}

{% macro messages(key, class) %}
    {% set shown = [] %}
    {% for msg in app['logger.flash'].get(key) %}
        {% if msg not in shown %}
            <div class="alert alert-{{ class|default(key) }} alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">×</button>
                {{ msg|ymllink }}
            </div>
            {% set shown = shown|merge([msg]) %}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% import _self as self %}
{% if wrapper is defined and wrapper and app['logger.flash'].keys() is not empty %}
    <div class="row">
        <div class="col-md-8">
            {{ self.flashbag(user) }}
        </div>
    </div>
{% else %}
    {{ self.flashbag(user) }}
{% endif %}

{# No Javascript #}
<noscript>
    <div class="alert alert-danger">
        <p>{{ __('generic.noscript.message') }}</p>
    </div>
</noscript>
