{% macro record_list(contenttype, multiplecontent, permissions, extra_classes, async, filter) %}
    {% set async = async|default(false) %}
    {% set lastgroup = "----" %}
    {% set any_deletable = false %}
    {% set any_editable = false %}
    {% set includes = [
        '@bolt/custom/listing/' ~ contenttype.slug ~ '.twig',
        '@bolt/_sub/_listing.twig']
    %}

    {% if not async %}
        {{ include('@bolt/_sub/_record_list_data.twig') }}
    {% endif %}

    {% set selection_toolbar %}
        <button type="button" data-stb-cmd="record:delete" class="danger separator"><i class="fa fa-trash"></i> {{ __('general.phrase.delete') }}</button>
        <button type="button" data-stb-cmd="record:publish"><i class="fa fa-circle status-published"></i> {{ __('general.phrase.publish') }}</button>
        <button type="button" data-stb-cmd="record:depublish"><i class="fa fa-circle status-held"></i> {{ __('general.phrase.depublish') }}</button>
        <button type="button" data-stb-cmd="record:draft"><i class="fa fa-circle status-draft"></i> {{ __('general.phrase.draft') }}</button>
    {% endset %}

    {% if not async %}
        <div class="buic-listing" data-bolt-widget="buicListing" data-contenttype="{{ contenttype.slug }}" data-contenttype-name="{{ contenttype.singular_name }}" data-bolt_csrf_token="{{ token() }}">
    {% endif %}
        <table class="{{ extra_classes }} dashboardlisting listing">
            {% for content in multiplecontent %}
                {% set editable = permissions.edit %}
                {% if editable %}
                    {% set any_editable = true %}
                {% endif %}
                {% set deletable = permissions.delete %}
                {% if deletable %}
                    {% set any_deletable = true %}
                {% endif %}

                {% set new_group = content.group.name is defined and (loop.first or content.group.name != lastgroup) %}

                {% set listing_vars = {
                    'compact':       false,
                    'content':       content,
                    'excerptlength': 380,
                    'permissions':   permissions,
                    'thumbsize':     80,
                    'internal': {
                        'selection_toolbar': selection_toolbar
                    },
                    'filter':        filter
                } %}
                {{ include(includes, listing_vars) }}

                {% if content.group.name is defined and (loop.first or content.group.name != lastgroup) %}
                    {% set lastgroup = content.group.name %}
                {% endif %}
            {% else %}
                {{ __('contenttypes.generic.none-available', {'%contenttypes%': contenttype.slug}) }}
            {% endfor %}
        </table>

        {% from '@bolt/_macro/_pager.twig' import pager %}
        {{ pager(contenttype.slug) }}
    {% if not async %}
        </div>
    {% endif %}

{% endmacro %}
