<div class="buic-browser">
    {% set extensions = [''] %}
    {% for file in context.files %}
        {% if file.extension not in extensions %}
            {% set extensions = extensions|merge([file.extension]) %}
        {% endif %}
    {% endfor %}
    {% set extensions = extensions|sort %}
    {% set multiselect = context.multiselect and context.files|length > 0 %}

    <header>
        {# Closer #}
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>

        {# Path #}
        <h4>
            <span>{{ __('general.phrase.path-colon') }}</span>
            <a{{ hattr({'href': '#', 'data-fbrowser-chdir': path('asyncbrowse', {'namespace': context.namespace}) }) }}>
                {{ context.namespace|excerpt(40)|shy -}}
            </a> /
            {% if context.pathsegments|length > 0 %}
                {% for path, segment in context.pathsegments %}
                    {% if not loop.first %} / {% endif %}
                    <a{{ hattr({'href': '#', 'data-fbrowser-chdir': path('asyncbrowse', {'namespace': context.namespace, 'path': path}) }) }}>
                        {{ segment|default('…')|excerpt(40)|shy }}
                    </a> /
                {% endfor %}
            {% endif %}
        </h4>
    </header>

    <main>
        {# Folders + Files #}
        {% if context.directories|length + context.files|length > 0 %}
            <div class="header">
                <div>
                    <button type="button" aria-pressed="true" class="toogle-folders" title="{{ __('general.phrase.folders') }}"></button>
                </div>

                <div>
                    <button type="button" aria-pressed="true" class="toogle-files" title="{{ __('page.ckeditor-browse-server.files') }}"></button>
                </div>

                <div>
                    <i class="fa fa-filter"></i> <input type="text" name="filter" value="" autofocus>
                    <select name="ext">
                        {% for ext in extensions %}
                            <option value="{{ ext }}">{{ ext|upper() }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="list{% if multiselect %} multi{% endif %}">
                <table class="dashboardlisting">
                    {# Folders #}
                    <tbody class="folders">
                    {% for directory in context.directories %}
                            <tr class="directory">
                                {% if multiselect %}
                                    <td class="select"></td>
                                {% endif %}
                                <td class="name">
                                    <a{{ hattr({'class': 'entry type-folder', 'href': '#', 'data-fbrowser-chdir': path('asyncbrowse', {'namespace': context.namespace, 'path': directory.path}) }) }}>
                                        {{ directory.path }}/
                                    </a>
                                </td>
                                <td class="info"></td>
                                <td class="thumb"></td>
                            </tr>
                        {% endfor %}
                    </tbody>

                    {# Files #}
                    <tbody class="files">
                        {% for file in context.files %}
                            {% if file.extension in ['jpeg', 'jpg', 'png', 'gif', 'ico', 'svg'] %}
                                {% set type = 'type-image' %}
                            {% elseif file.extension in ['mpg', 'mov', 'mp4', 'm4v', 'ogv', 'wmv', 'avi', 'webm'] %}
                                {% set type = 'type-video' %}
                            {% elseif file.extension in ['mp3', 'ogg', 'wav', 'm4a'] %}
                                {% set type = 'type-audio' %}
                            {% elseif file.extension in ['pdf'] %}
                                {% set type = 'type-pdf' %}
                            {% elseif file.extension in ['ppt', 'pptx'] %}
                                {% set type = 'type-powerpoint' %}
                            {% elseif file.extension in ['xls', 'xlsx'] %}
                                {% set type = 'type-excel' %}
                            {% elseif file.extension in ['doc', 'docx'] %}
                                {% set type = 'type-word' %}
                            {% elseif file.extension in ['twig', 'html', 'js', 'css', 'scss', 'md'] %}
                                {% set type = 'type-code' %}
                            {% elseif file.extension in ['txt'] %}
                                {% set type = 'type-text' %}
                            {% else %}
                                {% set type = 'type-file' %}
                            {% endif %}

                            <tr{{ hattr({'class': file.public ? '' : 'locked'}) }}>
                                {% if multiselect %}
                                    <td class="select">
                                        <input type="checkbox" {{ hattr({ 'data-fbrowser-check': file.path }) }} />
                                    </td>
                                {% endif %}

                                <td class="name">
                                    {% if file.public %}
                                        <a{{ hattr({'class': 'entry ' ~ type, 'href': '#', 'data-fbrowser-select': file.path}) }}>
                                            {{ file.filename }}
                                        </a>
                                    {% else %}
                                        <span class="entry {{ type }}">{{ file.filename }}</span>
                                    {% endif %}
                                </td>

                                <td class="info">
                                    <div class="filesize" title="{{ file.size }} bytes ({{ file.sizeformatted(true, false) }})">
                                        {{ file.sizeformatted(true, true) }}
                                    </div>
                                    {% if file.image %}
                                        <div class="dimensions">{{ file.width }}&thinsp;×&thinsp;{{ file.height }} px</div>
                                    {% endif %}
                                </td>

                                <td class="thumb">
                                    {% if file.image %}
                                        {{ file.path|showimage(54, 40, 'c') }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    <tbody>
                </table>
            </div>
        {% endif %}
    </main>

    {% if multiselect %}
        <footer>
            <button type="button" class="btn btn-primary btn-sm disabled" data-fbrowser-add-checked="">{{ __('general.phrase.add-selected') }}</button>
            <button type="button" class="btn btn-primary btn-sm toggle-all">{{ __('general.phrase.toggle-all') }}</button>
        </footer>
    {% endif %}
</div>
