<div class="buic-browser">
    <header>
        {# Closer #}
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>

        {# Path #}
        <h4>
            <span>{{ __('Path:') }}</span>
            <a{{ hattr({'href': '#', 'data-fbrowser-chdir': path('asyncbrowse', {'namespace': context.namespace}) }) }}>
                {{ context.namespace|excerpt(40)|shy -}}
            </a> /
            {% if context.pathsegments|length > 0 %}
                {% for path, segment in context.pathsegments %}
                    {% if not loop.first %} / {% endif %}
                    <a{{ hattr({'href': '#', 'data-fbrowser-chdir': path('asyncbrowse', {'namespace': context.namespace, 'path': path}) }) }}>
                        {{ segment|default('…')|excerpt(40)|shy }}
                    </a> /
                {% endfor %}
            {% endif %}
        </h4>
    </header>

    <main>
        {# Folders + Files #}
        {% if context.folders|length + context.files|length > 0 %}
            <table class="dashboardlisting filelist">
                {# Header #}
                <thead>
                    <tr>
                        <th>{{ __('Folders') }} / {{ __('page.ckeditor-browse-server.files') }}</th>
                        <th style="min-width: 102px;">{{ __('page.ckeditor-browse-server.size') }}</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>

                <tbody>
                    {# Folders #}
                    {% for folder in context.folders %}
                        <tr class="directory">
                            <td colspan="3">
                                <a{{ hattr({'class': 'entry type-folder', 'href': '#', 'data-fbrowser-chdir': path('asyncbrowse', {'namespace': context.namespace, 'path': folder.newpath}) }) }}>
                                    {{ folder.foldername|excerpt(40)|shy }}/
                                </a>
                            </td>
                        </tr>
                    {% endfor %}

                    {# Folders + Files #}
                    {% for file in context.files %}
                        {% if file.type in ['jpeg', 'jpg', 'png', 'gif', 'ico', 'svg'] %}
                            {% set type = 'type-image' %}
                        {% elseif file.type in ['mpg', 'mov', 'mp4', 'm4v', 'ogv', 'wmv', 'avi', 'webm'] %}
                            {% set type = 'type-video' %}
                        {% elseif file.type in ['mp3', 'ogg', 'wav', 'm4a'] %}
                            {% set type = 'type-audio' %}
                        {% elseif file.type in ['pdf'] %}
                            {% set type = 'type-pdf' %}
                        {% elseif file.type in ['ppt', 'pptx'] %}
                            {% set type = 'type-powerpoint' %}
                        {% elseif file.type in ['xls', 'xlsx'] %}
                            {% set type = 'type-excel' %}
                        {% elseif file.type in ['doc', 'docx'] %}
                            {% set type = 'type-word' %}
                        {% elseif file.type in ['twig', 'html', 'js', 'css', 'scss', 'md'] %}
                            {% set type = 'type-code' %}
                        {% elseif file.type in ['txt'] %}
                            {% set type = 'type-text' %}
                        {% else %}
                            {% set type = 'type-file' %}
                        {% endif %}

                        <tr class="file{% if not file.readable %} locked{% endif %}">
                            <td>
                                {% if file.readable %}
                                    <a{{ hattr({'class': 'entry ' ~ type, 'href': '#', 'data-fbrowser-select': file.relativepath}) }}>
                                        {{ file.filename|excerpt(80)|shy }}
                                    </a>
                                {% else %}
                                    <span class="entry {{ type }}">{{ file.filename|excerpt(80)|shy }}</span>
                                {% endif %}
                            </td>

                            <td>
                                {{ file.filesize }}.
                                {% if file.imagesize is defined %}
                                    <br>{{ file.imagesize }} px.
                                {% endif %}
                            </td>

                            <td class="listthumb">
                                {% if file.imagesize is defined %}
                                    {{ file.newpath|showimage(54, 40, 'c') }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                <tbody>
            </table>
        {% endif %}
    </main>

    <footer>
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ __('Cancel') }}</button>
    </footer>
</div>
