{# Page: Edit users > Roles #}

{% extends '_base/_page-nav.twig' %}

{% block page_title __('Global Permissions') %}

{% block page_main %}

    <div class="row">
        <div class="col-xs-12">
            {% for permissionName, roles in context.global_permissions %}
                <dl style="display: inline-block; vertical-align: top; margin-right: 2em; width: 9em;">
                    <dt>{{ permissionName }}:</dt>
                    <dd style="font-weight: normal">
                        <ul style="padding-left: 1.3em;">
                            {% for role in roles %}
                                <li>{{ role }}</li>
                            {% endfor %}
                        </ul>
                    </dd>
                </dl>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h1><strong>{{ __('Content Type Permissions') }}</strong></h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            {% for contenttype, permissions in context.effective_permissions %}
                <div>
                    <h3>{{ contenttype }}</h3>
                    {% for permissionName, roles in permissions %}
                        <dl style="display: inline-block; vertical-align: top; margin-right: 2em; width: 9em;">
                            <dt>{{ permissionName }}:</dt>
                            <dd style="font-weight: normal">
                                <ul style="padding-left: 1.3em;">
                                    {% for role in roles %}
                                        <li>{{ role }}</li>
                                    {% endfor %}
                                </ul>
                            </dd>
                        </dl>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock page_main %}
