<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>Remote file for Bootstrap Modal</title>
    </head>

    <body>
        <div class="modal-body">

            {% if context.pathsegments|length > 0 %}
                <p>
                    {{ __('Path:') }}
                    <a href="#" data-action="Bolt.stack.changeFolder('{{ context.key }}', '{{ path('asyncbrowse', {'namespace': context.namespace, 'key': context.key}) }}');" class="folder">
                        {{ context.namespace|excerpt(40)|shy -}}
                    </a> /
                    {% for path, segment in context.pathsegments %}
                    {% if not loop.first %} / {% endif %}
                    <a href="#" data-action="Bolt.stack.changeFolder('{{ context.key }}', '{{ path('asyncbrowse', {'namespace': context.namespace, 'path': path, 'key': context.key}) }}');" class="folder">{{ segment|default('…')|excerpt(40)|shy }}</a>
                    {% endfor %}
                </p>
            {% endif %}

            {% if context.folders|length > 0 %}
                <table class="dashboardlisting">
                    <tr>
                        <th>{{ __('Folders') }}</th>
                    </tr>

                    {% for folder in context.folders %}
                        <tr style="height: 30px;">
                            <td> <i class="fa fa-fw fa-folder-open-o"></i>
                                <a href="#" data-action="Bolt.stack.changeFolder('{{ context.key }}', '{{ path('asyncbrowse', {'namespace': context.namespace, 'path': folder.newpath, 'key': context.key}) }}');" class="folder"><b>{{ folder.foldername|excerpt(40)|shy }}/</b>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}

            {% if context.files|length > 0 %}
            <table class="dashboardlisting">
                <tr>
                    <th>{{ __('page.ckeditor-browse-server.files') }}</th>
                    <th style="min-width: 102px;">{{ __('page.ckeditor-browse-server.size') }}</th>
                    <th>&nbsp;</th>
                </tr>

                {% for file in context.files %}
                    {% if file.type in ['jpeg', 'jpg', 'png', 'gif'] %}
                        <tr>
                            <td>

                                <i class="fa fa-fw fa-file-image-o"></i>

                                {% if file.readable %}
                                    <a href="#" data-action="Bolt.stack.selectFromPulldown('{{ context.key }}', '{{ file.relativepath }}');" class="file">
                                        <b>{{ file.filename|excerpt(80)|shy }}</b>
                                    </a>
                                {% else %}
                                    <b>{{ file.filename|excerpt(80)|shy }} </b><i class="fa fa-lock"></i>
                                {% endif %}
                            </td>

                            <td>
                                {{ file.filesize }}.
                                {% if file.imagesize is defined %}
                                    <br>{{ file.imagesize }} px.
                                {% endif %}
                            </td>

                            <td class="listthumb">
                                {{ file.newpath|showimage(54, 40, 'c') }}
                            </td>

                        </tr>
                    {% else %}

                        <tr>
                            <td>

                                <i class="fa fa-fw fa-file-image-o"></i>

                                {% if file.readable %}
                                    <a href="#" data-action="Bolt.stack.selectFromPulldown('{{ context.key }}', '{{ file.relativepath }}');" class="file">
                                        <b>{{ file.filename|excerpt(80)|shy }}</b>
                                    </a>
                                {% else %}
                                    <b>{{ file.filename|excerpt(80)|shy }} </b><i class="fa fa-lock"></i>
                                {% endif %}
                            </td>

                            <td>{{ file.filesize }}.</td>

                            <td class="listthumb">&nbsp;</td>

                        </tr>

                    {% endif %}
                {% endfor %}
                </table>
            {% endif %}
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{{ __('Cancel') }}</button>
        </div>

    </body>
</html>
