{% import '_macro/_panels.twig' as panels %}

<noscript>
    <section>
        <h2>{{ __('Javascript disabled') }}</h2>
        <p>{{ __('Javascript is currently disabled in your browser. Most functionality in Bolt will work without it, but for greater ease of use we recommend you enable Javascript in your browser.') }}</p>
    </section>
</noscript>

{{ render(path('dashboardnews')) }}

{{ panels.stack(7) }}

{{ widget('dashboard', 'right_first') }}

<div id="latestactivity">
    {{ render(path('latestactivity')) }}
</div>

<div id="latesttemp" style="display:none; visibility: hidden;"><!-- intentionally left blank --></div>
