{% import '@bolt/_macro/_panels.twig' as panels %}

<noscript>
    <section>
        <h2>{{ __('generic.noscript.headline') }}</h2>
        <p>{{ __('generic.noscript.message') }}</p>
    </section>
</noscript>

{{ render(path('dashboardnews')) }}

{{ panels.stack(7) }}

{{ widget('dashboard', 'right_first') }}

<div id="latestactivity">
    {{ render(path('latestactivity')) }}
</div>

<div id="latesttemp" style="display:none; visibility: hidden;"><!-- intentionally left blank --></div>
