{% extends '_base/_listing.twig' %}

{% block listing_columns %}{{ parent() }}{% endblock %}

{% block listing_header %}{{ parent() }}{% endblock %}

{% block listing_id %}
<td class="id hidden-xs">{{ content.contenttype.singular_name }} № {{ content.id }}</td>
{% endblock %}

{% block listing_content %}{{ parent() }}{% endblock %}

{% block listing_meta %}{{ parent() }}{% endblock %}

{% block listing_actions %}{{ parent() }}{% endblock %}
