{# Page: NavPrimary | NavSecondary > Omnisearch #}

{% extends '@bolt/_base/_page-nav.twig' %}

{% block page_title __('Omnisearch') %}

{% block page_main %}

    <div class="row">
        <div class="col-md-8">
            <form method="get">
                <div class="form-group">
                    <div class="input-group">
                    <input class="form-control" name="q" type="text" value="{{ context.query }}" pattern=".{3,}" required title="{{ __('At least %NUM% characters required', {'%NUM%': 3})}}">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="fa fa-search "></i> {{ __('Search') }}</button>
                        </span>
                    </div>
                </div>
            </form>

            {# List results per contenttype #}
            {% for contenttype, results in context.records %}
                {% set heading = __(['contenttypes', contenttype, 'name', 'plural'], {DEFAULT: contenttype}) %}
                {% set includes = [
                    '@bolt/custom/listing/' ~ contenttype ~ '.twig',
                    '@bolt/_sub/_listing.twig']
                %}
                <table class="table dashboardlisting buic-listing">
                    {% for item in results %}
                        {% set listing_vars = {
                            'compact':       true,
                            'content':       item.record,
                            'excerptlength': 280,
                            'permissions':   item.permissions,
                            'thumbsize':     54,
                            'internal': {
                                'heading': loop.first ? heading : '',
                            }
                        } %}
                        {% include includes with listing_vars %}
                    {% endfor %}
                </table>
            {% endfor %}

            {# List file results #}
            {% if context.files %}
                <table class="table dashboardlisting buic-listing omnisearchlisting">
                    <tbody class="striping_odd">
                        <tr class="heading">
                            <th colspan="2">{{ __('Files') }}</th>
                        </tr>
                        {% for item in context.files %}
                            <tr>
                                <td class="fill-max">
                                    {{ item.file }}
                                </td>
                                <td>
                                    <a class="btn btn-default btn-xs" href="{{ item.path }}">
                                        <i class="fa fa-edit"></i> {{ __('Edit') }}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}

            {# Nothing found #}
            {% if not context.files and not context.records %}
                <p>{{ __("No results found for '%SEARCHTERM%'. Please try another search.", {'%SEARCHTERM%': context.query|escape}) }}</p>
            {% endif %}
        </div>

        <aside class="col-md-4">
            {% include '@bolt/omnisearch/_aside.twig' %}
        </aside>

    </div>

{% endblock page_main %}
