{# Page: NavPrimary | NavSecondary > Omnisearch #}

{% extends '@bolt/_base/_page-nav.twig' %}

{% block page_title __('general.phrase.omnisearch') %}

{% block page_main %}

    <div class="row">
        <div class="col-md-8">
            <form method="get">
                <div class="form-group">
                    <div class="input-group">
                    <input class="form-control" name="q" type="text" value="{{ context.query }}" pattern=".{3,}" required title="{{ __('general.phrase.required-character-count', {'%NUM%': 3})}}">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="fa fa-search "></i> {{ __('general.phrase.search') }}</button>
                        </span>
                    </div>
                </div>
            </form>

            {# List results per contenttype #}
            {% for contenttype, results in context.records %}
                {% set heading = __(['contenttypes', contenttype, 'name', 'plural'], {DEFAULT: contenttype}) %}
                {% set includes = [
                    '@bolt/custom/listing/' ~ contenttype ~ '.twig',
                    '@bolt/_sub/_listing.twig']
                %}
                <div class="buic-listing" data-bolt-widget="buicListing">
                    <table class="table dashboardlisting listing">
                        {% for item in results %}
                            {% set listing_vars = {
                                'compact':       true,
                                'content':       item.record,
                                'excerptlength': 280,
                                'permissions':   item.permissions,
                                'thumbsize':     54,
                                'internal': {
                                    'heading': loop.first ? heading : '',
                                }
                            } %}
                            {{ include(includes, listing_vars) }}
                        {% endfor %}
                    </table>
                </div>
            {% endfor %}

            {# List file results #}
            {% if context.others %}
                <div class="buic-listing" data-bolt-widget="buicListing">
                    <table class="table dashboardlisting listing">
                        <tbody class="{{ context.records ? 'striping_even' : 'striping_odd' }} omnisearch">
                            {% if context.records %}
                                <tr class="heading">
                                    <th>{{ __('general.phrase.others') }}</th>
                                </tr>
                            {% endif %}
                            {% for item in context.others %}
                                <tr>
                                    <td class="fill-max">
                                        <a href="{{ item.path }}">{{ item.label|raw }}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}

            {# Nothing found #}
            {% if not context.records and not context.others %}
                <p>{{ __('general.phrase.no-result-for-search-term', {'%SEARCHTERM%': context.query|escape}) }}</p>
            {% endif %}
        </div>

        <aside class="col-md-4">
            {{ include('@bolt/omnisearch/_aside.twig') }}
        </aside>

    </div>

{% endblock page_main %}
