{# Page: NavPrimary > Username ^ Profile || NavSecondary > Configuration > Users > Edit #}

{% extends '@bolt/_base/_page-nav.twig' %}

{% block page_nav 'Settings/Configuration' %}

{% block page_title %}
    {% if context.kind == 'edit' %}
        {{ __('page.edit-users.title.edit') }}
    {% elseif context.kind == 'profile' %}
        {{ __('page.edit-users.title.profile') }}
    {% elseif context.kind == 'create' %}
        {{ __('page.edit-users.title.create') }}
    {% endif %}
{% endblock page_title %}

{% block page_subtitle %}
    {% if context.kind == 'edit' or context.kind == 'profile' %}
        {{ context.displayname }}
    {% endif %}
{% endblock page_subtitle %}

{% block page_main %}

    {% form_theme context.form 'form_bolt_layout.twig' %}

    <div class="row">
        <div class="col-xs-12">
            {% if context.kind != 'profile' %}
                <p style="max-width: 500px;">
                    {% if context.kind == 'edit' %}
                        {{ __('page.edit-users.user-edit') }}
                    {% elseif context.kind == 'create' %}
                        {{ __('page.edit-users.user-create') }}
                    {% endif %}
                </p>
            {% endif %}

            <form method="post" class="form-horizontal" autocomplete="off">
                {# Google chrome, you so stupid.. @see http://stackoverflow.com/questions/15738259/disabling-chrome-autofill #}
                <input type="password" name="password_fake" id="password_fake" value="" style="display:none;" />

                {{ form_widget(context.form) }}

                <div class="progress" id="progress-wrapper">
                    <div id="complexity-bar" class="progress-bar progress-bar-success" role="progressbar" style="width: 42.1951%;"></div>
                </div>

                <input type="submit" value="{{ __('page.edit-users.button.save') }}" name="submit" class="btn btn-primary">
            </form>
        </div>
    </div>

<script type="text/javascript">
    $(function() {
        // Attach and detach the progressbar.
        var el = $('#progress-wrapper').detach()
        $('#form_password').parent().append(el);

        // Initialize complexify
        $('#form_password').complexify({}, function (valid, complexity) {
            var progressBar = $('#complexity-bar');
            console.log('complexity');
            progressBar.toggleClass('progress-bar-success', valid);
            progressBar.toggleClass('progress-bar-danger', !valid);
            progressBar.css({'width': complexity + '%'});
            $('#complexify #complexity').text(Math.round(complexity) + '%');
        });
    });
</script>


{% endblock page_main %}
