{# Page: NavPrimary > Username ^ Profile || NavSecondary > Configuration > Users > Edit #}

{% extends '@bolt/_base/_page-nav.twig' %}

{% block page_nav 'Settings/Configuration' %}

{% block page_title %}
    {% if context.kind == 'edit' %}
        {{ __('page.edit-users.title.edit') }}
    {% elseif context.kind == 'profile' %}
        {{ __('page.edit-users.title.profile') }}
    {% elseif context.kind == 'create' %}
        {{ __('page.edit-users.title.create') }}
    {% endif %}
{% endblock page_title %}

{% block page_subtitle %}
    {% if context.kind == 'edit' or context.kind == 'profile' %}
        {{ context.displayname }}
    {% endif %}
{% endblock page_subtitle %}

{% block page_main %}

    {% form_theme context.form 'form_bolt_layout.twig' %}

    <div class="row">
        <div class="col-md-9">

            {{ widgets('edituser_below_header', 'backend') }}

            {% if context.kind != 'profile' %}
                <p style="max-width: 500px;">
                    {% if context.kind == 'edit' %}
                        {{ __('page.edit-users.user-edit') }}
                    {% elseif context.kind == 'create' %}
                        {{ __('page.edit-users.user-create') }}
                    {% endif %}
                </p>
            {% endif %}

            <form method="post" class="form-horizontal" autocomplete="off">
                {# Google Chrome, Firefox, MS Edge all require this trick to prevent password fields from auto-filling.
                   @see http://stackoverflow.com/questions/15738259/disabling-chrome-autofill #}
                <input type="text" style="display:none;" />
                <input type="password" style="display:none;" />

                {{ form_widget(context.form) }}

                <input type="submit" value="{{ __('page.edit-users.button.save') }}" name="submit" class="btn btn-primary">
            </form>

            {{ widgets('edituser_bottom', 'backend') }}

        </div>

        <aside class="col-md-3">
            {{ include('@bolt/edituser/_aside.twig') }}
        </aside>

    </div>

    <div class="progress" id="progress-wrapper">
        <div id="complexity-bar" class="progress-bar progress-bar-success" role="progressbar" style="width: 0;"></div>
    </div>

    <script type="text/javascript">
        $(function() {
            // Attach and detach the progressbar.
            var el = $('#progress-wrapper').detach()
            $('#form_password').parent().append(el);

            // Initialize complexify, to indicate password strength.
            $('#form_password').complexify({'strengthScaleFactor': 0.6, 'minimumChars': 6}, function (valid, complexity) {
                var progressBar = $('#complexity-bar');
                progressBar.toggleClass('progress-bar-danger', (complexity < 40 ));
                progressBar.toggleClass('progress-bar-warning', (complexity < 50 ));
                progressBar.toggleClass('progress-bar-success', (complexity > 60 ));
                progressBar.css({'width': complexity + '%'});
            });
        });
    </script>

{% endblock page_main %}
