{# Page: NavPrimary > Username ^ Profile || NavSecondary > Configuration > Users > Edit #}

{% extends '_base/_page-nav.twig' %}

{% block page_nav 'Settings/Configuration' %}

{% block page_title %}
    {% if context.kind == 'edit' %}
        {{ __('Edit user') }}
    {% elseif context.kind == 'profile' %}
        {{ __('Profile') }}
    {% elseif context.kind == 'create' %}
        {{ __('Create a new user') }}
    {% endif %}
{% endblock page_title %}

{% block page_subtitle %}
    {% if context.kind == 'edit' or context.kind == 'profile' %}
        {{ context.displayname }}
    {% endif %}
{% endblock page_subtitle %}

{% block page_main %}

    {% form_theme context.form 'form_bolt_layout.twig' %}

    <div class="row">
        <div class="col-xs-12">
            {% if context.kind != 'profile' %}
                <p style="max-width: 500px;">
                    {% if context.kind == 'edit' %}
                        {{ __('Edit an existing user, using the form below. Leave the password fields empty, unless you wish to change the password.') }}</i>
                    {% elseif context.kind == 'create' %}
                        {{ __('Create a new user, using the form below. The password field is required.') }}
                    {% endif %}
                </p>
            {% endif %}

            <form action="#" method="post" class="form-horizontal" role="form" autocomplete="off">
                {{ form_widget(context.form) }}
                <input type="submit" value="{{ __('Save user') }}" name="submit" class="btn btn-primary">
            </form>
        </div>
    </div>

{% endblock page_main %}
