{% block prefill_response_pass %}
    {% if context.results.created is not empty %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {% for contentype, outcomes in context.results.created %}
                {% if outcomes is iterable %}
                    {{ __('Added records to the ContentType <tt>%CONTENTYPE%</tt> titled', {'%CONTENTYPE%': contentype}) }}:
                    <ul>
                        {% for outcome in outcomes %}
                            <li>{{ outcome.title }}</li>
                            <ul>
                                {% for taxonomy, values in outcome.taxonomy %}
                                    <li><code>{{ taxonomy }}</code>: {{ values|join(', ') }}</li>
                                {% endfor %}
                            </ul>
                        {% endfor %}
                    </ul>
                    <br>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock prefill_response_pass %}

{% block prefill_alert %}
    <div class="alert alert-{{ alert_type }} alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <ul>
            {% for outcome in outcomes %}
                <li>{{ outcome|raw }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block prefill_response_fail %}
    {% if context.results.errors is not empty %}
        {% with { alert_type: 'danger', outcomes: context.results.errors } %}
        {{ block('prefill_alert') }}
        {% endwith %}
    {% endif %}
{% endblock %}

{% block prefill_response_warn %}
    {% if context.results.warnings is not empty %}
        {% with { alert_type: 'warning', outcomes: context.results.warnings } %}
        {{ block('prefill_alert') }}
        {% endwith %}
    {% endif %}
{% endblock %}
