{# Page: NavSecondary > Configuration > Main configuration | Contenttypes | Taxonomy | ... #}

{% extends '_base/_page-nav.twig' %}

{% block page_nav 'Settings/Configuration' %}

{% block page_title context.write_allowed ? __('page.edit-file.title.edit') : __('page.edit-file.title.view') %}

{% block page_subtitle context.basename %}

{% block page_main %}

    {% import '_macro/_macro.twig' as macro %}

    {% set attr_text = {
        _bind:     ismobileclient() ? '' : ['editfile', {readonly: context.write_allowed ? false : true}],
        class:     'CodeMirror-scroll',
        id:        'form_contents',
        name:      'form[contents]',
        required:  true,
        style:     'width: 98%; min-height: 350px;',
    }%}

    <div class="row">
        <div class="col-xs-12">
            {% if context.pathsegments|length > 1 %}
                <p>{{ __('page.edit-file.path') }}
                    {% for path, segment in context.pathsegments %}
                        {% if not loop.first %} / {% endif %}
                        <a href="{{ path('files', {'path': path}) }}">{{ segment }}</a>
                    {% endfor %}
                </p>
            {% endif %}

            <form action="" method="post" class="form-inline" autocomplete="off">
                {{ form_widget(context.form._token) }}

                <div>
                    <textarea{{ macro.attr(attr_text) }}>{{ context.form.vars.value.contents }}</textarea>
                </div>

                <div>
                    <button type="submit" id="saveeditfile" class="btn btn-primary" {% if not context.write_allowed %}disabled{% endif %}>
                        <i class="fa fa-flag"></i> {{ __('page.edit-file.button.save') }}
                    </button>
                    <a class="btn btn-default confirm" style="margin-left: 24px;"
                       data-confirm="{{ __("page.edit-file.confirm-revert") }}"
                       href="{{ path('fileedit', { 'file': context.file }) }}"
                    >
                        <i class="fa fa-undo"></i> {{ __("page.edit-file.button.revert") }}
                    </a>

                  <div class="relatedfiles">
                    {% if context.filegroup|length > 1 %}
                      {{ __("page.edit-file.note-related") }}
                      {% for related in context.filegroup %}
                        {% if related != context.basename %}
                          <a class="btn btn-tertiary btn-small" href="{{ path('fileedit', { 'namespace': context.namespace, 'file': context.additionalpath ~ related } )  }}">{{ related }}</a>
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                  </div>
                </div>
            </form>
        </div>
    </div>

    {% if not ismobileclient() %}
        {% if context.filetype in ['twig', 'html', 'htm'] %}
            {% set codemirror = ['xml', 'javascript', 'css', 'htmlmixed'] %}
        {% elseif context.filetype == "php" %}
            {% set codemirror = ['matchbrackets', 'javascript', 'css', 'htmlmixed', 'clike', 'php'] %}
        {% elseif context.filetype == "yml" %}
            {% set codemirror = ['yaml'] %}
        {% elseif context.filetype == "md" %}
            {% set codemirror = ['markdown'] %}
        {% elseif context.filetype in ['css', 'less'] %}
            {% set codemirror = 'css' %}
        {% elseif context.filetype == "js" %}
            {% set codemirror = ['javascript'] %}
        {% else %}
            {% set codemirror = [] %}
        {% endif %}

        {# use the files includes in ckeditor/codemirror plugin, instead of duplicating files. #}
        <link rel="stylesheet" href="{{ paths.app }}view/lib/ckeditor/plugins/codemirror/css/codemirror.min.css">
        <script src="{{ paths.app }}view/lib/ckeditor/plugins/codemirror/js/codemirror.min.js"></script>
        {% for file in codemirror %}
            <script src="{{ paths.app }}view/lib/codemirror/{{ file }}.js"></script>
        {% endfor %}
    {% endif %}

{% endblock page_main %}
