
{% if socialite == 'BufferAppButton' %}
<div class="social-buttons cf">
    <a
        href="http://bufferapp.com/add"
        class="socialite bufferapp-button"
        data-text="{{ text }}"
        data-url="{{ url }}"
        data-count="{{ count }}"
        data-via="{{ via }}"
        data-picture="{{ image }}"
        rel="nofollow" target="_blank">
            <span class="vhidden">Buffer it</span>
    </a>
</div>
{% endif %}

{% if socialite == 'FacebookLike' %}
<div class="social-buttons cf">
    <a
        href="http://www.facebook.com/sharer.php?u={{ url|escape('url') }}&amp;t={{ title|escape('url') }}"
        class="socialite facebook-like"
        data-href="{{ url }}"
        data-send="false"
        data-action="{{ action }}"
        data-colorscheme="{{ colorscheme }}"
        data-kid_directed_site="{{ kid_directed_site }}"
        data-show-faces="{{ showfaces }}"
        data-layout="{{ layout }}"
        data-width="{{ width }}"
        rel="nofollow" target="_blank">
           <span class="vhidden">Share on Facebook</span>
    </a>
</div>
{% endif %}

{% if socialite == 'FacebookFollow' %}
<div class="social-buttons cf">
    <a
        href="{{ url }}"
        class="socialite facebook-like"
        data-href="{{ url }}"
        data-send="false"
        data-action="{{ action }}"
        data-colorscheme="{{ colorscheme }}"
        data-kid_directed_site="{{ kid_directed_site }}"
        data-show-faces="{{ showfaces }}"
        data-layout="{{ layout }}"
        data-width="{{ width }}"
        rel="nofollow" target="_blank">
           <span class="vhidden">Follow on Facebook</span>
    </a>
</div>
{% endif %}

{% if socialite == 'FacebookFacepile' %}
<div class="social-buttons cf">
    <a
        href="{{ url }}"
        class="socialite facebook-facepile"
        data-href="{{ url }}"
        data-max-rows="{{ maxrows }}"
        data-colorscheme="{{ colorscheme }}"
        data-size="{{ size }}"
        data-show-count="{{ count }}"
        rel="nofollow" target="_blank">
           <span class="vhidden">Facebook Facepile</span>
    </a>
</div>
{% endif %}

{% if socialite == 'TwitterShare' %}
<div class="social-buttons cf">
    <a
        href="http://twitter.com/share"
        class="socialite twitter-share"
        data-text="{{ title }}"
        data-url="{{ url }}"
        data-align="{{ align }}"
        data-count="{{ count }}"
        data-size="{{ size }}"
        rel="nofollow" target="_blank">
            <span class="vhidden">Share on Twitter</span>
    </a>
</div>
{% endif %}

{% if socialite == 'TwitterFollow' %}
<div class="social-buttons cf">
    <a
        href="http://twitter.com/{{ twitter_handle }}"
        class="socialite twitter-follow"
        data-text="{{ title }}"
        data-url="{{ url }}"
        data-align="{{ align }}"
        data-count="{{ count }}"
        data-size="{{ size }}"
        rel="nofollow" target="_blank">
            <span class="vhidden">Follow on Twitter</span>
    </a>
</div>
{% endif %}

{% if socialite == 'TwitterMention' %}
<div class="social-buttons cf">
    <a
        href="https://twitter.com/intent/tweet?screen_name={{ twitter_handle }}"
        class="socialite twitter-mention"
        data-text="{{ title }}"
        data-url="{{ url }}"
        data-align="{{ align }}"
        data-size="{{ size }}"
        rel="nofollow" target="_blank">
            <span class="vhidden">Mention on Twitter</span>
    </a>
</div>
{% endif %}

{% if socialite == 'TwitterHashtag' %}
<div class="social-buttons cf">
    <a
        href="https://twitter.com/intent/tweet?button_hashtag={{ hashtag }}"
        class="socialite twitter-hashtag"
        data-text="{{ title }}"
        data-url="{{ url }}"
        data-align="{{ align }}"
        data-size="{{ size }}"
        rel="nofollow" target="_blank">
            <span class="vhidden">Hashtag on Twitter</span>
        </a>
</div>
{% endif %}

{% if socialite == 'TwitterEmbed' %}
<div class="social-buttons cf">
    <a
        href="{{ url }}"
        class="socialite twitter-embed"
        rel="nofollow" target="_blank">
            <span class="vhidden">Embed from Twitter</span>
    </a>
</div>
{% endif %}

{% if socialite == 'TwitterTimeline' %}
<div class="social-buttons cf">
    <a
        href="https://twitter.com/{{ twitter_handle }}"
        class="socialite twitter-timeline"
        data-widget-id="{{ widget_id }}"
        data-chrome="{{ chrome }}"
        rel="nofollow" target="_blank">
            <span class="vhidden">PopAnth on Twitter</span>
    </a>
</div>
{% endif %}

{% if socialite == 'GooglePlusFollow' %}
<div class="social-buttons cf">
    <a
        href="{{ url }}"
        class="socialite googleplus-follow"
        data-annotation="{{ annotation }}"
        data-height="{{ height }}"
        data-href="{{ url }}"
        data-rel="{{ rel }}"
        rel="nofollow" target="_blank">
            <span class="vhidden">Follow on Google+</span>
    </a>
</div>
{% endif %}

{% if socialite == 'GooglePlusOne' %}
<div class="social-buttons cf">
    <a
        href="https://plus.google.com/share?url={{ url|escape('url') }}"
        class="socialite googleplus-one"
        data-size="tall"
        data-href="{{ url }}" rel="nofollow" target="_blank">
            <span class="vhidden">+1 on Google+</span>
    </a>
</div>
{% endif %}

{% if socialite == 'GooglePlusShare' %}
<div class="social-buttons cf">
    <a
        href="https://plus.google.com/share?url={{ url|escape('url') }}"
        class="socialite googleplus-share"
        data-action="share"
        data-annotation="{{ annotation }}"
        data-height="{{ height }}"
        data-href="{{ url }}"
        rel="nofollow" target="_blank">
            <span class="vhidden">Share on Google+</span>
    </a>
</div>
{% endif %}

{% if socialite == 'GooglePlusBadge' %}
<div class="social-buttons cf">
    <a
        href="{{ url }}"
        class="socialite googleplus-badge"
        data-href="{{ url }}"
        data-layout="{{ layout }}"
        data-width="{{ width }}"
        data-theme="{{ theme }}"
        data-showcoverphoto="{{ showcoverphoto }}"
        data-showtagline="{{ showtagline }}"
        data-rel="{{ rel }}"
        rel="nofollow" target="_blank">
            <span class="vhidden">Follow on Google+</span>
    </a>
</div>
{% endif %}

{% if socialite == 'LinkedinShare' %}
<div class="social-buttons cf">
    <a
        href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ url|escape('url') }}&amp;title={{ title|escape('url') }}"
        class="socialite linkedin-share"
        data-url="{{ url }}"
        data-counter="top" rel="nofollow" target="_blank">
            <span class="vhidden">Share on LinkedIn</span>
    </a>
</div>
{% endif %}

{% if socialite == 'LinkedinRecommend' %}
<div class="social-buttons cf">
    <a
        href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ url|escape('url') }}&amp;title={{ title|escape('url') }}"
        class="socialite linkedin-recommend"
        data-url="{{ url }}"
        data-counter="top"
        rel="nofollow" target="_blank">
            <span class="vhidden">Share on LinkedIn</span>
    </a>
</div>
{% endif %}

{% if socialite == 'PinterestPinit' %}
<div class="social-buttons cf" style="margin-top: 41px;">
    <a
        href="//www.pinterest.com/pin/create/button/"
        class="socialite pinterest-pinit"
        data-pin-do="buttonBookmark"
        data-pin-lang="{{ lang }}"
        data-pin-color="{{ color }}"
        data-pin-height="{{ height }}"
        data-pin-config="{{ config }}"
        rel="nofollow" target="_blank">
            <span class="vhidden">PinIt on Pinterest</span>
    </a>
</div>
{% endif %}

{# Star and watched are mixed up #}
{% if socialite == 'GitHubStar' %}
<div class="social-buttons cf">
    <a
        href="http://github.com/{{ user }}/{{ repo }}"
        class="socialite github-watch"
        data-user="{{ user }}"
        data-repo="{{ repo }}"
        data-type="watch"
        data-count="{{ count }}"
        data-size="{{ size }}"
        rel="nofollow" target="_blank">
            <span class="vhidden">Star on GitHub</span>
    </a>
</div>
{% endif %}

{% if socialite == 'GitHubFork' %}
<div class="social-buttons cf">
    <a
        href="http://github.com/{{ user }}/{{ repo }}"
        class="socialite github-fork"
        data-user="{{ user }}"
        data-repo="{{ repo }}"
        data-type="fork"
        data-count="{{ count }}"
        data-size="{{ size }}"
        rel="nofollow" target="_blank">
            <span class="vhidden">Fork on GitHub</span>
    </a>
</div>
{% endif %}

{% if socialite == 'GitHubFollow' %}
<div class="social-buttons cf">
    <a
        href="http://github.com/{{ user }}"
        class="socialite github-follow"
        data-user="{{ user }}"
        data-type="follow"
        data-count="{{ count }}"
        data-size="{{ size }}"
        rel="nofollow" target="_blank">
            <span class="vhidden">Follow on GitHub</span>
    </a>
</div>
{% endif %}
