{##
 # Renders a select component.
 #
 # Options:
 #    all         false      Add "select all" button.
 #    class       ''         Classname(s) added to the component container.
 #    clear       false      Add "clear" button.
 #    disabled    false      Input is disabled.
 #    id          ''         Id of the checkbox.
 #    multiple    false      Multiple selections mode.
 #    name        required   Name of the checkbox.
 #    options     []         Array of select options, see below.
 #    required    false      Input is required.
 #
 #    options:     Array of {value: …, text|html…, group: …, selected: …}.
 #    - value:     option value, required
 #    - text:      unescaped hatml for option label, if not set <value> is used.
 #    - group:     Group title or false or not set.
 #    - selected:  Boolean, not set is false.
 #
 # @param array opt Options defining the component
 #}
{% macro buic_select(opt) %}
    {% spaceless %}
        {% set options = opt.options|default([]) %}
        {% set multiple = opt.multiple|default(false) %}

        {# Add an empty option for non multiple selects if not already there #}
        {% if not multiple %}
            {% set has_empty_val = false %}
            {% set has_selected_val = false %}

            {% for option in options %}
                {% if option.value == '' %}
                    {% set has_empty_val = true %}
                {% endif %}
                {% if option.selected %}
                    {% set has_selected_val = true %}
                {% endif %}
            {% endfor %}

            {% if not has_empty_val %}
                {% set options = [{value: '', text: '', selected: not has_selected_val}]|merge(options) %}
            {% endif %}
        {% endif %}

        {% set conf = {
            'all':       opt.all|default(false),
            'class':     opt.class|default(),
            'clear':     opt.clear|default(false),
            'disabled':  opt.disabled|default(false),
            'id':        opt.id|default(opt['name+id']|default('')),
            'multiple':  multiple,
            'name':      opt.name|default(opt['name+id']|default('')),
            'options':   options,
            'required':  opt.required|default(false),
        } %}

        {% set attributes = {
            'disabled':     conf.disabled,
            'id':           conf.id,
            'multiple':     conf.multiple,
            'name':         conf.name,
            'required':     conf.required,
        } %}

        <div{{ hclass(['buic-select', conf.class]) }} data-bolt-widget="buicSelect">
            <div>
                <div>
                    <select{{ hattr(attributes) }}>
                        {% set last_optgroup = false %}

                        {% for option in conf.options %}
                            {# optgroup #}
                            {% set optgroup = option.group|default(false) %}
                            {% if optgroup != last_optgroup %}
                                {% if last_optgroup != false %}
                                    </optgroup>
                                {% endif %}
                                {% if optgroup != false %}
                                    <optgroup label="{{ optgroup }}">
                                {% endif %}
                                {% set last_optgroup = optgroup %}
                            {% endif %}

                            {# option #}
                            {% set opttext = option.text|default(option.value)|striptags %}
                            {% set optattr = {
                                'value!':   option.value,
                                'selected': option.selected|default(false),
                                'label':    option.value == '' and opttext == '' ? '–' : false,
                            } %}
                            <option{{ hattr(optattr) }}>{{ opttext }}</option>
                        {% endfor %}

                        {# Close open optgroup #}
                        {% if last_optgroup != false %}
                            </optgroup>
                        {% endif %}

                    </select>
                </div>
                {% if conf.clear or conf.all %}
                    <div>
                        {% if conf.clear %}
                            <button type="button" class="btn select-none">
                                <span class="sr-only">{{ __('general.phrase.select-none') }}</span>
                            </button>
                        {% endif %}
                        {% if conf.all %}
                            <button type="button" class="btn select-all">
                                <span class="sr-only">{{ __('general.phrase.select-all') }}</span>
                            </button>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endspaceless %}
{% endmacro %}
