{% extends app.request.isXmlHttpRequest ? '@WebProfiler/Profiler/ajax_layout.html.twig' : '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
<style>
.sf-toolbar-block-db .sf-toolbar-status {
    color: #FFF;
    display: inline-block;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    padding: 0 10px;
    margin-left: 0;
}
.sf-toolbar-block-db .sf-toolbar-icon {
    padding-left: 0;
}
</style>
    {% set icon %}

        <span class="sf-toolbar-status
            {% if collector.querycount < 100 %}
                sf-toolbar-status-green
            {% elseif collector.querycount >= 200 and collector.querycount < 300 %}
                sf-toolbar-status-yellow
            {% elseif collector.querycount >= 300 %}
                sf-toolbar-status-yellow
            {% endif %}">

            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" x="0px" y="0px" height="22" viewBox="0 0 54 54" enable-background="new 0 0 22 22" xml:space="preserve"><g><path fill="#AAAAAA" d="M25.513,10.94c12.467,0,21.575-2.238,21.575-4.999c0-2.76-9.107-4.999-21.575-4.999   c-12.469,0-21.576,2.238-21.576,4.999C3.937,8.703,13.044,10.94,25.513,10.94z"/><path fill="#AAAAAA" d="M3,22.167v10.877c2,1.686,9.714,3.748,22.001,3.748C37.287,36.793,46,34.73,47,33.045V22.167   c-4,2.167-13.102,3.289-21.999,3.289C16.103,25.456,8,24.334,3,22.167z"/><path fill="#AAAAAA" d="M47,35.296c-4,2.167-13.102,3.288-21.999,3.288C16.103,38.584,8,37.463,3,35.296v8.565   c0,0.066-0.022,0.132-0.022,0.199C2.978,44.127,3,44.193,3,44.26V44h0.274c1.341,3,10.268,4.676,22.136,4.676   C37.277,48.676,46.334,47,47.252,44H47v0.26c0-0.066,0.023-0.133,0.023-0.199c0-0.067-0.023-0.133-0.023-0.199V35.296z"/><path fill="#AAAAAA" d="M47,9.009c-3,2.376-12.83,3.607-21.999,3.607C15.831,12.616,7,11.385,3,9.008v10.909   c2,1.685,9.714,3.747,22.001,3.747C37.287,23.664,46,21.602,47,19.917V9.009z"/></g></svg>

            {{ collector.querycount }} Q</span>

        {% if collector.querycount > 0 %}
            <span class="sf-toolbar-label">in {{ '%0.0f'|format(collector.time * 1000) }} ms</span>
        {% endif %}
    {% endset %}
    {% set text %}
        <div class="sf-toolbar-info-piece">
            <b>DB Queries</b>
            <span>{{ collector.querycount }}</span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Query time</b>
            <span>{{ '%0.0f'|format(collector.time * 1000) }} ms</span>
        </div>
    {% endset %}
    {% include '@WebProfiler/Profiler/toolbar_item.html.twig' with { 'link': profiler_url } %}
{% endblock %}

{% block menu %}
<span class="label">
    <span class="icon">            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" x="0px" y="0px" height="24" viewBox="0 0 50 50" enable-background="new 0 0 24 24" xml:space="preserve"><g><path fill="#AAAAAA" d="M25.513,10.94c12.467,0,21.575-2.238,21.575-4.999c0-2.76-9.107-4.999-21.575-4.999   c-12.469,0-21.576,2.238-21.576,4.999C3.937,8.703,13.044,10.94,25.513,10.94z"/><path fill="#AAAAAA" d="M3,22.167v10.877c2,1.686,9.714,3.748,22.001,3.748C37.287,36.793,46,34.73,47,33.045V22.167   c-4,2.167-13.102,3.289-21.999,3.289C16.103,25.456,8,24.334,3,22.167z"/><path fill="#AAAAAA" d="M47,35.296c-4,2.167-13.102,3.288-21.999,3.288C16.103,38.584,8,37.463,3,35.296v8.565   c0,0.066-0.022,0.132-0.022,0.199C2.978,44.127,3,44.193,3,44.26V44h0.274c1.341,3,10.268,4.676,22.136,4.676   C37.277,48.676,46.334,47,47.252,44H47v0.26c0-0.066,0.023-0.133,0.023-0.199c0-0.067-0.023-0.133-0.023-0.199V35.296z"/><path fill="#AAAAAA" d="M47,9.009c-3,2.376-12.83,3.607-21.999,3.607C15.831,12.616,7,11.385,3,9.008v10.909   c2,1.685,9.714,3.747,22.001,3.747C37.287,23.664,46,21.602,47,19.917V9.009z"/></g></svg></span>
    <strong>Database</strong>
    <span class="count">
        <span>{{ collector.querycount }} Q </span>
        <span>{{ '%0.0f'|format(collector.time * 1000) }} ms</span>
    </span>
</span>
{% endblock %}

{% block panel %}
        {{ block('queries') }}
{% endblock %}

{% block queries %}
    <h2>Queries</h2>

    {% if collector.queries is empty %}
        <p>
            <em>No queries.</em>
        </p>
    {% else %}
        <ul class="alt">
            {% for i, query in collector.queries %}
                <li class="{{ cycle(['odd', 'even'], i) }}">
                    <code >
                        {{ query.sql|raw }}
                    </code>
                    <br /><br />
                    <small>
                        <strong>Parameters</strong>: {{ query.params|json_encode }} <br />
                        <strong>Time</strong>: {{ '%0.2f'|format(query.executionMS * 1000) }} ms
                    </small>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
