{% include '_header.twig' %}


<article>

    <h1><a href="{{ content|link }}">{{ content.title }}</a></h1>
    
    {% if content.image is defined and content.image!="" %}
        <div class='imageholder-wide'><img src="{{ content.image|thumbnail(320, 240) }}"></div>
    {% endif %}
    

    {{ content.teaser|raw }}

    {{ content.body|raw }}

    <p class="meta">Posted by {{ content.username }} on {{ content.datecreated|date("M d, ’y")}}</p>
    
</article>  



{% include '_footer.twig' %}