{% include '_header.twig' %}

<article>

    <h1><a href="{{ content.link }}">{{ content.title }}</a></h1>
    
    <h2>{{ content.subtitle }}</h2>

    <section class='introduction'>{{ content.introduction|raw }}</section>

    <section class='body'>{{ content.body|raw }}</section>
    

    <p class="meta">Posted by {{ content.username }} on {{ content.datecreated|date("M d, ’y")}}</p>
    
</article>  

{{ print(content) }}


{% include '_footer.twig' %}