{% include '_header.twig' %}


<article>

    <h1><a href="{{ content|link }}">{{ content.title }}</a></h1>
    
    <h2>{{ content.subtitle }}</h2>
    
    {{ content.introduction|raw }}

    {{ content.body|raw }}

    <p class="meta">Posted by {{ content.username }} on {{ content.datecreated|date("M d, ’y")}}</p>
    
</article>  



{% include '_footer.twig' %}